[2021-03-30 12:53] dblock commented on #1989
This does look like a bug, and shouldn't have been closed. Let's fix it in #2171.

[2021-03-30 15:28] iabdulin commented on #2171
here's my use case:
I build JSON in the database and want to return it as is, no additional formatting is needed

[2021-03-30 21:54] waynerobinson commented on #2171
Yeah. Our use case is similar. We have cached data that's already JSON that we'd like to just return vs having to parse and re-encode.

I'll take a look at starting a PR tomorrow with some options. 👍

[2021-04-05 06:55] mcmegavolt opened #2172 "`type: Hash` (with arbitrary keys and value types) converts all values to strings"
I want to declare a freeform Hash param like this:
[code]
when I do request (with RSpec test) and pass this:
[code]
I get this in Grape endpoint:
[code]

this is a disaster, it is impossible to work with it (((

can anyone help me to handle this, please?

[2021-04-06 01:10] neocoin opened #2173 "After 1.5.0 , 'route_setting :custom , key: :value' is broken with 'mount'."
env

[code]

[code]

'value' work like frozen hash key. You can reproduce below code.

[code]

Second , 'route_setting' method calling doesn't work.

[code]

Anybody, can explain this situation?

route_setting work fine at ~> 1.4.0 on ruby 2.7

[2021-04-06 15:16] dblock commented on #2172
You could declare the inner hash with specific types for `num`, `arr` and `bool` and Grape will attempt to cast strings to those.

However, which content-type are you POSTing this with in your RSpec test? Try sending as JSON (which is how your API will be used). Does this exhibit the same behavior?

[2021-04-06 15:17] dblock commented on #2173
Probably a bug. Turn it into a failing spec and PR that?

[2021-04-06 17:56] neocoin commented on #2173
I write spec and pr on #2174 .
But I don't know a solution yet.

[2021-04-13 10:05] mcmegavolt commented on #2172
@dblock
You were right, I forgot to convert body hash into JSON, also missed the "Content-Type" header ((((
Thanks!

[2021-04-13 14:50] #2172 closed

[2021-04-15 23:47] neocoin commented on #2173
@dim

This problem start after 6deb8f46b9c4057be59006c85cf317b5d64c6180
Fix Ruby 2.7 keyword deprecations (#2091)	6deb8f46

[2021-04-16 00:13] neocoin commented on #2173
@dblock

I find problem point.

Fix retaining setup blocks when remounting APIs	416a7e15	James Lamont <james@getvero.com>	Sep 18, 2020 12:24 PM
https://github.com/ruby-grape/grape/commit/416a7e15bdfda29cd4f9b335a911bb59a416be60#diff-74e08e6432db25a22b629a2f8031d24d01f8c9435bda532d36e22971d0b1c9a0R33

cc @jylamont

[2021-04-30 19:15] myxoh opened #2175 "Responding to all verbs in a namespace causes Options to start failing"
If a namespace responds to: POST, PUT, PATCH, GET, DELETE on a base resource - the Options preflight gives back a 404. If you remove any of the verbs it works as expected.

Spec reproducing the behaviour:
https://github.com/ruby-grape/grape/pull/2176

I'll investigate what's going on and attempt to fix

[2021-04-30 19:48] myxoh commented on #2175
OK after some investigation - I've found the root cause being this line:
`return if not_allowed_methods.empty?`
(Now on: `lib/grape/api/instance.rb` after my changes but originally introduced:)
`https://github.com/ruby-grape/grape/commit/e54b8b0e40d34b64df65c2002f0dcc8be7edfcf3`

[2021-04-30 19:50] myxoh commented on #2175
Coming from this PR: https://github.com/ruby-grape/grape/pull/1263

[2021-04-30 20:09] myxoh commented on #2175
OK managed to find a way of squaring the problem originally being solved on that PR and my problem.. Adding the fix soon

[2021-04-30 22:35] #2175 closed

[2021-05-05 13:50] #2094 closed

[2021-06-02 18:27] stephannv commented on #2173
I was about to open an issue about it, I even created a file to test it.
[code]

[2021-06-04 10:23] vkhoa commented on #1966
How can I downgrade rack to 2.0.8? I observed same issue after rack is upgraded to 2.2.3.

[2021-06-04 14:08] dblock commented on #1966
In Gemfile.

[code]

However if you're on Rack 2.2.3 you should be able to use latest Grape 1.5.x, is that not the case?

[2021-07-12 10:05] chiwenchen opened #2181 "Grape version 1.3.3 can not encode file name in UTF-8 properly"
I recently upgrade grape from version `1.1.0` to `1.3.3`
but when I upload a file with Chinese file name using grape api, I got this UTF-8 coded filename like this
[code]

when in version 1.1.0, it looks like this
[code]

I tried to add `chartset=utf-8` to my content type header, but it did not work, can anyone helps on how to get the result like the old version, thanks in advance.

[2021-07-12 14:10] onurkucukkece opened #2182 "Changing the order of Rails middlewares in grape"
We are using a custom middleware for authenticating the grape API requests and also using `rack-attack` gem in the Rails application. We need `Rack::Attack` middleware to be called after our custom middleware in grape. Would this somehow be possible?

[2021-07-12 14:47] dblock commented on #2181
Try turning this into a spec?

[2021-07-12 14:49] dblock commented on #2182
Do you register your auth middleware [like this](https://github.com/ruby-grape/grape#register-custom-middleware-for-authentication)?

[2021-07-12 16:01] chiwenchen commented on #2181
@dblock not quite sure what requires for a spec.

[2021-07-12 16:15] dnesteryuk commented on #2182
This works for us:

[code]

@onurkucukkece Have you tried?

[2021-07-12 16:46] dblock commented on #2181
You are saying that something worked in 1.0 and doesn't work in 1.3. Write a test that worked in 1.0 and doesn't work in 1.3 and we can (help) fix.

[2021-07-12 16:46] dblock commented on #2181
You are saying that something worked in 1.0 and doesn't work in 1.3. Write a test that worked in 1.0 and doesn't work in 1.3 and we can (help) fix.

[2021-07-12 18:38] dnesteryuk commented on #2182
@onurkucukkece did you try to require a file where your middleware is defined?

[2021-07-13 03:59] chiwenchen commented on #2181
Hi @dblock , I finally found that the issue is cause by the new version of rack (2.2.3), and I already open a https://github.com/rack/rack/pull/1762 try to fix it.

[2021-07-13 16:20] onurkucukkece commented on #2182
Yes I tried it and it didn't help. This time I got `“No such middleware to insert before` while starting the server. In our application the API part is loaded in a different module than the `Application` class which is inherited from `Rails::Application` and I think it's the reason why I cannot use both suggestions mentioned here. I will try to look into this later on. Thank you both for your help

[2021-07-13 20:56] dblock commented on #2181
Great. I'll close this.

[2021-07-13 20:56] #2181 closed

[2021-07-13 20:58] dblock commented on #2182
Let's reopen this though until there's a solution.

[2021-07-14 10:28] uzzer commented on #1116
is there any link to issue in grape?

[2021-07-15 19:19] dblock commented on #1116
Not sure what you're asking for? This page is an issue in Grape that turns out to be an issue in Rack :)

[2021-07-20 09:06] onurkucukkece commented on #2182
I managed to set the order of middlewares by registering it in our `Application` class which is inherited from `Rails::Application`

[code]

[2021-07-20 12:04] dblock commented on #2182
@onurkucukkece Care to document this in README?

[2021-07-20 12:14] onurkucukkece commented on #2182
Yes I'd be glad to. I will create a pull request in the coming days

[2021-08-01 16:39] dblock commented on #2182
Thanks for the readme, let's close this.

[2021-08-01 16:39] #2182 closed

[2021-08-04 11:37] PervushinEugene commented on #2068
I used types with NilClass
`optional :image_uids, types: [Array[String], NilClass], default: nil`

[2021-08-06 17:22] maciejpankanin opened #2185 "`values` validator and `allow_blank`"
Consider this params definition:
[code]

Recently I spent couple of hours figuring out why `null` is valid value for `some_param`.

I think there should be a few words in documentation about `values` validator saying that `allow_blank` defaults to `true` and it is stronger than supplied `values` options.

[2021-08-09 12:26] dblock commented on #2185
Make sense, please contribute! Also double check that we have specs for this exact behavior.

[2021-08-13 15:10] dblock commented on #2185
Closed via https://github.com/ruby-grape/grape/pull/2186

[2021-08-13 15:10] #2185 closed

[2021-08-20 10:42] andrykonchin opened #2187 "Validation. `allow_blank` leads to two errors"
Using `allow_blank` validator for the required parameter may lead to two validation errors, but I expected to have only one.

Example:

[code]

If there is no `customer_key` parameter in request then we receive the following `Grape::Exceptions::ValidationErrors` exception:

[code]

So we receive
- one error because the required parameter "is missing" and
- another one caused by `allow_blank` valid

[2021-08-20 12:59] dblock commented on #2187
Agreed, but be careful about breaking backwards compatibility if you try to fix. It might make sense to keep things "dumb" like this where validators don't know much about each-other to avoid too clever of a behavior.

From the machine POV a client can easily suppress one of the two when these come back from a REST API.

[2021-08-30 14:56] hkockerbeck opened #2188 "Example custom validator shown in README breaks in Ruby 3"
The `README` shows an example for a custom validator
[code]

In Ruby 2.7.2, this works just fine. In Ruby 3.0.0, however, an invalid parameter value breaks my test API with the following error:
[code]
It looks like the `Grape::Exceptions::Validation` object doesn't receive the keyword argument `params` properly. This probably is because of the superfluous comma in the call to `fail`. Because, acco

[2021-08-30 15:29] dblock commented on #2188
Thanks for bringing this up! Please contribute?

1. Make sure we have a spec that replicates the example and that it runs in Ruby 3.0.
2. Make the change in README.

[2021-09-02 21:52] ngan commented on #1102
I don't think Grape custom validators are reloadable ([there's a global registery that never gets reset](https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/validators/base.rb#L70-L73)) so you probably shouldn't put it in `app/` since everything in there is expected to be autoloaded and reloadable.

You should put these custom validators in `lib/...` and `require` them in an init

[2021-09-15 02:02] aesyondu commented on #1178
Has anyone figured out how to use this with Rails 6/zeitwerk?

[2021-09-22 01:56] Koilanetroc commented on #2119
@dblock what about something like default desc?
It seems to me it would solve the problem of the current issue with repeating auth headers, but also will allow following DRY more precisely. For example, sometimes I'd like to mark the entire resource with the same tags, mark it deprecated or hide it. With default desc it could be quite easy.

[2021-09-22 13:50] dblock commented on #2119
It's a good idea @Koilanetroc but would have to look at a PR to be sure.

[2021-09-23 02:02] Koilanetroc commented on #2119
Okay, I'll try to implement this if you don't mind

[2021-09-29 14:27] diko4096 opened #2191 "Result of the block in the 'given' method are ignored"
Hello!

In the Grape 1.0.2 the code below works fine:

[code]

When the request were from Apple Pay, the card_holder parameter became Hash and were parsed as Hash,
otherwise it been treated as String. It was fine for a time, but then the Grape were upgraded to 1.5.3,
this behavior became broken. In the version 1.5.3, result of the blocks in the 'given' method are ignored
and 'declared' method rest

[2021-09-29 14:32] dblock commented on #2191
Try writing a spec for this that passed in 1.0.2?

[2021-09-30 11:13] diko4096 commented on #2191
The controller:

[code]

The spec (with rspec-grape):

[code]

The result of rspec:

[code]

[2021-09-30 13:39] dblock commented on #2191
PR the spec - and maybe try a fix?

[2021-09-30 15:19] diko4096 commented on #2191
Unfortunately not, I've looked in the params_scope.rb, it quite complicated. I only found the block calls, but its result doesn't stored or analyzed. But in the Grape 1.0.2 this piece of code looks the same, with different behaviour in results.

[2021-10-01 01:54] Koilanetroc commented on #2119
@dblock could you please explain what is line `namespace_setting :description, options` for? It's in lib/grape/dsl/desc.rb#79
[code]
It receives same options as `route_setting`, but I haven't understood for what. Specs didn't say anything usefull(just check `namespace_setting :description, options` was performed). I checked the full process of `desc` creating, but haven't found a case when this li

[2021-10-02 14:44] dblock commented on #2119
I bet there's "history" rather than a reason for this one. I don't remember. Maybe git blame it back to a PR?

[2021-10-13 10:14] nonnenmacher opened #2194 "using `coerce_with:` lambda without root `Exception` difficult to *debug* unless we help Grape `coerce_value`"
in method `Grape::Validations::CoerceValidator#coerce_value` we loose the root cause of Exception leading to a `Types::InvalidValue`

Consequence is that the `dry-validate` errors is somewhat not very helpful

example
I got a params validator that read

[code]

which was **obvious** to debug after changing

[code]

to

[code]

as indeed `Integer#empty?` does not exists.

Do you think its reasonabl

[2021-10-18 07:56] johnk87 opened #2195 "Declared broken for hash params with overlapping names"
Upgrading from 1.3.3, noticed several bugs around `declared`. I think some of them already have issues/PRs (eg. https://github.com/ruby-grape/grape/pull/2112 https://github.com/ruby-grape/grape/pull/2001) but don't see this one:

when passing `null` to hash params with unique names, the output is consistent (but still incorrect I think, but that's a different issue, see a note at the bottom):
[cod

[2021-11-12 05:56] magni- commented on #1107
This looks like a duplicate of https://github.com/ruby-grape/grape/issues/733 ?

[2021-11-12 19:56] dblock commented on #1107
Yep! And an old one, closing.

[2021-11-12 19:56] #1107 closed

[2021-11-15 13:38] mcfoton commented on #1805
Leaving a +1, we recently needed to parse an array of ids from a string like `1,2,3` and wanted to have a global helper function that does that.

[2021-11-23 02:16] bobyin opened #2197 "DEPRECATION WARNING: Using `return`, `break` or `throw` to exit a transaction block"
Hi

We hit this problem when upgrade rails to 6.1.4, found the error! function throw it, please help. Thanks

DEPRECATION WARNING: Using `return`, `break` or `throw` to exit a transaction block is
deprecated without replacement. If the `throw` came from
`Timeout.timeout(duration)`, pass an exception class as a second
argument so it doesn't use `throw` to abort its block. This results
in the transa

[2021-12-20 08:27] pre commented on #321
10 year anniversary soon!

[2021-12-20 20:35] Annih opened #2205 "Load error with active_support 7"
With recent release of `active_support` 7.0.0 my grape apps are not loading anymore.
It fails with the error `uninitialized constant ActiveSupport::XmlMini::IsolatedExecutionState (NameError)`, with following backtace:

[code]

Someone reported an issue on rails (rails/rails#43851) and there even [have been an attempt](https://github.com/rails/rails/issues/43852) to fix it on this side; but it see

[2021-12-21 00:11] #2205 closed

[2021-12-28 00:19] dblock opened #2211 "jruby-head build broken"
See https://github.com/dry-rb/dry-container/issues/81

[2021-12-28 00:31] dblock opened #2212 "truffleruby-head build is broken"
CI is failing on truffleruby-head

### Locally

[code]

[code]

### CI

https://github.com/ruby-grape/grape/runs/4646048378?check_suite_focus=true got killed

[2021-12-28 10:58] eregon commented on #2212
Same as https://github.com/oracle/truffleruby/issues/2462

[2021-12-29 09:17] mobilutz opened #2214 "Grape 1.6.1 throughs an error on `Grape::Validations::Types.group?()`"
The patch upgrade from 1.6.0 to 1.6.1 is breaking on the following line for me:
https://github.com/ruby-grape/grape/blob/v1.6.1/lib/grape/dsl/parameters.rb#L154

The full error is:
[code]

Even though, `def self.group?()` is defined on `Types` here, I cannot call it through IRB or any other other means:
https://github.com/ruby-grape/grape/blob/v1.6.1/lib/grape/validations/types.rb#L101-L108

Looki

[2021-12-29 10:56] dm1try commented on #2214
@mobilutz thanks for the report!
@ericproulx could you take a look please? it might be related to the latest changes was made for autoloading.

[2021-12-29 14:01] dblock commented on #2214
@mobilutz appreciate if you could please turn your repro into a failing spec PR

[2021-12-29 14:02] szysza opened #2215 "Dry-types version 1.5.1"
Hey, I wanted to ask if there are any plans with upgrading dry-types from version `>= 1.1` to version `1.5.1` (which is currently the latests version)? We're using grape in our project as well as dry-types and can't update it. If you'll need any help then go ahead and let me know, I don't know the internals of grape, but hope that this will be an easy change.

I also wanted to thank all of the mai

[2021-12-29 14:11] dm1try commented on #2214
@dblock I've discovered that it's easy enough, just remove [`eager_load`](https://github.com/ruby-grape/grape/blob/master/spec/spec_helper.rb#L26) to reproduce the problem

[2021-12-29 14:12] dnesteryuk commented on #2215
If you run:

[code]

it will be updated in your project. We use Grape 1.6.0 with Dry-types 1.5.1 on production.

[2021-12-29 14:12] dm1try commented on #2214
it might be worth to remove it at all if we have an integration spec for `eager_load` => https://github.com/ruby-grape/grape/blob/master/spec/integration/eager_load/eager_load_spec.rb

[2021-12-29 14:26] dm1try commented on #2214
@mobilutz meanwhile, as a workaround, you could put
[code]
in the spec helper

but I'm hoping for a quick fix release :)

[2021-12-29 14:29] dblock commented on #2215
https://github.com/ruby-grape/grape/blob/master/grape.gemspec#L25 says >= 1.1, closing

[2021-12-29 14:29] #2215 closed

[2021-12-29 15:40] seb-sykio commented on #2214
I am not sure if the problem is similar : I have this error after update from 1.6 to 1.6.1

  undefined method `multiple?' for Grape::Validations::Types:Module
# .rvm/gems/ruby-3.0.3/gems/grape-1.6.1/lib/grape/validations/params_scope.rb:359:in `infer_coercion'
# .rvm/gems/ruby-3.0.3/gems/grape-1.6.1/lib/grape/validations/params_scope.rb:274:in `validates'
# .rvm/gems/ruby-3.0.3/gems/grape-1.6.1/l

[2021-12-29 16:11] dm1try commented on #2214
@seb-sykio yeah, it looks like the same problem.

[2021-12-29 17:16] dm1try commented on #2214
I propose to revert the latest changes that were made to the autoloading in #2207 #2209 and release again.

The changes for validators will not work as expected because the grape validators are loaded differently(we do not use a class name but use some `:symbol` in DSL) so we cannot use a standard `autoload` interface.

[2021-12-29 18:24] dblock commented on #2214
That works for me.

[2021-12-29 21:52] mobilutz commented on #2214
Thanks for working on this so fast.
I will test out, if the proposed idea helps us. But I also think it is better to not have a workaround.

If you need any help with a test setup, I can see to create an app for you guys.

Cheers

[2021-12-29 22:09] ericproulx commented on #2214
Sorry for the late reply, I was out all day. I’ll take a look tomorrow and
let you know.

On Wed 29 Dec 2021 at 22:52 Lutz Lengemann ***@***.***> wrote:

--
*Avertissement*  Ce message est destiné uniquement à la personne ou à
l’organisation à laquelle il est adressé et il peut contenir des
informations privilégiées, confidentielles ou non divulgables en vertu de
la loi. Si vous n’êtes pas le dest

[2021-12-30 05:18] szysza commented on #2215
I've missed the `>` part of it. Thanks once again.

[2021-12-30 10:32] sharq1 opened #2218 "Issues after upgrading to 1.6.1 - `undefined method 'multiple?'`"
After upgrading to 1.6.1 we started getting this when hen starting the Rails server:
`undefined method `multiple?' for Grape::Validations::Types:Module`

<details>
  <summary>Full stack trace</summary>

[code]

The `theapplication/app/api/api/v1/activities.rb:36` is just the beginning of first params block that we have - the exact line is `optional :expanded, type: Boolean, default: false`.
</deta

[2021-12-30 13:30] mobilutz commented on #2218
@sharq1 I think it is the same error that was reported here:
https://github.com/ruby-grape/grape/issues/2214

Maybe these issues can be combined.

[2021-12-30 17:33] dblock commented on #2218
Closing as dup. I see people working on reverting that PR and making another release.

[2021-12-30 17:33] #2218 closed

[2021-12-30 17:55] dm1try commented on #2214
@ericproulx it's a holiday time and I think we don't need any rush here, so I'm going to release the fix with reverted #2207 #2209. If you come with some solution then it will be released the next time :)

[2021-12-30 18:13] dm1try commented on #2214
1.6.2 has been released, try updating 🤞🏻

[2021-12-30 18:13] #2214 closed

[2021-12-30 19:33] sharq1 commented on #2218
Upgrading to 1.6.2 fixed the issue.

[2021-12-30 19:33] sharq1 commented on #2214
Upgrading to 1.6.2 fixed the related issue https://github.com/ruby-grape/grape/issues/2218

[2021-12-30 22:53] mobilutz commented on #2214
Thanks @dm1try

[2021-12-31 10:20] cristofer opened #2221 "undefined method `multiple?' for Grape::Validations::Types:Module"
Hey guys,

`build(deps): bump grape from 1.6.0 to 1.6.1`

This PR https://github.com/ruby-grape/grape/pull/2209 introduced this check https://github.com/ruby-grape/grape/pull/2209/files#diff-e97e1900db45e8b2dbf58e1a31c80ca18d47fe7d7a2ae27a6c98a076c6936b18R177, which breaks in our CI:

[code]

I went through the loads specified here https://github.com/ruby-grape/grape/pull/2209/files#diff-b56aab6c5

[2021-12-31 10:23] cristofer commented on #2221
NVM, I just saw the fix here https://github.com/ruby-grape/grape/pull/2219, thanks for the quick reaction to that

[2021-12-31 10:23] #2221 closed

[2021-12-31 16:27] dblock commented on #2221
@dm1try should we yank 1.6.1 from rubygems? is everybody running into this?

[2022-01-01 09:32] dm1try commented on #2221
@dblock maybe, it's a new experience :)
though,  the upgrade to 1.6.2 should work for most users.

[2022-01-02 18:14] ericproulx opened #2224 "Question about rack2 and rails_6 appraisals"
<img width="514" alt="Screen Shot 2022-01-02 at 19 01 44" src="https://user-images.githubusercontent.com/8418467/147885193-bfacc1bd-2ad5-46d3-9cb8-470c2acdb3c9.png">
<img width="475" alt="Screen Shot 2022-01-02 at 18 56 48" src="https://user-images.githubusercontent.com/8418467/147885195-01932b9b-f956-4733-93d1-527923bafec8.png">

I found that `rack2` and `rails_6` files are running the same versi

[2022-01-03 02:23] dblock commented on #2224
Probably yes.

[2022-01-03 12:43] dblock commented on #2224
Closed via https://github.com/ruby-grape/grape/pull/2225

[2022-01-03 12:43] #2224 closed

[2022-01-03 20:39] ericproulx opened #2228 "Required ruby version ?"
Hello,

Simple question, since Ruby 3.1 is out, is it worth keeping 2.5 as the minimal required_ruby_version ?

I could add a PR adding 3.1 and dropping 2.5.

Thanks

[2022-01-03 20:53] dblock commented on #2228
Unless it's difficult or annoying to preserve compatibility with Ruby 2.5, I would leave it, we don't try to be too aggressive in upgrading in general.

[2022-01-03 21:25] dnesteryuk commented on #2228
We still use 2.7 and don't plan to upgrade to 3.1, unfortunately, it is slower than 2.7, see more there https://www.reddit.com/r/ruby/comments/royv5z/benchmarking_ruby_25_to_31_and_yjit/

[2022-01-04 20:43] ro-savage opened #2230 "1.6.0 -> 1.6.1 contains breaking change"
Our automated tests are showing

[code]

It appears this commit https://github.com/ruby-grape/grape/commit/937b2fc8a7081c5eb74ff8a4a760e30ebabbd780 changed the path from `Grape::Validations::Base` to `Grape::Validations::Validators:Base`

[2022-01-04 20:45] mobilutz opened #2231 "Ruby 3.0 breaks on `use` usage"
We have the following (pseudo) code

[code]

When upgrading from ruby 2.7.5 to 3.0.3 the `use :type, type: :api` line leads to the following error:
[code]

I created a repo which shows this error: https://github.com/mobilutz/grape-ruby3

With ruby 2.7.5 the error is not thrown and we are using the code successfully on production.

As far as I know, there are some `ArgumentError` raised in 3.0.3 bu

[2022-01-04 21:33] dm1try commented on #2231
it looks like we need "double splat" for `options` [here](https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/parameters.rb#L65).

[2022-01-04 22:45] dm1try commented on #2230
yeah, sorry for that.

sadly, after the release I [noticed](https://github.com/ruby-grape/grape/pull/2200#issuecomment-1003264156) that the `UPGRADING.md` had not been updated in #2200. so I didn't expect any breaking change from such refactoring.

I'm closing, there is nothing we can do here.

[2022-01-04 22:48] dm1try commented on #2230
though, we can create a patch for compatibility with 1.6.0 and up a minor version
[code]

[2022-01-05 02:44] ro-savage commented on #2230
@dm1try - We've updated our codebase to use `Grape::Validations::Validators:Base`
But I think it make sense to release `1.6.3` that contains this - so that the latest 1.6.x isn't a breaking change from 1.6.0

[2022-01-05 02:56] #2231 closed

[2022-01-05 02:59] dblock commented on #2230
This was a miss. Care to PR this fix @ro-savage ?

[2022-01-05 03:08] ro-savage commented on #2230
@dblock - Unfortunately I am not a ruby developer, I actually wouldn't know where to put the alias.

[2022-01-05 12:47] mobilutz commented on #2231
Thanks @dm1try for the quick fix.

I stumbled over the missing `**` this morning as well, but you have been faster 😉

[2022-01-09 18:37] #1703 closed

[2022-01-27 16:57] thisismydesign opened #2236 "Huge error log when referencing an undefined local variable"
When I reference an undefined local variable within a grape controller (e.g. I forgot to include a helper) I get an error log that's more than 243.274 characters long. This is pretty bad UX and would love to have this condensed into something reasonable.

Scroll right to follow the class printed on the first line. It's 243.274 characters long.

[code]

[2022-01-28 03:01] dblock commented on #2236
Looks like we should be stripping those internals. PR welcome.

[2022-01-28 05:21] ly123525 opened #2237 "param as is not work"
[code]

i upgrade from 1.31 to 1.6.0

@brynary @tmornini @ctennis @olleolleolle @bernd
How should I write？ thanks

[2022-01-28 16:50] dblock commented on #2237
This seems to work as expected, what output did you expect?

[2022-01-29 06:53] ly123525 commented on #2237
@dblock

[code]

[2022-01-29 07:03] ly123525 commented on #2237
@dblock

[2022-01-29 07:08] ly123525 commented on #2237
@dblock
https://github.com/ruby-grape/grape/blob/v1.3.1/lib/grape/validations/params_scope.rb#L132

[2022-01-29 10:14] dnesteryuk commented on #2237
@ly123525 it is recommended to use `declared(params)` to avoid [mass assignment](https://medium.com/@jaeger.rob/exploring-rails-mass-assignment-vulnerability-b8b3d19e20b6). I wouldn't fix anything in Grape.

[2022-01-29 13:05] dm1try commented on #2237
@dnesteryuk while your suggestion is good, the current behavior still looks like a bug because we have a clear description [in README](https://github.com/ruby-grape/grape#renaming) for how it should work.

And it'd worked it such way previously but not now.  Looks like a breaking change.

[2022-01-30 20:38] dblock commented on #2237
So did we introduce a regression, and in which version? Or should we change nothing and update documentation?

@dnesteryuk does it change anything in your comment?

[2022-01-31 08:11] dnesteryuk commented on #2237
ok, I figured it out when this behavior [was changed](https://github.com/ruby-grape/grape/pull/2189), actually, it is described in the [upgrading doc](https://github.com/ruby-grape/grape/blob/master/UPGRADING.md#upgrading-to--160), so it isn't a bug, it is how Grape works after 1.6.0 and the motivation of the change makes sense.

@dm1try probably, we need to update the doc :wink:

[2022-01-31 15:57] dblock commented on #2237
@ly123525 or someone else here, care to update? thanks

[2022-02-02 01:39] headius commented on #2211
Interesting.

[2022-02-02 01:40] headius commented on #2211
Master is a bit broken because we are trying to finish adding Ruby 2.7, 3.0, and 3.1 features. A more stable HEAD would be jruby-9.3, or just use the release. We'll start stabilizing master soon.

[2022-02-02 14:27] headius commented on #2211
I just ran `bundle exec rake spec` against JRuby 9.3 HEAD and there appear to be no failures:

[code]

I will file an issue with JRuby to look at the failures against master.

[2022-02-03 01:37] dblock commented on #2211
Thanks. This isn’t blocking grape, we just leave jruby-head and other *-head to keep finding issues early. If some PR turns all builds green we can close this.

[2022-02-03 05:15] headius commented on #2211
No worries, it's helpful for us to know that there are failures on any branch of JRuby.

[2022-02-07 16:50] mileslane commented on #1834
[ActiveSupport::Dependencies private API has been deleted](https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#activesupport-dependencies-private-api-has-been-deleted)

[2022-02-07 17:03] mileslane opened #2238 "Rails 7 has removed ActiveSupport::Dependencies. How should reloading be done now?"
https://github.com/ruby-grape/grape/issues/358
https://github.com/ruby-grape/grape#reloading-api-changes-in-development
We have:

[code]

[2022-02-09 13:07] immccc opened #2239 "7.0.2 version is raising "uninitialized constant ActiveSupport::XmlMini::IsolatedExecutionState""
Hi,

In our project, we are not directly using `activesupport`, but `grape` does. This is fetching latest version of `activesupport`, which is currently 7.0.2.

**Problem**

Starting up the application is raising the following exception:

[code]

**Gemfile.lock**
[code]
# ...

**Potential fix**

Shouldn't constant `ActiveSupport::XmlMini::IsolatedExecutionState` be `ActiveSupport::IsolatedExecutio

[2022-02-09 13:17] dblock commented on #2239
Was this fixed in https://github.com/ruby-grape/grape/pull/2208?

I am not seeing Rails 7 in https://github.com/ruby-grape/grape/blob/master/.github/workflows/test.yml#L40. Can you please PR that and let's see what breaks and fix it?

[2022-02-09 14:46] ericproulx commented on #2239
It was supposed to be fix. I'll check

[2022-02-09 20:26] ericproulx commented on #2239
@immccc could you provide a complete `Gemfile.lock`. I couldn't reproduce with a brand new rails app. Thanks

[2022-02-10 08:07] immccc commented on #2239
Hi @ericproulx , thanks for taking a look!

Sorry, but unfortunately can't share full `Gemfile.lock` since I'd have to do a lot of cherry-picking, removing internal/confidential packages. Anyhow, the dependencies pointing to `activesupport` are just the ones I exposed when I opened the issue and I don't think you'll find relevant information on there.

I checked fetched sources from `activesupport

[2022-02-10 18:21] dblock commented on #2239
@immccc Can you please make a trivial application that reproduces this and put it up on GitHub or make a PR with a spec that fails here?

[2022-02-11 07:44] immccc commented on #2239
@dblock I don't think that's needed. In order to check what's happening here, just check which version of `avtivesupport` is fetching Grape 1.6.2. And if it's 7.0.2, bingo!

Also please take a look to linked snapshots from my comment above, where you can see how reference used to `IsolatedExecutionState` is not matching to its declaration.

Thanks!

[2022-02-11 10:27] dm1try commented on #2239
This is how Constant resolution works in Ruby, there is nothing suspicious.

[2022-02-11 10:32] dm1try commented on #2239
The provided logs does not contain the full trace path so it's not clear that's going on on your side.

[2022-02-11 14:30] zellnerFinstreet opened #2240 "Top level route param and lower level namespace"
It seems like there is a problem with lower level namespace endpoints, when there is a top level endpoint of the same kind (PATCH in this case) that uses a route param.

[code]

**Expected Result:**
A `PATCH` call to `/test/lower_level_namespace` with `lower_level_param_one` param set, should be successful

**Actual Result:**
[code]

The lower level endpoint requires the params from the top level

[2022-02-11 14:56] dm1try commented on #2240
yeah, because the request to `/tests/lower_level_namespace` have been processed  as the request to `tests` resource with `id` equal `lower_level_namespace`.

AFAIK, routes are matched in order they are defined.

[2022-02-11 15:11] zellnerFinstreet commented on #2240
You are right and that totally makes sense. When I change the order of the endpoints it works fine, besides one case:

<img width="980" alt="image" src="https://user-images.githubusercontent.com/39985620/153616636-a22f6807-e3dd-4036-af58-d17b6a297fae.png">

And that proves your point 💡

Thanks for the quick help 👍

[2022-02-11 15:40] dblock commented on #2239
@immccc yes I can debug the issue, reproduce and probably fix it and so can @ericproulx who fixed it in the first place, but that will take some unknown amount of time given that nobody is paid to do this work. So help us help you so we can do this faster?

Turn the problem into an integration test with the locked version of ActiveSupport that demonstrates the issue and PR it. And maybe you'll fin

[2022-02-11 15:42] dblock commented on #2240
Should we close this?

[2022-02-11 15:44] zellnerFinstreet commented on #2240
Yep, from my side everything is clear. Thanks again 👍

[2022-02-11 15:44] #2240 closed

[2022-02-11 20:49] immccc commented on #2239
@dblock no worries, I'll test a "hello world" and come back with it when I have some time.

[2022-02-14 08:25] lvonk opened #2241 "Fail on (or get list of) unknown parameters"
Hi,

Prior to https://github.com/ruby-grape/grape/pull/2189 the `params` object also contained the unknown parameters that weren't described in the route definition.

For instance:

[code]

If then the following params where passed:

[code]

The params object contained:

[code]

This way our code could fail on the fact that `"baz"`  was passed in but doesn't exist. This is helpful because most pro

[2022-02-14 17:20] dblock commented on #2241
This sounds like a valid scenario. Should we add an `unknown` or `undeclared` helper? Want to give this a try @lvonk?

[2022-02-14 19:18] jonmchan opened #2242 "Datatype for Structured Hash Inside Hash Param?"
Is it possible to define a hash that takes any key, but the content of the hash is structured JSON data?

For example:

[code]

I know this works with arrays, but can this be achieved with a hash? The current Hash datatype seems to require you to define the keys beforehand (`student1`, `student2`, `student3`,`student4`).

[code]
However this only allows for a single student, not the student inside

[2022-02-14 22:35] dblock commented on #2242
Are you looking or for [custom types](https://github.com/ruby-grape/grape#custom-types-and-coercions)?

[2022-02-15 17:19] dm1try commented on #2242
Nope.

It depends on the context of  a specific problem, but if you just need an ability to process such Hash data(for example some client sends data in such format and it's hard to change the behavior) then `Array` type in conjunction with `coerce_with` could be used.

[2022-02-15 17:21] dm1try commented on #2242
[code]
P.S. Thanks Copilot for helping me generating the spec^

[2022-02-15 18:51] jonmchan commented on #2242
@dm1try thanks - yes this is exactly the use case I am looking for. Copilot is awesome! :+1:

@dblock I would be interested in arbitrary key names which I don't think would work with your examples.

Small update, is I would like the id field which is the key name in the hash. This solution I believe would work for me:

[code]

If there are no plans for additional support for this functionality in

[2022-02-15 19:14] dm1try commented on #2242
I'm glad it helped.

In addition to @dblock's comment we could extend mapping support for collection types and use DSL like this: `type: Array[String => Student]` but this requires more thinking.

let's close for now)

[2022-02-15 19:14] #2242 closed

[2022-02-16 16:08] lvonk commented on #2241
I can give it a try. I'd opt for failing when such a parameter is passed in, perhaps via a setting? Like `fail_on_undeclared_params = true|false` then when it is `false` you could still use the helper to get a list of these params.

[2022-02-17 06:41] Jack12816 commented on #2230
:( Breaking change in a patch version. This does not only affect `Grape::Validations::Base`, but also users who extended existing built-in validators or compositions of it. This is even worse for external package maintainers who rely on the constants.

[2022-02-17 07:21] lvonk commented on #2239
This happens when for instance if, in your project, you do `require 'active_support/core_ext/object'` without requiring `require 'active_support'` first. The require `require 'active_support'` is needed to do some initialisation for active_support.

[2022-02-17 12:15] dm1try commented on #2239
@lvonk yeah, and this was fixed in https://github.com/ruby-grape/grape/pull/2206.

[2022-02-17 20:37] tculp opened #2243 "Support additional WebDav-specified HTTP methods, such as LOCK"
https://www.rfc-editor.org/rfc/rfc4918.html defines several HTTP methods to support WebDAV-like APIs, such as LOCK and UNLOCK. Unfortunately, these methods are not supported by Grape.

As these methods are not supported, ruby apps using Grape have to use other methods, such as POST and DELETE for locking and unlocking, such as in GitLab's support for Terraform remote state: https://gitlab.com/gitl

[2022-02-17 22:02] dm1try commented on #2243
it can be a good design actually, as any intermediary in the stack will understand common methods.

Anyway, I would not use WebDAV(WebDAV-like) as some requirement as it's certainly a different thing that uses XML under the hood and try to generalize a requirement to  something like "Allow HTTP method extension in Grape"

[2022-02-17 22:15] dblock commented on #2230
Agreed. Can someone please PR a fix? @dm1try ?

[2022-02-17 23:27] dm1try commented on #2230
@dblock take a look at #2244

[2022-02-19 01:18] dblock commented on #2239
But that was in 1.6.1, and the report above says 1.6.2?

[2022-02-19 01:20] dblock commented on #2241
I think both features would be valuable and failing would be built on top of extracting the names of such parameters.

[2022-02-19 19:59] immccc commented on #2239
Sorry for coming back late. Just tried to reproduce locally on a Grape app from scratch (I'm using https://github.com/zachrab/grape-hello-world )

This time, after removing original Gemfile.lock and `bundle install`, ActiveSupport is pointing to version `7.0.2.2`. It's running fine. I forced to have version `7.0.2` and still working fine.

Not sure why I cannot reproduce, as the other project was

[2022-02-19 22:45] dm1try commented on #2239
I'm not sure what you mean by that. Shouldn't this be fixed in 1.6.2 too?

[2022-02-19 22:55] dm1try commented on #2239
I'm closing, it looks unrelated to `grape`, it might be some other dependency. Feel free to provide a stack trace with the lines that point to the `grape` and re-open.

Meanwhile:
[code]
[code]

[code]
[code]

[2022-02-19 22:55] #2239 closed

[2022-02-21 21:33] rpoole opened #2245 "Handling complex validations question"
Hi! I'm looking into using this library, but I'm wondering if there's any support for handling complex validations? Imagine something that might involve checking multiple parameters and can't be supported through the DSL. The built in stuff is great and I love that it's in one place.

Is there a clean way to basically do something like the following?

[code]

Defining custom validations seems like

[2022-02-21 22:29] dm1try commented on #2245
It totally depends on the context.
If "complex" means some business specific validation when it's usually done on a different level:
[code]
or
[code]
btw, in the reference validation is performed in the serializer.

[2022-02-23 00:24] rpoole commented on #2245
Thanks for the info!

[2022-02-23 00:24] #2245 closed

[2022-02-27 00:56] dblock opened #2247 "Upgrade rspec to >= 3.9.0"
Versions of rspec >= 3.9.0 fail tests unexpectedly, e.g. https://github.com/ruby-grape/grape/runs/5347064188?check_suite_focus=true

[code]

This is obviously wrong since the parameters received are identical to the expectation.

Possibly a bug in rspec-expectations.

In https://github.com/ruby-grape/grape/pull/2246 I locked the version of rspec to 3.9.0.

[2022-02-27 16:36] #2247 closed

[2022-02-28 16:38] ericproulx opened #2253 "error_response deprecation ?"
There's a `todo` for `deprecation` (it's been a [while](https://github.com/ruby-grape/grape/blob/master/UPGRADING.md#replace-error_response-with-error-in-rescue_from-blocks)) but there's no warn DEPRECATION. Since it's use internally, adding a warning will pop every single time.

I think we should not use it internally and add a proper warning DEPRECATION. What do you think ?

https://github.com/r

[2022-02-28 23:18] ebenoist commented on #2118
Just got hit by this as well. Is there a blessed way to fix this issue?

[2022-03-01 16:59] dblock commented on #2253
Makes sense, please.

[2022-03-01 17:05] dblock commented on #2118
@ebenoist Care to dig up whether this is the case un latest Rack and what the Rack API is supposed to be? Seems like there's no conclusion above.

[2022-03-02 15:15] pre opened #2254 "Allow lowercase HTTP/2 headers"
HTTP/2 defines that HTTP headers be lowercase.

Grape consistently normalizes HTTP headers to PascalCase. This is ok since it's consistent.

However, there are more and more API clients which normalize HTTP headers to lowercase. One example is Axios.

This means that the exact same HTTP header name cannot be used as-is at the Grape API and Client side, since both implement a normalization of their

[2022-04-14 20:19] khataev commented on #2085
@alexgonor I'm having the same issue, have you managed to fix it?

[2022-04-17 17:36] khataev commented on #2085
I figured out what was the reason: it is a combination of Grape + Carriervawe. Curious moment that we can explore on this [test](https://github.com/ruby-grape/grape/blob/master/spec/grape/api_spec.rb#L1353-L1362).
When we use `кириллица.png` file, then `params[:file][:filename]` on [line 1345](https://github.com/ruby-grape/grape/blob/master/spec/grape/api_spec.rb#L1345) returns `кириллица.png`

Wh

[2022-04-19 07:06] bharteesahare commented on #1552
Update the grape gem

[2022-05-06 12:42] VikasKumar190 opened #2257 "Incompatibility of grape 1.5.3 with Rails 6.1"
Rails version : 6.1.4.7
Grape version: 1.5.3, (also tried with version 1.3.3)

Following is the error whenever a grape api endpoint is hit

[code]

Any hints what could be going wrong here?

[2022-05-07 14:46] dblock commented on #2257
I don't remember seeing this one. We do have integration tests for Rails 6.1 (see https://github.com/ruby-grape/grape/blob/master/Appraisals), so this is something more specific to your application. See what's being initialized in lib/action_dispatch/middleware/request_id.rb? I usually just do something as dumb as `bundle show action_dispatch` and just add some puts above that call locally :)

[2022-05-08 05:35] VikasKumar190 commented on #2257
@dblock, Thanks for the hints. I realised what was going wrong. We were using `ActionDispatch::RequestId` middleware in the `api.rb` file. So, one of the statements in our `api.rb` is :
[code]
Apparently, the middleware has changed its implementation from rails 6.0 to 6.1 and expects you to also pass in header name that will be used to add request id. So, the statement in the `api.rb` file needs t

[2022-05-08 05:35] #2257 closed

[2022-05-30 16:05] guigs opened #2258 "Uninitialized constant error for nested class of Grape::API class when using bootsnap and sidekiqswarm"
The error only happens when booting a Rails app in a particular way (sidekiqswarm) when loading a nested class whose parent class inherits from `Grape::API`.

For example:

[code]

When started with `sidekiqswarm`, the application crash with:

[code]

The problem does not happen if `DISABLE_BOOTSNAP_LOAD_PATH_CACHE=1` is used.

I've created a minimum Rails app to demonstrate the problem: https://g

[2022-05-30 16:22] casperisfine commented on #2258
To clarify, this is the constant I have a problem with: https://github.com/ruby-grape/grape/blob/a6cde5d5fb00ea7cf34f7adfbe81dcd2b3958e8d/lib/grape/api.rb#L11

If any code loaded after `grape/api.rb` defines some methods on `Module` or `Class` they end up being gimped. I think grape could do without that cache, just call `Class.instance_methods` every time.

[2022-06-02 13:06] dblock commented on #2258
@casperisfine Makes sense. Try adding an integration test in Grape and fix this?

[2022-06-13 16:39] duffn opened #2260 "Some tests fail with `uninitialized constant Grape::Validations::Types::BigDecimal`"
Some test matrix combinations fail with the below error.

- Example as I'm working on (https://github.com/ruby-grape/grape/issues/2061): https://github.com/duffn/grape/runs/6865569857?check_suite_focus=true (see which tests fail here)
- Failing on previous PR: https://github.com/ruby-grape/grape/runs/6166521301?check_suite_focus=true

[code]

[2022-06-13 18:44] alilland opened #2261 "How do I ensure that pages like /.env return 404 page not found?"
Scanning my nginx logs I see that there are lots of pages that respond successfully, though resolving to the root route `/` that I want to fix by returning a page not found error, right now my error formatter returns JSON but I want it to return nothing

the bottom line is how do i get the traffic listed at the bottom to truly return `Page Not Found`?

This is my current ruby code that I will use

[2022-06-13 19:27] duffn commented on #2261
Do you control your nginx configuration? I wouldn't even let these get to your application. I add something like this to my nginx confs and stop it before your application has to serve the request.

[code]

[2022-06-13 19:29] alilland commented on #2261
I do, this is better - thanks 👍

[2022-06-13 21:53] dblock commented on #2260
I think this is https://github.com/ruby/bigdecimal/issues/127, or similar. Explicitly requiring `bigdecimal` seems to work, https://github.com/dblock/grape/actions/runs/2491398080.

https://github.com/ruby-grape/grape/pull/2263

[2022-06-13 21:54] #2188 closed

[2022-06-13 21:57] dblock commented on #2261
I think this is https://stackoverflow.com/questions/30650832/wildcard-route-in-grape, try `*thing`?

[2022-06-14 18:47] #2260 closed

[2022-06-14 18:48] #2061 closed

[2022-06-15 16:59] alilland opened #2269 "How do I remove response headers?"
Many application frameworks provide the ability to remove response headers, how is this done in Grape?

I see there is stuff like `version 'v1', using: :header, vendor: 'twitter', cascade: false` to turn off certain headers, but I want to harden my webserver and remove them completely.

My goal is to implement the same headers that the expressJS library "helmet" uses to harden nodejs servers, but

[2022-06-15 17:01] #2261 closed

[2022-06-15 22:26] dblock commented on #2269
You can set headers with [header](https://github.com/ruby-grape/grape#response), so `header X, nil` will remove it, same as in Rails. See https://github.com/ruby-grape/grape/blob/master/lib/grape/endpoint.rb#L273 where headers are returned to the rack middleware stack. That said, there's a whole stack of other middleware involved in a response, and each may be altering/adding/removing headers, thu

[2022-06-19 00:40] duffn commented on #2212
CI is passing now. https://github.com/ruby-grape/grape/runs/6892432974?check_suite_focus=true

[2022-06-20 12:53] #2212 closed

[2022-06-22 14:25] chrisedington commented on #2139
Weirdly enough, I have a model called Stream too and this is happening to me, sharing none of the above code.

[2022-07-14 06:39] magni- commented on #2035
Thread in the Google group for those who end up here like me: https://groups.google.com/g/ruby-grape/c/hgCytbWqTuQ/m/CLbciqtWBQAJ

[2022-07-19 14:59] mglenn opened #2270 "Mustermann warnings on load"
Mustermann 2.0 was released yesterday (July 18th, 2022).  Grape relies on mustermann-grape which relies on mustermann specified as `mustermann (>= 1.0.0)`, hence the jump to 2.0.

Getting the warning
`lib/ruby/gems/2.7.0/gems/mustermann-2.0.0/lib/mustermann/ast/translator.rb:76: warning: Skipping set of ruby2_keywords flag for translate (method accepts keywords or method does not accept argument s

[2022-07-28 10:46] ericproulx opened #2273 "Grape:Exceptions::Base missing super?"
Hello,

While looking at some exceptions in our logs, I found that the attribute `message` wasn't shown when doing `to_s`. For instance,
[code]
When reading about [Exception](https://ruby-doc.org/core-2.5.1/Exception.html)
[code]

If we add `super(message)` in missing in Grape::Exceptions::Base, it works as expected

I'll open a PR

Thanks.

[2022-08-03 06:33] YaEvan opened #2275 "Why given block condition not match, but declared return block inside params?"
I want declared not to allow unvalidated parameters if the given condition is not met

# case1

[code]

params

[code]

result

[code]

# case2

[code]

params

[code]

result

[code]

[2022-08-04 13:44] dblock commented on #2275
This does look like a bug where we are not evaluating `given` in `declared`? Care to maybe PR some failing tests/fix?

[2022-08-11 14:38] #2273 closed

[2022-08-11 15:49] Koilanetroc opened #2277 "Ability to describe multiple success entities"
Sometimes it's necessary to return different entities depending on internal business logic. It would be nice to be able to document all possible success entities. Like with `failure` method but without status codes.
Something like this:
[code]

[2022-08-12 16:35] dblock commented on #2277
I dislike APIs that return two different types of things, but it's a matter of preference, so the proposal makes sense. Want to give it a try?

[2022-08-13 03:01] Koilanetroc commented on #2277
Yeah, I'd like to try. Will send a pr when it's ready

[2022-08-21 21:54] terceiro opened #2278 "test failure with rack-test 2.0"
If I make this change to `Gemfile`

[code]

and run the tests (after running `bundle`), I get the following test failures:

[code]

It would be nice if these tests could be made to work with rack-test 2.0.

[2022-08-25 01:48] Koilanetroc commented on #2277
Well, after some research I realised that limitation was from OpenAPI 2.0. It [does not support](https://stackoverflow.com/a/48427558) multiple response schemas per status code.
There is a branch in grape-swagger for oapi-3, but it's abandoned, so there is no way to add this functionality for now.

[2022-08-25 13:36] dblock commented on #2277
But is it a grape-swagger problem or a grape problem? Can we do one without the other?

[2022-08-27 13:07] Koilanetroc commented on #2277
Grape-swagger [actually is able](https://github.com/ruby-grape/grape-swagger/blob/master/lib/grape-swagger/endpoint.rb#L248) to accept array in success section, but then in [`response_object`](https://github.com/ruby-grape/grape-swagger/blob/master/lib/grape-swagger/endpoint.rb#L202) hash is used for storing entities where response code is a key. So if you pass an array of multiple entities with s

[2022-08-28 15:22] dblock commented on #2277
Looks like a bug in grape-swagger, which should raise an error here, short of supporting openapi 3.

For Grape though I don't see a reason not to implement it.

[2022-08-29 10:40] LewisYoul commented on #1805
You could monkey patch the ParamsScope class:

[code]

then:

[code]

[2022-09-09 21:29] blainejohnson17 opened #2280 "set custom message when using proc to validate value"
How can I use a proc to validate and use a custom message?

This way is deprecated:
[code]

The new way doesn't support a custom message:
[code]

[2022-09-10 13:56] dblock commented on #2280
I don't believe it's possible. Would be a good feature to add.

[2022-09-15 17:30] blainejohnson17 commented on #2280
@dblock , what do you think about enhancing the `values[:value]` to allow proc with arity 1 to support this use case?
[code]

[2022-09-15 22:23] dblock commented on #2280
I like it. Give the code a try?

[2022-09-16 16:37] blainejohnson17 commented on #2280
sure, I'll give it a go.

[2022-09-20 09:38] khiav223577 opened #2281 "Give a clearer error message when payload doesn't match with provided content-type"
Let we are not support `application/json` content-type.
When user send a request with wrong content-type, the response message is clear:
[code]

Let we support `application/json` content-type.
When user send a request with correct content-type, but with wrong payload (the format of it is not `json`),
the response message will be strange:

[code]

It will be nice if we can provide clearer error mes

[2022-09-20 11:16] dm1try commented on #2281
it looks like JSON parser used in your example does not raise `ParseError` for some reason because it would be handled here:
https://github.com/ruby-grape/grape/blob/edc6abef69054d61fdcd77ee7e054c8afc4f4c5e/lib/grape/parser/json.rb#L8-L11

could you ensure that the parser raises the error mentioned above?

[2022-09-21 10:51] sekmo commented on #2073
@dblock I would like to create a fix for this this, can you please point me to the right direction?

[2022-09-21 19:32] khiav223577 commented on #2281
Thanks @dm1try.
I found out that we assign `Oj` to `Grape::Json` in our project and we had set the default mode as `compat`.
In this mode, it will raise `EncodingError` instead of `Oj::ParseError` when the format of string is wrong.

[code]

---

Could we define `ParseError` constant under `Grape` namespace instead of `Grape::Json` namespace? So that we can have better control of which exception s

[2022-09-21 22:34] dblock commented on #2073
@sekmo Start by writing a failing RSpec test?

[2022-09-21 22:41] dblock commented on #2281
Moving `::Grape::Json::ParseError` iinto `::Grape::ParseError` would be a breaking change and would likely need to have some backwards compat. Not sure it would be worth it. I propose a few things:

1. Document how to swap JSON parser for OJ (I found others doing it like [so](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/25802/diffs?commit_id=f37075de5032751826f523966895cd664c91b0f1) for e

[2022-09-21 23:08] sekmo commented on #2073
@dblock I mean can you point me to the part in the codebase where we deal with this logic?

[2022-09-22 15:33] dblock commented on #2281
😎

[2022-09-23 08:50] sekmo commented on #2073
Thank you, I'll check it out as soon as I have some time :)

[2022-09-27 02:45] khiav223577 commented on #2281
@dm1try thanks for your reply. The first example looks great, I'll try and see if it works or not :)

[2022-09-27 15:51] dblock commented on #2281
@khiav223577 Care to contribute to the README?

[2022-09-27 17:33] khiav223577 commented on #2281
I'm willing to :)

[2022-09-28 09:32] khiav223577 commented on #2281
Hi @dm1try,

Since there are many other places besides formatter that use `Grape::Json.load` and `Grape::Json.parse`, the following way is more general. How do you think?

[code]

[2022-09-28 20:44] dm1try commented on #2281
@khiav223577

In that case, I think your example is the most suitable solution.
But we know that such interface hasn't been documented yet and it looks like it does not have any specs, so it can be broken easily. Feel free to add the example to `README` and/or add some integration spec :)

Thanks!

[2022-09-30 17:32] flosacca commented on #2185
I was confused by the fact that the empty string is not a special case that is allowed by default. I've tested the following example mentioned in `README` and an empty string cannot pass.
[code]

There may be a misunderstanding in the original problem. When `optional` is used, `null` would be allowed unless `allow_blank` is explicitly specified to `false`.

I found that `allow_blank: false` enable

[2022-09-30 18:00] maciejpankanin commented on #2185
Ops, you are right, I think it should be:
[code]

But still, isn't it misbehavior? If I understand it well, when it is `optional` and I send `null` or `''` validation will pas but if it was `requires` I would get a validation error.

It behaves like `null` or empty strings weren't values.

[2022-10-02 15:38] dblock commented on #2185
Current behavior looks suspicious to me: I certainly don't expect an optional value to allow an empty string. Try writing a spec for this, fixing it and seeing if any other specs fail?

[2022-10-04 14:35] khiav223577 opened #2282 "HTTP GET request with parameters in body and Content-Type header"
We're trying to replace our custom json-parser middleware in our project with grape formatter middleware recently,
and found that if we send a GET request with parameters in body and with `application/json` Content-Type, parameters will disappear.

It looks like `grape` doesn't accept this kind of request
https://github.com/ruby-grape/grape/blob/f5d9831bac2e2dd439d0f3901797995a91139690/lib/grape/m

[2022-10-05 15:22] dblock commented on #2282
Do the RFCs say that you can/cannot have a body on a GET with a content-type? I imagine we'd want to stick to whatever that says.

I don't see a problem parsing a body on a GET, but this is a pretty major breaking change, so it would need to be done carefully, major version upgrade & al. Something configurable (list of methods allowing a body?) may be a good way to start.

[2022-10-07 15:59] DanTaiko opened #2283 "Faraday::SSLError on Heroku"
I had an SSL issue on **Heroku Stack 22**
`Started GET "/api/status" for 188.169.240.73 at 2022-10-07 07:46:43 +0000
caught error of type Faraday::SSLError in after callback inside Grape::Middleware::Formatter : SSL_CTX_load_verify_file: system lib
E, ERROR -- : Faraday::SSLError: SSL_CTX_load_verify_file: system lib
  /app/vendor/ruby-3.1.2/lib/ruby/3.1.0/net/http.rb:1040:in "initialize"
  /app/v

[2022-10-08 16:35] dblock commented on #2283
Google comes up with https://deanpcmad.com/2022/installing-older-ruby-versions-on-ubuntu-22-04/. Does this help?

[2022-10-09 08:03] DanTaiko commented on #2283
Hey Daniel (@dblock)
Thanks for your fast reply.
:-)
I didn't expect that. My idea was to inform the gem community of my workaround.

As far as I know, Heroku doesn't allow to tweak their system stack. So I downgraded the Heroku stack from Stack 22 to Stack 20 to make my app work. But the link you found gives some ideas what it could be.
Thanks a lot.

I don't mind if you close this issue.

Best r

[2022-10-10 14:11] dblock commented on #2283
I think this is a legit issue, downgrading isn't really a workaround. I'd like to know what the fix is.

[2022-10-10 15:15] DanTaiko commented on #2283
Sorry, I cannot to add nothing more to it.
I had not changed the code. The heroku stack downgrading fixed that.
:'-|

[2022-10-12 22:21] dblock commented on #2283
@DanTaiko Is this an error on the server or client? If it's client, set `ca_path` to `nil` in Faraday setup. This is similar to https://github.com/slack-ruby/slack-ruby-client/issues/415. I'm going to close this unless someone can reproduce something with Grape proper.

[2022-10-12 22:21] #2283 closed

[2022-10-13 09:16] DanTaiko commented on #2283
Hey Daniel (@dblock)
This issue has to do with a SlackRubyBotServer, not with a Slack::Web::Client. And I'm using a Ruby v.3.1.2, not a Ruby v.3.0 as it is in the link you gave.

I'm fine to close this issue.
Regards, Konstantin

[2022-10-17 10:35] n1sym commented on #2139
Hi, I also encountered the same error.

In my case, it was because I had defined `@stream` in my code.

In such a situation,

- [`def stream`](https://github.com/ruby-grape/grape/blob/v1.6.2/lib/grape/dsl/inside_route.rb#L324) returns Overwritten `@stream`,
- `@stream` is stored in [response_object](https://github.com/ruby-grape/grape/blob/v1.6.2/lib/grape/endpoint.rb#L271).
- [bodies](https://git

[2022-10-25 15:03] zysend opened #2286 "fix #2275"
# try to fix #2275

[code]
## case 1,2
### params
[code]
### result
[code]

## case 3
### params
[code]
### result
[code]

_Originally posted by @zysend in https://github.com/ruby-grape/grape/issues/2285#issuecomment-1290063156_

[2022-10-25 15:09] zysend commented on #2286
[code]
set include_not_dependent to skip the parameter not given

[2022-11-02 18:02] dblock commented on #2275
Closed via https://github.com/ruby-grape/grape/pull/2285

[2022-11-02 18:02] #2275 closed

[2022-11-02 18:02] dblock commented on #2286
https://github.com/ruby-grape/grape/pull/2285

[2022-11-02 18:02] #2286 closed

[2022-11-03 15:27] jklemon17 commented on #1475
@mrloop I'm sorry, but do you remember where this patch code goes? I tried dropping the Rails 5 version (using 5.2.8.1, grape version 1.6.2) into my `rails_helper.rb`, then found and replaced the `create_session` method in the actionpack gem itself (at `.../gems/actionpack-5.2.8.1/lib/action_dispatch/testing/integration.rb`. Neither worked.

[2022-11-03 15:38] mrloop commented on #1475
@jklemon17 eck, this is an old bug, not working with Grape or Ruby just now, don't remember and don't have access to the codebase it was used in to check :( good luck patching it

[2022-11-03 16:01] dblock commented on #1475
It would be amazing if someone took the time to resurrect https://github.com/ruby-grape/grape-on-rails (upgrade it, make versions for various versions of Rails, etc.). I'd be happy to help with specific issues like these given visibly failing tests.