[2015-02-18 00:42] elado opened #931 "Feature request: Pass array/Regexp to namespace/request methods"
Currently, if I have 2 endpoints I want to merge into one, all I can do is to loop and create requests:

[code]

In the case above, I can't use named namespace (`namespace ":key"`) because it'll take over both request groups.

A nicer way would be to be able to send an array or regexp to `namespace` or `get`:

[code]

Kind of aliasing same requests to a single block (also saving memory) for API ch

[2015-02-18 01:12] elado opened #932 "Namespaced requests with optional URL params fail with empty parameter"
In short: `/root` returns 404 but expected to route into the `get` with empty `type`. It works only on root level requests.

[code]

Full test:

[code]

[2015-02-18 02:40] adamcooper commented on #892
@dm1try - Thanks for the response.

I just included the first `slice` to prove that nothing was actually in the params.

I wrote the specs to possibly simplify the implementation.

The issue is the default value (with `include_missing = true`) for nested arrays comes back as a hash instead of an array.  That seems like a bug to me.

I updated the specs [in this commit](https://github.com/intridea/

[2015-02-18 03:38] dm1try commented on #892
@adamcooper,

why just not `params[:comments]`?)

Anyway, it's definitely a bug. I see now.

Thanks, now it is better than it was and makes sense!

[2015-02-18 21:41] adamcooper commented on #892
@dm1try - I can't remember exactly why I used `slice` instead of the simpler `params[:comments]`.  I think I was trying different combinations of multiple parameters so `slice(:array, :hash)` was simpler in one line rather than `array: params[:array], hash: params[:hash]`.  hehe.

Thanks!  Please let me know if I can help out.  I spent some time reading through the source when I was using Grape an

[2015-02-19 04:19] reprah commented on #863
Ok, I was approaching this thinking "how can I get a Grape API's routes to end up in the url_helpers module when `mount` is called in the routes file?", since that's what seems to happen for Rails engines and this seems like an analogous situation.

Were you thinking the method_missing method that finds tthe right Grape route should be defined in a separate module that Grape provides (and a user w

[2015-02-19 13:14] swistaczek opened #934 "Idea: Provide constants for HTTP status codes"
Hi,
It would be nice if we could provide some kind of constants including HTTP status codes like Rails does ( http://guides.rubyonrails.org/layouts_and_rendering.html#the-status-option ).

[2015-02-19 19:22] dm1try commented on #934
`rack` already has smth similar, see [1](https://github.com/rack/rack/blob/e98a9f7ef0ddd9589145ea953948c73a8ce3caa9/test/spec_utils.rb#L413), [2](https://github.com/rack/rack/blob/aec5471cfbea791b72dd9a352514df5e50f10435/lib/rack/utils.rb#L580)

you can define a helper and use it easily
[code]

[2015-02-19 19:54] purezen commented on #668
You mean, a link to the grape-msgpack repo? @dblock

[2015-02-19 20:18] swistaczek commented on #934
@dm1try thanks for information :), what do you think to support this behaviour:
```status :method_not_allowed```

If method status detect that given argument is Symbol then it will try resolve correct HTTP code based on some rails-like symbol to http status code mapping table.

[2015-02-19 21:51] dm1try commented on #934
`rails` [uses the same `rack` helper](https://github.com/rails/rails/blob/6d72485b6977804a872dcfa5d7ade2cec74c768e/actionpack/lib/action_dispatch/http/response.rb#L180) that I mentioned above.

If you are talking about "built-in sugar" for `#status` then I don't have any strong opinion because I don't use *named* statuses :)

[2015-02-20 01:50] stephenjlevy commented on #453
The problem with using

[code]

is that now you've created extra routes.  For instance, "notes/test/foo.a" is now valid, when you really only want to allow "notes/foo.a".  Is there any other way around this?

[2015-02-20 11:23] bcackerman opened #935 "NoMethodError: undefined method `key?' for #<JSON::Ext::Generator::State:0x007f77fc9a6818>"
I'm receiving this error `NoMethodError: undefined method 'key?' for #<JSON::Ext::Generator::State:0x007f77fc9a6818>` when some users view certain Customer records in my database that are clearly there.  The URL someone will visit is `www.domain.com/api/v1/customers/147791?key=af0shsdg0sg` as an example.  `key` is passed and checked against a field called `account.api_key` for authentication.  Can

[2015-02-20 11:42] bcackerman commented on #935
Turned out needed to add the 'oj' gem as mentioned here: https://github.com/resque/resque/issues/810

[2015-02-20 11:42] #935 closed

[2015-02-20 17:58] dblock commented on #931
I am not opposed to `namespace` (and other keywords) to take arrays of things to start. I think the regex might be a stretch though.

It would probably also help if you could mount the same API under different namespaces, which is discussed in https://github.com/intridea/grape/issues/570

[2015-02-20 18:00] dblock commented on #863
Yes to the module, but ultimately Endpoint would extend it.

[2015-02-20 18:02] dblock commented on #668
See, I didn't know about https://github.com/rosylilly/grape-msgpack :) So yes, feel free to call that out the same way we talk about ActiveModelSerilizers for example.

[2015-02-20 18:03] dblock commented on #934
I would be down with enabling this in Grape via `Rack::Utils.status_code(status)`.

[2015-02-20 18:05] dblock commented on #453
You can make any regex here, including something very specific. And you can use `requirements: ` to lock it down further. So in this example you would want to disallow `/` by whitelisting what is possible in the component.

[2015-02-24 14:19] johnsinco opened #938 "rescue_from :all & Grape::Exceptions::ValidationErrors"
I was writing an integration test of our API and was having trouble understanding why I was getting a 500 response code on validation tests instead of the 400 response I was expecting.  Eventually I tracked it to our use of `rescue_from :all`.

It would be cool if we could still use `rescue_from :all` but for situations where the error is a validation error the returning response code would be a 4

[2015-02-24 22:56] johnsinco commented on #938
Upon further debugging today, we discovered that error.error_response doesn't allow the status code to be passed thru from the source error when you do a rescue_from :all, and do not specify a block for it.  So a validation error that would otherwise return a 400 status returns the default 500 status code.

https://github.com/intridea/grape/blob/873f801440ba0c08e4627d784f2865ffc0de0302/lib/grape/m

[2015-02-25 12:05] dblock commented on #938
I am going to close this by design, added some explanation in #939. For context here, `rescue_all`'s purpose is exactly to trap all exceptions and handle them in a uniform way, shortcutting any other decisions about status codes and such. It's a catch all.

If you want to return a 400 validation error with a catch-all, handle those explicitly via a `rescue_from Grape::Exceptions::Validations`.

I

[2015-02-25 12:05] #938 closed

[2015-02-25 13:26] kevinhq opened #940 "ActiveRecord::ConnectionNotEstablished"
I can run rake db:create, db:migrate, db:drop successfully. But when instantiating a user: User.new , it returns such error.

I used Postgresql adapter

Additionally, I have added this:
[code]

to config.ru

[2015-02-25 13:38] dblock commented on #940
Can you please bring this up on the mailing list, this doesn't have much to do with Grape.

[2015-02-25 13:38] #940 closed

[2015-02-25 13:39] dblock commented on #940
Btw, there's a working project with Grape + ActiveRecord here: https://github.com/dblock/grape-with-roar/tree/with-activerecord

[2015-02-26 01:14] u2 commented on #929
This issue and #928 can be closed I think.

[2015-02-26 04:40] florrain commented on #790
Agree too :+1:

[2015-02-26 09:13] zotherstupidguy commented on #57
@mbleigh could you point out where exactly the code that supports this type of nesting?

[2015-02-26 11:47] #929 closed

[2015-02-26 11:47] #928 closed

[2015-02-26 11:47] dblock commented on #928
Fixed.

[2015-02-26 11:47] dblock commented on #929
Fixed.

[2015-02-28 01:59] ramarnat opened #941 "How to mock oauth authorization across all rspec examples?"
[code]

causes this deprecation warning:
`Using rspec-mocks doubles or partial doubles outside the per-test lifecycle (such as in a before(:all) hook) is deprecated`

This is using rspec-mocks `2.99.0`

After opening an issue https://github.com/rspec/rspec-mocks/issues/903 and feedback from @myronmarston It appears that the stub code runs when the app methods for get/put run.

Now I am not sure if

[2015-02-28 19:45] dblock commented on #941
You should bring this type of things to the mailing list.

You can also delegate the method to a module, so instead of just `authorize!` do `AuthManager.authorize!` and then you can stub that.

[2015-02-28 19:45] #941 closed

[2015-03-03 15:16] JakubRacek commented on #830
@dblock What about a case when the params are used as a helper and the `requires/optional` is based on a condition?

imagine:
[code]

I would say in that case the @kuraga 's syntax is better

[2015-03-04 11:30] dblock commented on #830
I tried to write something better and failed, so I think I agree. It's also consistent with other options we support on `requires` and `optional`. Would like to see a PR, it would need to express `requires` and `optional` in terms of `param` of course.

[2015-03-05 20:42] florrain opened #945 "RSpec regression tests"
Hey,

I was wondering what you would suggest to test the regression between a V2 and a V1 of an endpoint with RSpec?

I'd like for example to run the V1 specs on the V2 specs but just the ones which wasn't overridden in the V2.

I'd like to avoid duplicated tests just like it works with versioning in Grape.

Thanks!

[2015-03-06 14:19] dblock commented on #945
Please use the [mailing list](http://groups.google.com/group/ruby-grape) for questions.

I would flag tests that are both v1 and v2 manually, something like `descibe 'reticulates splines', api: :v2 do ...` and run only the ones labeled accordingly. But maybe there's a way to do this better, I am sure someone will suggest something better on the list.

[2015-03-06 14:19] #945 closed

[2015-03-09 13:45] dabrorius commented on #934
Is somebody already working on this one? I would like to give it a shot.

[2015-03-09 15:30] dblock commented on #934
@dabrorius Give it a shot!

[2015-03-10 09:15] u2 opened #951 "Grape raise a error when `present []` together with `present` another entity"
I used grape-entity in grape.
[code]
When the `entries = []`, grape give me a error
[code]

[2015-03-10 09:33] u2 commented on #951
I think it maybe the problem of grape-entity, `DetailEntryUser ` can not inherit `root

[2015-03-11 14:19] #874 closed

[2015-03-12 02:00] u2 opened #954 "NoMethodError (undefined method `merge'"
This is my grape code:
[code]
my entities is like below:
[code]
but grape give a error:
[code]
My colleague and I check the code again and again,but did not find the problem.And we have used `grape-entity` for a long time.It's a little weird.

[2015-03-12 02:04] u2 commented on #954
Sorry, I find the problem, we forget  `with`:
[code]
It's a little shamed.

[2015-03-12 04:01] u2 opened #955 "Feature request: support present_hash"
My scenario is that we want to cache `present` like below:
[code]
The result is only `entry_user`, grape do not support `present` a hash, just support `present key, value`, and I don't want to write something for traversing the result and `present` all the keys again.So what about adding support for `present_hash hash`.
I am sure it's reasonable or not, it's just a suggestion.If it's not reasonabl

[2015-03-12 14:27] dblock commented on #954
I wonder whether we want a specialized error that says `missing :with` or something like that? I'll close, but feel free to PR something to that effect.

[2015-03-12 14:27] #954 closed

[2015-03-12 14:31] dblock commented on #955
Before you begin, you should be able to `present` a Hash by extending Hash, no? I would try that first.

Generally I think it's bad that you have an object half the time and a hash the other time through the same code.

I would cache the whole thing and would check out [garner](https://github.com/artsy/garner) for your caching problems.

[2015-03-13 03:11] u2 commented on #955
Yes, it's not good that `present` an hash and then `present` an object.But, for some special scenario, like below
[code]
We present a hash first, then we could not present a object, just can `merge` a hash.

Yes, garner[https://github.com/artsy/garner] is a good choice for caching the whole thing,but for the most time we want to cache fragment.

[2015-03-13 10:52] dblock commented on #955
For the purpose of this proposal, do you agree that `present Hash` should work? I mean we don't want another method called `present_hash`. If you do, see whether it actually doesn't work already (there was some work on HEAD in that direction).

[2015-03-13 10:54] chaixl commented on #914
I also meet this problem after upgrading Grape,  #809  is a break change and big problem for me.

Before upgrading, I specified the API format:
[code]
I can access API by api and api.format_type
e.g.
[code]
or
[code]

After upgrading,  /account/login.json will return 404 not found. If remove "format :json", only  /account/login.json can be used.
access /account/login directly will return
[code]

B

[2015-03-13 10:59] dblock commented on #914
You should be able to restore the old behavior by ensuring you have more than one format "supported", so after `format :json` add another content-type  via `content_type :foo, 'foo/bar'`. Let us know if that works. I am still looking for a PR for this.

[2015-03-13 11:00] dblock commented on #914
The culprit is [here](https://github.com/intridea/grape/blob/master/lib/grape/path.rb#L24).

[2015-03-13 15:06] u2 commented on #955
Yes, I have read the README again.

But, any solution for this problem?Maybe I can write some extended lib.

[2015-03-13 16:42] dblock commented on #955
I think your extension to allow `present <hash>` is reasonable. Unless I am missing something. Lets discuss it in the PR, I still have a few questions. Also if anyone else wants to pitch in that would be great.

[2015-03-13 17:13] michaelherold commented on #926
@pragmaticivan Are you setting up SimpleCov prior to loading your environment?

For example, if you are using RSpec

[code]

Ensuring that you have Simplecov set up prior to loading your environment is probably what you need to do. Otherwise, could you show us how you're setting up your test suite?

[2015-03-13 19:09] pragmaticivan commented on #926
Yes @michaelherold the problem is not withe the entire environment... is jut the covarage of grape files. I'm already using for models.

[2015-03-13 19:24] michaelherold commented on #926
I guess I'm confused as to what your precise problem is.

Are you wonder how to write a test to test the functionality? I do that with Rack::Test following roughly the [guidelines in the README][guidelines]. Are you using Rack::Test, or are you trying some other method of making the actual calls to your API?

If you have those tests that make calls to your API and SimpleCov isn't showing any test

[2015-03-15 18:51] reprah commented on #863
@dblock Hi, I've got a working implementation for path helper methods and would like your feedback about the overall idea before I keep moving forward.

I want to support helper methods for both simple cases (api_v2_statuses_path returns '/api/v2/statuses') and more complicated ones (e.g., users_path(id: 2, format: 'xml') would return '/users/2.xml') that need a programmer's input via arguments. H

[2015-03-15 20:18] dblock commented on #863
That sounds good, and that said you cannot have any ambiguity in these, ie. users_path either takes (aka requires) parameters or doesn't (cause it either has a dynamic portion or it doesn't).

[2015-03-15 23:24] shaqq commented on #404
@dm1try @Maxim-Filimonov @dblock

Could we re-open this issue? It feels a little hacky to "fix" this by adding hashie-rails. We're also seeing this issue in Napa, so it's not quite just Rails thing (probably ActiveModel or AR).

Also, anyone know what version of Grape this issue started popping up?

[2015-03-15 23:49] Maxim-Filimonov commented on #404
@shaqq hashie-rails is not rails specific anymore. Sorry for confusion, It works [with just ActiveSupport](https://github.com/Maxim-Filimonov/hashie_rails/pull/3)
@dblock do we need to rename gem to make it clear or ?

[2015-03-16 00:46] reprah commented on #863
Figuring out how to resolve that ambiguity is what I'm doing right now. There are two options I can see:

1.) Any required dynamic portion becomes part of the method name (e.g., '/users/:id/' becomes users_id_path)

2.) The arguments passed into the method determine which route is invoked (e.g., users_path() would use the route with the path '/users', and users_path(id: 1) would use the route with

[2015-03-16 06:50] tian-xiaobo commented on #938
@johnsinco
 If you want to return a 400 validation error with a catch-all, handle those explicitly via a
 rescue_from Grape::Exceptions::ValidationErrors do |e|
      error_response(message: e.message, status: 406)
 end

[2015-03-16 11:28] dblock commented on #404
I think that yes, the gem should be renamed or we're going to have confused users for a long time :) Maybe something like `hashie-protected-attributes`?

[2015-03-16 11:35] dblock commented on #863
Definitely 2).

[2015-03-16 12:46] dm1try commented on #404
@shaqq as you can see above, it's related to the interaction between `Hashie::Mash` and `ActiveModel`
1. `ActiveModel` [raises](https://github.com/rails/rails/blob/c0584ea0346062982cfe3c776c826ea1b026a8ac/activemodel/lib/active_model/attribute_assignment.rb#L10)  `ForbiddenAttributesError` if passed hash responds to `#permitted?` and return `false`
2. `Hashie::Mash` [returns `false`](https://githu

[2015-03-18 13:32] dblock opened #958 "Allow parameter only if another parameter is present."
For example:

[code]

You shouldn't be able to specify `shelf_reachable` unless `:shelf_id` is present.

[2015-03-18 19:31] durnoyabsurd opened #959 "Multiple params validations in optional Array scope"
Given the following specification:

[code]

It will fail with `foo, bar provide all or none of parameters` for: `?id=123` request, although `smth` is optional.

[2015-03-18 19:40] dblock commented on #959
That looks like a bug to me, care to build a test + maybe a fix?

[2015-03-18 19:58] durnoyabsurd commented on #959
Updated the issue, actually the problem takes place only if default value is specified.
I'll try to fix it.

[2015-03-19 08:04] dm1try commented on #959
This one already fixed in `master`

[2015-03-19 09:45] durnoyabsurd commented on #959
Checked it on `master` – it's ok.
Thanks!

[2015-03-19 09:45] #959 closed

[2015-03-19 13:39] anhhnguyen206 opened #961 "declared(params) not play well with rails strong parameters"
It seems like that this PR #797 which make `declared(params)` return `Hashie::Mash` instead of native `Hash` causing issue with Rails strong parameter, as it causes `attributes.respond_to?(:permitted?) && !attributes.permitted?` alway return false, unless when the hash has key 'permitted'.

[code]

Could we revert it back to normal Hash to make it play well with Rails?

Thanks, Anh Nguyen.

[2015-03-19 14:44] dm1try commented on #961
@anhhnguyen206 see [hashie_rails](https://github.com/Maxim-Filimonov/hashie_rails)

[2015-03-19 22:10] #961 closed

[2015-03-20 02:20] u2 commented on #955
It's can be closed.

[2015-03-20 02:26] u2 commented on #951
#954
So , I want to contribute a PR for specialized error that says `missing :with`

[2015-03-20 07:27] #955 closed

[2015-03-22 22:15] ka8725 opened #964 "Extract validations module to a gem"
In our project we are using successfully `grape` without validations. The idea is that you have to validate data in a controller layer (form objects or service objects, doesn't matter) and often we have to write rather complex validations anyway. So it doesn't make any sense to validate the got params twice: in the controller layer and in graper level. So I would suggest to extract the validations

[2015-03-23 07:39] kuraga commented on #964
It's good idea to think about gems separation before `1.0.0`...

[2015-03-23 08:28] dm1try commented on #964
It would be a good move.
As for me, it will also help to separate ["setup validations and compose a documentation"](https://github.com/intridea/grape/blob/b18f498ca396c84660b13ca2147f4078ece02fb2/lib/grape/validations/params_scope.rb#L106) logic from the params definition. (BTW, `#validates` has a bad method name, it should be smth like `process_param_definition` or similar)

[2015-03-23 11:16] dblock commented on #964
:+1:

[2015-03-23 13:48] hodak opened #965 "Response format is not deeply included in modules"
Hi, I have two APIs defined: `api/main` and `api/admin`. I use `module Defaults` to include settings and helpers for both. It looks like this:

[code]

It worked well before updating `0.10.0` which closed https://github.com/intridea/grape/pull/809

My endpoints stopped working because no `format :json` was defined even though it includes module that defines the format. It starts working after defi

[2015-03-23 17:07] petRUShka opened #966 "Error with passing array of hashes or array of arrays as params"
I have two different input

     let(:my_params) do
        {
            waypoints:{
             coordinates: [[55.542997, 37.540488] , [55.727232, 37.580328]]
            }
        }
      end

And

      let(:my_params) do
        {
          waypoints: [{
            coordinates: [55.542997, 37.540488]
          },{
            coordinates: [55.727232, 37.580328]
          }]
        }

[2015-03-23 18:19] dm1try commented on #966
There is nothing related to`grape`. You are trying to use HTTP params with rich data structures and doing it wrong (I suggest using JSON if it's possible).

To clarify, see your example:
[code]
it turns into `?waypoints[][coordinates][]=55.542997&waypoints[][coordinates][]=37.540488&waypoints[][coordinates][]=55.727232&waypoints[][coordinates][]=37.580328` query string (there are no hashes or arra

[2015-03-23 18:19] #966 closed

[2015-03-24 14:43] u2 opened #967 "use: Params :paginate not found! (RuntimeError)"
In my app, we use help method like this
[code]
[code]
But, when we start rails `rails s`, it will be exiting with `lib/grape/dsl/parameters.rb:34:in block (2 levels) in use: Params :paginate not found! (RuntimeError)`.
But when we put the help in `Cars`, it will be ok.
[code]
So, it's a bug or not?

[2015-03-24 15:05] dblock commented on #965
I think this is a bug, but I am not 100% sure. It seems that you should be bringing in everything, including the format - you should write a test that reproduces it to start.

[2015-03-24 15:08] dblock commented on #967
So the issue is that helpers defined in an API aren't available to a mounted API? I think this is not a bug, because it would otherwise introduce a circular dependency in which `Cars` depends on `Base` and vice-versa.

[2015-03-24 15:08] #967 closed

[2015-03-24 21:06] jpaas opened #968 "endpoints with same URL but different versions throws InvalidAcceptHeader on 0.11.0 w/ rescue_all"
I am mounting two versions v1 and v2, and I'm using the :header option. Two of the endpoints have the same URL /api/version.

In 0.10.1 I could select the correct version using the Accept header.
In 0.11.0 I can access v1(which is mounted first), but I can no longer select v2 (mounted second). It throws Grape::Exceptions::InvalidAcceptHeader.

[2015-03-25 14:54] dblock commented on #968
Could you try building a test that reproduces this?

[2015-03-26 02:48] shiju-d opened #970 "Error formatting"
Hi,
Is there any way to parse error response like this?
Say, { code: 'INVALID_REQ', message: 'Please submit required fields'  }
So far I could pass message key but not custom key 'code'. Please help.

Thanks.

[2015-03-26 02:51] shiju-d opened #971 "Logging"
Hi,

Is there any way to log all exceptions in to our own custom logger file? Actually I have created my own logger and everything inherited from Grape::API seems to log properly. But exception log still writing to development.log file. Could you guys please suggest a method to achieve this?

[2015-03-26 12:44] dblock commented on #970
I am not sure I understand. Parse where? With code? `JSON.parse(...)`?

Please bring up questions on the [google group](http://groups.google.com/group/ruby-grape).

[2015-03-26 12:44] #970 closed

[2015-03-26 12:46] dblock commented on #971
You can create custom error handlers that use your own logger file, maybe as simple as adding a `rescue_from :all` with a log block? Or a middleware?

Please bring up questions on the [google group](http://groups.google.com/group/ruby-grape).

[2015-03-26 12:46] #971 closed

[2015-03-26 19:10] jeremyhaile commented on #438
Thanks for the workaround. This is a huge pain. Please fix!

[2015-03-27 15:58] dentarg commented on #124
This is what I expected after implementing versioning according to the README of grape.

[2015-03-27 22:43] whatasunnyday commented on #889
Hey @dblock, I apologize for the delay on this. However, I believe I've found a better solution. I've created a method called `error!` that wraps `error_response`.

My recommendation is to encourage the use of `error!` over `rack_response`. By doing so, we can do the following:

[code]

People using `error_response` need not to change. `error_response` be a quick way to send an error while `error!

[2015-03-27 22:44] whatasunnyday commented on #889
Here is the failing test: https://github.com/whatasunnyday/grape/commit/844b5c962b51fe74b18faeb55120c1bf64aa6e7b

Here is the branch: https://github.com/whatasunnyday/grape/tree/error-new

Once again, I'm sorry for the extreme delay on this PR. I hope adding this is still interesting to you.

[2015-03-30 14:15] mattsnyder commented on #968
Confirmed with 2 separate apps. When upgrading from 0.9 to 0.11 we receive this error on endpoints with multiple versions.

[2015-03-30 14:57] mattsnyder commented on #968
Interesting, took one my projects where this was failing and stripped out all but the bare minimum and versioning works with both 0.9 and 0.11 using the header. See repo: https://github.com/mattsnyder/grape-versioning-example/tree/master

0.9 is the master and 0.11 is on a branch. Will try to investigate further.

[2015-03-30 15:10] mattsnyder commented on #968
@dblock @jpaas I found it!!

I began adding in behavior from my other apps that experienced this problem into this sample app and found it was when I added a `rescue_from :all` that the versioning broke.

So if you run the specs on the 0.11.0 branch a test will fail with:

[code]

I'm guessing error handling is used for version handling??

[2015-03-30 16:26] jpaas commented on #968
Yes I also have a `rescue_from :all`. Nice find!

[2015-03-30 20:23] mattsnyder commented on #968
@jpaas Also found an interesting bug in https://github.com/mjackson/rack-accept that prohibits the use of `_` in the hypermedia type. And underscore is allowed per http://tools.ietf.org/html/rfc6838#page-4 section 4.2.

We're working on a PR for rack-accept to fix it.

[2015-03-31 12:26] dblock commented on #124
I am down with the above, PR someone please?

[2015-03-31 12:27] dblock commented on #889
It is, would love an attempt at a fix?

[2015-03-31 12:28] dblock commented on #968
Interesting, care to link a bug in rack-accept?

[2015-03-31 12:28] dblock commented on #968
Also, again, we *want* a test in Grape for this.

[2015-03-31 13:14] mattsnyder commented on #968
@dblock No issue filed with rack-accept yet. @jerrod is currently working on that end of things.

Any insight into the bug that @jpaas and I found with versioning?

[2015-03-31 13:54] jerrod commented on #968
Here's the pull request for Rack-Accept -> https://github.com/mjackson/rack-accept/pull/17

FWIW this appears to be separate from the rescue :all issue @mattsnyder unearthed so perhaps we should split this discussion. I'd love to contribute some better specs to grape around header versioning.

[2015-03-31 18:28] whatasunnyday commented on #889
@dblock I gave it a shot. Any idea why it might be failing? Here's the stacktrace:
[code]

[2015-04-01 08:22] yr0 commented on #665
For anyone having similar trouble and thinking it is Grape's memory leak, please check if you are not doing what is described below.

Here's rough reproduction of what seems like a Grape leak:

    require 'grape'
    require 'rack/test'

    class TestCl < Grape::API
      prefix "api"

      get do
      end
    end

    describe TestCl do
      include Rack::Test::Methods

      let(:app) { sub

[2015-04-01 09:27] slauwers commented on #665
@yr0 Thanks a bunch. This has indeed solved the problem I was having. @dblock, I guess we can close this one.

[2015-04-01 12:06] dblock commented on #665
This makes sense. Every time you use `subject` it creates an instance of `TestCl`, which does work, but never gets GCed and is not what you're supposed to use since Grape APIs are classes, not instances. I'd appreciate if @slauwers and @yr0 could quickly parse through Grape tests and README and see if we do this anywhere and potentially PR some doc. Otherwise I think it's one of those gotchas and

[2015-04-01 12:06] #665 closed

[2015-04-01 12:07] dblock commented on #889
[This json signature](https://github.com/intridea/grape/blob/master/lib/grape/exceptions/validation_errors.rb#L27) is incorrect. The method should be taking an argument as all these `as_json` methods do by "design", so `def as_json(_ = {})`. Please fix it in Grape.

[2015-04-01 12:31] slauwers commented on #665
@grape: I'm in the process of leaving the company this account is linked
to, so doing any kind of work on this during business hours is going to be
tricky. I'll see if I can work through this in my spare time, on my
@teotwaki account.

On 1 April 2015 at 14:06, Daniel Doubrovkine (dB.) @dblockdotorg <
notifications@github.com> wrote:

[2015-04-01 20:37] whatasunnyday commented on #934
@dblock Looks this issue can be closed.

[2015-04-01 20:40] dblock commented on #934
Yep.

[2015-04-01 20:40] #934 closed

[2015-04-01 21:04] whatasunnyday commented on #810
@dblock Can I take this on? Also, if I don't respond within 30 days anyone else should feel free to take this on.

[2015-04-01 21:48] #889 closed

[2015-04-01 21:48] dblock commented on #810
Of course @whatasunnyday, no need to ask, just make pull requests!

[2015-04-02 22:43] u2 commented on #958
That's a good idea.I just have this demand.
[code]
We want at least one of `cars_params` and `car_sets_params` is present.

[2015-04-03 12:26] dblock commented on #958
@u2 We already have `at_least_one_of`.

[2015-04-03 13:03] u2 commented on #958
Thank you.:smile:

[2015-04-09 10:07] thimios commented on #226
the sample is not online anymore... any other links / suggestions on this?

[2015-04-09 11:15] dblock commented on #226
https://github.com/geekazoid/grape-warden
also http://code.dblock.org/2011/05/04/grape-api-authentication-w-devise.html

[2015-04-10 02:35] TangMonk opened #982 "undefined method `error!' for #<Grape::Middleware::Error:0x007ffdfd9d3840>"
require 'grape-swagger'

[code]

I want to catch all unexpected error.

But there is an error:

![image](https://cloud.githubusercontent.com/assets/3498786/7080978/4ea8137c-df6d-11e4-8c95-09e342b17b7f.png)

[2015-04-10 11:10] dblock commented on #982
This hasn't shipped yet, was added in https://github.com/intridea/grape/pull/974.

[2015-04-10 11:10] #982 closed

[2015-04-10 17:08] smackesey commented on #932
Yes, I would also like the ability to have an optional url param as @elado mentioned in this [google group thread](https://groups.google.com/forum/?fromgroups#!topic/ruby-grape/YgWk58QABbs).

[2015-04-14 03:30] limbo-lab opened #984 "post generates get route"
[code]

[code]
get ""

[2015-04-14 07:57] dm1try commented on #984
it's [by design](https://github.com/intridea/grape/blob/bb4d19baef7b34b3e459d8b48c98a4065fa81e14/lib/grape/api.rb#L123)
[code]

[2015-04-14 07:57] #984 closed

[2015-04-14 13:21] mattsnyder commented on #968
@dblock Any movement on this? Or an idea why/where this is occurring?

[2015-04-14 22:03] dblock commented on #968
I don't have any additional insight into this :(

[2015-04-15 03:43] u2 commented on #570
Intreasting!I want to make a PR,but it looks not easy for me.

[2015-04-15 12:39] nalbeza opened #986 "Access request in custom validators."
Is it possible to access request context in custom validators ?

It would be very useful, for example to check for uniqueness or use helpers such as current_user.

[2015-04-15 18:09] dblock commented on #986
It certainly is. See https://github.com/intridea/grape/blob/master/lib/grape/validations/params_scope.rb#L8 for how it plucks various things at construction time - I think this is what you're looking for.

Use the mailing list for questions, if the above doesn't work post some code of what you'd like to accomplish.

[2015-04-16 04:31] blakeperdue commented on #556
Any update on this? I've noticed we're seeing sensitive auth tokens being stored in our logs. We had filter_parameters working before implementing Grape.

[2015-04-16 04:33] blakeperdue commented on #556
Adding 'api.request.input' to filter_parameters is not working for me in Rails 4. Here's my config line:

`config.filter_parameters += [:authentication_token, 'api.request.input']` in config/application.rb

Any ideas @swils or @ujjwalt ? Thanks.

[2015-04-16 04:42] blakeperdue opened #989 "config.filter_paremeters not working with Grape"
Adding a filter to /config/initializers/filter_parameter_logging.rb is not working in Rails 4 with Grape v0.11.0

I have added a filter: `Rails.application.config.filter_parameters += [:password, :authentication_token]` but I'm still seeing `:authentication_token` in my logs:

```SELECT  `users`.* FROM `users` WHERE `users`.`authentication_token` = '$2a$10$ZTygoKxHQnQGeb4oWJyq283hdkHc2IOrxOgX9r0IX

[2015-04-16 10:50] dblock commented on #556
For Rails, it *should* work, maybe you want to add to https://github.com/dblock/grape-on-rails to demonstrate?

For an implementation in Grape, I think the next step is to write a test that shows the intent of what we want.

[2015-04-16 19:09] jcavalieri commented on #884
Just tried this again. And it works fine as is. I'm not sure what happened. I'm assuming user error. However we did have some refactoring to consolidate our api, so likely the issue was somewhere in there. Dunno.

Closing this issue.

[2015-04-16 19:09] #884 closed

[2015-04-17 06:23] limbo-lab opened #990 "grape date validation"
[code]
How do I know what the time format I should provide for params[:birthday]? It seems it's not documented nor in spec.

[2015-04-17 10:20] kavyavj opened #991 "Issues after grape upgradation"
When using grape(0.5.0) for the parameter type Integer got the validation error message "invalid parameter: 'parameter_name'" .But after upgrading to grape(0.11.0) this exception is not being caught.

Also with grape(0.11.0) the parameter with Type array is not displayed on the swagger.
parameter is defined like this:

params do
    requires :settings, :type => Array
end

[2015-04-17 13:17] lpil opened #993 "Allow definition of custom types"
Hello! Thank you for Grape. :)

We would like to be able to do something like this:

[code]

Rather then set the type as String, and then validate the format of that string. We realise we can achieve the same result using validators, but we think this would be a more elegant, declarative syntax.

Is this possible?

Thanks,
Louis

[2015-04-17 15:38] dblock commented on #990
I believe anything that passes `Date.parse` will work. But don't take my word for it.

Please use the mailing list for questions and would love a pull request that improves the README w/ tests that demonstrate what the README says.

[2015-04-17 15:38] #990 closed

[2015-04-17 15:39] dblock commented on #991
This is a lot of Grape versions ago. I don't think I quite understand what you're trying to say here though, would you be so kind to bring this up on the mailing list with a more complete example, thanks!

[2015-04-17 15:39] #991 closed

[2015-04-17 15:45] dblock commented on #993
It probably is with a bit of work - you need to dig through the implementation because `type` is something special. Grape's validation is based on Virtus (https://github.com/solnic/virtus), so I think defining a Virtus type for UUID would be sufficient. I don't know exactly how, will leave this open as a feature request.

[2015-04-19 02:03] blakeperdue commented on #39
@dblock Can you provide an example? @rubencodes @letronje @leondu Did you ever figure this out?

[2015-04-20 03:17] u2 commented on #892
See #994.It can be closed, I think.

[2015-04-20 10:50] dblock commented on #892
Closing, @adamcooper please confirm.

[2015-04-20 10:50] #892 closed

[2015-04-20 11:13] thimios commented on #438
Would be great to fix this, also the workaround does not work for me:

class App < Grape::API
  rescue_from ActiveRecord::RecordNotFound do |e|
      env['api.endpoint'].error!( e.message, 404 )
  end
end

Gives:

ArgumentError: uncaught throw :error

any ideas?

thanks!

[2015-04-21 08:37] u2 commented on #964
:+1:

[2015-04-22 10:21] josh- opened #998 "NoMethodError from active_support when using sample code"
I've also encountered the issue that [@funny-code](https://github.com/funny-code) mentioned in #327. @dblock asked them to open another issue to inspect it further but they don't appear to have done so.

In short, when using the sample code (my lightly-customised version that I reproduced this error with is available [here](https://gist.github.com/josh-/4a5e0157628db3ece436)), the following stack

[2015-04-22 10:22] josh- commented on #998
I should also mention that I'm using grape with system ruby (ruby 2.0.0p481) on OS X 10.10.3. Thanks!

[2015-04-22 21:51] dan-corneanu opened #999 "referencing one API endpoint into another's API endpoint description"
Hello there,
I have two APIs like this:
* /api/v1/funds
* /api/v1/direct_debit

I would like to make a reference from the description attached to /api/v1/direct_debit to /api/v1/funds, something like this:

[code]

and get back something like

[code]

Is there a way to achieve this?

[2015-04-23 08:27] dm1try commented on #999
ATM it's not possible. See https://github.com/intridea/grape/pull/983

[2015-04-23 08:38] dm1try commented on #998
In [your gist](https://gist.github.com/josh-/4a5e0157628db3ece436) you use `bundler` but you miss a `bundler/setup`configuration  - http://bundler.io/bundler_setup.html. You should fix it and re-check.

[2015-04-23 09:52] aserafin commented on #438
I'm using it like this https://github.com/aserafin/grape_logging#logging-exceptions. You can also checkout the gem itself - it provides you with basic similar to Rails logging features.

[2015-04-23 11:01] dblock commented on #999
I am going to close this since #983 describes exactly this feature request.

[2015-04-23 11:01] #999 closed

[2015-04-23 11:02] dblock commented on #998
@dm1try is right on, closing, reopen if this doesn't resolve your problem

[2015-04-23 11:02] #998 closed

[2015-04-24 06:31] josh- commented on #998
This resolves the problem – thanks so much!

[2015-04-24 11:06] uppfinnarn commented on #920
Any updates on this? The detail -> notes thing sounds like a really quick fix for a rather annoying bug, and getting that alone down for now would work until a more extensible DSL is worked out.

Right now, `detail` can be considered plain ol' broken with `grape-swagger`, which means I have nowhere to put important information such as rate limiting, a warning that one of my endpoints return a bloo

[2015-04-24 16:55] skwp commented on #381
thanks (two years later)

[2015-04-25 01:50] calfzhou commented on #920
I myself monkey-patched Grape::Route class to treat `detail` as `notes`:

[code]

[2015-04-26 12:58] hodak commented on #965
Hi, sorry for taking such a long time. I've created PR and explained it there: https://github.com/intridea/grape/pull/1001

[2015-04-27 07:48] hidogcat opened #1002 "Boolean validation failed"
Hi there,
There is a defect about validation, for example:
WHEN
params: some_name do
   xxx
   requires :some_symbol, type: Grape::API::Boolean, allow_blank: false
   xxx
end
THEN
send the request with some_symbol = false
GOT
a bad request with "error": "some_name[some_symbol] is empty"

This happened when allow_blank is false

Best regards,
Zhijia

[2015-04-27 11:47] dblock commented on #920
Can we have a PR for this please?

[2015-04-27 11:51] dblock commented on #1002
Please try to write a spec for this?

[2015-04-27 15:35] dblock commented on #914
This has been reverted via https://github.com/intridea/grape/pull/1001, please test.

[2015-04-27 15:35] #914 closed

[2015-04-27 16:12] hodak commented on #965
Pull request has been merged, closing.

[2015-04-27 16:12] #965 closed

[2015-04-28 06:48] kavyavj commented on #991
When using grape(0.5.0) and grape (0.11.0) I get the below response when
the parameter plan_price_cents is passed as empty string.

1. With grape(0.5.0)

​

​
2.With grape (0.11.0)

​
With latest version of grape error message 'invalid parameter' is not
received.

On Fri, Apr 17, 2015 at 9:09 PM, Daniel Doubrovkine (dB.) @dblockdotorg <
notifications@github.com> wrote:

[2015-04-28 11:25] dblock commented on #991
@kavyavj Can you please email the list with details of the question, your code has been stripped above.

[2015-04-29 02:24] urkle opened #1003 "Globals middleware is missing from autoload and references an undefined method"
the Globals middleware isn't defined in the autoload sequence in the main grape.rb and also, it references an undefined "request" method.

[2015-04-29 07:10] u2 opened #1004 "api order"
[code]
[code]
This is a bug or not?Or I should always write as placing `/:id` at last.

[2015-04-29 07:15] kuraga commented on #1004
Not bug. First definition is asked first. `':/id` is like a regular expression. `'foo'` satisfies it.

[2015-04-29 07:29] u2 commented on #1004
ok, thanks. :)

[2015-04-29 11:16] dblock commented on #1003
What happens with ^^^? If the autoload is just the issue, PR a fix please?

[2015-04-29 11:16] #1004 closed

[2015-04-29 13:42] urkle commented on #1003
created a PR with a fix.

[2015-04-29 13:42] #1003 closed

[2015-04-30 00:27] urkle opened #1006 "No longer can rescue SecurityError exceptions with rescue_from"
In grape 0.4.1 we could do this.
[code]
However since 0.6.1 this is no longer possible as the error middleware is only catching StandardError instead of Exception

This change was made in this commit f038ed5457cef80

Is this an intended change or just accidental from the Rubocop addition?

[2015-04-30 14:13] dblock commented on #1006
I think this was intended, but maybe we should reconsider? Why would something be throwing SecurityError inside a request?

[2015-04-30 15:36] tomchristie commented on #467
This is a browser issue, not an issue in grape.
JSON should not include a charset in the media type.

From [the `application/json` registry](http://www.iana.org/assignments/media-types/application/json):

See also https://tools.ietf.org/html/rfc4627#section-3

[2015-04-30 22:01] urkle commented on #1006
I'm actually throwing it in certain conditions in some API methods to denite that "the user tried to do something they were supposed to"..   a specific example was in a client API endpoint we deprecated value for one of the options and threw the security error if any "old" client attempted to use that functionality so we could track it.

Right now we are in the process of upgrading our application

[2015-05-01 13:58] dblock commented on #1006
I think that Grape is doing the right thing and should not be rescuing and potentially swallowing SecurityError, it's something that is purposely not deriving from StandardError, it's raised when attempting a potential unsafe operation, typically when the $SAFE level is raised above 0.

You're doing the right thing reworking the code. A real SecurityError thrown should be handled differently from

[2015-05-01 13:58] #1006 closed

[2015-05-05 01:27] ctembreull opened #1009 "Allow param definitions in route_param"
It seems like it would make sense to at least allow the 'type' modifier in a route param call. Instead of doing:

    route_param :foo do
        params do
            requires :foo, type: String
        end
        #...
    end

it would make a lot more sense to simply say:

    route_param :foo, type: String do
        #...
    end

[2015-05-05 09:29] udiudi opened #1010 "Error response returns invalid fields differently in 0.11"
Hi

I've upgraded grape 0.7 to 0.11.

My exceptions change from
``ruby
{"status":400,"message":"board_id is invalid","errors":{"board_id":["is invalid"]}}
``

to
``ruby
{"status":400,"message":"board_id is invalid","errors":{"[\"board_id\"]":["is invalid"]}}
``

Note the board_id in errors field.

Any idea what causes it? how I can change it back to what it was?

Thanks

[2015-05-05 13:02] chrisdebruin commented on #786
have the same issue, anybody resolved this problem without doing the force_encoding hack?

[2015-05-05 14:55] dblock commented on #1009
:+1:

[2015-05-05 14:57] dblock commented on #1010
Looks like a bug to me, care to write a test that reproduces this?

[2015-05-05 14:58] udiudi commented on #1010
Kinda new to this, could you explain what you need?

[2015-05-05 15:01] kuraga commented on #1009
No ambigiouty or conflicts?

[2015-05-05 15:06] ctembreull commented on #1009
I wouldn't believe so, but I haven't started looking at what it would take to do this, either. It should function the same as `required :param_name, type: Type, {...}` in other params definitions, but it would have the extra power to declare a new route section as it does now. `route_param` already requires that parameter to be in place to access any of its nested routes.

[2015-05-05 15:13] dblock commented on #1010
See https://github.com/intridea/grape/blob/master/CONTRIBUTING.md. You'll find tests for the contents of the `errors` part, write an RSpec test that reproduces what you're describing, make a pull request with just the test. It's possible that this is by design, but I am not sure why we would design it this way.

[2015-05-05 16:18] oncity opened #1011 "Rails 4.2.1 Header 404 error"
Rails 4.2.1 + grape
====================
HTTP/1.1 404 Not Found
Server: openresty
Date: Tue, 05 May 2015 16:15:27 GMT
Content-Type: text/html; charset=utf-8
Content-Length: 183884
Connection: keep-alive
Keep-Alive: timeout=5
Vary: Accept-Encoding
Status: 404 Not Found
X-Request-Id: 883ad0d1-9add-4a0d-bf4e-d45b580a894d
X-Runtime: 0.514069

====================
Rails 4.2  is OK

[2015-05-05 16:45] dblock commented on #1011
What's the question?

[2015-05-05 17:55] mfunaro commented on #1002
I've noticed this too. I believe it's because the allow_blank validator is using the rails present? method which will treat false as not present and therefore fail the validation.

[2015-05-06 09:37] tvaillancourt opened #1013 "Array-type Parameter Validation?"
Hey guys,

Just to start: this is not an issue but more of a question or possible feature-request. Also, thanks for making Grape, really enjoying it!

I've built an API in Grape that accepts JSON in the body of PUT/POST requests and my API spec requires the body to be an array-type list of documents/hashes to be updated, each document having the exact same required fields.

Because my API spec req

[2015-05-06 15:21] mfunaro commented on #1013
Not knowing what the code looks like, why not structure the params so that it requires an Array type which has nested hashes?

Something like this
[code]

[2015-05-06 15:25] dblock commented on #1013
Grape allows for arrays of hashes, via `type: Array` for a `group`, I think. If you can't get it to work, bring this up on the [mailing list](http://groups.google.com/group/ruby-grape)?

[2015-05-06 15:25] #1013 closed

[2015-05-06 16:04] oncity commented on #1011
grape run at Rails 4.2.1 , always responder 404 status

but same app run at  Rails 4.2 is ok.

[2015-05-06 17:19] dblock commented on #1011
I upgraded https://github.com/dblock/grape-on-rails to Rails 4.2.1 and everything works as before. Show us the problem please.

[2015-05-07 03:06] tam-vo commented on #39
I'd like to set locale for all actions, how can I do that with all API? I tried with BaseAPI, and define like this:
[code]
then others will be extended from this class, but above snippet is never run

[2015-05-07 11:53] dblock commented on #559
Note that https://github.com/rack/rack/pull/756 back-ported the fix into Rack 1.5.3.

[2015-05-07 11:53] dblock commented on #602
Closing, this was fixed in Rack 1.5.3 via https://github.com/rack/rack/pull/756.

[2015-05-07 11:53] #602 closed

[2015-05-07 11:55] dblock commented on #39
@tam-vo It should. Try this in the actual API class, I imagine that will work. Then try again in the base class, if it doesn't work open a new bug please (with a test would be nice).

[2015-05-08 05:44] dm1try commented on #786
@chrisdebruin , try update your `rack` to version `~> 1.6.0`.
Seems like this encoding problem is fixed [here](https://github.com/rack/rack/commit/5c7f9c61f84d52d455f99dd783bbc4a1d33f625d#diff-cf7f8c59e9c8e133ae3a83ab322da380R59).

BTW, @sbounmy is right, `rfc2388` says

   "Content-Type", which defaults to text/plain.  If the contents of a
   file are returned via filling out a form, then the fil

[2015-05-08 05:44] #786 closed

[2015-05-08 12:03] chrisdebruin commented on #786
@dm1try thnx works for me

[2015-05-08 21:25] pablocrivella opened #1014 "HEAD Request not Working"
[code]

routes.rb

[code]

[2015-05-08 21:34] pablocrivella commented on #1014
could this be related?
https://github.com/rails/rails/issues/18698
I also tried mounting the API on /api' but the error persists.

[2015-05-09 01:52] dblock commented on #1014
And https://github.com/rails/rails/pull/19431.

[2015-05-09 01:52] dblock commented on #1011
Are you trying to demonstrate https://github.com/intridea/grape/issues/1014?

[2015-05-09 01:53] dblock commented on #1014
It would be nice to get a (failing) test for this in https://github.com/dblock/grape-on-rails.

[2015-05-09 18:11] pragmaticivan commented on #926
The problem was that I was invoking SimpleCov on `rails_spec` instead  `spec_helper`.

Sorry.

[2015-05-09 18:11] #926 closed

[2015-05-09 18:18] pragmaticivan commented on #689
Can you give more details? +1

[2015-05-11 11:52] tvaillancourt commented on #1013
Fantastic, thanks dblock. I will try and discuss on the mailinglist, I didn't realize there was one.

[2015-05-14 13:02] MSadir commented on #621
Hi, has anyone taken this on?

[2015-05-14 17:25] wmiller848 opened #1015 "Parameter Dynamic Required vs Optional Validation"
First thanks for the sweet framework, my team and I are big fans of grape. And perhaps this a good opportunity to contribute back.

I was however unable to find any additional information related to the ability to change params required/optional state at runtime/request time.

The use case is that the API based off some values in the request can dynamically enforce optional vs required behavior. N

[2015-05-15 09:08] dm1try commented on #1015
to be able to do this you should extend [Grape::Validations::Base](https://github.com/intridea/grape/blob/master/lib/grape/validations/validators/base.rb#L9) with a method that will change `required` state of a validator. then you can access to all endpoint validations using `route_setting(:saved_validations)` in `before_validation` block.

as for me, it seems like an app-specific feature(the clie

[2015-05-15 09:23] dm1try commented on #621
@MSadir pretty sure, nobody

If anyone will try to implement this
do not forget about DSL for multiple validations on the single param
[code]

[2015-05-20 10:19] roxer commented on #1011
After upgrading to Rails 4.2.1 from 4.2.0
I had to explicitly add format in root api class regardless of format in mounted classes
https://github.com/dblock/grape-on-rails/blob/master/app/api/api.rb

[2015-05-20 10:20] roxer commented on #1011
After upgrading to Rails 4.2.1 from 4.2.0
I had to explicitly add format in root api class regardless of format in mounted classes
https://github.com/dblock/grape-on-rails/blob/master/app/api/api.rb

[2015-05-20 14:11] dblock commented on #1011
Bump @oncity

[2015-05-22 01:04] u2 commented on #689
More details?

[2015-05-25 08:49] Fjan commented on #1014
I ran into this too. It's easy to reproduce, a HEAD request in an integration test will fail on any route with :via => :all, for example:
`match '/:controller(/:action(/:id))',  :via => :all`

A quick fix to make it work is to enumerate the verbs you support, for example:
`match '/:controller(/:action(/:id))',  :via => [:get, :post, :delete, :head]`

[2015-05-25 10:34] Fjan commented on #1014
I just confirmed that this is fixed by https://github.com/rails/rails/pull/19431 I suggest we track this there

[2015-05-25 15:09] brodock opened #1018 "Unify Ecosystem"
I would like to suggest that you unify all grape related projects into a single "organization", to make the ecosystem around it stronger.

As an example of what should be considered (I've listed the most active and still maintained projects):

## Functionality
* [grape](https://github.com/intridea/grape)
* [grape-entity](https://github.com/intridea/grape-entity)
* [grape-rabl](https://github.com/L

[2015-05-25 15:19] kuraga commented on #1018
And consider `grape` demodulation.

P.S. @brodock insert links to project pages, please?

[2015-05-25 15:26] brodock commented on #1018
@kuraga sure! I will edit the post

[2015-05-25 15:26] kuraga commented on #1018
Thanks very much about this topic!

[2015-05-25 16:00] dblock commented on #1014
Since this is a Rails bug I am going to close this.

[2015-05-25 16:00] #1014 closed

[2015-05-25 16:03] dblock commented on #1018
Generally I don't find discoverability being a problem, but I understand how the ecosystem could be stronger.

I feel torn about the unification of such things, I really like the distributed nature of open-source and I also really like that owners of gems stand behind those gems as opposed to having some centralized Soviet style "organization". I wish there was a virtual "organization" that could

[2015-05-25 17:17] brodock commented on #1018
I was more concerned of some gems being maintained as fork of a fork of a fork...

My initial suggestion is to delegate the ownership of the repositories for their respective maintainer, while having a "single point of discovery" here, and perhaps this could potentially help related gems talk to each other and collaborate in a better way.

Things like enabling gitter.im for the organization and fo

[2015-05-25 18:48] whatasunnyday commented on #1018
Hey @brodock, thanks so much for suggesting this. It's something I thought about frequently myself. The burden of maintenance is a tough question and OSS requires a group effort. I don't think discoverability is a core issue because the wiki includes a list of projects. A better suggestion to improve discoverability could be to include the link to related projects into the README. This would let p

[2015-05-25 19:17] brodock commented on #1018
@whatasunnyday sure! I listed all the gems I could find that are somehow maintained and may look useful for the majority of users.

I understand that selecting the "most useful ones" (you can call it core), is a good start point... and be open to include others as soon as they become more mature and wild used.

What do you think?

[2015-05-26 02:08] whatasunnyday commented on #1018
I think that's a good call.

[2015-05-26 12:08] hobofan commented on #1018
+1 to what @whatasunnyday said.

I generally like the idea of an umbrella org, because it usually comes with some quality guarantees (which of course mean more burden on maintainers).

I think especially semi-popular gems could benefit from it (or some other form of enhanced communication), since quite a few of them ignore facilities provided by grape (e.g. ignoring Helper modules and implementing

[2015-05-26 18:01] guizmaii opened #1019 "Name collision"
Hi,

As explained here : https://github.com/egonSchiele/contracts.ruby/pull/154, I use the ```Contracts``` gem (https://github.com/egonSchiele/contracts.ruby/) in one of my Rails project.

It works fine until I put ```grape``` in my Gemfile.

When I add ```grape```, I have name collisions between one of my rails model named ```Support``` and one of the ```Contract``` module named ```Contracts::Sup

[2015-05-26 19:39] dblock commented on #1019
I am confused to how grape would introduce this problem by just being included, maybe you can try and produce a small repro?

[2015-05-28 18:57] Crashtown commented on #827
:+1:

[2015-05-29 10:01] NobodysNightmare opened #1020 "Endpoints expecting `multipart/related`?"
Hi,

from reading the docs I could find out that grape basically seems to support multiple `multipart` content types, including `multipart/related`.

However, the relevant section of the documentation just reads:

I see how that is working for `multipart/form-data` and it works beautiful for that `Content-Type`.
However, at the moment I am not sure if that is the right thing to do for an API that

[2015-05-29 13:40] dblock commented on #1020
I think it's not natively supported by Rack, so you might need [rack-multipart_related](https://github.com/lucasfais/rack-multipart_related), try adding it ahead of Grape (config.ru)? I would appreciate it if you could please add a demo with tests to https://github.com/dblock/grape-on-rack.

[2015-05-30 12:56] zulkamal opened #1021 "Nested routes causing Rails - Unable to autoload constant error"
I'm having an issue with setting up this route in a rails mounted api: `/api/v1/customers/:customer_id/stores/:store_id/products`

The api is defined in a customers.rb:

[code]

The rest of the route works perfectly:

- `/api/v1/customers/:customer_id` - ok
- `/api/v1/customers/:customer_id/stores/:store_id` - ok
- `/api/v1/customers/:customer_id/stores/:store_id/products` - fails

The error is od

[2015-06-01 09:53] NobodysNightmare commented on #1020
I'll see if I can get it running using `rack-multipart_related` in my spare time.
For now I have chosen the path of least resistance and use `multipart/form-data` in the API. I fear that clients will face similar difficulties with their libraries when I would force them to not use `multipart/form-data`.

[2015-06-01 11:25] NobodysNightmare opened #1022 "Files not passed as UploadedFile"
Hello,

I noticed that uploaded files are passed into my endpoints as `Hashie::Mash`, e.g.:

[code]

This was not a big deal for me while mocking around, I just "converted" the hash into an `UploadedFile`, by instantiating my own one, the spirit being something like:

[code]

### The moment it breaks

Trying to write specs for such an endpoint using [rack-test](https://github.com/brynary/rack-test

[2015-06-01 13:31] dblock commented on #1021
Notice that you have a double `api` in the error - you bneed to have `app` in your loading path, not `app/api` and I think it will work. I'll close this since it's not a Grape issue, but feel free to bring this up on the mailing list if you still can't figure it out.

[2015-06-01 13:31] #1021 closed

[2015-06-01 13:39] dblock commented on #1022
Can you take a look at https://github.com/dblock/grape-on-rack/blob/master/spec/api/upload_file_spec.rb, is this happening in that project as well?

Sounds like you just don't have the right content-type on the upload in the test, but I am not sure.

[2015-06-01 14:48] NobodysNightmare commented on #1022
I had a look at the content type:

[code]

url-encoded sounds definitely wrong, I will have a look in that direction. But basically the expected behaviour is, that I put an `UploadedFile` into my spec and my endpoint gets to see a `Hashie::Mash`, right?

I'll call back as soon as I know more.

[2015-06-01 15:06] NobodysNightmare commented on #1022
Arg...

Sorry for bothering you, the error was on my side. Twice! But due to inability to read I did not realize it.

**Fail 1:**

I handcrafted a `Rack::Multipart::UploadedFile` instead of a `Rack::Test::UploadedFile`. This led to `Rack::Test` not recognizing it as a file, thus simply sticking with URL encoding for everything.

After using `Rack::Test::UploadedFile` the spec works as it should.

[2015-06-01 15:06] #1022 closed

[2015-06-01 15:41] dblock commented on #1022
No worries! Happy help.

[2015-06-01 15:55] dblock opened #1023 "Present with a class that behaves like a hash causes early rendering at best and usually hard to debug errors"
A Mongoid::Criteria, for example, responds to `merge`, so [this](https://github.com/dblock/slack-gamebot/commit/57e492bd485be9725e44e8550188753cb97e9a3b) was required to present it. This is because of https://github.com/intridea/grape/blob/master/lib/grape/dsl/inside_route.rb#L209, clearly we need a better solution here, maybe simple by registering representable classes?

[2015-06-01 19:05] dblock commented on #1023
Maybe we can refactor this with some kind of presenter registration DSL?

[2015-06-01 19:09] dblock commented on #1023
Here're some examples of what I have on the rhs of `present`:

[code]

[2015-06-02 02:00] merqlove commented on #839
@dblock Yes, it is.
But i did it right via custom formatter.
Other solutions won't help (middleware).

[2015-06-02 13:09] #1023 closed

[2015-06-03 23:14] elado opened #1028 "Array of hashes param not being parsed correctly in a spec"
It might be a Rack issue, but:

[code]

Output is:

[code]

Rack(?) couldn't infer where each element starts so it combined both first items.

For a workaround I can send a Hash `{0=>{name: ..., email:}, 1=>{email: ...}}` and before validation do:

[code]

Any other suggestions?

[2015-06-04 12:36] dblock commented on #1028
This looks legit, but I am not sure how to fix it. Arrays of hashes is not exactly something you can express in a query string.

For something like this I would POST JSON.

[2015-06-04 17:53] elado commented on #1028
The client sends JSON body so I'm covered there.

Maybe, if a param is defined as a `type: Array` and it looks like a hash with numeric keys it should convert automatically to an array of the values?
I understand why Rack does what it does, the only solution I see is not using key-less params (as in `contacts[]` but `contacts[0]`).

[2015-06-04 18:10] dblock commented on #1028
I would just let this go, but it's me :)

[2015-06-05 15:35] Fryie commented on #810
IMHO declared(params) should be the default. Otherwise, it's just too easy to inject a mass assignment vulnerability in a Grape API. This lesson has been learned by Rails, that's why we first had attribute_accessible and now strong_params.

[2015-06-05 15:45] guizmaii opened #1031 "Release the 0.12.0 version ?"
Your last release, 0.11.0, is now old.
You have fixed some important (for us at least) issues like #1012 and others.

It's maybe a good time to release a new version (without major bugs, of course), don't you think ?

[2015-06-09 17:15] dm1try commented on #1028
@elado I would use a midlleware to convert hashes with numeric keys to array.
For example the similar is already implemented [here](https://github.com/typhoeus/typhoeus/blob/master/lib/rack/typhoeus/middleware/params_decoder/helper.rb) ([spec](https://github.com/typhoeus/typhoeus/blob/master/lib/rack/typhoeus/middleware/params_decoder/helper.rb))

[2015-06-09 17:25] dm1try commented on #1019
Any news? Seems it's not related to `grape` at all.

[2015-06-09 17:26] elado commented on #1028
@dm1try thanks!

[2015-06-09 17:33] guizmaii commented on #1019
Effectively ! I close the issue. Sorry for that.

[2015-06-09 17:33] #1019 closed

[2015-06-09 18:45] dm1try commented on #1002
Fixed in https://github.com/intridea/grape/pull/1012

[2015-06-09 18:45] #1002 closed

[2015-06-09 18:59] dm1try commented on #1010
@udiudi, do you need some help? The validator in your example is custom one?

See upgrading notes [1](https://github.com/intridea/grape/blob/master/UPGRADING.md#changes-to-custom-validators), [2](https://github.com/intridea/grape/blob/master/UPGRADING.md#changes-to-raising-grapeexceptionsvalidation)

[2015-06-09 19:06] dm1try commented on #989
I'll close. Related to https://github.com/intridea/grape/issues/556

[2015-06-09 19:06] #989 closed

[2015-06-10 02:07] elado commented on #570
Just encountered the same issue, made a spec to show the issue (can be used in a PR):

[code]

[2015-06-10 02:10] elado commented on #570
@lasseebert's hack works:

[code]

[2015-06-10 12:20] dblock commented on #570
@elado This hack is interesting, do you think this is something we could roll into Grape in some way? Maybe we could be mounting an anonymous class that inherits from the API class instead of an eval-ed one?

[2015-06-12 03:00] TangMonk commented on #559
same problem

[2015-06-12 12:08] towanda commented on #1018
+1 to what @whatasunnyday said.

I like the idea of having a "single point of discovery", with the core gems, and not to worry about using the wrong fork.

[2015-06-14 02:52] TangMonk opened #1033 "how to analytics api request from mobile client?"
like google analytics for web pages, thanks :D

[2015-06-15 13:43] dblock commented on #1033
Please ask questions on the [mailing list](http://groups.google.com/group/ruby-grape)

[2015-06-15 13:43] #1033 closed

[2015-06-16 00:31] jamesmoriarty commented on #438
@cmaitchison life saver.

[2015-06-16 21:14] lasseebert commented on #570
Another tip for anyone interested:

The way I use the `MountableAPI` class, I often need to set some variables on the new anonymous class. Variables that differ from mount point to mount point.

I have handled it by just setting an instance variable on the class and fetch it from a helper method:

[code]

Usage:

[code]

[2015-06-16 23:08] elado commented on #570
@dblock I'd love to see it in Grape. Yes, it'd be better to have a global solution that doesn't need eval and "just works" with `mount`. How big would a change like that be?

[2015-06-17 04:57] dieuit07 opened #1035 "http cache, undefined method fresh_when"
How can I call a method of other module in grape?
I try to "include ::ActionController::ConditionalGet" and "helpers ::ActionController::ConditionalGet"
BUt it not work

[2015-06-17 15:52] dblock commented on #570
I am not sure @elado, if you want to try a PR we can discuss it over that.

[2015-06-17 15:53] dblock commented on #1035
Grape has a concept of helpers, so `helpers do ...`.

Please use the mailing list for questions.

[2015-06-17 15:53] #1035 closed

[2015-06-17 16:15] dim commented on #827
+1

[2015-06-18 18:42] loto opened #1037 "error! helper: symbol to JSON conversion"
Hi,

In 0.11.0:

[code]

Was returned as:

[code]

In 0.12.0 I get:

[code]

Does anyone else experience this?

[2015-06-18 18:54] dblock commented on #1037
Something is going on with either the error format or with what is being returned in a handled error. Read through https://github.com/intridea/grape/blob/master/UPGRADING.md carefully in case there's a clear answer (there're some things around errors), and if that doesn't help put up a project where this is reproduced?

[2015-06-18 19:15] L-Oto commented on #1037
I found nothing relevant in the upgrading documentation. I'll try to reproduce it in a small project.

[2015-06-19 04:09] rnubel commented on #873
Hello! I did some research into this, and came up with a fix (#1038).

The root cause is that the `duplicable?` method (added by ActiveSupport and/or the backport in Grape) on String returns `true`, but in Rubinius, the String class actually [can't be duped](https://github.com/rubinius/rubinius/blame/60cfdadf0149ca0efebf2b924a0482e4cfa1b404/kernel/common/string.rb#L39).

[code]

This affects Inher

[2015-06-19 04:33] brixen commented on #873
Thanks for the ping, @rnubel. I have not investigated this beyond reading this issue but a couple things come to mind immediately:

1. @evanphx unfortunately didn't leave a commit note explaining why he disabled cloning the String class and my memory of this is extremely vague, so I don't know offhand what the issue was; and
2. It's not clear to me why anyone would want to dup String itself, or an

[2015-06-19 04:36] brixen commented on #873
To further clarify what I'm trying to illustrate with that IRB session, an instance of the *clone* of String is not a `kind_of?` String, like a subclass of String would be. There is no utility that I can see in this usage. So, I'm most curious why there is perceived utility in making a class that is a String in every behavioral way but is not `kind_of?` String, like a String itself, or a subclass

[2015-06-19 04:54] rnubel commented on #873
@brixen: Thanks for the input! Definitely agreed. Dup-ing classes seems like a case of Ruby making it easy to shoot yourself in the foot. Even though Rubinius' behavior is inconsistent (String can't be duped, but other core classes can?), I can't say I think altering Rubinius to remove that TypeError is a good idea.

[2015-06-21 05:32] rnubel commented on #958
After thinking about this for a bit, I think it'd be more useful to be able to say "if `shelf_id` is given, then require `shelf_reachable`" rather than the inverse. The two are closely related, at any rate, and I could imagine there being use cases for both. So along those lines, I've quickly prototyped a couple possible ways to implement such logic:

### Option 1 (DSL style)
https://github.com/rn

[2015-06-22 12:52] lasseebert commented on #1031
0.12.0 is out now.

[2015-06-22 13:00] lasseebert opened #1041 "Rack apps should return array"
In this commit released with 0.12.0: 129ad6ef8d22579425f5b6ab655cd0c476d0bc76, the formatter middleware now returns a `Rack::Response` and not an array.

From what I understand, this breaks Rack's conventions (and broke the middleware in my app).
Also, the docs for `Rack::Response` clearly states that an app should return `Rack::Response#finish` (aliased to `#to_a`).

Any reason this has been done

[2015-06-22 13:36] guizmaii commented on #1031
Great ! Thanks :)

[2015-06-22 13:36] #1031 closed

[2015-06-22 14:09] dim opened #1042 "NoMethodError on validation of complex types"
I have an API where I expect an array of complex types as a parameter, e.g.:

[code]

Everything is OK when I call:

[code]

The problem occurs when I don't send an array:

[code]

In this case, I would expect a (graceful) error to occur, but I instead get:

[code]

[2015-06-22 15:17] dblock commented on #958
I like the first one, but I don't love the name. Maybe just `with`?

[2015-06-22 15:21] dblock commented on #1041
This is in UPGRADING, and see https://github.com/intridea/grape/pull/1029.

Rack spec (from what I remember after reading a lot of it :) just says you're supposed to return a Rack::Response or a "file-like object". With the change you describe above we are able to return a file stream. I couldn't find a single example where returning a Rack::Response itself would be an issue.

Are you seeing somet

[2015-06-22 15:22] dblock commented on #1042
This looks like a bug. Write a test, maybe with a fix?

[2015-06-22 21:08] lasseebert commented on #1041
Thanks for the answer ;)
I didn't realize this was for streaming (and I didn't notice the `UPGRADING` untill now)

This broke a custom rack middleware in my app, because in some scenarios it will be just before the `Formatter` middleware.

If I need to make changes to the response before returning from my middleware, I must now first check if it is an `Array` or a `Rack::Response` (The middleware

[2015-06-22 21:15] dmitry commented on #1018
Really nice idea. I believe it would be good to include the most popular/used related projects to the org. It would also be good, if everyone who is interested in the "grape plugins" can collaborate more tightly to improve functionality of the projects.

[2015-06-22 21:41] dblock commented on #1041
Yes, since UPGRADING documents this pretty thoroughly I think we're good. It's also easier to work with a `Rack::Response` in another middleware, you might want to consider adjusting all your code to that.

[2015-06-22 21:41] #1041 closed

[2015-06-23 03:44] rnubel commented on #958
Hmm... `with` is a bit vague. I think that's the tricky part here -- we want a term that's clear about what it means, but still concise. What about just `given`?

[code]

[2015-06-23 11:20] ekampp commented on #725
Additionally: Not setting the `format` results in a xml rendering exception. Presumably Grape defaults to xml unless the format is set. And presumably since redirect doesn't halt the chain, xml attempts to render nothing:

This fails:

[code]

With this xml error:

[code]

This redirects correctly:

[code]

[2015-06-23 13:37] dblock commented on #891
@toddmazierski Do you think https://github.com/intridea/grape/pull/1034 closes this?

[2015-06-23 13:37] dblock commented on #958
I like `given`, go for it!

[2015-06-23 13:40] dblock commented on #725
Grame really defaults (should default :)) to JSON, not sure what the deal here is, you might want to dig a bit deeper?

[2015-06-23 13:54] ekampp commented on #725
Might be grape-roar interfering and defaulting to xml.

[2015-06-23 16:34] #1042 closed

[2015-06-24 14:26] dblock commented on #993
Closed via https://github.com/intridea/grape/pull/1039.

[2015-06-24 14:26] #993 closed

[2015-06-25 17:26] toddmazierski commented on #891
@dblock:

No, these settings appear to be handled with `InheritableValues`, whereas #1034 only touched `StackableValues`. I'm happy to create a new branch to drop `deep_dup` usage there, too, if recommended!

[2015-06-25 20:35] jerrod commented on #968
This is caused by the issue demonstrated in https://github.com/intridea/grape/pull/1046

The mere presence of a rescue_all block breaks recognition of additional versions of endpoints.

Comment out the rescue block and the specs pass.  I have been unable to fix, but it appears to be an isse with the way rescues work in the `Middleware::Error.call!` method.

[2015-06-25 21:52] dblock commented on #891
I think you should go for it @toddmazierski.

[2015-06-25 21:53] dblock commented on #968
Very interesting, thanks for the repro @jerrod.

[2015-06-26 14:53] castillobg commented on #827
+1!

[2015-06-27 09:43] dmitry commented on #170
Headers in the `before` block is not set while an exception or an error.

[2015-06-29 12:14] hedgesky commented on #1018
I agree with @hobofan. I think list of extensions in Readme would be very convenient for newcomers.

[2015-06-29 15:23] dblock commented on #863
A new gem, https://github.com/reprah/grape-route-helpers, accomplishes this.

[2015-06-29 15:23] #863 closed

[2015-06-29 15:26] dblock commented on #1018
I take PRs for the README that link externally. For example we have links to grape-entity and others that are commonly used and frequently needed.

[2015-06-30 11:07] #891 closed

[2015-06-30 11:08] dblock commented on #873
This is closed via https://github.com/intridea/grape/pull/1048

[2015-06-30 11:08] #873 closed

[2015-07-03 03:02] TangMonk opened #1054 "when clients connection increase will throw error: can't convert nil into an exact number"
I use ab to test:

1 concurrency works fine

[code]

10 concurrency works will error

[code]

my server is 4GB memory, I use thin as server, 3 thin process, 1024 connection for per thin process. database pool set to `3 * 1024 = 3072`

[2015-07-03 18:39] dblock commented on #1054
Stack trace?

[2015-07-04 04:18] TangMonk commented on #1054
log is here, The first few request works fine, but the last request throw error
[code]

[2015-07-04 07:11] rnubel commented on #932
The root cause here is pretty straightforward: the regex that Rack::Mount is generating to match the route looks like `/root/(.+)?`, which requires a slash followed by at least one character in order for the route to be hit. In theory, changing that regex to look like `/root(/.*)?` would make this work (see my note at the bottom, though).

However, the desired behavior here isn't as clear as it mi

[2015-07-04 12:06] dblock commented on #1054
The top of the stack, ad_api.rb is your own code. So the problem could be in that. You should add a begin/rescue into the code and get the entire stack, something like this:

[code]

[2015-07-07 09:01] ekampp opened #1056 "Using `route :any` causes OPTIONS and HEAD requests to fail"
According to the documentation, any GET endpoint also serves OPTIONS and HEAD requests.

I would expect these to be hit before the `route :any` at the bottom of my api. But this isn't the case.

Is this a bug or intentional? If it's intentional, what's the right way to catch stray requests without overriding OPTIONS and HEAD for the real endpoints?

[code]

[Here is a demo api](https://github.com/

[2015-07-07 11:37] dblock commented on #1056
You should turn it into a test, do GETs behave differently from HEADs?

[2015-07-07 13:51] ekampp commented on #1056
@dblock any suggestions as to where to start adding a test?

If I understand your question right, then yes: HEAD behaves differently from GET. HEAD doesn't return any response body - only headers. It's so to speak a compacted request. Useful for checking if a cache is busted, and a new one should be fetched.

[2015-07-07 14:46] dblock commented on #1056
For now just add a standalone test in https://github.com/intridea/grape/tree/master/spec/grape/integration.

[2015-07-08 05:00] rnubel commented on #597
#1039 mostly implemented this, provided you don't mind adding a `::parse` method to your models:

[code]

However, it would be nice to alias `params[:user]` to `params[:user_id]` so it's less clunky in the code, but still meaningful at the API level. Maybe supporting aliases for params wouldn't be a bad idea.

[2015-07-08 06:33] TangMonk commented on #1054
@dblock , thanks

I try to switch thin to passenger, it solve the problem, I do not why, but it works.... :100:

[2015-07-08 11:26] dmitry commented on #1054
I believe the issue might be in ruby 2.2.x, because thin works with threads, and ruby 2.2.0 as I remember had an issue with defining methods.

[2015-07-08 11:54] romanlehnert opened #1058 "Make Grape::Exceptions full_messages public"
```Grape::Exceptions::ValidationErrors#message``` currently joins the error messages together. Example:
[code]

However, when building custom error responses, that handle each single validation error separately, ```Grape::Exceptions::ValidationErrors#full_messages``` is extremely useful:
[code]

But this method is private. So my questions are
* What do you think about making this method public?
*

[2015-07-08 13:12] TangMonk commented on #1054
@dm1try  I switch to ruby 2.1.5 for thin server, but still problem

[2015-07-08 13:47] dmitry commented on #1054
@TangMonk what if you try to use the same code in normal rails controller/action?

[2015-07-08 15:47] dblock commented on #1058
I don't see a problem with making this method public. Write a spec for it and make a PR.

[2015-07-08 15:49] patfrat opened #1059 "Unexpected error while processing request: undefined method `downcase' for 2:Fixnum"
My Grape API is not working with grape v0.11.0 nor  grape v0.12.0
Working with grape v0.10.0

I am using Rack Cascasde to load my API, ApiDoc with grape_swagger and my statics files
Using grape-activerecord v0.0.8, grape-entity 0.4.5 and grape-swagger 0.10.1

My database connection is loaded before invoking the API

It's only on the first GET that it fails
And it's difficult to see why and where i

[2015-07-08 15:54] dblock commented on #1059
Do you think you could put a small project up that reproduces this?

[2015-07-08 15:56] patfrat commented on #1059
I will try it tomorrow

Le mer. 8 juil. 2015 17:54, Daniel Doubrovkine (dB.) @dblockdotorg <
notifications@github.com> a écrit :

[2015-07-09 07:52] ekampp opened #1060 "Support for the HTTP TRACE verb"
Hi.

I thought I would start a discussion here, about how to approach implementing the [HTTP TRACE verb](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html).

This would be a great tool for developers integrating to an API in a test enviroinment. And also for developers developing new clients or APIs consuming a TRACEable API.

Since Grape already responds with HEAD and OPTIONS on all endpoints

[2015-07-09 08:04] patfrat commented on #1059
Using pry to debug ...

grape 0.10.0 send an Array as response [200, {header}, {body}]
Activerecord can use reponse[2] as body

grape 0.10.0 reading swagger_doc
[code]

grape 0.12.0 send a Rack::Response and activerecord failed with rack on undefined method `downcase' for 2:Fixnum

grape 0.12.0 reading swagger_doc
[code]

If i transform the Rack::Response to an array, it could work !
So, is it a g

[2015-07-09 08:09] patfrat commented on #1059
If i set this is connection_pool.rb in activerecord line 649
[code]
It works ! but this is not a solution to "monkey patch" activerecord !

[2015-07-09 10:45] romanlehnert commented on #1058
I'll do that. thanks.

[2015-07-09 12:41] dblock commented on #1060
:+1: would like to see this in Grape

[2015-07-09 12:43] dblock commented on #1059
A grape middleware could do the `to_a`, but something tells me this is just a consequence of something else. Put up a project with a repro please and I'll help debug.

[2015-07-09 12:47] patfrat commented on #1059
It will be difficult for me to put up a project with all dependencies in a short time.
I will try to debug with pry and pry-byebug to search where the problem could be localized

[2015-07-09 13:03] dblock commented on #1059
Do you use some connection pooling middleware anywhere explicitly via a `use`?

FWIW https://github.com/dblock/grape-on-rails worked without changes with Grape 0.12.0.

The clean way of working around this is to insert a middleware ahead of the ActiveRecord one that calls `to_a` on the Rack::Response.

[code]

[code]

[2015-07-09 13:45] ekampp commented on #1060
I suppose doing [something like this](https://github.com/intridea/grape/blob/master/lib/grape/api.rb#L160-L162) could work?

[2015-07-09 13:46] patfrat commented on #1059
No, i don't use a connection pooling middleware via a use

I establish a connection to the database in an initializer via ActiveRecord::Base.establish_connection ...
I have tried your solution but it does not work.
I have had to correct def self.call(env) to def.call(env) to have RackResponseMiddleware working but the bug continue to appear

If i create a monkey patch for ActiveRecord, grape 0.12.

[2015-07-09 13:56] dasnotme opened #1061 "error! not finding Grape::Entity if called in rescue_from block"
Example:
[code]

As I understood, calling `error!` from `rescue_from` results being in context of `Grape::Middleware::Error`, thus `env['api.endpoint'].status` is `nil`. While calling `error!` from `get do ; end` works just fine because of the `env['api.endpoint'].status` being properly set already in `Grape::DSL::InsideRoute`. So in the first case Grape is not able to find the Entity responsible

[2015-07-09 13:58] dasnotme commented on #1061
The workaround I'm currently using is to use `with` options, e.g. `error!({ message: 'Message', with: API::Error}, 404)`.

[2015-07-09 14:16] patfrat commented on #1059
Working with your solution with grape 0.12.0 without monkey patching ActiveRecord

I have set this in an initializer/90_rackresponse_middleware.rb file loaded after establishing connection but before mounting my API

[code]

And in my API class
[code]

[2015-07-09 15:20] dblock commented on #1059
I think we really need to understand whether this is the right solution and document it. But not without a setup that reproduces the problem in which we understand what's going on. Note that the above patch prevents streaming, and while it's maybe a 1% scenario it still means someone is doing something wrong somewhere ;)

Leaving this open.

[2015-07-10 09:00] patfrat commented on #1059
I have reproduced the bug with a shot code that you could retrieve here
https://gist.github.com/patfrat/d4463a85d327300a54d8

It seems to become from Grape::ActiveRecord extension

[2015-07-10 09:57] patfrat commented on #1059
For informations, I use include Grape::ActiveRecord::Extension to have rake tasks associated to my project

[2015-07-10 21:04] yairgo opened #1062 "Allow headers set in before block to be passed to ValidationErrors"
I'm using grape with grape-swagger and swagger-ui and for swagger-ui to work I need to set header values like so:
[code]

When using parameter validations and submitting a request with invalid params, I've lost the context in which those headers were set. This causes swagger-ui to not be able to render the response.

[code]

I'm going to put in a pull request to add the headers to Grape::Exception

[2015-07-13 17:24] balasankarc opened #1066 "Rack version mismatch"
Hi,
The gemspec file (of version 0.12.0) specifies that the rack version requirement is ">=1.3.0". However, spec/grape/integration/rack_spec.rb checks whether the Rack version is 1.5.3 or 1.6.1. This induces ambiguity. Please fix it.

I am packaging grape for Debian (as part of GitLab packaging. Grape is a member of the dependency chain), where the rack version is still 1.5.2. But all the tests (o

[2015-07-13 17:57] dblock commented on #1066
I think we should make it >= 1.5.2 in gemspec. Would appreciate a PR.

[2015-07-13 18:07] balasankarc commented on #1066
I'll send a PR ASAP.

BTW, Rack 1.5.2 sets it's release as "1.5", not "1.5.2" ( as seen [here](https://github.com/rack/rack/blob/ac590d055c936bb9a618e955a690dc836c625211/lib/rack.rb#L23) ). So, the split on period to `Rack.release` will assign `nil` to the variable 'release' which will cause the mentioned test to fail.

If Rack versions >= 1.5.2 work succesfully, can we disable the mentioned test?

[2015-07-13 18:18] dblock commented on #1066
I am fine with anything that makes the test match what's in Gemspec or removes any unnecessary tests. Make a call.

[2015-07-13 18:52] yairgo commented on #1062
dblock thanks for the quick turnaround on this.

[2015-07-14 00:25] romanlehnert commented on #1058
Closing, since #1064 is merged.

[2015-07-14 00:25] #1058 closed

[2015-07-14 12:48] romanlehnert commented on #968
Grape raises `Grape::Exceptions::InvalidAcceptHeader` with `cascade:  true`, when a routes does not match the requested version, to tell rack to try the next route.

Isn't `rescue_from :all` expected to rescue from this exception?

[2015-07-15 16:14] yukimono opened #1069 "Middleware unable to write headers in before blocks"
Reproduction:
[code]

Expected result:

[code]
Actual result:

[code]

Cause: ~~Headers are sent before any `before` calls in middleware~~ Before is called before any response is created.

Workaround: Set headers in `after` (`@app_response[1]`)

[2015-07-15 16:36] yukimono commented on #1069
N.B. trying to access `response` also yields ``undefined method `[]' for nil:NilClass``

[2015-07-16 11:14] dblock commented on #1069
I agree it should be possible, marking this as a feature request.

[2015-07-16 11:15] dblock commented on #968
I feel that yes, `rescue_from :all` should catch this as well.

[2015-07-17 08:02] birbird commented on #39
I wrote two classes for auth and none-auth. But it does not work, please have a look what's wrong with it.
The root Class:
[code]
The auth required class
[code]
The auth less class
[code]

[2015-07-17 18:52] dblock commented on #39
@birbird You'll have to provide a lot more detail on "it doesn't work". I suggest opening a new issue and making code that clearly demonstrates the problem.

[2015-07-18 14:32] birbird commented on #827
Hi, what's status of this issue?
I wrote something like
[code]
But when I pass a user json as parameter, it throws {"error":"user is invalid"}

It the result expected or I made some mistake?

[2015-07-18 15:14] dblock commented on #827
I believe https://github.com/intridea/grape/pull/1039 has implemented this, @rnubel would you confirm and I'll close this issue? Is this any different from #993?

[2015-07-18 15:15] dblock commented on #827
@birbird this is on HEAD FYI, not in any released version of Grape yet.

[2015-07-18 15:15] dblock commented on #827
Maybe we need to do something built-in for Grape entities though ...

[2015-07-18 16:01] birbird commented on #827
@dblock Thanks a lot for you help.

Actually, before I asked, I have tried exactly the same code with https://github.com/intridea/grape#custom-types, which is also the sample code in #1039. But got the {"error":"color is invalid"} sadly.

All the things can be explained with your reminder.

A little suggestion, if this feature has not been released, it should not be in the document.

[2015-07-18 17:09] birbird commented on #827
But even with custom-types, Grape Entity still could not be processd.
custom-types require the input type is String, this is not the case for Entity.

[2015-07-18 18:43] rnubel commented on #827
Yeah, like @birbird noted, #1039 added support for custom primitive types (i.e., something that can be parsed from a single string parameter) whereas this story requires support for complex types. And actually, [grape does have support for that already, but only when done through Virtus](https://github.com/intridea/grape/blob/b11a93aed761fcb1672389a4ace9eddbf9572154/spec/grape/validations/validato

[2015-07-20 10:34] begin29 opened #1071 "Why you used :klass name for check respond?"
I've relation belongs_to :klass within my class.
And code https://github.com/intridea/grape/blob/master/lib/grape/dsl/inside_route.rb#L254 is fallen, because here we have checking if object is respond to klass.

Could you provide use cases for checking respond_to :klass ?

[2015-07-20 11:12] dblock commented on #1071
I think this was there to pretend like we have an API to define which class to use for representation, but I wonder if we even have tests for this? If you remove this code and no specs break you should PR that. If you remove it and specs break, I would take a PR that defines a better interface, like `represented_class_name` or something like that.

[2015-07-20 15:04] vasilakisfil opened #1072 "How grape recognizes a path?"
In rails there is Rails.application.routes.recognize_path: http://www.rubydoc.info/docs/rails/ActionDispatch/Routing/RouteSet#recognize_path-instance_method

Is there anything similar for Grape?

[2015-07-20 20:26] rnubel commented on #570
So, I spent a couple nights looking into this and found that (with [much hackery](https://github.com/intridea/grape/compare/master...rnubel:issue/570)) it *is* possible to have the `mount` method create an independent copy of the mounted class, scoped with the same settings it's mounted in (addressing #1050), and thus permit a single API to be mounted twice with predictable results. However, it br

[2015-07-20 21:06] dblock commented on #1072
Grape uses Rack::Mount, which is now yanked from Github. I actually would like to use this opportunity to figure out what the recommended replacement is and maybe find out a bit about the history of why it was yanked? /cc: @joshpeek

[2015-07-20 21:06] dblock commented on #1072
/cc: @josh

[2015-07-20 21:08] dblock commented on #570
Thanks @rnubel. I feel like we should be mounting instances of API classes, not static versions of those classes. Does this help in terms of direction?

[2015-07-20 23:11] iangreenleaf opened #1074 "declared(params) doesn't coerce types in before blocks"
In `before` blocks, `declared(params)` doesn't seem to perform the usual type coercion. For example:

[code]

Strangely, it does still seem to validate in the blocks, as undeclared params are still filtered out. It just doesn't convert the types.

[2015-07-21 02:41] rnubel commented on #1074
I believe this is the expected behavior, actually. Type coercion is really a [type of validation](https://github.com/intridea/grape/blob/b5c83a4cd75fb85f67fa4741e567d17aa15739f1/lib/grape/validations/validators/coerce.rb), so if you want a given block to run after coercion has happened, you'd want it to be in the [after_validations hook](https://github.com/intridea/grape/blob/b474f5e40f8c06490fba0

[2015-07-21 04:26] iangreenleaf commented on #1074
Thanks for the tip, I'll change my callbacks. It's reasonable to consider this as part of validation, but there's a couple things about this I'd rate as especially surprising:

1. That `declared` still runs in this context, instead of erroring out because I'm trying something that doesn't make sense.
2. That the validations are incompletely applied at this point - undeclared params are already fil

[2015-07-21 10:52] dblock commented on #1074
@iangreenleaf I think you are onto something here, maybe this should be fixed?

[2015-07-21 17:46] iangreenleaf commented on #1074
Agreed! Either make the method unavailable in this scope, or have it raise an error if run.

[2015-07-21 18:45] mcoms opened #1075 "How do you do semantic versioning with Grape's path strategy?"
I have a production Grape project which uses the `path` versioning strategy. Right now, everything is `v1` using:

[code]

I'd like to continue using path-based versioning, and add a single new route to this API and call it `v1.1`. I'd also like to have requests cascade down to the `v1` implementation if they are not reimplemented in `v1.1`.

Is this possible?  Thanks!

[2015-07-21 19:06] jpaas opened #1076 "unable to reach endpoint with same URL, different method"
This may be related to #968, but it has nothing to do with versions. I have an endpoint that looks like this...

[code]

I can call the POST ok, but calls to the PUT always return a 401. If I rename the put to `put ':something' do` it works fine.

[2015-07-22 13:01] dblock commented on #1076
This has to be something unrelated to Grape proper, try to put a repro together?

[2015-07-22 13:02] dblock commented on #1075
I think you're looking for http://code.dblock.org/2013/07/19/evolving-apis-using-grape-api-versioning.html.

Please use the mailing list for questions!

[2015-07-22 13:02] #1075 closed

[2015-07-23 08:50] patfrat commented on #1059
I got finally another issue with database connection pools.
This middleware fix it and fix also the 2:Fixnum error when using grape with activerecord without rails

[code]

[2015-07-23 11:34] dblock commented on #1059
@patfrat I encourage you to write some tests, release this as a gem and we should link it from Grape README.

[2015-07-23 11:45] patfrat commented on #1059
@dblock when I have time, I will do that !

[2015-07-24 12:30] begin29 opened #1077 "Method POST not allowed"
I got error `Method Not Allowed` when called `POST` method.

I got this error when updated grape from `0.9.0` to `0.12.0`

[code]

[2015-07-24 13:20] dblock commented on #1077
Please post a repro, obviously POST is allowed :)

[2015-07-24 13:35] begin29 commented on #1077
My project contains Rails(with grape gem) + EmberJS.

I received this error when try to login via request POST 'login_url'.
For authenticate on server side I've used `devise`.
This worked on `0.9.0` grape version.

[2015-07-24 14:52] dblock commented on #1077
I want to help you, but there's nothing to work with here. Maybe try to put a project up that reproduces the problem?

[2015-07-24 14:53] dblock commented on #1077
Btw, https://github.com/dblock/grape-on-rails is a working example of a recent Grape w/ Rails.

[2015-07-27 10:10] begin29 commented on #1077
Actually I found problem.
It didn't work when I've created `resource :users` and created here only '/users/:id' route and tried to made post request like '/users/sign_in'.
`/users/sign_in` route created on routes.rb file but `grape` overrides my routes from routes.rb and returned error(Method not allowed) to any post request to `/users/some_not_matched_route`.

How can I include my routes from rou

[2015-07-27 11:37] guizmaii commented on #827
Is it possible to express required/optional parameters in entities ?

With a ```required:``` parameters ?
Does it fail if the title in not passed in the following example ?

[code]

[2015-07-27 11:44] begin29 commented on #1077
I found solution. I `mounted API` after my custom routes. Thank`s

[2015-07-27 11:44] #1077 closed

[2015-07-29 10:28] vasilakisfil commented on #1072
anyone?

[2015-07-29 15:56] srust opened #1078 "API version format in Accept header"
Hi,

The Versioning middleware specifies the syntax for the HTTP Accept header as follows:

[code]

In particular, "vnd.vendor-version" with a dash "-" between vendor and version. I've been trying to understand the origin of this syntax.

Is it possible to support dot "." version in addition to dash "-" version?

Such as:

`vnd.vendor.version+format`

Github, for example, uses this format.  From `

[2015-07-30 05:38] dblock commented on #1072
@vasilakisfil The "how" part is rack-mount, and you can look at the source via `bundle show rack-mount` in any project that has a Grape dependency. But the question of what we should do with it remains, I now [asked rack-devel](https://groups.google.com/forum/?fromgroups#!topic/rack-devel/nNjuNIEZJis).

[2015-07-30 05:45] dblock commented on #1078
If I understand the [RFC](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1) this is a *subtype* and there're no restrictions to its syntax in terms of dashes or periods. I think Github's `application/vnd.github[.version].param[+json]` is valid and should be supported out of the box. I'm labelling this as a bug, feel free to submit a PR.

[2015-07-30 08:48] vasilakisfil commented on #1072
I hate it when such vital gems don't have documentation......... and why on earth they removed it? it's free to have it somewhere on github...

After 2 hours looking on the rack-mount code, I couldn't figure out what object accepts recognize method of RouteSet class...

Any help is really appreciated.. I have a route string ('/api/v1/foobars') and some request options (like {method: :get} etc) and

[2015-07-30 12:19] srust commented on #1078
Thanks @dblock! Will submit a PR for this.

[2015-07-30 18:14] wagenet opened #1080 "Extra routes created for unspecified methods"
Given the following code:

[code]

(via https://github.com/dblock/grape-on-rails/blob/master/app/api/acme/post.rb)

Not only do I get a `POST /spline` route, I also get a shared `GET PUT DELETE PATCH HEAD /spline` route that just returns an empty string.

My expectation is that only the `POST` route would be created. I'm not sure where the others are coming from. It also seems to be inconsistent w

[2015-07-30 20:03] wagenet opened #1081 "`route :any` doesn't catch everything in a namespace"
[code]

`GET /super/ping` works but `GET /super` errors. However, I am able to do `POST /super/ping` and have it get picked up by the `route :any`. I would expect that nothing to `/super` would error.

[2015-07-30 21:36] elliotlarson opened #1082 "Versioning accept header strict/cascade settings appears to not work in this case"
If I have this config for versioning...

[code]

then this should require that I pass the appropriate `Accept` request header to get a valid `200` response.

This request should work:

    $ curl -H 'Accept:application/vnd.acme-v1+json' http://localhost:3000/api/projects
    => succeeds √

... and it does, returning a successful `200` response.

But, not passing the correct Accept header should re

[2015-07-31 12:45] dblock commented on #1080
That wouldn't be expected behavior for sure. Those routes should be returning 406s. Care to write a test or a demo of it?

[2015-07-31 12:46] dblock commented on #1081
Yes, this seems wrong. Try writing a test that reproduces this, and lets fix it.

[2015-07-31 12:49] dblock commented on #1082
I believe your logic is correct. Without a valid `Accept` header you have no matching version and it should fail with a 406 as long as `strict: true`. Lets get to the bottom of this, try writing a test that reproduces it on Grape's HEAD?

[2015-07-31 16:44] wagenet opened #1083 "Unexpected ordering between prefix and mount point"
[code]

This generates a url like `/foo/api`. I'd expect the prefix to take precedence over the mount point and give me `/api/foo`. If this is intentional, please disregard.

[2015-07-31 16:54] wagenet commented on #1080
This can be demoed with the standard grape-on-rails repo at https://github.com/dblock/grape-on-rails.

Both of these return an empty string but I would expect a failure:

`curl http://localhost:3000/api/spline`
`curl http://localhost:3000/api/spline -X PUT -d 'reticulated=foo'`

[2015-07-31 16:58] wagenet commented on #1081
See: https://github.com/wagenet/grape-on-rails/commit/11f1e5828a90202693000239dab460fcac5a334c

`curl http://localhost:3000/api/super` - Fails, expected `{"path":"fail"}`.
`curl http://localhost:3000/api/super/ping` - Returns `{"ping":"PONG!!!"}` as expected.
`curl http://localhost:3000/api/super/ping/fail` - Returns `{"path":"ping/fail"}`. I think this is expected.
`curl http://localhost:3000/api

[2015-07-31 19:15] dblock commented on #1083
I don't think this was intentional, looks like a bug.

[2015-07-31 19:19] dblock commented on #1080
It's returning a 405 in my case (and yes, it does return an empty body).

[code]

Why Chrome renders the page instead of producing an error, I am not sure.

Is this not what you're seeing?

[2015-07-31 19:21] dblock commented on #1081
Can you try to turn this into a Grape test. The demo is definitely good, but if we want to fix it we need a proper spec here.

[2015-07-31 19:21] wagenet commented on #1080
Ah, it does indeed return a 405. I was also expecting to see a "No route matches" error from Rails as you do with other invalid URLs, like `/api/ping/foo`.

[2015-07-31 19:23] wagenet commented on #1081
Understood, I'll see what I can do. I've actually never written a real Grape app yet :) Just been working on writing a plugin for Skylight (https://skylight.io).

[2015-07-31 19:25] dblock commented on #1080
No route matches would be a 404, which is incorrect. When you are invoking a well known route with the wrong method you get a different error than if the route doesn't exist. That's HTTP RFC, but don't ask me for a quote :) So this is explicitly defined here: https://github.com/intridea/grape/blob/b474f5e40f8c06490fba0790e57e438c630ec23f/lib/grape/api.rb#L177.

I am going to close this, reopen if

[2015-07-31 19:25] #1080 closed

[2015-07-31 19:28] wagenet opened #1084 "ActiveSupport::Notifications hook points"
It would be great if Grape could support ActiveSupport::Notifications. This would make it easy for tools like Skylight to hook in without having to monkeypatch. Moped does something interesting with their Instrumentable module (http://www.rubydoc.info/github/mongoid/moped/Moped/Instrumentable) that allows a customer `instrumenter` to be set which is API compatible with `AS::N`.

[2015-07-31 19:30] dblock commented on #1084
This is a great idea for an external gem that works on top of Grape!

[2015-07-31 19:31] wagenet commented on #1080
Ok, that makes sense now.

[2015-07-31 19:35] wagenet commented on #1084
Ideally, there would be hook points within Grape itself akin to how AS::N is used in Rails. I understand that Grape might not want to add a dependency on AS::N which is why I suggested a configurable instrumenter. If no instrumenter is hooked up, the instrumentation methods would be a no-op, adding negligible overhead. For those that want instrumentation they can hook up AS::N or some other API-co

[2015-07-31 19:36] wagenet commented on #1084
If this general approach seems good to you, I'd be happy to send a PR based on my initial work for Skylight.

[2015-07-31 20:10] dblock commented on #1084
We're trying to make Grape as modular as possible, so I think you should try and write a gem that sits on top of Grape, rather than adding to Grape proper. In theory nothing prevents you from doing so, and if you're missing an extension point, lets add it.

I could be wrong of course, show us some code :)

[2015-07-31 20:21] wagenet commented on #1084
@dblock I'll throw together a proof of concept next week.

[2015-08-01 06:44] trico commented on #1083
I think it is intentional
https://github.com/intridea/grape/blob/032b20ee743ab42e1209276fab02c7a845d61ef5/spec/grape/path_spec.rb#L148

[2015-08-01 12:12] dblock commented on #1083
I guess this could make sense, but still seems backwards to me. I'll leave this open, it would be good to at least document the gotcha?

[2015-08-01 17:06] elliotlarson commented on #1082
I'm a little confused by the way the headers are being setup in the relevant tests.  In the spec file `spec/grape/exceptions/invalid_accept_header_spec.rb`, all of the specs that pass in an `Accept` header to rack-test, do it like this:

[code]

It's not clear to me why the "HTTP_ACCEPT" header is used instead of "Accept".  Shouldn't these tests be written like so:

[code]

[2015-08-03 08:25] dantethegrey opened #1085 "namespace param validation doesn't propagate to nested Grape modules"
Not sure if it is a bug or a feature, but I'd welcome if I could declare parameter validation even for nested API modules like below.

For the former code sample the UserId validator doesn't get called, while for the latter it does.
Behaves the same for builtin validators.
[code]

[code]
Thanks

[2015-08-03 12:22] dblock commented on #1085
I think it's an interesting corner case, if you can fix it without breaking anything else I would take it.

[2015-08-03 14:02] wagenet commented on #1083
I think if the prefix is in the module being mounted it should come afterwards, i.e. API has a prefix and is mounted at some location, the mount point should clearly come first. However, if something is mounted into a location that already has a prefix then the ordering definitely seems wrong. I could easily see someone getting these two scenarios confused when writing a test and accidentally test

[2015-08-03 17:46] dblock commented on #1018
Well, it's happening! We're moving to https://github.com/ruby-grape shortly.

[2015-08-03 18:21] brodock commented on #1018
thank you very much :)

[2015-08-03 18:31] dmitry commented on #1018
Great news!

[2015-08-03 18:45] rnubel commented on #1085
I believe this fails for basically the same reason as https://github.com/ruby-grape/grape/pull/1050. I'd be curious if [my patch from that issue](https://github.com/intridea/grape/compare/master...rnubel:declared_and_nested_mount_missing_params) also fixes this issue.

[2015-08-03 18:58] dblock commented on #1018
Happy to close this now! Please open specific work-items around community organization in https://github.com/ruby-grape/ruby-grape.github.io/issues. Also hitting Send on an announcement to the Google group.

[2015-08-03 18:58] #1018 closed

[2015-08-03 19:11] dblock commented on #1018
Can someone please port the list of projects from here to https://github.com/ruby-grape/ruby-grape.github.io? See https://github.com/ruby-grape/ruby-grape.github.io/issues/3.

[2015-08-03 20:14] wagenet opened #1087 "Hash#except not defined"
If you try to use Grape without Rails, you can run into an issue where `Hash#except` is not defined.

https://github.com/ruby-grape/grape/blob/0dfc1cc1cc2f43d49e09d14f737397f087668577/lib/grape/endpoint.rb#L161

`Hash#except` is not part of the standard API and is provided by Rails.

[2015-08-04 00:43] dblock commented on #1087
We use Grape plenty without Rails. Is this coming from ActiveSupport (which is required)? Do you have a repro case?

[2015-08-04 15:40] dblock commented on #1018
^^ done

[2015-08-04 16:46] wagenet commented on #1087
Hmm, I ran into it in tests embedded in Skylight. Let me investigate more and get back to you.

[2015-08-04 17:34] wagenet commented on #1087
Ah, the issue is if you're using ActiveSupport 3. Currently, grape does rely on `active_support/core_ext/hash/except` but it never explicitly requires it. However, you do require `active_support/core_ext/object/conversions`. In ActiveSupport 4, this implicitly requires `except`, but in version 3 it does not.

[2015-08-04 17:35] dblock commented on #1087
Should we explicitly require it? I would take a PR.

[2015-08-04 17:36] wagenet commented on #1087
@dblock either that or lock down the ActiveSupport version to 4+. However, it seems nice to support older versions as long as there aren't any other known issues.

[2015-08-04 17:38] dblock commented on #1087
I agree. Grape tests with Rails 3, via https://github.com/ruby-grape/grape/blob/master/gemfiles/rails_3.gemfile, maybe you can ensure that locks with activesupport 3 and fails without a code change?

[2015-08-04 17:39] wagenet commented on #1087
@dblock well it's probably ok with Rails 3 since Rails itself requires the file in question. The issue happens if you are running without Rails but do have ActiveSupport 3.

[2015-08-04 17:43] wagenet commented on #1087
Closing in favor of the PR at #1088.

[2015-08-04 17:43] #1087 closed

[2015-08-04 18:29] wagenet commented on #1081
See #1089.

[2015-08-04 20:16] #1081 closed

[2015-08-04 20:42] dblock opened #1090 "Auto-publish Ruby/Yard docs"
We need a process by which every release publishes the Yard docs or links them from the README.

[2015-08-05 15:01] Fryie opened #1091 "Cannot restrict boolean param"
Basically what I want to to is this:

[code]

However, that won't even start up the app, because Grape / Virtus is complaining that ```true``` is not a valid value (which it truly isn't - ```true``` is not an instance of ```Virtus::Attribute::Boolean```). Using ```values: [Virtus::Attribute.build(true)]``` runs the app, but does not seem to run the proper validation.

The only I was able to do thi

[2015-08-05 15:12] dblock commented on #1091
Try writing a spec that reproduces this, I agree we should fix it. I also find the case where the only option for a boolean is true quite interesting.

[2015-08-07 10:55] alienxp03 opened #1093 "Params validation fails for post"
I'm having issue with the params validation when I'm using `post`. Just for this parth though. I've created some other APIs in other files, and it works fine. These are the file and errors that I got.

`Entities::Person `
[code]

<br/>
auth_api.rb
[code]

[2015-08-07 12:34] harshitsk opened #1094 "Accessing @env inside Grape::DSL::Extensions"
Can we access env before the endpoint? Accessing env inside the endpoint works but accessing it inside a DSL extension does not. Is this feature supported?

    module Grape
       module Extensions
        def special_scope
           @env
        end

        Grape::API.extend self
      end
     end

I need a custom DSL to be added around the grape endpoints which gives me access to env variabl

[2015-08-07 12:37] dblock commented on #1093
What's `attributes` in your context? Did you mean `params`?

[2015-08-07 12:37] dblock commented on #1093
You should bring this up on the mailing list, it doesn't look like a grape bug, just a usage question.

[2015-08-07 12:37] #1093 closed

[2015-08-07 12:39] dblock commented on #1094
We should be able to make it work, however I am not sure of the scope of that `@env`. If you can build a failing test case in Grape I could try to play with it.

[2015-08-08 07:47] harshitsk commented on #1094
https://github.com/ruby-grape/grape/pull/1095

I hope you can understand what I am trying to do. Please see `environment_spec.rb`.

[2015-08-08 16:13] #1091 closed

[2015-08-09 18:46] harshitsk commented on #1094
For now I have monkey patched `Grape::API` like this to make it work but a more elegant solution is required.

    Grape::API.instance_eval do
       cattr_accessor :original_path
       LOCK = Mutex.new

       def call(env)
         original_path = env["ORIGINAL_FULLPATH"]
         LOCK.synchronize { compile } unless instance
         call!(env)
       end
     end

[2015-08-09 19:10] alienxp03 commented on #1093
Just a follow up. I've managed to figured out the cause of the error. It was this line. Not so sure if it's a bug, but looks like one to me.

```[201, 'Ok', Entities::Person]``` will causes the error stack I've posted above. It will work if I change it to ```[200, 'Ok', Entities::Person]```. Looks like code ```201``` is causing the problem.

I'm also using ShareTribe, so if it's not grape bug, pro

[2015-08-10 13:02] dblock commented on #1093
@alienxp03 This makes very little sense to me (I am not saying it's not a problem). Do you think you can construct a repro and post it to Github?

[2015-08-10 13:33] harshitsk commented on #1094
For now I have monkey patched `antek-drzewiecki/wine_bouncer` as the issue was with WineBouncer and not with Grape.

[2015-08-10 14:50] dblock commented on #1094
@harshitsk Can you please elaborate? Should we close this?

[2015-08-11 03:29] harshitsk commented on #1094
In our application we have mounted Grape on rails and we are using Doorkeeper + WineBouncer to protect our endpoints.

I wanted to pass some special scopes to WineBouncer at runtime.

       oauth2  'r_admin', 'w_admin', special_scope
        get '/hello' do
        { "hello world" }
        end

Therefore I asked for a custom DSL in Grape where we can access the Grape environment information befo

[2015-08-11 12:35] dblock commented on #1094
I think it's a useful feature, lets leave this open.

[2015-08-11 15:18] alienxp03 commented on #1093
@dblock I'm using Sharetribe, along with this gem. My previous project was working fine though. So I guess it's probably it's because of Sharetribe. Since I'm the only who's having an issue with it, I guess it's fine. Also because I'm bit preoccupied at the moment, so gonna take some time before I can try to reproduce it. Anyway, thanks your help :)

[2015-08-11 15:41] michaelachrisco opened #1099 "Fast ruby idioms"
The fasterer gem has some good examples showing what methods are currently faster within ruby. I ran it on grape and found a few areas of improvement.
[code]

[2015-08-11 15:41] michaelachrisco commented on #1099
Ill add in a quick PR.

[2015-08-11 17:17] michaelachrisco commented on #1099
I believe we can exclude the `Parallel assignment is slower than sequential assignment.` error statements as https://github.com/JuanitoFatas/fast-ruby/pull/50#issue-98586885 shows the exact opposite recomendation from fast ruby.

[2015-08-11 19:09] elliotlarson commented on #1082
Okay, I created a pull request for this: https://github.com/ruby-grape/grape/pull/1101  At least, this seemed fairly straight forward to test and fix.  It looks like if the accept header was a media type, it was failing to catch the missing version and return a 406.

[2015-08-11 22:16] #1099 closed

[2015-08-11 22:40] dm1try commented on #1071
BTW you can explicity use the `:with` param for that case, as a workaround.

[code]

entity_class_name ?

[2015-08-11 23:19] dm1try commented on #1072
seems it's just an instance of Rack::Request(or Grape)

[code]

so you can prepare `env` using Rack::MockRequest
then build an instance of Rack::Request
then call `recognize`
[code]
or smth similar

really interesting..

[2015-08-12 08:32] yanyingwang opened #1102 "custom validators won't autoloaded"
# Custom Validators

[code]
[code]

This part of code is from Grape's Readme doc.

The problem is, when `requires :text, alpha_numeric: true` is call, `AlphaNumeric` won't be autloaded, because of method 'alpha_numeric' called, not Class 'AlphaNumeric'.

Please let me know if I was wrong.

[2015-08-12 09:02] vasilakisfil commented on #1072
Thanks!

[2015-08-13 13:00] dblock commented on #1072
Nice work @dm1try. Should Grape provide a helper? Or maybe an extension or a separate gem?

[2015-08-13 13:02] dblock commented on #1102
But if you explicitly `require` it, it will work right? I think Grape should attempt to auto-load a class if there's no `alpha_numeric` method already present. Maybe you can try and build a test case for this? I think you can add a path to $LIB or something like that in a test and expect it to try and load the class from there.

[2015-08-13 13:12] dblock commented on #1093
I think you're guessing, it could be anything. Do reopen if you have a project that you can share that demonstrates this problem.

[2015-08-13 14:45] alienxp03 commented on #1093
I've forked the Sharetribe repo and added `grape` and `grape-entity` gem to reproduce the error. Might need some configuration to get it running (need MySQL). I've made some notes on the README on how to reproduce the error I was talking about. Do let me know if you need anything else.

https://github.com/alienxp03/sharetribe

[2015-08-13 22:22] dm1try commented on #1072
@dblock I honestly don't have a good use-case of using this feature in my flow(debugging? seems we need  to make `grape-console` first :) )
Anyway, it will be great  for a start if someone can implement a helper/extension.

[2015-08-13 23:15] harmoney-danc opened #1103 "Attach metadata to an endpoint"
I have an after: callback set up on a namespace (to be executed for almost all APIs inside it). Now, for some of the APIs in the namespace I need to skip this after: callback. What are my best options?

I would like to be able to add some metadata to the particular APIs and test it in the callback:
Ex.
[code]

[2015-08-14 00:26] dm1try commented on #1066
rails 3 locked on `rack ~> 1.4.5`, do you wanna drop support of rails 3?)

[2015-08-14 01:11] yanyingwang commented on #1102
'require' works. And also, if code is like this `requires :text, AlphaNumeric.validation  :true`, everything will be ok. I'll post my test case ASAP.

[2015-08-14 01:13] yanyingwang commented on #1102
As a workaround, I have to call `AlphaNumeric` before code `requires :text, alpha_numeric: true` to make sure `AlphaNumeric` class auto loaded.

[2015-08-14 15:23] dblock commented on #1066
I would be open to dropping support for Rails 3 en general, but only if there's a good reason.

[2015-08-14 15:29] dblock commented on #1103
Attaching metadata to an endpoint is fairly easy. Here's one that adds a sort keyword, so you can have `sort :whatever` above the endpoint (annotation style DSL is nicer than the option passed as an additional parameter to the endpoint, this is how we do `params`).

[code]

I believe this is directly accessible via `ENV['api.endpoint'].route ...` in an `after` block. Can you confirm?

[2015-08-14 15:29] dblock commented on #1103
Generally these things are better brought up in the mailing list. I am going to close this, start a thread there or continue it here if you can't make it work.

[2015-08-14 15:29] #1103 closed

[2015-08-17 16:45] 23tux commented on #810
@Fryie +1

[2015-08-17 17:09] 23tux opened #1106 "params = declared(params) throws undefined method [] for nil:NilClass"
Hi,

when I try to overwrite my params like this

[code]

an error is thrown:

[code]

When I don't overwrite `params` or when I duplicate the params hash everything works fine:

[code]

Any idea on how to fix this?

[2015-08-17 17:18] 23tux opened #1107 "Include params from route into declared"
Hi,

maybe I'm doing something wrong, but it seems, that when I have a route like this `/api/articles/:id` and I use `declared(params)` the `:id` from the route is filtered out. In my opinion the `:id` is also declared, even it's not inside the `params` block.

So, is there an option to include the params from the route?

[2015-08-18 13:59] dblock commented on #1106
Interesting. We do `params.inject ...` and then a bunch of other stuff in https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/inside_route.rb#L48. Clearly `params` has been nil-ed in this context, you would have to debug why, I don't see it. Reference counting?!

[2015-08-18 14:02] dblock commented on #1107
Well, if it's not declared it's not declared :) I think the best way is to declare it. We parse and process path parameters [here](https://github.com/ruby-grape/grape/blob/94f52e48ef0a81405671ae410fb09616ec510ef9/lib/grape/endpoint.rb#L136), you should track where that goes. I think I'd like a method called `path_params` in a route that returns them or something like that if it doesn't exist, so I

[2015-08-18 17:24] dblock commented on #920
I am going to close this since the original problem is by design. We should have introduced a deprecation warning or something similar earlier, we can deal with that separately (looks like #1108 attempts to).

[2015-08-18 17:24] #920 closed

[2015-08-18 18:03] rnubel commented on #1106
This is actually just standard Ruby behavior when you're defining a local variable with the same name as a method; as soon as Ruby sees you're assigning that local variable, it changes the reference of that identifier to the variable, hiding the fact that the method exists (this is called "shadowing"). A simple, non-Grape related example:

[code]

To fix it, use a different variable name, or one o

[2015-08-18 18:09] dblock commented on #1106
![](http://i.imgur.com/iopCOZ4.gif)

I am going to close this, thanks @rnubel for the explanation I had no idea about this.

[2015-08-18 18:09] #1106 closed

[2015-08-19 13:14] atljeremy commented on #827
I'm also wondering the exact same thing as @guizmaii. I have a Grape Entity with some required attributes but if I only use the `desc` block with `params` set to my Entity's documentation there isn't any validation being done on the params when i make requests to the API for those resources. The only way I can get validation of the params is to also use the separate `params` block like below...

T

[2015-08-19 17:40] dblock commented on #1011
Closing, please reopen if you can describe the issue.

[2015-08-19 17:40] #1011 closed

[2015-08-19 17:41] dblock commented on #1010
So do we think it's a bug? I am inclined to close this, @dm1try what do you think? Bump @udiudi.

[2015-08-19 21:08] suan commented on #968
@romanlehnert @dblock But clearly we'd want the final behavior of having multiple-version-endpoints to work even if a `rescue_from :all` is present right? `rescue_from :all` shouldn't be catching _expected_ exceptions, especially exceptions needed for functionality.

We identified [the PR which caused this regression](https://github.com/ruby-grape/grape/pull/913), most specifically [this line](htt

[2015-08-20 00:35] dblock commented on #968
Adding @croeck.

[2015-08-20 03:31] dm1try commented on #1010
@udiudi  Unfortunately we can't do anything if we don't know how to reproduce the problem. That said, I'm closing this issue but let us know if you get a way to reproduce it. Also feel free to update `UPGRADING.md` if some step was missed.

[2015-08-20 03:31] #1010 closed

[2015-08-20 03:38] dm1try commented on #1084
Implemented in #1086.

[2015-08-20 03:38] #1084 closed

[2015-08-20 03:39] dm1try commented on #1082
Fixed in #1101.

[2015-08-20 03:39] #1082 closed

[2015-08-20 04:04] dm1try commented on #1066
The mentioned test is fixed in #1104.

The reason above(updating old dependencies) is not good one?) Anyway it's another issue and can be fixed later, I agree.

[2015-08-20 04:04] #1066 closed

[2015-08-20 04:47] dm1try commented on #1037
@dblock see https://github.com/ruby-grape/grape/blob/master/lib/grape/error_formatter/json.rb#L8
[code]

[2015-08-20 06:00] croeck commented on #968
@dblock thx for adding me. I'll have a look into this during the next couple of days.

[2015-08-20 06:30] dm1try commented on #904
Fixed in #906

[2015-08-20 06:30] #904 closed

[2015-08-20 06:33] dm1try commented on #124
Fixed in #1101

[2015-08-20 06:33] #124 closed

[2015-08-20 06:54] dm1try commented on #467
I agree with @tomchristie.

ATM you can set content type with encoding manually if you need "out-of-spec solution" for some reason.

This issuee is already fixed.

[2015-08-20 06:54] #467 closed

[2015-08-20 06:56] dm1try commented on #552
Fixed in #988

[2015-08-20 06:56] #552 closed

[2015-08-20 08:59] dm1try commented on #726
Honestly I have the same feelings as @Morred about this part of the documentation mentioned above.

Also some things are ambiguous to me in the current implementation with `default_format`.
For example
curl localhost:9292 -d '{}' -H "Content-Type: invalid/type"
[code]
@cmaitchison  mentioned that in the first comment

@dblock any thoughts?

[2015-08-20 09:02] dm1try commented on #677
Continue in #730

[2015-08-20 09:02] #677 closed

[2015-08-20 09:30] dm1try commented on #646
BTW it's not only about a `rescue_from`
`before/after` blocks and the other base stuff should precede the `mount`, otherwise they will be ignored.
One more problem with "mounted APIs"(or maybe the same).

[2015-08-20 09:33] dm1try commented on #1062
Fixed in #1063.

[2015-08-20 09:33] #1062 closed

[2015-08-20 09:38] dm1try commented on #890
Fixed in #1025

[2015-08-20 09:38] #890 closed

[2015-08-20 10:52] dm1try commented on #662
I tried your example on the `master` branch.
`rack` raises a range error before Hashie converts the params.

	/home/dmitry/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/utils.rb:135:in `normalize_params'

The main problem that you didn't specify content type for your large GeoJSON.
`curl` uses  `application/x-www-form-urlencoded` type by default for the `--data` params so this GeoJSON is parsed as

[2015-08-20 10:52] #662 closed

[2015-08-20 12:13] dblock commented on #726
So there're two sides of the story: what you supply as content-type for POSTed content and what you have in an Accept header in return. So I think we want this:

* Content-type: invalid/type should fail with an error, default format or not.
* no content-type should use the default parser via default format.
* no Accept: ... should use the default formatter.
* Accept: some/type that is not supporte

[2015-08-20 15:37] suan commented on #968
@dblock @croeck Thanks for the quick reply!

https://github.com/ruby-grape/grape/pull/1114 has been created as a proposal solution. We tried to find a way to tell "are there any mounted versions to try after this?" but found no way to do so, hence we falled back to just _always_ letting an `InvalidVersionHeader` go through. Please let us know your thoughts.

[2015-08-21 12:27] chrisyoumans commented on #958
Should `given` work within a nested parameter? E.g.:

[code]

Looking at params_scope_spec, it seems like it's intended to. However I'm receiving "undefined method `given' for #<Grape::Validations::ParamsScope:0x007fa01124c198> (NoMethodError)."

[2015-08-21 14:09] chrisyoumans opened #1115 "reusable params with shared helper - Boolean type problem"
When defining a reusable parameter using a shared helper, if my parameter is of type `Boolean`, I receive a NameError. (block in <module:ParamsHelper>': uninitialized constant ParamsHelper::Boolean (NameError))

[code]

All other types seem to work fine. It's as if it doesn't know where to look for the Boolean type. I even tried `type: Grape::Validations::ParamsScope::Boolean` and received: "block

[2015-08-21 14:30] chrisyoumans commented on #1115
OK, the problem goes away if I use `type: Virtus::Attribute::Boolean`. Seems a little strange considering that isn't necessary when the params are declared inside of the resource, but it works.

[2015-08-21 15:29] ngouy commented on #689
up

[2015-08-21 16:12] rnubel commented on #1115
This behavior is because that 'Boolean' constant is defined under Grape::API, [here](https://github.com/ruby-grape/grape/blob/5154b36ea924e7e17805d905c8e8e072f1cb1299/lib/grape/validations/validators/coerce.rb#L3). So it can be reached when you're inside an instance of Grape::API, but not from your module. I agree it's a little silly, though; it's always seemed weird to me that Ruby doesn't have a

[2015-08-21 16:26] qbyt opened #1116 "Incompatibility between 0.13.0 and Warden"
Hi,

We're experiencing a Warden compatibility issue upgrading a Grape app from 0.11.0 to 0.13.0.

When we attempt to access a URL which requires authentication we get this trace:

[code]

After realising that the issue went away with authentication disabled, we did some debugging from within Warden which lead us to this code: https://github.com/hassox/warden/blob/74162f2bf896b377472b6621ed1f6b400

[2015-08-22 10:11] croeck commented on #968
OK, first my apologies to all affected by this issue which seems clearly related to my changes :disappointed:

I looked into the issue as well as the proposed changes. Grape handles multiple versions via the `cascade=pass` header and leaves the actual work to the parent server, e.g. Rack.
With my changes the invalid versions were handled in the application as soon as there was a rescue handler, ra

[2015-08-22 12:10] dblock commented on #958
This was resolved in #1047.

[2015-08-22 12:10] #958 closed

[2015-08-22 12:11] dblock commented on #1115
I am not sure we can do anything about this, closing.

[2015-08-22 12:11] #1115 closed

[2015-08-22 12:14] dblock commented on #1116
This is because Grape no longer returns an array of status code, headers and bodies, but a `Rack::Response`. Check the top of https://github.com/ruby-grape/grape/blob/master/UPGRADING.md, there's quite a bit of detail.

It looks like something is trying to access the response with response[1] (probably trying to get the headers), whereas the response is an object. There's definitely a workaround w

[2015-08-22 12:14] #1116 closed

[2015-08-22 16:10] jf opened #1117 "README.md: block for "HTTP Status Code" needs to be moved"
Within the TOC, it's between "Cookies", and "Redirecting"; but right now it's right smack confusingly in the middle of the section about "Versioning"... See  https://github.com/ruby-grape/grape#http-status-code

[2015-08-22 19:43] dblock commented on #1117
Please PR! Thx.

[2015-08-22 20:43] dblock commented on #1117
Closed via https://github.com/ruby-grape/grape/pull/1118.

[2015-08-22 20:43] #1117 closed

[2015-08-23 04:04] jf opened #1120 "`do_not_route_options` should not call any `before` blocks`"
Right now if you have a `before` block declared, it will still get called.

[2015-08-23 13:09] dblock commented on #1120
https://github.com/ruby-grape/grape/pull/1119

[2015-08-25 07:10] yokas opened #1121 "require grape slow down app"
I've written a 'Hello World' app using Goliath, and I decided to mount Grape on top of it:

[code]
I benchmarked it:

`ab -n 1000 -c 100 http://localhost:9000/`

It shows that about 250 requests can be handled per second. But when I comment out the line require 'grape', this value suddenly increased to about 700. Can anybody answer why the simple require can bring such a huge difference?

P.S. I u

[2015-08-25 09:24] marshall-lee commented on #1121
Interesting...

[2015-08-25 10:20] marshall-lee commented on #1121
@yokas

It's all because of dependency bloat. Look at #1122.
But I also think that in a real I/O bound application you will not depend on CPU so much.

[2015-08-25 10:59] dblock commented on #1121
I've merged #1122, @yokas, can you please rerun and update your benchmark against HEAD. Lets see how much better it got? Thanks.

[2015-08-25 14:03] yokas commented on #1121
@marshall-lee @dblock Thanks, I will do a benchmark and feedback here.

[2015-08-25 16:23] atomless opened #1123 "Requiring Grape appears to break the ruby YAML parser!"
[code]
Output from the first puts is : ```{"doc"=>0}```
Output from the second puts is : ```{}``` and the following error is thrown by the line YAML::load(my_yaml2) :

[code]

As if this were not strange enough, if I change ```!!omap``` to ```!omap``` all works fine and no errors.

Any idea what's going on here?

[2015-08-25 16:25] marshall-lee commented on #1123
Interesting...

[2015-08-25 16:30] dblock commented on #1123
This is nuts.

[2015-08-25 16:34] marshall-lee commented on #1123
So many related issues in one day!
This is again `ActiveSupport`'s quirk.
`ordered_hash.rb` doesn't simply define `OrderedHash`, it adds some extension to `YAML`
https://github.com/rails/rails/blob/7779e63371d1248bce5f30ebbae43e13ee7abb6a/activesupport/lib/active_support/ordered_hash.rb#L3

I think we don't need `OrderedHash` in `Grape` at all. I'll open PR soon.

[2015-08-25 16:51] marshall-lee commented on #1123
@atomless

I guess you maybe use `omap` wrong. But I agree with you, `Grape` should not affect `YAML` behavior.

[2015-08-25 17:07] atomless commented on #1123
@marshall-lee good catch! The yaml I need to parse is coming in from an external source and appears to be valid according to http://www.yamllint.com/

[2015-08-25 17:50] marshall-lee commented on #1123
@atomless please report it to rails!

[2015-08-26 21:36] jrforrest commented on #1074
I ran into this issue a bit ago and put together this somewhat sloppy solution for my own fork since I hit this pitfall enough for it to annoy me (I am not a smart guy.)

[code]

I don't know the Grape codebase at all, but if anyone more savvy than I feels that this solution is in the general direction of correct, I'll go ahead and fix variable/method names, catch all problem cases (not just the g

[2015-08-26 22:44] yokas commented on #1121
@marshall-lee @dblock
Test result:
without `require 'grape'`: Requests per second:    430.80 [#/sec] (mean)
with `require 'grape'` original one: Requests per second:    126.40 [#/sec] (mean)
with `require 'grape'`, HEAD: Requests per second:    260.69 [#/sec] (mean)

[2015-08-26 22:51] marshall-lee commented on #1121
Twice, as I expected, but huge overhead still remains comparing to example without grape.

[2015-08-27 04:55] lukestephenson opened #1131 "Context around array validation failures"
Given a request like:
[code]
And the following parameter definitions:
[code]

Grape correctly detects that the input is invalid.  However there is no context in the errors collection about which item in the array was invalid.  Currently the error is reported against the key `orders[customerId]` but I need to be able to pair the errors back to the original element in the array like `orders[0][custo

[2015-08-27 05:45] TangMonk opened #1132 "grape no response and high CPU usage when exception raise."
If there is a code throw an exception, and request grape api again, it will always processing request, and high CPU usage, other requests cannot be processed.

In Rails 4 development environment

[2015-08-27 06:12] TangMonk commented on #404
`Hashie::Mash`.`to_h` works

[2015-08-27 08:53] marshall-lee commented on #1121
@dblock I think you should close it. More info here: https://github.com/postrank-labs/goliath/issues/319#issuecomment-135345269

[2015-08-27 14:39] dblock commented on #1074
I think a much simpler solution would be to declare `declared` in the `before` scope and have it raise an exception.

[2015-08-27 14:40] #968 closed

[2015-08-27 14:41] dblock commented on #1131
Grape doesn't provide array index context, and I think it should. Labelling this as a feature request.

[2015-08-27 14:42] dblock commented on #1132
This seems odd, you should try to provide a sample project where this happens. What's the process doing?

[2015-08-27 15:05] dblock commented on #1121
Makes sense, in development mode it reloads code every request. On goliath needs to run with `-prod`.

[2015-08-27 15:05] #1121 closed

[2015-08-27 15:09] atomless commented on #1123
@marshall-lee since you'r merge that apparently fixed this issue I updated my Gemfile and now running bundle I see : ```Using grape 0.13.1 from git://github.com/ruby-grape/grape.git (at 82d7c70)```

However requiring grape STILL breaks the ruby yaml parser in the exact same way outlined above.

[2015-08-28 09:46] marshall-lee commented on #1123
@atomless I cannot reproduce it anymore.

Look:
[code]

Are you sure  you load `grape` from Gemfile, not the globally installed one? It's easy to check:

[code]

Maybe you load another dependencies that `require 'active_support/ordered_hash'`? Check the value of `defined?(ActiveSupport::OrderedHash)`? It should be `nil`.

[2015-08-28 09:51] marshall-lee commented on #1123
Also, I recommend this for projects with `Gemfile`:
[code]

[2015-08-28 12:03] atomless commented on #1123
@marshall-lee - apologies - you are absolutely right. I had an issue with bundler. All is working now and can confirm that your fix solves the issue for me too. Thanks!

[2015-08-28 12:03] #1123 closed

[2015-08-28 12:42] dblock opened #1135 "Support JSON as a first class group parameter type"
Today Grape supports Hash and Array as a group parameter type and [raises UnsupportedGroupTypeError](https://github.com/ruby-grape/grape/blob/cc1e46f218b8d0029c6533c81716289c44335192/lib/grape/dsl/parameters.rb#L114) for everything else. We would like to be able to do `type: JSON`, like so:

[code]

Today you have to workaround this, see https://github.com/ruby-grape/grape-on-rack/commit/0f904bfe7

[2015-08-28 13:22] atomless opened #1136 "A POST endpoint should not be reachable via GET"
If I define a POST endpoint like so:
[code]
When this endpoint is targeted with a GET request I feel it should throw a 404 but the error is not getting through to my catchall error handler and instead I see an html page with the message:
[code]
If the endpoint is not defined at all then I do see the 404 response from the exception catch all. At the moment my exception catch all is just:
[code]
Inc

[2015-08-28 13:36] dblock commented on #1136
It should be returning a 406, Method not Allowed. Can you `curl` it and confirm that that's the case?

[2015-08-28 18:39] pragmaticivan opened #1137 "New Label for "First Contribution""
What about create a label to encourage new contributions?

Easy context, documentation, etc...

Label: "Good first task"

[2015-08-28 18:48] dblock commented on #1137
We have a "you can help" that serves just for that! https://github.com/ruby-grape/grape/labels/you%20can%20help  :)

[2015-08-28 18:48] #1137 closed

[2015-08-30 10:03] towanda commented on #1074
I have been taking a look at this, and I can't think of any solution better than the one @jrforrest proposes.

@dblock which ```before``` scope are you mentioning? I first tried to re-define declare in the before method in callbacks.rb, https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/callbacks.rb#L26, but they are class methods, and ```declared``` is an instance method, and also is l

[2015-08-30 13:37] dblock commented on #1074
There has to be a way to introduce scope into that execution that overrides a method. Probably dynamically. I might get to look into this :)

[2015-08-31 12:00] gottfrois commented on #1069
I also encounter the exact same issue. I was expecting to be able to add custom headers in the before method but the headers instance variable is defined after. Looking forward for this to be solved :)

[2015-08-31 18:14] towanda commented on #1136
@atomless The error you mention is not from grape, It's from chrome trying to render in xml grape response. If you try to access it from firefox, It returns a more descriptive error:
[code]

But if you try it with curl, it returns a 404 method, as @dblock says:
[code]

To specify an http status, you can use ```status```, see https://github.com/ruby-grape/grape#http-status-code

[2015-08-31 21:18] dblock commented on #1136
@towanda Thanks, minor correction, It returns a 405 as expected (see above) :)

I am going to close this.

[2015-08-31 21:18] #1136 closed

[2015-09-01 02:21] jrforrest commented on #1074
Well, I suppose we could further break `InsideRoute` into a couple of different modules that should be `extend`ed by the `Endpoint` after certain filters are called.

`Endpoint#run_filters` could be modified to do something like `extend Kernel.const_get("Grape::DSL::InsideRoute::Post#{type.camelize}")` so those methods aren't available to the filters being instance_eval'd until they're meant to be

[2015-09-01 07:00] igas opened #1141 "jsonapi.org and custom vendor content type"
Hi. According to spec http://jsonapi.org/format/#content-negotiation Content Negotiation part, I must use `application/vnd.api+json`.

If I do:
[code]
It return 406 cause try to use `json`. I found https://github.com/ruby-grape/grape/commit/3409da564294044a88b275f0651e6826988cec6c where vendor part drops. Is there any reason to do this?

From my point of view formatter should only format data, but

[2015-09-01 12:12] dblock commented on #1141
You need to tell Grape which format to use, so `format :jsonapi` I think will do it?

[2015-09-01 12:12] dblock commented on #1141
Bring it up to the mailing list if you're still having problems, I'll close this here.

[2015-09-01 12:12] #1141 closed

[2015-09-01 12:13] dblock commented on #1074
I think what you propose is a fine solution IMHO.

[2015-09-01 22:27] jrforrest commented on #1074
Sorry 'bout the reference spam.  Didn't realize issue references would get picked up on fork and I was force-pushing rebases like mad over there.

That PR aught to do it.  I would like to know if there's related issues for other filters though so I can address those while I'm at it.

[2015-09-02 17:18] atomless opened #1143 "Using declared(params) as outlined in docs throws an exception"
Using Grape -0.13.1, I have this endpoint:
[code]
When I request that endpoint I see this error:

```NoMethodError: undefined method `to_sym' for String:Class
	/Users/jamestindall/.rvm/gems/ruby-2.0.0-p643/gems/grape-0.13.1/lib/grape/dsl/inside_route.rb:34:in `block (2 levels) in declared'
	/Users/jamestindall/.rvm/gems/ruby-2.0.0-p643/gems/grape-0.13.1/lib/grape/dsl/inside_route.rb:33:in `each_pa

[2015-09-02 17:37] dblock commented on #1143
Try to write a spec for this. The actual params matter probably.

[2015-09-03 12:09] atomless commented on #1143
Okay I've investigated this further and believe I have pinpointed what triggers the error.

I have a helper with this in it:
[code]

I also have this before validation method:
[code]

The error is only thrown when I use the optional_prm on an endpoint AND define a default value like so:
[code]

[2015-09-03 12:56] atomless opened #1144 "Using type: Boolean in a param validation throws an error when placed in a helper file."
This works fine:
[code]
However, when placed in an external helper file like so:
[code]
it throws the error shown below:
[code]

[2015-09-03 13:40] dblock commented on #1144
Boolean is not a Ruby type. That said we should do something similar to [this](https://github.com/ruby-grape/grape/blob/5154b36ea924e7e17805d905c8e8e072f1cb1299/lib/grape/validations/validators/coerce.rb#L3), feel free to PR.

[2015-09-03 14:54] atomless commented on #1144
Thanks @dblock. Right, it's not a Ruby type, but it is in the Grape docs as a valid param validation type. Maybe just requires a note in the docs about including the line ```Boolean = Virtus::Attribute::Boolean``` in any helper that specifies it as a type? But yes, the solution you suggest would be cleaner!

[2015-09-03 16:24] dblock commented on #1144
I am not sure what the best implementation is, but we should be able to resolve `Boolean` to `API::Boolean` and eventually to `Virtus::...`.

[2015-09-04 12:47] atomless commented on #1143
Any pointers on how I might be able to patch this bug would be much appreciated!

[2015-09-04 12:59] dblock commented on #1143
Do you have a failing spec for this?

[2015-09-04 13:45] kristianmandrup commented on #446
How about if I have locale as an optional query string parameter. Would that work?

`/en/api/v1/blocks` or `/en/api/v1/blocks?locale=en` ??

[2015-09-04 14:28] rnubel commented on #1143
@atomless: the issue is a typo in your code, actually. This line is the problem:

      optional :prm, String, values: ['valid_prm1', 'valid_prm2'], default: options[:default_prm], allow_blank: false

The correct way to set a type for a param in Grape is with the `type:` option, not as the second argument to `optional` or `required`. What Grape is actually thinking you want is one parameter named

[2015-09-04 16:38] atomless commented on #1143
Aha! Excellent spot @rnubel. Apologies for wasting people's time here!

[2015-09-04 16:38] #1143 closed

[2015-09-04 17:12] atomless opened #1145 "declared(params) strips out default values from optional params"
I have noticed that ```@permitted_params = declared(params)``` will set to null any optional param values when they have a default value set and they have not been passed in the call to an endpoint.

Ideally I think that optional param values should be included in the params returned by the declared method. But this is not what I am seeing.

In other words. If a param that is optional, that has no

[2015-09-05 09:52] atomless commented on #1145
Thought I'd try to provide some example code here in case I'm doing something wrong.

[code]

A GET request to ```/api/v1/endpoint1``` will output : ```{ "gizmo" : null }```

[2015-09-07 07:45] TangMonk opened #1146 "WebKitFormBoundary with grape not work"
I use postman to test api, it send WebKitFormBoundary data with `form-data` content-type.

But grape cannot recognize

[2015-09-07 20:05] dblock commented on #1146
Can you provide some detail, maybe a `curl` repro or test or example? Usually a POST gets parsed by Rack::Utils::Multipart and this looks like multipart form data.

[2015-09-08 02:09] TangMonk commented on #1146
I use Postman for api test
![image](https://cloud.githubusercontent.com/assets/3498786/9724946/723a6522-5611-11e5-8f92-c0de8c9a5e87.png)

and this following request is catch from Charles(a web debug proxy)
[code]

Notice the `WebKitFormBoundaryg8BnIGABK4VLD2Be`, this maybe mean request is from webkit browser.

[2015-09-08 15:15] dblock commented on #1146
You should write a spec for this in Grape next. I think we want to support this out of the box.

[2015-09-08 21:31] ccastan1 opened #1147 "Call After block on error!"
Not sure if this was resolved, but I've been trying to log api calls from the middleware and on an error! the after call doesn't get executed. Is there a good way around this issue? Thanks!

[2015-09-09 10:59] dblock commented on #1147
You can write a separate middleware to handle this. I am not theoretically against to executing `after` blocks on error, but it would be a fairly major functionality change.

[2015-09-09 11:00] dblock commented on #1147
@ccastan1 It would be good to have a minimal example here or a spec that demonstrates this.

[2015-09-09 22:52] atomless commented on #1145
Anyone any ideas on this one? Is it a confirmed bug or am I doing something wrong?

[2015-09-09 23:15] pragmaticivan commented on #1145
Hey @atomless you're using `params :optional_gizmo`, So to pas gizmo as a param, you should use `params do |options|` instead.

I'm not sure but just try, otherwise you should use optional_gizmo[gizmo] to pass any data.

[2015-09-10 04:20] nqtien310 opened #1148 "Wrong params received in Grape actions"
Send
[code]
Receive
[code]

Somehow , from 3 elements array of Hash , I received 2 elements array of Hashie in Grape endpoint , with 2 of the them are merged.

I'm not sure this error relates to Hashie or Grape , if anybody has experience with this before , please help me , i'm stuck with it for a while

Best regards

[2015-09-10 14:09] klaustopher opened #1149 "Grape merging request parameters"
This might be a related to #1148, but I wanted to give some more context, so I'm creating a new issue.

I am creating an API where users can answer some questions in a questionary. Since I don't want to call our API for every single question I'm allowing more than one answer in the API call.

Params look like this:
[code]

So, I can receive an array of hashes with the form `{ question_id: 1, answe

[2015-09-11 18:39] juanibiapina opened #1150 "Generating Documentation"
Is there an easy way to generate documentation for an API built with grape? This is a requirement for us, but we could only find the gem that generates the swagger docs.

Do you have any plans for this?

[2015-09-12 00:28] brauliobo opened #1151 "Error with rack-mount and rails 4.2.4"
The following error happens only with rails 4.2.4 (and rack 1.6) and not on rails 3.2.22 (and rack 1.4):
[code]

The error happened because `rack-mount` is expecting the result of rack call to be an array, but it is a hash (file `rack-mount-0.8.3/lib/rack/mount/route_set.rb`):
[code]

It seems that `rack-mount` is unmaintained for a long time (even the repo was deleted). Have you considered to not

[2015-09-12 13:25] dblock commented on #1151
We've discussed rack-mount in https://github.com/ruby-grape/grape/issues/1072, nothing really came out of it, would love to replace it.

Grape did change the response to be a Rack::Response, and this is not supposed to happen, do you have a vanilla project in which we can see this?

[2015-09-12 13:26] dblock commented on #1150
There're projects like https://github.com/ruby-grape/grape-swagger and related. See http://www.ruby-grape.org/projects under Documentation.

Please use the mailing list for questions.

[2015-09-12 13:26] #1150 closed

[2015-09-12 13:34] brauliobo commented on #1151
@dblock yeah, just checkout https://github.com/noosfero/noosfero.git, branch *rails4*, then run

    BACKTRACE=blegga ruby -Itest test/unit/api/articles_test.rb -n /suggest_event_children/

We were using grape 0.13.0, is the change to Rack::Response there?

[2015-09-12 13:40] dblock commented on #1151
This was in 0.12.0, https://github.com/ruby-grape/grape/blob/master/UPGRADING.md#upgrading-to--0120, every time an issue like this has come up it seemed like the problem was in rack-mount but it wasn't.

[2015-09-12 13:46] brauliobo commented on #1151
@dblock the strange thing is that this is single failing test, among many others. I don't see any grape's middleware used.

[2015-09-12 14:36] brauliobo commented on #1151
@dblock an exception is happening! and as it happens thats the way it crashes the rack-mount! Do you  know why?

[2015-09-12 14:53] rizalmuthi opened #1152 "Grape array of hash as parameter"
Hi,

Thank you very much for this gem
But seems, i could not find anyway how to set the params so it can check/accept this kind of format:
[code]

Its an array with the value of hash. I could not get an idea how to setup this for the params.
is this possible?
Thanks

[2015-09-13 13:32] dblock commented on #1151
Lets reopen this, I'll take a look when I have a few.

[2015-09-13 13:34] brauliobo commented on #1151
@dblock it didn't happen on rails 3.2, so maybe it is a new way rails4.2/rack1.6 is issueing exceptions

[2015-09-14 12:37] dblock commented on #1151
This test passes on my machine, I have updated Grape to 0.13. How do I reproduce the problem?

[code]

[2015-09-14 12:39] brauliobo commented on #1151
@dblock we fixed the exception that was happening on the AR model. Maybe we can make a test to reproduce this inside grape.

[2015-09-14 12:41] brauliobo commented on #1151
@dblock maybe a simple `raise 'here'` somewhere in the model or maybe even in the api classes is enough

[2015-09-14 12:41] dblock commented on #1151
Do you have a commit or a way to put back the exception?

[2015-09-14 12:57] dblock commented on #1151
The problem is this:

[code]

If you rescue an error you're not supposed to swallow it. It's clearly not well documented, but what's happening here is that `logger.error ...` just returns `true`, so the result from the middleware is `[true, nil, nil]`, which isn't what Rack expects.

Help me edit the README to explain this?

A simple fix is

[code]

This causes the following response:

[code]

If

[2015-09-14 13:08] brauliobo commented on #1151
thanks a lot @dblock, I'll test this.

on https://github.com/noosfero/noosfero/commit/190f639e951d5bf110eca5dddf4e7a386e0c7808 the test should still FAIL

[2015-09-14 13:09] dblock commented on #1151
See my explanation above. LMK if you need help.

[2015-09-14 13:09] #1151 closed

[2015-09-14 13:16] dblock commented on #1152
Check out https://github.com/ruby-grape/grape#validation-of-nested-parameters, e-mail the mailing list if you can't get it to work.

[2015-09-14 13:16] #1152 closed

[2015-09-14 13:16] brauliobo commented on #1151
@dblock nice, just applied your suggestion on error handling: https://github.com/noosfero/noosfero/commit/8bc107b42da009093bcd73b1f946454e968b44c3

Looking to the README all its examples show this. We really missed that, gonna contact the api developers.

[2015-09-14 13:35] dblock commented on #1149
This is actually expected. There's [no standard way](http://stackoverflow.com/questions/6243051/how-to-pass-an-array-within-a-query-string) of passing arrays within a query string.

Rack::Test doesn't support this, so it produces the following value in env['rack.input']: `"answers[][question_id]=1&answers[][answer][text]=foo&answers[][answer][text]=bar"`. It works for a hash, but not for an array

[2015-09-14 13:35] #1149 closed

[2015-09-14 13:36] dblock commented on #1148
See https://github.com/ruby-grape/grape/issues/1149 for an explanation. I am pretty sure it's the same (non)problem.

[2015-09-14 13:36] #1148 closed

[2015-09-14 13:37] klaustopher commented on #1149
Ah, thanks... I thought I had added the Content-Type as a default, but it isn't... Sorry for the trouble

[2015-09-14 14:00] dblock commented on #1149
N/p :)

[2015-09-14 16:07] towanda commented on #1144
This can be closed, It's fixed here: https://github.com/ruby-grape/grape/pull/1153

[2015-09-14 17:25] #1144 closed

[2015-09-14 17:25] dblock commented on #1144
Closed

[2015-09-16 19:06] prowler opened #1155 "Double require in spec_helper.rb"
Just a little thing, guys. There is a duplicate
[code]
in [spec_helper.rb](https://github.com/ruby-grape/grape/blob/master/spec/spec_helper.rb#L11) on lines 11 and 15.

[2015-09-16 19:10] dblock commented on #1155
Care to PR a fix? Thanks.

[2015-09-16 19:17] prowler commented on #1155
Sure :)

[2015-09-17 14:48] towanda commented on #1074
@dblock this can be closed, since It's resolved here: https://github.com/ruby-grape/grape/pull/1142

[2015-09-17 15:58] dblock commented on #1074
Thanks @towanda, closing.

[2015-09-17 15:58] #1074 closed

[2015-09-20 10:12] towanda commented on #1146
@TangMonk I'm trying to reproduce it, but I can't. I have tried to reproduce it with a minimal grape app:
[code]
I'm sending a post request with postman:

[code]
But I get a 201 (as expected):
[code]
and the title in the response.

If you compare both requests, yours and mine, you can see one important difference:
Yours:
[code]
Mine:
[code]
The ```boundary``` parameter is what the server uses to s

[2015-09-20 10:14] towanda commented on #1146
@dblock could you remove the feature request tag, please?

[2015-09-20 11:19] towanda commented on #1145
@atomless I have tried to reproduce it, but I can't. I have tried with the code you posted, but I get the expected result:
[code]
Are you using the last version of grape? Is there any other thing which may be affecting your result?

[2015-09-21 00:54] TangMonk commented on #1146
@towanda, I figure it out, I just add content type manually to postman

![image](https://cloud.githubusercontent.com/assets/3498786/9983853/40f6e86e-603e-11e5-817d-35c4eedc683b.png)

 Thanks

[2015-09-21 00:54] #1146 closed

[2015-09-21 08:40] dslh commented on #1135
Here's my attempt. I've gone with a generalized solution to support both hashes and arrays, but it seemed natural to support primitive types as well so things like `type: Time, coerce_using: Chronic` are also possible.

At the moment it cannot be supplied without a `type` or `coerce` parameter. You could drop this constraint by either implicitly setting type to `String`, which the documentation al

[2015-09-21 11:15] #1155 closed

[2015-09-21 11:56] dblock commented on #1146
Thanks for jumping in @towanda.

[2015-09-21 12:00] dblock commented on #1135
Very nice work @dslh! I just commented on `coerce_with` vs. `coerce_using` in the PR, so sounds like we both think it's more natural to do `coerce_with`. LMK when you have updated it.

[2015-09-21 12:04] dblock commented on #1135
So after #1161 is merged can I write `type: JSON`, since `JSON.parse` exists or do we need to do more work?

[2015-09-21 13:33] dslh commented on #1135
I've updated the name to `coerce_with`. `type: JSON` will be extra work I believe, it would be passed to `Virtus::Attribute.build` as the type, and even if that somehow works I think it will fail in the last clause of `CoerceValidator::_valid_single_type?`.

I'm tempted to say implement it as `type: Array, coerce_with: ->(json) { Array.wrap JSON.parse(json, symbolize_names: true) }`. It might seem

[2015-09-21 14:04] dblock commented on #1135
Lets leave this open until we can do `type: JSON`. Want to give an implementation a try?

[2015-09-21 15:04] dslh commented on #1135
Sure. Any objection to wrapping hashes in an array?

[code]

[2015-09-21 15:45] dblock commented on #1135
You mean *always* wrapping them into an array? Maybe instead we could have `JSON` and `Array[JSON]`? Is that crazy?

[2015-09-21 16:19] dblock opened #1162 "XML formatter can raise errors in scenarios where it shouldn't possibly even be invoked"
The scenario in https://github.com/ruby-grape/grape/pull/1159 is that OPTIONS returns an empty string that the XML formatter tries to serialize and fails.

The scenario in https://github.com/ruby-grape/grape/pull/1157 is that a redirect causes an empty body and fails.

[2015-09-21 16:21] dblock commented on #1162
@urkle would love a spec that fails with an accept header which included xml but not JSON

@franzliedke would love a spec where the redirect causes the same error

I'll take suggestions on what the "right" fix would be here.

[2015-09-21 17:27] dslh commented on #1135
My thinking is that `type: JSON` then becomes a shorthand for "one or many objects encoded as JSON", a pattern I've seen implemented in endpoints in the past. People wanting more control can then fall back to `type: Array/Hash, coerce_with: JSON`. We could also detect `Array[JSON]` as a shorthand but I don't know what you'd then use as an analogue for hashes.

This is why the first effort has `typ

[2015-09-21 17:45] urkle commented on #1162
What about adding a method that can be called by the "redirect / options" handlers to disable the use of the formatters?

[2015-09-21 18:04] dblock commented on #1135
@dslh I am with you re: _one or many objects encoded as JSON_ but I am not a huge fan to forcing it to be an array of 1. If someone cares they can always do `x = Array(params[:x])`.

[2015-09-21 18:08] urkle commented on #1162
Here is a spec that fails with the current code. This is using request headers that firefox sends in the OPTIOPNS request that it sends before a POST request.  It sends this Accept header regardless of whether the POST has it's Accept header set to JSON or XML!

[code]

Also I noticed that the OPTIONS request by default is sending back an Allow header..  the Allow header is only supposed to be sen

[2015-09-21 18:23] urkle commented on #1162
So, a cleaner proposed change.   the redirect and option essentially have NO content.. (thus should not even have the Content-Type header).   So we need a way for the handler to denote this to the grape core.  either via a method  e.g. ```no_content```  or by returning some fixed value (e.g. a class) that can be tested against and the code would bypass the formatters in that scenario and omit the

[2015-09-21 18:28] dslh commented on #1135
OK, I am probably over thinking things. I'll see what I can come up with for an ambiguous `type: JSON` directive.

[2015-09-21 18:28] dblock commented on #1162
Why can't we make the XML formatter behave like the JSON formatter?

[2015-09-21 18:30] urkle commented on #1162
because an empty string is not valid XML.. but an empty string "" IS valid json..   JSON can be simply
[code]

and HTTP RFC spec-wise  the Options and Redirect should NOT be returning a content-type at all and should simply have no body.  That is the correct way to handle those.

[2015-09-21 21:12] dblock commented on #1162
So, lets make sure that options and redirect don't have a body and that no formatter is invoked unless there's a body explicitly set?

[2015-09-21 21:15] urkle commented on #1162
the issue with that is that for JSON, (and plain text) an empty string is a valid response.  so the safest approach is to have the redirect / options set or return a marker that can be tested to mean "REALLY no body here.. move along".  that way the behaviour is 100% opt-in and will never interfere with someone's ill-conceived API that legitimately returns an empty string.

[2015-09-21 21:18] urkle commented on #1162
Also it's more than just not running a formatter.. It's also that the content-type header should NOT be set in the response headers.

[2015-09-21 21:26] dblock commented on #1162
Empty string yes, empty body not so much. If the body is `nil`, skip the formatter altogether - all I am saying is that it shouldn't be something specific to the XML formatter. Try it? See what specs break, if any?

[2015-09-22 01:56] urkle commented on #1162
I never said something specific to the XML formatter.  I was stating generically.  And is "nil" a safe enough marker to make to mean "no body".  Is there any legitimate usage for returning nil?  It is technically valid for JSON, but not for other formats natively supported by grape.

My thinking was simply to create an empty class e.g.

[code]

And yes this could work as well with nil, so long as

[2015-09-22 10:13] franzliedke commented on #1162
I agree that we should just return some marker to indicate formatters should be skipped. :+1:

What that should look like exactly is not up to me to decide - you know the code far better than I do. :)

[2015-09-22 11:14] dblock commented on #1162
I think `nil` could mean `Grape::NoContent`, even though `null` is valid JSON, _unless_ there's already a spec for this. I can't imagine anyone depending on this behavior.

[2015-09-22 18:27] dslh commented on #1135
There we are. `Array[JSON]` wraps single objects, `JSON` does not. `Array[JSON]` could be made to reject single objects easily enough but there doesn't seem to be a good reason for it. I am wondering if the documentation could be clearer or more concise, it makes sense to me but then I just wrote it.

[2015-09-23 10:53] alexandergitter opened #1164 "Param type Rack::Multipart::UploadedFile does not result in object of that type"
Declaring a parameter as Rack::Multipart::UploadedFile doesn't seem to actually yield a parameter of the same type. Instead I'm getting instances of Hashie::Mash.

The endpoint i use to test this looks as follows:

[code]

[2015-09-23 12:28] samotarnik commented on #689
@dblock
I've been playing with this for the past couple of days. From what I understand, there are two separate issues here, namely coercion and validation.

Coercion is currently done via Virtus which brings along some interesting consequences. For example
[code]
and
[code]
There are several options here. One is to augment Grape to handle such cases. Another is to fix Virtus to handle these bette

[2015-09-23 13:51] dslh commented on #1164
That's correct. This hash is created by `Rack::Request` when processing multipart file data. Grape wraps it with Hashie for convenience.

[code]

Not sure if this is documented anywhere in either library.

[2015-09-24 12:23] dblock commented on #1135
Closed via https://github.com/ruby-grape/grape/pull/1163.

[2015-09-24 12:23] #1135 closed

[2015-09-24 12:27] dblock commented on #689
That seems like a reasonable statement. So probably when parameter validation fails, it would include a coercion error?

Lets look at your `between` implementation ...

Feel free to PR a fix for the running of a standalone spec and refactoring of said specs as you see better, of course.

[2015-09-24 12:34] dblock commented on #1164
I'll leave this open, @alexandergitter feel free to suggest a doc improvement?

[2015-09-24 16:25] alexandergitter commented on #1164
Sure, I'll take a look at it later this week.

[2015-09-25 10:41] samotarnik commented on #689
Right.

So, `Virtus::Attribute` has a "strict mode" support, where it raises an error if the coercion fails (see [here](http://www.rubydoc.info/gems/virtus/1.0.5/Virtus/Attribute)). Perhaps, that should be used in Grape's `CoerceValidator` class (glancing at it, I'm not sure that is currently the case).

Regarding the validators' specs, my idea of how these should look like is something along the

[2015-09-25 18:42] dblock commented on #689
Yes, please at least open an issue.

[2015-09-25 20:25] samotarnik opened #1165 "Tests are not independent"
If I am not mistaken, the tests are not independent, i.e. their success depends on the order of execution. Which is quite a problem. Compare
[code]
with
[code]
and finally
[code]
In the second case, I get at least two failing examples (specifically with seed 35635: `bundle exec rspec --order rand:35635`):
[code]
And in the third case at least two other specs break:
[code]
Can anyone confirm this?

[2015-09-26 17:35] marshall-lee commented on #1165
Maybe It's due to constants definitions in specs

[2015-09-28 15:29] frobichaud commented on #1147
@ccastan1 @dblock, this is how I'm trying to wrap API calls with a middleware:

[code]

Then in my API:
[code]

My middleware after block is never called when the API endpoint raises an error...

[2015-09-28 16:42] frobichaud commented on #1147
Looks like the following middleware would do it:

[code]

[2015-09-28 21:11] dblock commented on #1147
Makes sense @frobichaud. If you have time, see if any tests break if `after` is executed on error as well. If nothing breaks, I would take a PR that documents, tests and explains the change in UPGRADING.

[2015-09-28 21:34] #1165 closed

[2015-09-28 21:35] dblock commented on #1165
This is just test classes walking all over each-other, fixed in https://github.com/ruby-grape/grape/commit/00dc6d8738a66bceae9d719143c86e490465fe12.

[2015-09-29 19:37] pkrefta opened #1168 "Can I present a Hash using entities ?"
Hey guys,

I've an API endpoint which returns quite complicated JSON structure. It's a result of calculation and representing it with model would be quite complicated. Right now my endpoint looks similar to this
[code]
I'd like to present my result using entities because it makes my code cleaner and easier to document thanks to **grape-swagger**.

How can I achieve something like that ?

[2015-09-29 22:31] pkrefta commented on #1168
Seems the most straightforward method works (shame on me)
[code]

[2015-09-29 22:31] #1168 closed

[2015-10-03 01:55] ka8725 commented on #1151
Seems the problem is still present when using `rack/test` in tests:

[code]

[2015-10-03 12:17] long-long-float opened #1171 "File and Rack::Multipart::UploadedFile are different in params type."
I used `File` and `Rack::Multipart::UploadedFile` as type in params block. Then I got `file is invalid` when I use `File`. Using `Rack::Multipart::UploadedFile`, I got valid size of file.

I tested following code:

[code]

Sorry for my broken English.

[2015-10-03 19:09] dblock commented on #1151
@ka8725 If you can have a very simple repro that would be helpful.

[2015-10-03 19:10] dblock commented on #1171
`type: File` hasn't shipped yet, see https://github.com/ruby-grape/grape/blob/master/CHANGELOG.md. Is that it?

I'll close it, but reopen if this is still a problem on HEAD.

[2015-10-03 19:10] #1171 closed

[2015-10-03 21:39] ka8725 commented on #1151
@dblock take this [repo](https://github.com/geekazoid/grape-warden). Update `grape` to `0.13.0`. Run it with `rackup` and `curl localhost:9292/foo`.

Note, the code works with the old version. But, actually, I don't think that the problem in Grape. Possible fix in [warden](https://github.com/hassox/warden/pull/119).

[2015-10-04 15:10] dblock opened #1174 "NoMethodError: undefined method `[]' for nil:NilClass w/ Warden"
Discussed in https://github.com/ruby-grape/grape/issues/1151, see https://github.com/hassox/warden/pull/119 for a fix in Warden. Needs a note in UPGRADING for Grape.

[2015-10-04 15:11] dblock commented on #1151
This makes sense. I opened https://github.com/ruby-grape/grape/issues/1174. I'd like some note in UPGRADING about this error and known issues with middleware such as Warden. Please feel free to PR anything that would be useful for the next person.

[2015-10-05 02:39] aoyama-val opened #1175 "How to see elapsed time in rendering view"
Normally, Rails writes logs like
[code]
in development.log.
However, when using grape, it doesn't. How can I see elapsed time?

[2015-10-05 11:07] dblock commented on #1175
This is something you can do with a middleware. There're a few in the logging section of http://www.ruby-grape.org/projects, but you'll probably will have to write one to achieve exactly this. Other possibly better long term solutions are things like newrelic.

I'm going to close this, please use the mailing list for questions.

[2015-10-05 11:07] #1175 closed

[2015-10-07 01:43] antulik opened #1177 "default_error_status does not inherit from its mounted parent"
[code]

`error!` inside `Api::Status` would respond with 500

[2015-10-07 08:52] gottfrois opened #1178 "Grape::Exceptions::UnknownValidator"
I have the following files:

[code]

If I want the above to work, I have to manually require the validator class in `base.rb` file, like so:

[code]

which result in throwing warnings:

[code]

since rails will automatically require the validator as well. Any idea why grape is not able to pick up the custom validator? Looks like a require order issue or something. Any clue?

Thanks

[2015-10-07 13:26] towanda commented on #1178
Yes, It seems like a require order issue, how are you loading grape in rails?

[2015-10-07 13:30] gottfrois commented on #1178
nothing fancy, i have grape in the gemfile and have this in my route:

[code]

[2015-10-07 16:21] jimboslicethat opened #1180 "Nested requires method does not work properly 3 levels deep."
If a parameter is optional AND a hash or an array, all required parameters within the optional hash or array should only validate as required if the parent parameter exists in the request.
However, this seems to break three levels deep. I have a parent param which has a required child array. And inside that child array I have an optional grandchild array. Any requires methods within the grandchild

[2015-10-08 12:18] dm1try commented on #1178
`grape` doesn't have an autoloading mechanism for custom validators (PR are welcomed).

In your case you can use [require-dependency] (http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#require-dependency)
[code]

But I should explain why this happens.
First, how does `grape` load buit-in validators?
+ Validator files are [explicitly required](https://github.com/ruby-grape/grap

[2015-10-08 12:32] gottfrois commented on #1178
Thanks for the great explanation, makes perfect sense now. I'm guessing we could improve things on grape by looking up for the constant when we hit the `:uuid` value in validator parameters?

[2015-10-08 17:49] dm1try commented on #1178
@gottfrois this sounds reasonable, but I think we should register all available validators(bullt-in/custom) before a hitting anything(`validators_paths` helper would be helpfull to register a bunch of validators from different directories).

Also I'm personally don't like the implementation using `inherited` callback(the validator code must be eager loaded for this).

ok, the 3th solution :)
[code

[2015-10-08 22:01] gottfrois commented on #1178
Since grape params are declarative, we could simply add a constant lookup strategy in place that will be trigger when the ruby file is loaded. Am I missing anything? We don't have to look for the constant when someone hits the endpoint.

Yeah sounds like an easy solution. Ideally you would look/require only used constants.

[2015-10-09 01:49] dm1try commented on #1178
You should be able to resolve the constant nesting in that place (from `:uuid` to `Api::V2::Validators::Uuid`).

[2015-10-14 13:31] suan commented on #986
@dblock Would you mind providing a more specific example of how we can get at the request from within a validator? I see that I can access the `@scope` variable from within my validator, but I don't see the params_scope containing any info about the actual request

(In my case, I'd like to get at the request path and headers)

[2015-10-14 14:28] dblock commented on #986
Right @suan, I reopened it because I don't actually see how. I'd welcome someone solving it!

[2015-10-14 18:01] suan opened #1183 "per-action before/after hooks?"
Right now it seems that the smallest unit which we can apply a before/after block to is the resource or namespace. It would be really nice to be able to apply these hooks to just specific actions. e.g.:

[code]

[2015-10-14 20:30] codegoblin opened #1184 "Integer Parameter in GET request not coerced properly"
Hi,

given the following:
[code]
when I make the request `/cards.json?project_id=1`, I get
[code]
If I switch to `type: String`, however, this works. Any idea why the coerce isn't working? Is this intentional?

[2015-10-14 20:33] codegoblin commented on #1183
+1. I would also like scoped before_filter-type functionality

[2015-10-14 20:56] codegoblin commented on #1184
Funny enough, using rack test methods this, however, does pass if I do
[code]
however, `curl -X GET --header "Accept: application/json" "http://api.kancan.localhost/cards.json?project_id=1"` is still returning `{"error":"project_id is invalid"}`

[2015-10-14 22:03] codegoblin commented on #1184
Ok, I got more information. Given the previous curl request, the project_id param actually will get the String value '1?' instead of just '1' for some reason.

[2015-10-14 22:08] codegoblin commented on #1184
changing my test from `get '/cards', params` to get `'/cards?project_id=1'` yields the same results. Looks like a problem with parsing query params.

[2015-10-14 23:57] #1184 closed

[2015-10-15 10:51] dblock commented on #1183
Did you try `namespace` without arguments around a single method?

I think a plain `before` block would make sense just like `params`, but unfortunately that would be ambiguous with one that applies to the entire current scope. Suggestions welcome.

[2015-10-15 10:52] dblock commented on #1184
@codegoblin You closed this? Care to explain?

[2015-10-15 11:53] flocsy commented on #438
+1, logger is essential in the whole code, especially in rescue_from. It's a pity it wasn't solved yet after more than 2 years :(

[2015-10-15 13:45] dblock commented on #438
@flocsy Make a PR?

[2015-10-15 20:15] dslh commented on #1180
I've attempted to write a failing spec to duplicate your problem but I can't coax it into failing. Do you think you could take a look and see if there is anything obviously different to your setup, or maybe have a go at getting it working (i.e. failing) yourself? Maybe some of the stuff you've cropped out such as `desc` are significant?

[2015-10-15 20:17] dslh commented on #1164
This is now documented in the readme. Close?

[2015-10-15 20:28] dblock commented on #1180
Try to build a minimal example maybe on top of https://github.com/ruby-grape/grape-on-rack? I mean either way we just need to isolate this first.

[2015-10-15 20:28] dblock commented on #1164
Closing.

[2015-10-15 20:28] #1164 closed

[2015-10-16 19:19] dm1try commented on #1178
@gottfrois take a look on the referenced issue, I've implemented some part

[2015-10-20 02:30] SeongUk-Han opened #1189 "support array default value"
I want to declare default value as an array like below.
[code]

But, IncompatibleOptionValues exception raised.
[code]

https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/params_scope.rb#L269
This line seems to be modified to support an array default value.

[2015-10-20 11:04] dslh commented on #1189
I think that line's a bit of a red herring. it's checking that the default is a single value contained in the allowed values array, such as the case:

[code]

Grape has some 'hidden' features (see [CustomTypeCoercer](https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/types/custom_type_coercer.rb) on head) that could probably be made to do what you're trying to do here, but it se

[2015-10-21 12:16] #693 closed

[2015-10-21 22:43] dm1try commented on #1189
as for me it's ambigious :neutral_face:
I'd prefer to use the `consist_of` validator (not implemented :) ):
[code]
In such case  the `values` validator does the same work as it does for any other type(explicity allows only the value defined in the collection, any value in the collection has the same type as param type)
`consist_of` works only for a collection type(raises an error for other types)

[2015-10-21 23:00] dslh commented on #1189
:+1:

Call it `members` to fit with `values`?

[2015-10-21 23:13] dm1try commented on #1189
@dslh good point, I agree with you!

[2015-10-22 14:24] MeterSoft opened #1191 "grape routes with rake"
How i can mount one class to different routes
my code

module Inter
  class API < Grape::API
    mount ::API::V1::InterV1 => "/api"
    mount ::API::V2::InterV2 => "/api/v2"
    mount ::API::V2::InterV2 => "/api/software"
  end
end

but it generate /api/v2/api/software

[2015-10-22 14:57] maxtor commented on #1054
same issue with Puma in multi threads mode

1 concurrency works fine

with concurrency works will error:
[code]

[code]

Gemfile:
[code]

config/puma.rb:
[code]

[2015-10-22 16:31] rnubel commented on #1191
It's not currently possible to mount one API under two different routes. See https://github.com/ruby-grape/grape/issues/570 for more details and a workaround.

[2015-10-22 16:40] dmitry commented on #1054
@maxtor we have `grape_logging` in our project, API runs in parallel but we are using nginx + passenger.

[2015-10-22 16:58] guizmaii commented on #1147
:+1: It could be a great functionality !

[2015-10-22 18:27] elliotlarson opened #1192 "Custom Rack::Response"
I have a `post` endpoint where I'd like to conditionally return a custom Rack::Response, like so:

[code]

However, this returns the following response body:

[code]

It looks like the response is doubling up.  What is the correct way to return a custom Rack::Response from my endpoint?

[2015-10-22 21:38] dblock commented on #1191
Closing this as a dup of #570.

[2015-10-22 21:38] #1191 closed

[2015-10-22 21:39] dblock commented on #1054
Lets figure out what the problem is here. Maybe start doing this on https://github.com/ruby-grape/grape-on-rack which is a lot simpler? I'll reopen the issue.

[2015-10-22 21:42] dblock commented on #1192
The problem is that it's going through a formatter. Before we figure out how to shortcut Grape in this case, I bet you can solve this by just doing `status 418` and returning `[hash_of...]` as is. No?

[2015-10-22 21:54] elliotlarson commented on #1192
Ah, fantastic!  Yes, that totally works.

Thank you.

[2015-10-22 21:58] dblock commented on #1192
I've renamed this to "Support aborting requests via a Rack::Response.finish`, and labeled this as a feature. I am not sure we want this, but it's a valid thing.

[2015-10-22 22:19] elliotlarson commented on #1192
Right, it seems like it would be "a valid thing".  I kind of assumed you could just circumvent the Grape response with your own Rack::Response.  However, your suggestion solves the one use case where I wanted to do this.  I can't really think of another use case.

[2015-10-23 10:50] maxtor commented on #1054
@dmitry: Do you use passenger in multi-thread mode or single-threaded, multi-processed I/O concurrency?

check your setting `PassengerThreadCount`

Phusion Passenger supports two concurrency models:

* process: single-threaded, multi-processed I/O concurrency. Each application process only has a single thread and can only handle 1 request at a time. This is the concurrency model that Ruby applicat

[2015-10-23 11:09] dmitry commented on #1054
@maxtor sorry, I forgot that we've changed our passenger servers back to the process half a year a ago (I throught we are using threads for the API). Then it could be an issue somewhere in the grape middleware.

I will try now with thread processes on passenger, because I'm actually interested to get threads back to our API servers.

[2015-10-23 11:24] dmitry commented on #1054
And running as `passenger start --concurrency-model=thread --thread-count=10`

[code]

Gems:

[code]

Some more info:

[code]

Could be a problem in rails, as we have `gem 'rails', '~> 3.2.13'` and you might have 4.1.x or 4.2.x

[2015-10-23 18:28] maxtor commented on #1054
@dmitry

I don't have `rails` in my project
[code]

As you can see from my backtrace it crashes in `grape_logging` which uses `activesupport`
If I disable logging, no errors.

[2015-10-23 18:32] maxtor commented on #1054
ActiveSupport::Notifications is not thread-safe?

[2015-10-23 19:07] kesin commented on #417
Works fine for me!

[2015-10-24 09:46] dmitry commented on #1054
Looks like `ActiveSupport::Notifications` is thread-safe:

- https://github.com/rails/rails/blob/4-2-stable/activesupport/lib/active_support/notifications.rb#L186
- https://github.com/rails/rails/blob/4-2-stable/activesupport/lib/active_support/per_thread_registry.rb#L40

How do you mount grape, directly to rack or do you have additional layer?

[2015-10-26 10:37] maxtor commented on #1054
@dmitry

[code]

if I disable `GrapeLogging` here, no errors.

[2015-10-26 11:39] dmitry commented on #1054
@maxtor what does `event.duration` returns here: https://github.com/aserafin/grape_logging/blob/master/lib/grape_logging/middleware/request_logger.rb#L12 ?

[2015-10-26 15:35] maxtor commented on #1054
@dmitry

it returns `nil`

[code]

[2015-10-26 15:41] holyketzer commented on #1189
+1 for this feature and `consist_of`

[2015-10-26 16:02] dmitry commented on #1054
`Api::App.logger.debug?` - is it true?

[2015-10-26 16:06] maxtor commented on #1054
yes

[2015-10-26 16:17] dmitry commented on #1054
Then I'm out of ideas. Could be an issue how `ActiveRecord` is initialized.

[2015-10-26 16:22] maxtor commented on #1054
https://github.com/aserafin/grape_logging/blob/master/lib/grape_logging/middleware/request_logger.rb#L11

Second parameter in *args is nil, so it created Event with `@time=nil`

[2015-10-26 16:34] maxtor commented on #1054
nothing special here

[code]

[code]

[2015-10-26 17:08] maxtor commented on #1054
ActiveSupport::Notifications events sometimes missing start time in heavily-threaded environments https://github.com/rails/rails/issues/12069

[2015-10-26 21:13] dmitry commented on #1054
@maxtor can you try to reproduce it with https://github.com/ruby-grape/grape-on-rack  ?

[2015-10-27 03:38] thejchap commented on #1183
@dblock is this outstanding still? Looking for a way to contribute....wouldn't mind tackling this

Re: scoping perhaps the methods could be called outer -> inner (in the order they're defined) similar to the order of execution of `before` blocks in rspec contexts

[2015-10-27 18:13] dblock commented on #1183
Yes @thejchap. I am not sure I would like to introduce another variation of `before` called `outer` tbh. Can we first check whether `scope` or `namespace` lets one do a `before` method?

[2015-10-29 07:20] atomless commented on #1136
Sorry for the late reply, I was unable to look at this again until just now.

Here's the curl output to confirm the bug.
The "target/clear" endpoint is defined as a POST endpoint.

Sending a POST request works as expected:
[code]

Sending a GET request returns a 404:
[code]

Please can you reopen this issue?

[2015-10-29 15:10] jimboslicethat commented on #1180
Unfortunately in between the time I posted this and today, there has been a massive push by upper management to move to a C# .NET environment with the current API which is written in Ruby with Grape. I'd like to say that I can justify the time trying to figure this out just in case it is  a bug, but if you aren't able to replicate the problem, my guess is that it has something to do with the versi

[2015-10-29 17:47] dblock commented on #1180
Closing this. Sorry to hear you're stuck with C# for writing an API @jimboslicethat  :(

[2015-10-29 17:47] #1180 closed

[2015-11-02 07:18] zuk commented on #438
Just for the record, `error!` is available in `rescue_from` blocks since 0.12.0. See https://github.com/ruby-grape/grape/pull/974

Other/custom helpers however still aren't.

[2015-11-02 11:13] voxik commented on #1072
As far as I remember, rack-mount used to be router used by Rails up to 3.1 [1], then the Journey was developed as a replacement and later subsumed into Rails, where it still lives [2].

[1] https://github.com/rails/rails/commit/5f0b37c486dcc735b5817852932e761f5ff60152
[2] https://github.com/rails/rails/commits/master/actionpack/lib/action_dispatch/journey

[2015-11-02 11:16] voxik commented on #1072
Just FTR, there is attempt to package Grape for Fedora [1], since it is in GitLab's dependency chain and it'd be great if the rack-mount dependency could be avoided. As much as I hate to say that, it might be even reasonable to vendor the rack-mount, if the functionality fit Grape's needs.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1268771

[2015-11-02 11:59] dblock commented on #1072
I would take a PR that replaces rack-mount with journey, vendors it, or whatever is needed.

[2015-11-04 00:39] dslh commented on #689
I've bundled up some code that was cut from #1167 into its own project, [grape-formats](https://github.com/dslh/grape-formats). It provides some tokens that can be used for the `type` option of parameter declarations, to denote that the parameter is a `Date` or `DateTime` that should be parsed using one of the standard ruby parsing functions declared on the class.

There's no gem released yet sinc

[2015-11-04 02:05] dblock commented on #689
I think it looks great.

[2015-11-04 12:32] ivoanjo opened #1197 "Support for first-class JSON types broken for optional arguments"
As the title says, the support for first-class JSON types is broken when using optional arguments.
Taking the example in the documentation

[code]
and modifying it to
[code]
gets me a

It seems to me that the issue is that the check added to https://github.com/ruby-grape/grape/blob/80a46ba086697ddd8326e4b6292ff0b65cde81b5/lib/grape/validations/params_scope.rb#L140 should also be replicated to http

[2015-11-04 13:11] dblock commented on #1197
Looks legit. Try to write a spec for this.

[2015-11-04 13:14] dslh commented on #1197
:+1: I think you've got it, I didn't see that when I was adding the feature. Probably a good thing to do would be to declare, say, `GROUPS = [Array, Hash, JSON, Array[JSON]]` in [types.rb](https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/types.rb) and use it in both locations.

[2015-11-04 13:18] dslh commented on #1197
Existing spec: https://github.com/ruby-grape/grape/blob/master/spec/grape/validations/validators/coerce_spec.rb#L335

[2015-11-04 18:41] mjpineyro opened #1198 "How to require an Array param, disallow an empty array, but accept 'null' as a value"
I have a validation like so:
requires :element, type: Array do

The only values that I want to accept in the JSON payload sent to the API are:
a) a non-empty array
b) the string 'null'

I can use allow_blank: false to disallow an empty array, but this validation also fires if null is sent.

How can I accept null, but not an empty array?

Why do I want this validation? Because we don't want to acce

[2015-11-05 15:23] dslh commented on #1198
I'm not sure, but would this work?

[code]

Note that `coerce_with` is only on HEAD for the moment.

[2015-11-06 05:22] DavidHooper commented on #636
A quick way around this issue is by mounting in the routes file.

[code]

[2015-11-06 21:33] mjpineyro commented on #1198
Thank you very much for your response. I tried implementing what you suggested, but I am not sure I had all the pieces in place. I was getting an error of the type `validate': unknown validator: array_or_null (Grape::Exceptions::UnknownValidator)

Based on the "Custom Validators" section in the documentation I have tried this:

Created this file under a 'validations' directory:

module V1

  class

[2015-11-07 12:59] atomless opened #1199 "Release 0.13.1"
We're currently using the specific install gem in order to install the latest version of grape. There are various fixes we rely upon but in particular this commit : https://github.com/ruby-grape/grape/commit/99fabb84f489811d8a5b2f3e74b6939164413394

Any idea when we can expect a new gem version release?

[2015-11-07 15:15] atomless commented on #1145
Sorry to not have got back to this before now. You're correct, I found that the example I provided didn't reproduce the issue either. Checking how we do it in our code base, I see that the declared call is actually in the "before_validation do" hook. When in there it does still wipe all values to null. Moving it to the "after_validation do" hook and it all works perfectly.

[2015-11-07 20:40] dblock commented on #1199
Renamed to "release 0.13.1", also review whether it should be 0.14.0. No promises, but soon.

[2015-11-07 20:41] dblock commented on #1145
Can this be closed @atomless? (please feel free to)

[2015-11-11 20:21] tylerdooling commented on #1162
@dblock - Am I right that we should be able to close this now that #1190 and #1194 have been merged?

[2015-11-12 00:50] dblock commented on #1162
Alright.

[2015-11-12 00:50] #1162 closed

[2015-11-12 13:12] dm1try opened #1202 "Better interface to add a new middleware to the endpoint middleware stack"
ATM only "monkey" patching can be used and this is the problem.
See [related comment](https://github.com/ruby-grape/grape/pull/1201#issuecomment-156083249).

[2015-11-12 18:10] atomless commented on #1199
Great. Thanks!

[2015-11-12 19:49] pedelman commented on #1199
Thanks! Also looking forward to the next release

[2015-11-12 21:28] dblock commented on #1199
There're some changes like https://github.com/ruby-grape/grape/pull/1201 that don't change anything at the interface level, but may have tricky consequences. If you have a test suite for a Grape API, run your tests against HEAD and let us know!

[2015-11-16 18:24] suan opened #1206 "Completely leaving out the version number in Accept header versioning schemes with `strict: true` does not result in a 406"
When having an endpoint with:

[code]

Any request with both "Accept: application/json" and "Accept: application/vnd.foo.resource-v1+json" headers present does not result in a 406, whereas the expected behavior is that it _would_ be a 406, because of the `strict` option.

(When only the "Accept: application/vnd.foo.resource-v1+json" header is present it correctly responds with a 406)

[2015-11-16 19:43] dblock commented on #1206
That would be a problem. Could you please try this on HEAD? Some related issues may have been fixed.

If you have a moment, try to replicate this in a Grape test?

[2015-11-16 19:43] dblock commented on #1206
And I mean specifically https://github.com/ruby-grape/grape/pull/1101.

[2015-11-17 09:35] nonnenmacher opened #1207 "presenter registration DSL?"
In #1023, you mentioned this as was raised again, some edge between grape-entity vs grape-roar and their implied rules (e.g on object representer deduction, implied rules of **otpions** hash transmitted to the actual presenter code...).

I am in the case, where I just candidely did a bundle update for a server in production for months, and grab new version of **grape**, **multijson**, **representa

[2015-11-17 11:59] dblock commented on #1207
The representer DSL evolved "organically", so here we are. I would support the proposal above.

[2015-11-17 14:18] nonnenmacher commented on #1207
perhaps one way to gather current usage, will be for people to post here, the kind of *presentation* call they use to do and relate what could be generic to *params* from the API (like google way of filtering fields on response) and what is used to choose the proper representer class instance (best singleton producer of such representation, that could be recycled from one call to another).

I'm in

[2015-11-23 20:51] wagner commented on #382
Just got the same error four times after a hot deploy with Puma on a busy environment.

[2015-11-29 16:02] dylanninin commented on #579
Just a mark since this issue sucks a lot.

[2015-11-29 16:42] FlorinAsavoaie opened #1212 "Custom coerce not working"
I am trying to make sure that I unescape a parameter that comes from the URL:

[code]
...
[code]

However, this raises a `Grape::Exceptions::UnknownValidator` exception.

I don't think I am doing something wrong as it looks exactly like the examples from the documentation. I also tried `corce_with: URI.method(:decode_www_form_component)` and I get the same error.

Is coercion broken in the current

[2015-11-29 16:50] FlorinAsavoaie opened #1213 "Automatic urldecode for url params"
I think that the expected behavior when using url params would be that they are automatically unescaped:

[code]

This is simply calling URI.decode_www_form_component when the param is used in an URL.

[2015-11-29 17:57] dm1try commented on #1212
`coerce_with` is only available on the master branch. See the [stable release note](https://github.com/ruby-grape/grape#stable-release). The latest changes can be found in [CHANGELOG.md](https://github.com/ruby-grape/grape/blob/master/CHANGELOG.md).

[2015-11-29 17:57] #1212 closed

[2015-11-29 18:19] dm1try commented on #1213
Yes they are.
But here your `name` param is part of URL path. It's not the form param. You should use `%20` to replace a space instead of `+`. BTW the `+` is only replaced if the content type is `application/x-www-form-urlencoded`, see [this for more information](http://www.w3.org/TR/html4/interact/forms.html#h-17.13.4.1).

Feel free to re-open.

[2015-11-29 18:19] #1213 closed

[2015-11-30 12:01] dblock commented on #1212
@marshall-lee Is on the hook to make the next release I believe ;)

[2015-11-30 16:09] dblock commented on #1199
@marshall-lee is on the hook for this release

[2015-11-30 20:04] ochagata opened #1214 "Remove git dependence in gemspec"
Currently the gemspec has a dependency on git by using the `git ls-files` syntax.

We could switch it to use the `Dir` syntax which removes the dependence on git

[2015-11-30 22:07] #1214 closed

[2015-12-03 04:18] jrforrest commented on #1183
Ghetto-tested and nesting under a namespace seems to work.

[code]

Output:
[code]

[2015-12-04 04:13] dblock commented on #1183
I am going to close this for now. If someone can come up with a better syntax than the `namespace` workaround, please speak up and/or try a PR.

[2015-12-04 04:13] #1183 closed

[2015-12-06 02:54] rogerluo410 opened #1217 "How to test a GET request with JSON data via curl command tool"
Hi,

For example ,
if have a GET method in API like this:
[code]
I would like to know how to test the GET request that it has a input parameter which is JSON format.

I saw the example in the repo :8ball:

[code]
WHAT the client it is , and  how to test above API via curl ?

I'm blocking on it, hope someone to help me out.

THX in advance!

[2015-12-06 06:59] dm1try commented on #1217
Please use the mailing list for [questions](http://groups.google.com/group/ruby-grape).

 - start your application server
 - run `curl http://localhost:9000/?json={"int":1}`

[2015-12-06 06:59] #1217 closed

[2015-12-07 07:36] towanda commented on #1131
@dblock could we close this issue, since It's already implemented? Thanks.

[2015-12-07 08:42] #1131 closed

[2015-12-07 11:51] dblock commented on #1131
:+1:

[2015-12-07 19:39] #1199 closed

[2015-12-07 19:39] dblock commented on #1199
I was impatient and cut a release.

[2015-12-08 10:36] JanStevens opened #1219 "Given does not use proper nesting in declared(params)"
When using `given` block inside a nested requires block the validation works properly. But when trying to access these required params they are not nested in the requires block. Following spec (spec/grape/validations/params_scope_spec.rb) illustrate the problem

[code]

This fails with following message:

[code]

I tried different options (repeating the requires block in the given block) but nothi

[2015-12-08 18:08] stjhimy commented on #1219
Add ```optional :b```:

[code]

[code]
The declared method returns only declared params?
 ```"b":null``` outside ```bar``` is caused by ```including_missing: true``` here:  https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/inside_route.rb#L28 not sure why.

[2015-12-09 08:49] JanStevens commented on #1219
@stjhimy Ha thanks that seems to *solve* the issue.

But the syntax is not really clear, why do I need the extra `optional :b`? Now I have defined `:b` two times.

I thought (and from the documentation) that I should only need the `requires :b`

[2015-12-09 11:54] dblock commented on #1219
I think that `given :a requires :b` in this case should automatically cause an `optional :b`. I wonder whether there's any case where we would not want that? If not this is a valid improvement / feature request.

[2015-12-09 12:17] JanStevens commented on #1219
I still think this is a bug and not really a feature request. Following example right from the specs

[code]

Why does this work out of the box without the `optional :b` where the nested example does require the `optional: b` to work? Clearly thats a bug to me and not a feature request.

I think that `given :a requires :b` implies that we ONLY `require :b` when `a` is provided, In this case I coul

[2015-12-09 13:08] dblock commented on #1219
Ok I am with you wrt bug. Would love a fix.

[2015-12-09 19:42] mathieujobin opened #1223 "Using Cucumber with Grape"
Anyone ever done Cucumber scenarios to test an API built on Grape?

I see there is a gem for [cucumber-sinatra](https://github.com/bernd/cucumber-sinatra)
so unless there is something already, I might need to fork this one out?

[2015-12-10 07:43] akeuk commented on #1131
In Grape version 0.14.1, Array index context only return `[0]`

#### Parameter definitions:

[code]

#### 1. Failure in _first_ element

Request (invalid email):

[code]

Response:

[code]

#### 2. Failure in _second_ element

Request (missing name):

[code]

Response:

[code]

Thanks!

[2015-12-10 08:50] towanda commented on #1131
@akeuk I'll take a look tonight, thanks!

[2015-12-10 11:50] dblock commented on #1223
Use the [mailing list](http://groups.google.com/group/ruby-grape) for questions, please. Looking forward to seeing a grape-cucumber library or something like that!

[2015-12-10 11:50] #1223 closed

[2015-12-10 13:04] JanStevens opened #1226 "Extend given to be used outside the current block"
This does not work as expected
[code]

This is because `given` dsl already does the validation and only looks in the current block context. This could be changed so that given also looks in the parent blocks

[2015-12-10 13:17] #1219 closed

[2015-12-10 13:43] JanStevens commented on #1226
So where does this end and should we just limit the support for given? At one point we can question the sanity of the user/api. Some specs to illustrate

[code]

[code]

Should we also support these cases? I can fix the deeply nested given block as long as one of the parent params have the `given :a` but for the first spec I currently dont have a fix, I also have no clue how we can look for this (

[2015-12-10 14:34] mathieujobin commented on #1223
I forked cucumber-sinatra, which was a fork a cucumber-rails it self.

made few adjustments, already

https://github.com/mathieujobin/cucumber-grape

cheers