[2015-12-10 15:25] dblock commented on #1226
I think we don't keep a complete tree, but maybe we should. Another way of course is to say that `given :a` is equivalent to `optional :a, given :a ...`, so that's an implicit declaration at the same level. I am not sure ...

[2015-12-10 15:26] dblock commented on #1223
Make sure to add it to http://www.ruby-grape.org/projects/. And you need ... tests!

[2015-12-10 16:44] stjhimy commented on #1206
This can be closed since #1222 confirmed it was fixed.

[2015-12-10 18:56] dblock commented on #1206
Closing.

[2015-12-10 18:56] #1206 closed

[2015-12-15 14:32] why-el opened #1230 "Expose all declared params through the DSL"
Hi,

Say I declared multiple params, p1, p2, p3, and it does not matter if required or optional. I did some digging and couldn't find a *easy* way to grab all of these (useful for when some processing requires you diff what you receive against the canonical list of params).

Some Ruby metaprogramming can get me there, but I'd rather see if the DSL can take care of this. Perhaps something like `exp

[2015-12-15 14:46] stjhimy commented on #1230
maybe `declared(params)`? Look at this spec:

https://github.com/ruby-grape/grape/blob/master/spec/grape/validations/params_scope_spec.rb#L347

[2015-12-15 14:47] why-el commented on #1230
Yes, exactly. No idea how I missed that. Thank you! :)

[2015-12-15 14:47] #1230 closed

[2015-12-16 13:33] railsfactory-palpandi commented on #1198
I am having the same issue while using custom validation, the gem version is 0.13.0

[2015-12-18 13:35] atomless commented on #1145
@dblock - up to you. Depends whether wiping of the pram values is the desired outcome when calling declared(params) from the before validation method? Seems unintuitive to me. I would expect to be able to call declared params before validation was applied, although I can understand why that might be a little weird too.

[2015-12-20 13:32] dblock commented on #1145
I've updated the title to say "before validation". I think you should try to turn this into a spec, @atomless and we can see if we can fix it. I am not convinced we should, but it would at least move us forward.

[2015-12-21 13:10] brahamshakti opened #1231 "How to validate dependent parameters"
In you documentation you said that dependent parameter can be validated using

    params do
        optional :shelf_id, type: Integer
        given :shelf_id do
            requires :bin_id, type: Integer
        end
    end

but how can i perform validation on basis of two fields like

    params do
        optional :first_name, type: String
        optional :last_name, type: String
        give

[2015-12-21 15:40] dblock commented on #1231
A nested `given` _might_ work, but I think this is a feature request, it seems fairly straightforward. Want to try to implement it?

[2015-12-22 02:25] akeuk commented on #1131
@towanda Thank you! :)

How was it now?

[2015-12-24 06:59] timmyArch commented on #684
It would be really helpful. +1

[2015-12-25 14:07] dblock commented on #684
:+1:

[2015-12-25 14:31] timmyArch commented on #684
So it would also be nice to setup multiple Parameter types. Currently i had a parser defined which also allows to load the parameters from message body.

[2015-12-26 14:21] #438 closed

[2015-12-26 14:22] dblock commented on #438
This was fixed on HEAD, thanks @namusyaka.

[2016-01-02 09:35] TangMonk opened #1233 "How to metaprogramming add callback to specify route?"
Just like following:

[code]

[2016-01-02 14:26] dblock commented on #1233
This is not something Grape supports today. It could be implemented though with either existing `before` / `after` mechanism (https://github.com/ruby-grape/grape#before-and-after) or in a separate middleware. I think it could be a useful separate gem.

I'm going to label this as a feature request and leave it open for others to comment.

[2016-01-03 02:16] TangMonk opened #1235 "How to access outter methods from callback?"
[code]

It will throw an error with `=> NameError: undefined local variable or method 'test'`

[2016-01-03 05:49] namusyaka commented on #1235
The test method should be defined in `helpers` block.

[code]
Or, you can define the method on your module and pass it to the `helpers` method.

[code]

[2016-01-03 05:52] namusyaka commented on #1235
The test method should be defined in `helpers` block.
[code]

Or, you can define the method on your module and pass it to `helpers` method.

[code]

Hope this helps.

[2016-01-03 06:10] TangMonk commented on #1235
@namusyaka thanks, I will try :D

[2016-01-03 07:04] TangMonk commented on #1235
@namusyaka

Have you used this gem for reputation [https://github.com/merit-gem/merit](https://github.com/merit-gem/merit)? It has nice way for define reputation rules. But it only works on rails controller now. I just wanna to transplant to support grape .

It's core code:
[code]

I am thinking using grape callback to implement this.

[2016-01-03 15:08] dblock commented on #1235
Closing this since it works as expected.

@TangMonk please use the mailing list for questions, thx

[2016-01-03 15:08] #1235 closed

[2016-01-06 03:20] ash14 commented on #715
Hey, progress on this seems to have stalled? I'd like to see Grape's own cookie class removed and its functionality (plus signed cookie support) moved to that gem.

Can submit a PR if need be.

[2016-01-06 09:40] antek-drzewiecki opened #1238 "Api description success entity status code"
Hello,

I wanted to discuss http status codes. Mainly because I often notice success status codes are often not documented at all in most tooling. This would also be an awesome feature for documentation tools.

Grape returns a standard 200 on get, put, patch, delete requests and a 201 on post requests. This is great for me. Tough you can override status codes on successful requests. Shouldn't we b

[2016-01-06 15:46] dblock commented on #715
@ash14 Yes, doesn't look like anyone worked on this since, please feel free to help! Lets not worry about 1.0, we have a normal upgrade path for backwards incompatible things, see UPGRADING.

[2016-01-06 20:19] arempe93 opened #1239 "A param of type Hash is converted to Array in declared(params)"
Spec describing the issue

[code]

This produces the following output

[code]

Setting a default on the param is a workaround

[code]

This spec passes without error with the expected output

[code]

Using Grape v0.14.0, running specs on master

[2016-01-06 20:20] ochagata commented on #1233
Would this be similar to the way rails implements `around` callbacks?

[2016-01-06 21:23] dblock commented on #1239
Looks like a definite bug, I would expect `group` not to be in the response at all without a `default`, right?

[2016-01-06 21:24] arempe93 commented on #1239
That could be an expectation, yes. Personally I like having it still be there and showing the values of the nested parameters because of the way I use / think about them as groups. But in either case, I don't think an Array is an expected value

[2016-01-06 21:34] ochagata commented on #1231
This can be closed

[2016-01-06 23:29] ochagata commented on #1239
I believe that this is due to this specific line:

https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/inside_route.rb#L48

[2016-01-07 12:36] wrtsprt commented on #810
+1!

[2016-01-07 15:49] dblock commented on #1231
Closed via #1237.

[2016-01-07 15:49] #1231 closed

[2016-01-07 17:27] glennpratt commented on #986
@dblock locally I've changed the signature of Validator#validate! (with backwards compatibility using arity) to:

[code]

Is env too broad?

[2016-01-07 22:48] glennpratt commented on #986
Oh, I see `@request` includes `env` anyway. I'll just do that instead.

[2016-01-07 22:56] glennpratt commented on #986
So, should we replace params with request (breaking backwards compatibility) or only send request if the method arity != 1?

[2016-01-08 18:30] glennpratt commented on #986
See #1242

[2016-01-11 17:33] #1147 closed

[2016-01-13 02:59] namusyaka commented on #1069
I'd like to fix this after solving #1243

[2016-01-15 08:32] Edison-Hsu opened #1245 "Default value error in nested parameters"
I use default value in nested parameters like:
[code]

if I post form data by postman:
![screen shot 2016-01-15 at 4 24 17 pm](https://cloud.githubusercontent.com/assets/3348292/12348693/7b1bd574-bba4-11e5-9b64-bc78e8409c7c.png)

This is an exception, but grape was crashed
[code]

If I remove default value at zone parameter, it works and response error message
[code]

I use grape version 0.14.0 an

[2016-01-15 09:48] ved54321 opened #1246 "How to make http request to redirect https?"
Currently i have implemented my rest api with http://some_url/api ,how will i convert this to use https://some_url/api ?

Is there any feature of  grape to implement the same?

[2016-01-15 10:10] jf opened #1247 "parameter validation with 'type: Float' does not work with path component"
I haven't been able to figure this one out, but right now, if you declare a param as type: Float, and use it as a path component, Grape will always return a 404 unless you give it an *integer*...

e.g.
[code]

"GET /hello/0" => "0"
"GET /hello/0.5" => 404
"GET /hello/239.23" => 404
"GET /hello/239" => "239"

[2016-01-15 10:18] jf commented on #1246
Do u have a web server in front of Grape?

[2016-01-17 19:25] dm1try commented on #1247
@jf the compiled regexp for the route above has an exclude rule for the `.` char by default:
[code]
But you can provide own regexp for any param by using `requirements` option
[code]

[2016-01-17 19:34] dm1try commented on #1246
@ved54321 you should configure your web server to achieve this.
 If you really need to do HTTPS redirects on an application layer you may try [rack-rewrite](https://github.com/jtrupiano/rack-rewrite) or something similar.

[2016-01-17 19:34] #1246 closed

[2016-01-17 19:43] dm1try commented on #1245
This is definitely the bug. The wrong input shouldn't lead to such error.

Something is wrong with your input data, try write a spec.

[2016-01-17 22:46] namusyaka commented on #1069
@dblock This can be closed by #1244.

[2016-01-18 03:11] jf commented on #1247
Thanks, @dm1try, for the explanation! this works. Will work with this for now.

[2016-01-18 11:50] ved54321 opened #1248 "How to fix ArgumentError (Unknown :using for versioner: accept_version_header issue ?"
I have implemented versioning in my REST API with URL api/v1/XXX , but when i used version 'v1',using: :accept_version_header and call api/xxx it throws following error,

ArgumentError (Unknown :using for versioner: accept_version_header):
  grape (0.2.6) lib/grape/middleware/versioner.rb:25:in `using'
  grape (0.2.6) lib/grape/endpoint.rb:387:in `build_middleware'
  grape (0.2.6) lib/grape/endpoi

[2016-01-18 12:08] dm1try commented on #1248
You are using very old version of `grape` (0.2.6). `accept_version_header` is not implemented for this version. Try to upgrade or use [the documentation for `0.2.6`](https://github.com/ruby-grape/grape/tree/v0.2.6#versioning)

[2016-01-18 12:10] #1247 closed

[2016-01-18 18:59] namusyaka commented on #1245
By using this patch, the case can be avoided.

[code]

[2016-01-18 21:07] dm1try commented on #1245
@namusyaka we're waiting for a PR :bowtie:

[2016-01-19 00:48] namusyaka commented on #1245
@dm1try Of course. I've just opend a pull request.

[2016-01-19 06:03] ved54321 commented on #1248
Getting this issue after updating grape gem ,

NoMethodError (undefined method `call' for Users:Module):
  grape (0.14.0) lib/grape/endpoint.rb:215:in `call!'
  grape (0.14.0) lib/grape/endpoint.rb:209:in `call'
  rack-mount (0.8.3) lib/rack/mount/prefix.rb:26:in `call'
  rack-mount (0.8.3) lib/rack/mount/route_set.rb:152:in `block in call'
  rack-mount (0.8.3) lib/rack/mount/code_generation.rb:96

[2016-01-19 08:38] ved54321 commented on #1248
thanks it it working after update.

[2016-01-19 08:38] #1248 closed

[2016-01-19 11:43] #1245 closed

[2016-01-19 12:37] #1069 closed

[2016-01-20 04:07] micfan opened #1250 "How to call one endpoint from another modules?"
API SDL `interface` feature is required for method calling cross API class. The discuss was posted [Grape Google Group](https://groups.google.com/forum/#!topic/ruby-grape/5ryOy34O2Y8). The result may be:

[code]

Now the call can by the below, but `env` is not easy constructed :-(

[code]

[2016-01-21 06:23] yoonwaiyan opened #1251 "Support present in before"
From what I've understand from Issue #39, I've create a before filter for a block of my API classes, which authenticates user for every API call within that block. The API should return a JSON with status and error message that notifies user about failed API calls. Currently I've overwritten the error block of my API  base file which returns status of 1 and the error message whenever an error occu

[2016-01-21 23:16] NeMO84 commented on #723
Any update on this?

[2016-01-22 01:10] dblock commented on #723
Nobody has submitted a fix, please contribute.

[2016-01-22 05:25] namusyaka commented on #1177
This is a timing problem.  Look at the following code.

[code]

So we can fix by force setting the value on mount, it's something like this:
[code]
The patch seems working well and all tests are passed.

However, if we should not force set the value, I guess we should remove [this line](https://github.com/ruby-grape/grape/blob/master/lib/grape/endpoint.rb#L83) and introduce other approach.

[2016-01-22 12:01] dblock commented on #1177
I believe we should think twice about inheriting anything from the mounting parent. Today we don't, you mount the entire API with its options and conditions, not with its parent's options. Some people want one behavior and others want another, so I think we want both.

Maybe we should add `include` or `extend` or a similar verb next to `mount` that has the suggested behavior that delegates all set

[2016-01-22 12:04] dblock commented on #1251
In this case, I think what you want is an error handler that returns a certain type of data, and not to use present in the `before` block.

[code]

We could support `present` in the `before` and `after` blocks, as we now support things like `header`, so I'll leave this open as a feature request.

[2016-01-22 12:08] dblock opened #1253 "Document how to return data/terminate the request in a before block"
I believe is by calling `error!`, but I realize that's not documented, at least clearly. Also it's not clear whether the `after` block would be called anyway in this case. Needs tests for all these cases.

[2016-01-22 12:08] dblock commented on #1251
This was titled "How to return and end the API call using before block?", the answer to that question I believe is by calling `error!`, but I realize that's not documented, at least clearly. Also it's not clear whether the `after` block would be called anyway in this case.

I opened https://github.com/ruby-grape/grape/issues/1253, it would be great if you could see which tests we have for those ca

[2016-01-23 05:33] arempe93 commented on #1239
Is this an intended behavior, as set forth by [this spec in `specs/grape/endpoint_spec.rb`?](https://github.com/ruby-grape/grape/blob/fbf633dbfec2b4a1586d60340d7517aecb5662fb/spec/grape/endpoint_spec.rb#L343). This tests pretty much the exact opposite of the spec from the issue description

[2016-01-24 17:37] namusyaka commented on #1177
Agreed. I'd like to use both features if available.
However, the difference of current behaviours are confusing. So I think we should unify two behaviours.

[2016-01-24 17:57] namusyaka commented on #1197
@ivoanjo Can you send a pull request?

[2016-01-25 16:29] namusyaka commented on #1009
@dblock This issue can be closed by #1255

[2016-01-26 04:29] yoonwaiyan commented on #1251
From my code above, for any error I did a rescue block and format it into a JSON format like this:

      error_formatter :json, ->(message, backtrace, options, env) {
          { status: 1, message: "error: #{message}" }.to_json
      }

The problem with throwing error is I wanted to show another status instead of `status:1`. If `rack_response` will throw the response without going through `error

[2016-01-26 21:41] ivoanjo commented on #1197
I will try to refresh my branch and submit a PR. I didn't submit at the time as I wasn't sure that my fix was the right approach for the issue.

[2016-01-26 23:25] dblock commented on #1239
I think that spec ignores the fact that there's an explicit `type`.

[2016-01-26 23:26] dblock commented on #1177
I am +1 on unifying things. Carefully ;)

[2016-01-26 23:26] #1009 closed

[2016-01-26 23:26] dblock commented on #1009
:+1:

[2016-01-26 23:30] dblock commented on #1251
It's too bad that we're not giving access to the actual exception in `error_formatter`. Is that the piece missing?

[2016-01-26 23:58] carmi opened #1258 "Timing attack on basic password auth system"
I'm just seeing in the README about basic auth https://github.com/ruby-grape/grape#authentication

[code]

This sure looks like it's prone to a timing attack on the password like CVE-2015-7576 https://groups.google.com/forum/#!msg/rubyonrails-security/ANv0HDHEC3k/mt7wNGxbFQAJ and should ideally not be a recommended solution for password auth.

[2016-01-27 00:50] carmi commented on #1258
I think the proper way to do this to avoid the timing attack is (if you have ActiveSupport available)
[code]

[2016-01-27 02:57] dblock commented on #1258
I got to admit that's an impressively obvious CVE. I suggest simply removing the specific example from the documentation and leaving the comment to verify the user's password. It's probably not Grape's responsibility to make sure you implement BASIC auth with this CVE in mind, otherwise we also would have to care about things like what headers you send to the client for, say, CSP.

[2016-01-27 18:33] dblock commented on #734
I like the progress http://hanamirb.org has been making, would love to compare, benchmark and potentially support both Rack and Hanami.

[2016-01-27 20:12] salimane commented on #570
I've just met this problem. anyone still working on this ?
Thanks

[2016-01-27 20:23] ch1c0t commented on #734
@dblock I thought Hanami is a Rack-based framework. Are they providing an alternative low-level abstraction as well?

[2016-01-27 21:55] dblock commented on #734
You're right @ch1c0t, I meant https://github.com/hanami/router.

[2016-01-27 21:56] dblock commented on #1072
We should try https://github.com/hanami/router.

[2016-01-28 03:25] namusyaka commented on #734
AFAIK, hanami router has depended on http_router, and it's thread unsafe.

So I've implemented new router by using the Mustermann gem.
https://github.com/namusyaka/pendragon

This has been merged into Padrino Framework.

[2016-01-28 11:30] yoonwaiyan commented on #1251
I can use the `message` parameter and do a workaround like this:

    error_formatter :json, ->(message, backtrace, options, env) {
      if message == "Authentication failed."
        { status: 2, message: "error: #{message}" }.to_json
      else
        { status: 1, message: "error: #{message}" }.to_json
      end
    }

but it looks more like a trick. Hopefully there's a better way to handle it

[2016-01-28 12:07] dblock commented on #734
@namusyaka :+1: you should give it a try in Grape - replacing the legacy unmaintained libraries with faster newer better implementations is high on my list.

[2016-01-29 11:39] namusyaka commented on #734
Yeah, I'm going to replace the router.

[2016-01-29 17:45] arempe93 opened #1260 "Recommended 404 handling breaks OPTIONS requests"
When using the 404 handling recommended by the README, it breaks all options requests in the API.

Spec

[code]

Output

[code]

Changing the method to `route [:get, :post, :put, :delete], '*path'` is a workaround. But it was definitely unexpected behavior for me. The README seems to suggest that an OPTIONS route is created along with the declared route, leading one to believe it would also take p

[2016-01-29 18:35] dblock commented on #570
@salimane I doubt it.

[2016-01-29 18:38] dblock commented on #1251
@yoonwaiyan So looks like there isn't. We probably want to extend `error_formatter` to return the exception in either `options` or change that interface.

[2016-01-29 18:50] #790 closed

[2016-01-29 18:53] dblock commented on #1260
I think this is a bug.

[2016-02-01 16:14] rngtng opened #1265 "Communicate `#after` hook errors in Middleware"
As of https://github.com/ruby-grape/grape/pull/1240 the `#after` hook is called on middlewares even when exception is raised. This breaks middleware which assume `response`, (`@app_response`) is set. (e.g. [grape_logging](https://github.com/aserafin/grape_logging)).

Firstly, any middleware should be migrated to handle this case, secondly grape should give a warning at least, to help debugging and

[2016-02-01 19:18] dblock commented on #1265
:+1:

[2016-02-01 21:52] arempe93 commented on #1120
This failing spec confirms the issue

[code]
[code]

This is also happens on 405 Not Allowed routes generated by the API

[2016-02-02 17:06] dblock commented on #1120
:+1: @arempe93 Maybe you want to finish #1119?

[2016-02-02 20:05] arempe93 commented on #1120
I'm not sure we would want to fix this, as a number of people use `before` blocks to set custom headers, that would then not be included in 405's.

[2016-02-02 21:26] arempe93 commented on #1056
@ekampp @dblock closed by #1263?

[2016-02-02 21:28] arempe93 commented on #1260
Closing - fixed by #1263

[2016-02-02 22:18] dblock commented on #1056
Yes.

[2016-02-02 22:18] #1056 closed

[2016-02-06 11:47] #951 closed

[2016-02-08 16:07] wshatch opened #1269 "Param strategy doesn't work for multiple verisons"
I wrote a test based on one I found in the header spec.

[code]

I get this result
[code]

Is there anything I'm missing when setting up the param strategy?

[2016-02-08 16:15] #1269 closed

[2016-02-08 17:33] wshatch opened #1270 "Param versioning param key isn't set using version options"
As stated in the docs, setting parameter for the param strategy like so
[code]
Won't work since the param strategy is looking in ```@options``` instead of ```@options[:version_options]```

[2016-02-09 19:47] anothermh commented on #1197
I can confirm that patching in `fail Grape::Exceptions::UnsupportedGroupTypeError.new unless [Array, Hash, JSON, Array[JSON]].include?(type)` fixed this. I can't work on the spec but just wanted to confirm that @ivoanjo's solution worked for me. 👍

[2016-02-09 22:09] mneumark commented on #1270
Just tried the same thing and had the same issue.

[2016-02-10 16:40] dblock commented on #1270
Closed via https://github.com/ruby-grape/grape/pull/1271.

[2016-02-10 16:40] #1270 closed

[2016-02-11 09:20] rajcybage opened #1272 "rails rspec est :I got error uninitialized constant RSpec::Rails (NameError)"
I have got error after in rspec rails app.

[code]

[2016-02-12 14:46] jpaas commented on #1265
I am also running into this issue. My logging middleware is unable to log the response in the after hook.

[2016-02-12 16:50] LeoAdamek opened #1275 "[DOCS] Incorrect documentation for binary formatter"
The documentation states that to pass objects through "as is" to specify the `:binary` formatter.

It appears there is no `:binary` formatter, rather that a `nil` formatter should be specified to instruct Grape to pass objects through "as is". Should the documentation be updated?

[2016-02-12 20:29] dblock commented on #1272
Closed via https://github.com/ruby-grape/grape/pull/1273.

[2016-02-12 20:29] #1272 closed

[2016-02-12 20:32] dblock commented on #1275
If the documentation is unclear it should definitely be updated! Thanks.

[2016-02-15 06:27] yoonwaiyan commented on #1251
What if I want to return status code of 401 instead of 500 thrown in `error!`, where should i change? I've tried the `rack_response` but `rescue_from :all` block is not called from the `error!` from the before block. I've tried call `rack_response` directly from the before block:

[code]

but the server returns error:

[code]

[2016-02-15 14:43] PHronek commented on #1198
You simple need to upgrade to version 0.14.0. Theres no coerce_with property in 0.13.0.

[2016-02-15 20:37] dblock commented on #1198
:+1: @PHronek I'm closing this, please reopen if the problem is different.

[2016-02-15 20:37] #1198 closed

[2016-02-15 22:21] arempe93 commented on #1251
@yoonwaiyan you should be able to use `error!` in the `before` block with a status param

[code]

As an aside, I like to create a helper for this, for readability

[code]

[2016-02-16 03:57] yoonwaiyan commented on #1251
@arempe93 Thanks for the info, it worked :+1:

[2016-02-16 09:12] dapicester opened #1278 "Params validations do not run for route_param"
Hi, I found that validations do not run for `route_param`, here is a minimal example:
[code]

Run with `rackup route_param.ru` and then `curl localhost:9292/foo`.
I expect a validation failed message, but instead I get `{"name":"foo"}`.

I am using version 0.14.0.

Updated: fix sample code typos

[2016-02-16 13:32] dblock commented on #1251
What do we want to do with this issue @yoonwaiyan ?

[2016-02-16 13:38] dblock commented on #1278
Routes are a little special. Route parameters *are* required to match the route and that their format is driven by `requirements`. However route parameters end up being regular parameters inside the API call, so validations would theoretically apply. Can you check that it's the case for a plain api call (not with `route_param`?). If that's the case then this would be a bug.

[2016-02-17 02:37] dapicester commented on #1278
It was a typo in my sample code. Now the sample works as expected but in the project I am working on it seems that validation is not run. Let me double check and try to reproduce the error. I will eventually close this if I cannot reproduce the error.

[2016-02-17 05:55] dapicester commented on #1278
I reproduced the problem. It seems that validations do not run when using `mount` in a `route_param` block.

Here is a sample code:
[code]

Here is the error:
[code]
This is correct because the validation always fails.

[code]
This is not correct because the validation didn't run.

[2016-02-17 13:38] dblock commented on #1278
You should turn this into a minimal spec next.

[2016-02-19 12:18] gregormelhorn commented on #1265
I am currently trying to fix this issue. One thing I stumbled upon is that the formatter also uses error handling to communicate issues in the after callback.

Fortunately, from what I can see now, catch(:error) and rethrowing while swallowing any StandardError from the after callback would fix the issue - but it also alters the behaviour of the formatter. I am not sure if this should really be im

[2016-02-19 12:44] gregormelhorn commented on #1265
The more I think about it, the more it would make  sense to add a backwards compatibility switch (do not run after callbacks on error) instead of magically catching exceptions...

[2016-02-22 06:09] yoonwaiyan commented on #1251
Closing this issue for now.

[2016-02-22 06:09] #1251 closed

[2016-02-22 08:12] yoonwaiyan opened #1284 "Code Organization and Entities Code Placements and Versioning"
I'm configuring my Rails app to support multiple API versions. I have my api structure like this for now:
[code]

[code]

[code]

[code]

I didn't use [grape-transformations gem](https://github.com/codescrum/grape-transformations) to structure my code, but I don't know what's the best way to put my Entities classes without scattering them above each API class. For example:
[code]

Few months ago,

[2016-02-22 08:21] yoonwaiyan commented on #1284
I'm still doing the versioning configurations. I've been following your [blog](http://code.dblock.org/2013/07/19/evolving-apis-using-grape-api-versioning.html) and I made it work when params are passed, but how do I configure it such that the default API version is still v1? Because this API is used for mobile application development, so the API have to be backward compatible with the previous ver

[2016-02-22 12:02] dblock commented on #1265
@gregormelhorn Maybe. That seems to undo the change we made, I'd rather not have both behaviors and issue a warning as described in this issue. But do try some code and show us what happens before/after.

[2016-02-22 14:44] gregormelhorn commented on #1265
The changes mean that any StandardError thrown gets transformed into a warning.

It also means that catching standard exceptions inside formatters is not possible, so I removed the corresponding tests. After all, the code does not care if the issue is in the after callback of a logging middleware or the after callback of a formatter.

I am still not sure if making this fail hard with exceptions is

[2016-02-22 15:03] rngtng commented on #1265
Ok, true a hard fail makes sense, but for debugging reason It would help a lot to know that the error happened in middleware  so what about a warning  + re-raise the original error?

[2016-02-22 15:33] gregormelhorn commented on #1265
ok, I changed it accordingly :+1:

[2016-02-22 19:33] dblock commented on #1284
You should bring separate questions up on the mailing list, please. I'll close this.

* Swagger doesn't support the same UI over different APIs, versions are very much different APIs. I am sure you can build a custom UI that points to two different swagger doc endpoints with a bit of work if you want to let users switch.

* You want v1 to be the default and explicitly select v2? I wonder whether t

[2016-02-22 19:33] #1284 closed

[2016-02-22 20:39] dblock commented on #1265
Closed via https://github.com/ruby-grape/grape/pull/1285.

[2016-02-22 20:39] #1265 closed

[2016-02-22 20:39] rngtng commented on #1265
nice, thx

[2016-02-23 05:21] mmkhmk opened #1288 "exactly_one_of seems not work for nested parameters"
Hello,

I'm currently creating an API with the latest version(0.14.0) but exactly_one_of doesn't work as expected for nested parameters.

Here is the sample.

[code]

In this case I meant the validation of exactly_one_of works only when additionalFacets are given.
But it works when it is not given as well.

Can you help check this?

[2016-02-23 08:04] binary1101 opened #1289 "helpers not found in rescue_from"
[code]

[code]

[2016-02-23 16:26] dblock commented on #1288
It sounds like a bug, try writing a spec that reproduces this?

[2016-02-23 16:27] dblock commented on #1289
This was implemented in https://github.com/ruby-grape/grape/pull/1232, hasn't shipped yet, but works on HEAD.

[2016-02-23 16:27] #1289 closed

[2016-02-24 05:15] mmkhmk commented on #1288
Here is the spec that reproduces this.

[code]

Result
[code]

[2016-02-24 08:04] jf commented on #382
hi @wagner , what Ruby / version are you using out of curiosity?

[2016-02-24 20:16] reynardmh opened #1293 "Array of Hash with optional fields gets squashed"
[code]

running rspec test  with the following input
[code]

produces this result
[code]

Basically it squashes the array into just one element when the previous element is missing the optional field from the next element.

I'd like to contribute a fix if someone can point me to where in the codebase I should start looking.

[2016-02-24 20:33] reynardmh commented on #1293
I've created a sample app demonstrating this bug

https://github.com/reynardmh/grape-bug-demo

[2016-02-25 17:39] dblock commented on #1293
Interesting. Assuming this is happening on HEAD too?

[2016-02-25 18:17] reynardmh commented on #1293
This was on 0.14. I will test this on HEAD.

[2016-02-25 18:49] reynardmh commented on #1293
Yes this is happening on HEAD (at master@df3e4ae)

[2016-02-25 19:19] dblock commented on #1293
I am not sure this is a real problem, how do you pass this GET data with, say, `curl`? If you're POSTing JSON data that's a whole different story.

[2016-02-25 19:31] reynardmh commented on #1293
by not a real problem, you mean it's not possible to create such HTTP request?
btw, this is happening for post request as well.

[2016-02-25 19:42] reynardmh commented on #1293
I think I see what you mean, so if we are just using post data, the array has to be passed like this:
[code]
It makes sense that it creates an array with single element containing field1 and field2. I'm guessing this happens outside of Grape (like in Rack request parser?).

So we need to do something like this, its better to just send JSON data as the params?

[2016-02-25 20:05] dblock commented on #1293
Right, you can't actually pass an array of hashes via a GET request and in a `POST` that defaults to a single hash of fields (it's ambiguous to humans, but should be very clear per HTTP RFC, although I haven't checked).

So if you need to do something like this you actually don't have a choice I believe, since the only way this is supported is by using a different data format (eg. JSON).

If you a

[2016-02-25 20:32] reynardmh commented on #1293
Thanks, that makes sense. I agree that we should close this.

[2016-02-25 20:32] #1293 closed

[2016-03-01 09:15] guizmaii opened #1300 "What should rescue_from block return ?"
The documentation says that:
`The rescue_from block must return a Rack::Response object, call error! or re-raise an exception.`

but if we use the `rescue_from` method only to log things and we want to keep the original HTTP answer what should we return ?

If I rethrow the catched exception, it does not keep the original behavior.
For example, some of my tests generate `400` responses but with:
[c

[2016-03-01 09:21] guizmaii commented on #1300
I also posted the question here : http://stackoverflow.com/questions/35718873/what-should-return-the-grape-rescue-from-all-block

[2016-03-01 10:46] railsmith commented on #1300
Check out this conversation [#939](https://github.com/ruby-grape/grape/pull/939#issuecomment-75948772)

[2016-03-01 13:44] guizmaii opened #1301 "Access the error_response in the middleware after method"
Hi,
I'm maintaining a fork of this repos : https://github.com/aserafin/grape_logging

Since v0.14.1, Grape ensure that the middleware after method is always call even if an exception occurs. This is a great functionality for us because now we can log failed requests.

But when the `@app.call(@env)` fail here : https://github.com/ruby-grape/grape/blob/master/lib/grape/middleware/base.rb#L30
then th

[2016-03-01 17:33] dblock commented on #1300
Just for reference, the solution in #939 that @railsmith points is right, catch only things you want to catch, ie.`Grape::Exceptions::Validation` and `Grape::Exceptions::ValidationErrors`. But generally for a logger I suggest using a middleware instead.

I'm going to close this, lmk if it needs any other action.

[2016-03-01 17:33] #1300 closed

[2016-03-01 20:17] dblock commented on #1197
Closing via #1290.

[2016-03-01 20:17] #1197 closed

[2016-03-02 09:07] guizmaii commented on #1301
I want just anything that the app returns.

For example, when the response is a `200` or `201` one we could call `response.status` and it'll give us `200` or `201` but when it's a `404` or any other error response `response` call return `nil` and I don't know how to get this error status. Same thing for the body, etc.

Our `call!(env)` method looks like this for now:

[code]

I don't understand wh

[2016-03-02 12:28] dblock commented on #1301
Ignore Grape for a minute, a typical Rack middleware is:

[code]

Start with this. I think you just don't want to inherit Grape::Middleware::Base and use a plain Rack middleware for your purposes. Depending where the middleware is inserted you will get status, headers and body every time with all the info you need.

The other option is to modify Grape to assign the response on error the same way w

[2016-03-02 14:18] guizmaii commented on #1301
Ok. Thanks for the tips !

[2016-03-04 05:05] dpad commented on #827
Same request as per @guizmaii and @atljeremy above. Did either of you manage to get some sort of simple/elegant workaround?

[2016-03-04 12:24] atljeremy commented on #827
@dpad Unfortunately no. I'm having to use the explicit `params do` block to define `required` and `optional` params separately from my `Grape::Entity`'s. I'm really hoping that this gets updated so that I don't have to keep maintaining two separate sets of params documentation.

[2016-03-04 18:28] onemanstartup opened #1302 "Errors with using entity documentation"
I was trying to migrate my params to using entities and I'm getting different types of errors. Is this grape-entity error or grape?
[code]
[code]
This is error happens first of all.
[code]

This error happens  when I'm changing type to classes. I get it we don't have Boolean type in ruby and grape uses virtus, but with Integer and String type there is no errors.
[code]

[2016-03-06 14:17] dblock commented on #1302
To me `Entity::Activity.documentation.except(:id)` looks suspicious, why would that even work?

[2016-03-06 14:43] onemanstartup commented on #1302
@dblock I took this line from readme.
[code]

[2016-03-06 20:30] dblock commented on #1302
Ok, I guess this needs a spec in Grape or Grape::Entity. You should try to do that next.

[2016-03-07 06:44] przbadu commented on #133
Hi, it is still reproducing for me. I am using default(path) versioning with prefix 'api'

[code]

`/api/v1/passwordless/request_validation?`

The requests above always returns "v2" regardless of the`path` being set, and all V2 test cases passes, but v1 test cases broken.

I tried with grape version `0.13.0` and `0.14.0`

Thanks

[2016-03-07 06:51] przbadu opened #1305 "Path version ignored"
related with https://github.com/ruby-grape/grape/issues/133

`grape v 0.13.0 and v 0.14.0`

Hi, I guess it is still reproducing. I am using https://github.com/ruby-grape/grape#path versioning with prefix 'api'

[code]

`/api/v1/passwordless/request_validation?`

The requests above always returns "v2" regardless of the`path` being set, and all V2 test cases passes, but v1 test cases broken.

I trie

[2016-03-07 07:08] przbadu commented on #1305
well!

deleting:

`version         ['v2', 'v1']` from `api.rb` and moving them into:

[code]

[code]

Fixed my problem :smile:

[2016-03-07 07:10] #1305 closed

[2016-03-07 12:07] dblock commented on #1305
Right, the first syntax is not something that actually exists, it cannot guess that v1 is actually the `V1` namespace by convention.

If you think the documentation is confusing, please do contribute an update.

[2016-03-07 12:26] onemanstartup commented on #1302
@dblock I should write a spec? I don't understand. Documentation is a bit misleading.
Here what I found.
This works.
[code]
If i want to overwrite or make field required i could do params block below but it add new param instead of overwriting previous params.

And i can't use params block within desc block.
[code]
This gives error
[code]

[2016-03-07 15:18] dblock commented on #1302
I haven't dug through this. If the documentation says something that you're trying to do and it doesn't work, it's a bug in either the code or the doc. I'll take a look later in depth, but feel free to do what you think is right and make pull requests. I know I am not being very helpful here ;)

[2016-03-07 20:20] dblock opened #1307 "Regression with optional parameters"
Regression from https://github.com/ruby-grape/grape/pull/1263

[code]

Passes in 0.14.0, fails on HEAD (0.15.0)

[code]

[2016-03-07 20:55] dblock commented on #1307
Another much simpler spec not fixed above.

[code]

[2016-03-08 05:57] fredwu opened #1309 "Error response behaviour change in the JSON formatter"
Hi,

As I noted in [this commit](https://github.com/ruby-grape/grape/commit/c20a9ad3ff81865898258d8bf92271048f1ff2b0#commitcomment-16551521), there are some behavioural changes that are not very obvious and perhaps should either be reverted or documented.

Essentially, in `ErrorFormatter::Json`, the old behaviour (our app was on grape `v0.10.1`) is to:

- pass on a `Hash` as it is, or;
- wrap the

[2016-03-08 06:30] fredwu commented on #1309
Forgot to tag the original PR. #889

[2016-03-08 08:23] fredwu commented on #1309
cc @dblock @sunnyrjuneja :)

[2016-03-08 10:09] brahamshakti opened #1310 "Custom Validation not working with an optional parameter"
Hi, My custom validation is not executing if my parameter is optional. e.g

    class AlphaNumeric < Grape::Validations::Base
        def validate_param!(attr_name, params)
            unless params[attr_name] =~ /\A[[:alnum:]]+\z/
                fail Grape::Exceptions::Validation, params: [@scope.full_name(attr_name)], message: 'must consist of alpha-numeric characters'
            end
        e

[2016-03-08 12:34] przbadu commented on #1305
@dblock : right, I think we can update documentation for this.

[2016-03-08 13:48] dblock commented on #1309
I believe the behavior is intentional, we want to pass through things as much as possible. This is internal, but I'd be OK to document it in UPGRADING, please PR.

[2016-03-08 13:49] dblock commented on #1310
Are you passing a value for `:text`? I believe this is by design not to call the validator if you don't supply an optional parameter. Otherwise make the parameter required.

Reopen if I am missing something.

[2016-03-08 13:49] #1310 closed

[2016-03-08 15:58] dblock commented on #1307
Another one:

[code]

[2016-03-08 16:15] #1307 closed

[2016-03-08 16:17] dblock commented on #1260
@arempe93 I have reverted the fix committed in #1263 via https://github.com/ruby-grape/grape/commit/5aa655406398e547f16e32f3f1327a3f8248c820. See https://github.com/ruby-grape/grape/issues/1307 for details. Now we have specs on master for behavior that was regressed.

[2016-03-08 19:23] dblock commented on #1260
The solution is probably not to create dynamic routes for other HTTP verbs, but to be able to say "the API has a set of matching routes", "do any match the verb", if yes, execute, otherwise generate a 405. Maybe we can do that part of #1276?

[2016-03-09 01:59] fredwu commented on #1309
@dblock Hi, thanks for the prompt response again.

Interestingly, after the newly released v`0.15.0` (released yesterday shortly after this discussion), the behaviour has changed yet again, with no mention in the upgrading doc. :crying_cat_face:

To recap and summarise the different behaviours:

__Original (circa `0.10.1`)__ [link](https://github.com/ruby-grape/grape/blob/37362d8780469231e85630e31

[2016-03-09 04:36] dblock commented on #1309
I am not sure what you're trying to say @fredwu. For internal APIs we don't really discuss changes the same way as for public APIs. The issue you link fixed a bug, specifically https://github.com/ruby-grape/grape/issues/1037 and had nothing to do with the internal format of anything. What am I missing?

[2016-03-09 04:57] fredwu commented on #1309
@dblock I understand the formatter itself is internal, but unless I'm missing something - the fact that the final output json is different between different grape versions means that it has material impact to users, right? And #1037 is considered a bug for exactly this reason, no? :)

[2016-03-09 05:55] galkon commented on #1131
With this change now Hashes also return indexes so if for example I have
`
params do
  requires :employees, type: Hash do
    requires :name, type: String
    requires :email, type: Hash
  end
end
`

I would expect `employess[name] is missing, employees[email] is missing` not `employess[0][name] is missing, employees[0][email] is missing` currently it returns `employess[0][name] is missing, employ

[2016-03-09 16:43] dblock commented on #1309
Yes, you're right @fredwu. Help us get to the bottom of it.

[2016-03-09 16:44] dblock commented on #1131
That would be a bug, did I overlook this? Definitely would be a regression, appreciate at least a spec for this.

[2016-03-09 17:55] shaqq opened #1312 "Performance w/ and w/o Rails (not trolling)"
Hi friends,

Don't want to start a flame war, but I was curious to see if there are some recent performance tests for:

- Grape on Rails vs. Rails
- Grape vs. Rails

If there isn't, I'd be happy to figure out how to run one and see how it would work.

[2016-03-09 20:36] galkon commented on #1131
Sure, I'll whip something up when I get into work.

[2016-03-10 00:23] galkon commented on #1131
Wrote another test that seems to be failing around testing arrays with multiple failures: https://github.com/ruby-grape/grape/pull/1314 does this seem right?

[2016-03-10 11:57] dblock commented on #1312
I haven't seen such comparisons. I think a default setup comparison between Rails 5 API mode and Grape on different web servers (Unicorn, Puma, etc.) could be useful. Note things like https://github.com/ruby-grape/grape/pull/1276 that are replacing big parts of Grape too that have some benchmarks to get you started.

[2016-03-11 02:59] chicaco opened #1316 "How to require an Array param, which have string or null elements"
I have a validation like so:
`requires :names, type: Array[String]`

and I also want to accept a null element.
e.g. [null], [null, "name"]

but would not work.
`requires :names, type: Array[String]`
and
`requires :names, type: Array[String], coerce_with: ->(val) { val.compact if val.is_a?(Array) }`

How can I accept array including String and null?

[2016-03-11 23:21] avecchio opened #1317 "Axiom as a model"
The name 'Axiom' is either already used in your application or reserved by Ruby on Rails. Please choose an alternative and run this generator again.

[2016-03-12 14:11] dblock commented on #1317
Sorry, I don't understand the question. Axiom::Types comes to Grape via Virtus, https://github.com/solnic/virtus. Please reopen with a clear description of a problem.

[2016-03-12 14:11] #1317 closed

[2016-03-12 14:13] dblock commented on #1316
It's a good question.

For a POST request with a type that clearly delineates `nil` vs. an empty value vs. something else, like JSON, I think you can "just do it".

For a GET request I don't think you can because there's no way to distinguish `nil` and an empty string in a query. How would you make an HTTP request with an array containing nils in, say, curl?

[2016-03-12 14:14] dblock commented on #1316
I'll close this, you should bring it up on the mailing list, http://groups.google.com/group/ruby-grape.

[2016-03-12 14:14] #1316 closed

[2016-03-14 04:49] guoyoujin opened #1319 "optional :str_time, type: String, default: Time.now.to_s"
When I use the following syntax when I found time default setting has been my successful deployment of that time , since he has been a constant

`
optional :str_time, type: String, default: Time.now.to_s`

[2016-03-14 10:55] dblock commented on #1319
This code is evaluated at load time of the .rb file, use a proc:

[code]

[2016-03-14 10:55] #1319 closed

[2016-03-14 17:49] dblock commented on #1260
This is likely fixed in https://github.com/ruby-grape/grape/pull/1276, care to followup on this @arempe93 ? Thanks.

[2016-03-14 17:50] dblock commented on #1076
Closing, there's no actionable info here.

[2016-03-14 17:50] #1076 closed

[2016-03-14 17:51] arempe93 commented on #1260
Yes I can take a look on the edge version soon

[2016-03-14 17:51] dblock commented on #1072
We replaced the router in https://github.com/ruby-grape/grape/pull/1276. Maybe we can do something about this now? /cc: @namusyaka

[2016-03-14 17:51] dblock commented on #1060
We replaced the router in https://github.com/ruby-grape/grape/pull/1276. Maybe we can do something about this now? /cc: @namusyaka

[2016-03-14 17:53] dblock commented on #734
We replaced the router in https://github.com/ruby-grape/grape/pull/1276. It's a step forward!

[2016-03-14 17:54] namusyaka commented on #1072
Yeah, I guess we can do provide the helper, I'm going to try to implement it.

[2016-03-14 17:58] namusyaka commented on #1060
Sure, we can do provide the `TRACE` verb. I'm going to implement the new verb if @ekampp is not interested in the feature now.

[2016-03-14 22:06] StevenJL opened #1322 "params only grabs the last hash of array in request body"
When I make a put request to a grape endpoint with the following params block

[code]

and then make a put request with the following body

[code]

The params only grabs the last hash

[code]

Anyone seen this before?

[2016-03-14 22:18] StevenJL commented on #1322
typo, so closing and creating new.

[2016-03-15 10:48] ngonzalez opened #1324 "Can't use coerce_with and Array[Integer] or Array[String] param types"
Hello,

we're having trouble using ```coerce_with``` helper since this commit: https://github.com/ruby-grape/grape/commit/7411e2f8e0cc38fc6db703f53da06c6d010601a1

Here is a test showing the problem we have:
https://github.com/ngonzalez/grape-test-app/blob/master/test/controllers/api_test.rb
https://github.com/ngonzalez/grape-test-app/blob/master/app/api/twitter/api.rb

[code]

```Array``` type is

[2016-03-15 11:09] dblock commented on #1322
What content-type? Try to write this in a spec maybe?

[2016-03-15 11:13] dblock commented on #1324
This looks like a bug. Start by making a pull request with the failing spec. Don't hesitate to try to fix it, too. /cc: @dslh

[2016-03-15 16:13] ngonzalez commented on #1324
@dblock Here's the Pull Request https://github.com/ruby-grape/grape/pull/1325/files

[2016-03-16 17:34] #1324 closed

[2016-03-17 00:27] scalp42 opened #1329 "uninitialized constant Grape::Formatter::Base (NameError)"
I'm not sure where I should open the issue (see linked issue: https://github.com/ruby-grape/grape/issues/new) but running into the following with `berkshelf-api` (depending on `grape-msgpack`):

[code]

Any idea ? Much appreciated!

[2016-03-17 00:29] scalp42 commented on #1329
Just tested with previous grape version `0.14.0` and it's working, so I believe `0.15.0` broke something.

[2016-03-17 02:12] StevenJL commented on #1322
Looking at the project, I see its on grape 0.7.0.  I can't verify this is broken for the latest version of grape so closing.  Thanks for the quick response though!

[2016-03-17 02:12] #1322 closed

[2016-03-17 16:33] jeromegn opened #1331 "Calling .auth after class is loaded does not apply auth to top-level endpoints"
I've stumbled on an issue where requests to endpoints which are not nested inside `resources` or `namespace` blocks don't go through the authorization middleware.

I have added failing tests to demonstrate this: https://github.com/ruby-grape/grape/compare/master...jeromegn:auth-after-load

Concise example:

[code]

`GET`ting this endpoint ^ will return a 200 with `"hello"` as its body.

[2016-03-18 11:52] jellybob opened #1332 "Parameters with multiple types fail validation"
I'm seeing validation fail on Grape 0.15.0 for parameters which allow multiple types, as shown by the test case below. Replacing `[Integer,String]` with simply `String` or `Integer` works when provided the relevant format.

[code]

This request will return `message[id] is invalid, id is invalid`.

[code]

[2016-03-18 13:02] jellybob commented on #1332
I eventually tracked the problem down to using `type` rather than `types`.

While that's clearly user error, and in some ways makes sense, I think its quite easy to miss - is there any way this could be supported without using a different option key?

[2016-03-18 14:51] dblock commented on #1332
Yes, would be good to improve this, PR welcome please!

[2016-03-21 17:04] wxianfeng opened #1334 "is Puma + Grape not threadsafe?"
my online Grape Project change unicorn to puma deploy.

so much users get other users data from api.

develop by Rails 4.2 + puma 3.0.1 + Grape 0.9.0.

some code like as:

base.rb
[code]

v3_helpers.rb
[code]

photos.rb
[code]

is my code not threadsafe ?

[2016-03-21 21:53] dblock commented on #1334
Are you worried specifically about `@current_user`? That's not automatically threadsafe. Grape or Puma won't take locks on that. That said, I am not sure what `@current_user` actual scope is, it might be executed in the context of a block that belongs to the current executing thread. So you _might_ be ok.

[2016-03-21 21:55] dblock commented on #1334
Finally, whatever we find should be documented.

[2016-03-22 13:28] vsorlov opened #1335 "Grape::DSL::Helpers::ClassMethods#helpers modifies helper module"
Hi, `Grape::DSL::Helpers::ClassMethods#helpers` evaluates helper methods in context of a given helper module, that leads to problems if that helper module is used anywhere else.

Example

[code]

now if I include `MyHelperModule` anywhere else, I'll have resource method, that I don't want to include

[2016-03-22 16:16] joeyAghion commented on #1334
I found it difficult to trace the instantiation of middleware and helpers in Grape's internals, but a simple test of `self.object_id` from within each of (a) a middleware class invoked by `use` and (b) a helper class invoked by `helpers` confirmed that the calling context is that of a different object on each request. This would point to instance variables (like in the above example) being isolate

[2016-03-22 17:08] dblock commented on #1335
But that's the whole point of `helpers`, no? What do you suggest?

[2016-03-22 19:45] vsorlov commented on #1335
@dblock, you see, we want to add helper module to several endpoints and also we want to add unique `resource` method to each of these endpoints

it is possible with
[code]

but grape allows us to do it with
[code]

and with that code `resource` method is added to MyHelperModule twice and the last added `resource` method is used in both endpoints

I suggest to always create anonymous module and inc

[2016-03-24 14:38] xiaok commented on #731
how do you resolve this problem?

[code]

[code]

???

[2016-03-24 14:42] dkniffin commented on #1302
@onemanstartup Did you ever find a solution to this? I'm trying to do something similar, and running into the same problem.

[2016-03-24 15:28] dkniffin commented on #1302
I'm still working on my issue, but I've figured out a couple things:

- Make sure `type` in your `Grape::Entity` is class, not a string (ie: `type: String`, not `type: 'String'`)
- It appears that the keys of the `documentation` hash in your `Grape::Entity` are used as validators. So, in my case, `required: true` was failing, because there was no `required` validator. I fixed that by changing that

[2016-03-24 17:44] dkniffin commented on #1302
Alright, I've fixed my issue. It turns out that there's [a known bug with grape and active_model 4+](https://github.com/ruby-grape/grape/issues/404). To fix it, I added the `hashie-forbidden-attributes` gem to my project.

----

Before I found that, I wrote this little helper method. I hope it helps someone in the future:

[code]

[2016-03-25 12:10] dblock commented on #1335
Ok that makes total sense @vsorlov. I wonder whether this is a feature through, in Ruby if you write `module MyHelperModule` you'd expect it to reopen a previous one. On the other hand, we could consider modules namespaces, and maybe what you suggest has less of a surprise. I think you should make a pull request either way.

[2016-03-25 12:15] dblock commented on #731
@xiaok POST data as application/json

[2016-03-25 12:17] dblock commented on #731
There's an example [here](https://github.com/ruby-grape/grape-on-rails/blob/master/spec/api/post_spec.rb#L6).

[code]

[2016-03-25 12:18] dblock commented on #1302
@dkniffin Yours doesn't look like a problem identical to this issue, or did I miss something?

[2016-03-25 13:20] dkniffin commented on #1302
@dblock I did originally start with an error very similar to this: `lib/grape/validations/types.rb:114:in `recognized?': undefined method `ancestors' for "string":String (NoMethodError)` I fixed it my first bullet above:

[2016-03-25 13:27] dblock commented on #1302
@onemanstartup Anty of this helps? What do we want to do with this bug?

[2016-03-28 10:50] dblock commented on #1072
Closed via https://github.com/ruby-grape/grape/pull/1339.

[2016-03-28 10:50] #1072 closed

[2016-03-30 10:01] eidge commented on #888
I'm having exactly the same issue on 0.15.0

[2016-03-30 13:18] guizmaii opened #1340 "Writing Tests with Rails, RSpec and specific Headers"
Hi,

I have a app written with "Grape (0.15.0) on Rails (3.2.22.1)".
The documentation say I can write tests like that:
[code]

It works well. I use this kind of tests since months.
But now, my API should take a specific header, for exemple `HTTP_TOKEN`
So, I change my tests like this:

[code]

Because the `get` method come from `ActionDispatch::Integration::RequestHelpers` and its signature is :

[2016-03-30 14:14] dblock commented on #1340
Are you sure that you're not getting a `token` header inside `headers`? There was something about `ENV` needing to prefix HTTP headers with `HTTP_`, but I could be totally wrong.

Next step is to write a failing spec in Grape for this.

[2016-03-30 14:43] guizmaii commented on #1340
Ok.

I found the problem and the solution.

I my real app my header is not `HTTP_TOKEN`. My key does not begin with `HTTP`. It was only for example.

I don't know why, but headers in Grape (and Rails ?, because of Rake ?) are prefixed with `HTTP_` in the `env` hash.
To get the headers, it loops over the `env` hash, if the key begin with `HTTP_`, it removes the prefix and adds the key/value pair to

[2016-03-30 14:43] #1340 closed

[2016-03-30 14:48] dblock commented on #1340
It's part of the Rack spec, documented in http://rack.rubyforge.org/doc/SPEC.html.

[2016-03-31 17:23] mjpineyro commented on #1198
I am not sure how to re-open this issue.

I am now using grape version 0.15.0, and I no longer get the NoMethodError (undefined method []' for nil:NilClass): error reported before.

Using the custom validation class that I created is working as expected, but the problem is that params[attr_name] in the NonEmptyArrayOrNull class is set to an empty array, both when the maidCalls element in the json

[2016-03-31 17:46] mjpineyro commented on #1198
Ah! but if I use this code, as originally suggested by dslh, it appears to work as I desire! In this case, it appears that val is set to whatever is sent in the json, instead of Grape converting it to an empty Array.

requires :maidCalls, type: Array, coerce_with: ->(val) { if val == "null"
                                                                       nil

[2016-04-01 20:56] dblock opened #1341 "Release 0.15.1 (or 0.16.0)"
I think we should be releasing 0.15.1 (or 0.16.0?) soon, there's no need to have the new router just sit here. Want to give it a shot @namusyaka? We have a [well documented process](https://github.com/ruby-grape/grape/blob/master/RELEASING.md).

[2016-04-01 21:56] maclover7 opened #1342 "Extract router to a gem?"
It's awesome that Grape was able to switch off of `Rack::Mount` to a in-tree router solution! However, many other Ruby web frameworks (ex: Hanami/Lotus) are also still using fairly unmaintained libraries like `http_router` among others. Does it make sense to extract Grape's router to a gem that can be used and shared by all? Does it make sense to refactor Grape's router further to use Rails' route

[2016-04-02 16:40] namusyaka commented on #1341
@dblock Yeah, I agree that releasing 0.15.1.  Should I check out 0.15.1 branch to skip commits of new router?

[2016-04-02 16:55] dblock commented on #1341
I would rather just see a 0.16.0 release with all the new stuff.

[2016-04-02 17:00] dblock commented on #1342
That's basically https://github.com/namusyaka/pendragon, isn't it? /cc: @namusyaka.

Journey has been merged into Rails. The last thing we want is to add a Rails dependency, that'd be awkward :)

[2016-04-02 17:05] namusyaka commented on #1341
:+1:

[2016-04-02 17:45] net1957 opened #1343 "0.16.0 fail to install on ruby 2.2.4 on windows x64"
on windows 8.1 x64:

gem -v
2.6.2
ruby 2.2.4p230 (2015-12-16 revision 53155) [x64-mingw32]
[code]

remark: mustermann19 exist for ruby 1.9 compatibility. but here we are on ruby 2.2.4

any idea ?

[2016-04-02 17:55] namusyaka commented on #1341
@dblock I've released 0.16.0. Thanks for giving me the chance.
Could you tweet this news as a grapeframework account?

[2016-04-02 18:37] namusyaka commented on #1343
Gosh... The problem is my bad. It is including unnecessary files.
So I've yanked the releasing. Please waiting for me.

[2016-04-02 19:19] namusyaka commented on #1343
I've released 0.16.1. Please use it instead of 0.16.0.
Sorry for the inconvinience.

[2016-04-02 20:28] namusyaka commented on #1342
Yes, The concept of pendragon is same with new router, but new router is optimized for Grape.
If you wish to use grape router in other projects, I'm going to update and refactor pendragon.
Thanks!

[2016-04-02 21:38] net1957 commented on #1343
install fine but not tested. Thanks

[2016-04-03 07:39] namusyaka commented on #1343
Thanks.
Please let us know if you still have a problem.

[2016-04-03 07:39] #1343 closed

[2016-04-03 23:17] mrueg commented on #1341
@namusyaka  can you push a tag for it please?

[2016-04-04 01:18] namusyaka commented on #1341
@mrueg Done. Thanks.

[2016-04-04 15:25] #1341 closed

[2016-04-04 16:48] dblock opened #1344 "Deprecated route_xxx methods for route_params and route_? declared."
I've PRed https://github.com/ruby-grape/grape-swagger/pull/368, but it has two problems, access to `route_params` and `route_hidden` in a dummy API declared as `GET '/foobar', hidden: true`.

The `route_xxx` deprecated code reaches into `@options`, which isn't `@settings`, and that is no longer exposed. So `.params` is not the same thing as the old `route_params`. What should we do about this one?

[2016-04-04 16:48] dblock commented on #1344
cc: @namusyaka, maybe you have a suggestion?

[2016-04-04 18:44] ridiculous commented on #1301
Hey, so I'm the maintainer of [this other logger](https://github.com/ridiculous/grape-middleware-logger) and got around this problem [by using `catch`](https://github.com/ridiculous/grape-middleware-logger/blob/master/lib/grape/middleware/logger.rb#L45), because Grape uses `throw` to handle errors.

[2016-04-04 23:29] namusyaka commented on #1344
@dblock Hmm, I think the `route_xxx` can explore the `@options` and `@settings` in a cascading style.
I'm going to investigate the problem in a few days.

[2016-04-05 08:15] guizmaii commented on #1301
Hi @ridiculous

Thanks for the tip ! I'll look at your code when I'll have some time.

I have to test your gem too. I choosed `grape_logging` at the time because I didn't know the existence of your gem.
I have to give a try to your lib and read your code. Your solution is maybe better than the `grape_logging` one.

In your README, you say "[I] would love to see these two consolidated at some point

[2016-04-05 11:08] dblock commented on #1344
If you have time @namusyaka, the simplest thing to look at is https://github.com/dblock/grape-swagger/tree/fix-deprecations, try to fix the remaining deprecations. I think the simplest would be to just expose `options`, but maybe the specs are wrong and it's not the right thing to do.

[2016-04-05 11:13] dblock commented on #1301
I think once a gem gathered a lot of adoption we can move it to the ruby-grape organization, for now it doesn't look like either has "won". If you decide to consolidate into one gem, I suggest picking one of the two and merging missing features onto it as pull requests and marking the other deprecated. That's a step in the right direction.

[2016-04-05 13:34] guizmaii opened #1347 "Switch from virtus to dry-types"
I don't really know what you do with `virtus` (I think it's coercion) but I think it could be a good idea to replace `virtus` by `dry-types` (http://dry-rb.org/gems/dry-types/) for many reasons:
1. This reddit post from Solnic, the virtus creator: https://www.reddit.com/r/ruby/comments/3sjb24/virtus_to_be_abandoned_by_its_creator/
2. Performance (from the dry-types doc): "roughly 10-12x faster tha

[2016-04-05 14:11] dblock commented on #1347
Thanks for sharing this @guizmaii! I read the post with great interest. I would be open to a PR that replaces Virtus with something else, we can look at the implications.

[2016-04-05 14:24] guizmaii commented on #1347
I added the PR request to my TODO list but I really don't know the Grape code for now and I don't have a lot of time but it could be a good start for me to contribute to Grape.

[2016-04-05 15:18] dblock commented on #1344
For now I am monkey-patching the deprecation to avoid too many warnings being spewed.

[code]

[2016-04-05 19:34] dblock opened #1348 "Global function definitions pollute Grape::API scope on Ruby 2.3.0"
Global function definitions pollute Grape::API scope on Ruby 2.3.0

[code]

This fails on Ruby 2.3.0 with

[code]

Thanks to @dylanfareed for the repro, took a while to narrow this down.

The `namespace` function is also defined by Rake, so the most common way of seeing this is with `include Rake::DSL` which is something that [fabricator does](https://github.com/paulelliott/fabrication/blob/master

[2016-04-05 19:46] dblock commented on #1348
I opened https://bugs.ruby-lang.org/issues/12251, lets at least work-around this.

[2016-04-05 21:05] dblock commented on #1348
cc: @namusyaka, should we just replace this with a Hashie::Mash or something else...?

[2016-04-06 04:42] przbadu opened #1350 "Compatibility with grape-entity > 0.5.0"
I forked and clone `grape` and run test cases on `master` branch and I got these three failing specs:

[code]

We are expecting `json` response but are actually getting `String of Hash`. May be all of them are related with `presenter` and I also try to fixed it, but couldn't figure out the solution.

[2016-04-06 04:49] przbadu commented on #1350
I am on `ruby 2.2.3`

[2016-04-06 11:07] dblock commented on #1350
I can confirm that. Looks like it was introduced by grape-entity 0.5.1, which is used in specs. It work with 0.5.0. I don't see anything immediately obvious in https://github.com/ruby-grape/grape-entity/blob/master/CHANGELOG.md, opened https://github.com/ruby-grape/grape-entity/issues/213. Needs to be tracked down.

[2016-04-06 11:15] dblock commented on #1350
Introduced by https://github.com/ruby-grape/grape-entity/pull/204.

[2016-04-06 12:51] Goundar opened #1352 "Error id is invalid on get route"
Hi, i've an issue :'(

In this configuration, the route `nearby_missions` doesn't work and grape kick me with an error :
[code]

[code]

but with this configuration everything is ok.

[code]

I don't understand why the position of this code affects my API.

Someone would have any idea ?

Thx !

[2016-04-06 14:39] niedhui opened #1354 "grape-entity 0.5.1 breaks http_codes spec"
With [this commit](https://github.com/ruby-grape/grape-entity/commit/ae279de45227800170acc52c2456ab466a074df5), which introduce `Grape::Entity::Exposure::NestingExposure::OutputBuilder`, it break `spec/grape/api_spec.rb:2034`, the [txt error formatter](https://github.com/ruby-grape/grape/blob/master/lib/grape/error_formatter/txt.rb#L10) using `is_a?(Hash)` to test whether the response body need to

[2016-04-06 15:03] dblock commented on #1354
This is a dup of https://github.com/ruby-grape/grape/issues/1350, right? Would love a fix in the right place.

[2016-04-07 03:54] niedhui commented on #1354
right, dup of #1350

[2016-04-07 03:54] #1354 closed

[2016-04-07 12:04] #1348 closed

[2016-04-07 13:37] dblock opened #1355 "Regression: PATCH behavior along with Header version matching"
[code]

This passes on 0.15.0.

In 0.16.1 this fails in interesting ways.

[code]

And

[code]

[2016-04-07 15:23] dblock commented on #1355
I could use some help from @namusyaka here ;(

[2016-04-07 20:08] dblock commented on #1352
This is because the parameter type is not part of route requirements.

When you make a request like `GET nearby_missions`, Grape evaluates routes in order, so with two routes, `/:id` and `/nearby_missions`, it matches `/:id` first, making `id=nearby_missions`. Then it tries to coerce `nearby_missions` into an Integer which fails, and you get the missing id error.

You could "fix" this by adding `r

[2016-04-07 20:08] #1352 closed

[2016-04-11 15:36] solnic commented on #1347
Happy to see this proposal. I was also wondering if maybe you could leverage [dry-validation](http://dry-rb.org/gems/dry-validation/) too.

[2016-04-11 17:59] dblock opened #1360 "Release 0.16.2"
I think we can release 0.16.2 fixing the regressions introduced around 0.16.0.

@namusyaka Anything from you? Feel free to make the release otherwise or I can do it if you don't have time.

[2016-04-11 18:11] dblock commented on #1355
The undefined method problem hasn't been fixed yet it seems.

[2016-04-11 18:18] dblock commented on #1360
Nevermind, I reopened https://github.com/ruby-grape/grape/issues/1355 with a repro, https://github.com/dblock/grape/blob/patch-method-helpers/spec/grape/api/patch_method_helpers_spec.rb

[2016-04-11 20:22] dblock commented on #1360
Can do https://github.com/ruby-grape/grape-swagger/pull/375 after this is released.

[2016-04-11 20:24] namusyaka commented on #1355
Closed via #1362

[2016-04-11 20:24] #1355 closed

[2016-04-11 20:45] namusyaka commented on #1360
Just released [0.16.2](https://rubygems.org/gems/grape/versions/0.16.2) and pushed [the tag](https://github.com/ruby-grape/grape/releases/tag/v0.16.2) :tada:
Also, I've posted [a topic for 0.16.2](https://groups.google.com/forum/#!topic/ruby-grape/Q-dNFG8uk04).
Thank you!

[2016-04-11 20:45] #1360 closed

[2016-04-14 14:23] albertordz commented on #528
hey @dblock is there any official documentations where @teamon took the env["REMOTE_ADDR"] and env["REMOTE_HOST"] from? I dont seem to find it anywhere in the code

[2016-04-14 18:14] dblock commented on #528
I am going to guess it's somewhere from Rack.

[2016-04-18 13:18] ktimothy opened #1364 "Specific exception handlers are not called when using rescue_from with option 'with:'"
I ran into the strange behaviour while refactoring my api and moving error handling into separate file. So I wrote this minimal example to reproduce the issue.

Here I use blocks to handle specific exceptions and call specific helper method:
[code]

When I request ```/argument_error``` API responds, as intended, with ```{"error":"argument_error_block"}```. But if I use ```with:``` in rescue_from
[

[2016-04-18 15:24] totothink commented on #1347
Very good, if possible, I want to get involved @dblock

[2016-04-19 16:45] dblock commented on #1347
Looking forward to pull requests @totothink.

[2016-04-20 09:02] Morred opened #1367 "Scoping nested resources"
I'm trying to scope a resource within another resource, like this:

[code]

The LIST option for operating system versions works without problems because I can just refer to params[:id] and get the operating system ID. However, once I'm within the second route_param :id which refers to the id of the operating system version, I can no longer access the previous one, i.e. the one that refers to the o

[2016-04-20 13:07] dblock commented on #1367
It sounds like you just want to call these `:id` params differently, no?

[2016-04-20 13:09] dblock commented on #1367
I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-04-20 13:09] #1367 closed

[2016-04-20 22:40] wagenet commented on #1041
@dblock sorry to reopen an old issue here. From what I can tell, the Rack API docs do imply that you should not return the Rack::Response itself from the `app.call`:

via http://www.rubydoc.info/github/rack/rack/Rack/Response

[2016-04-20 22:42] wagenet commented on #1041
Also:

http://www.rubydoc.info/github/rack/rack/master/file/SPEC

[2016-04-21 00:39] Morred commented on #1367
Well that was easy 😁 For some reason I was under the impression that the route params *have* to be called :id, I'm not even sure why. Thanks!

[2016-04-21 21:28] dblock commented on #1041
I just don't read it the same way I suppose. If we undo this the whole streaming thing doesn't work at all, no?

[2016-04-21 21:31] wagenet commented on #1041
@dblock, I haven't read the code, but wouldn't you do streaming by having the 3 value of the array be a special object that responds to each? http://www.rubydoc.info/github/rack/rack/file/SPEC#The_Body

[2016-04-21 21:35] dblock commented on #1041
From what I understand that doesn't work because of how Rack treats this, but I could be totally wrong. Maybe @dan-corneanu can help us here?

[2016-04-21 21:38] wagenet commented on #1041
@dblock yeah, I'm just reading the spec, might be things I'm missing. It looks like Rails is just doing something with `Rack::Chunked::Body`: https://github.com/rails/rails/blob/b6760d8f14af6b00250395f2c830b89e43621860/actionpack/lib/action_controller/metal/streaming.rb

[2016-04-22 04:57] danieldraper opened #1368 "Camel case params"
Hi - Curious on recommendations for using lower camel case for request params but map them to snake case for the model? I am using Roar for representing the response so no issues here just the incoming. Could not find this documented anywhere.

[code]

[2016-04-22 10:33] atomless opened #1369 "Looks like latest Grape is not compatible with lastest Grape-Swagger?"
[code]

[2016-04-22 13:32] dblock commented on #1368
Do you mean how to do it? I'll close this though. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-04-22 13:32] #1368 closed

[2016-04-22 13:33] dblock commented on #1369
Please see https://github.com/ruby-grape/grape-swagger#compatibility.

[2016-04-22 13:33] #1369 closed

[2016-04-22 14:08] atomless commented on #1369
Oh, so in order to use latest Grape you must use swagger 0.11!? Will future versions of swagger support latest Grape or will it only be that old 0.11 version?

[2016-04-22 21:53] dblock commented on #1369
Not sure. We're trying to expand the matrix and could use some help!

[2016-04-23 13:46] qsona opened #1370 "How to allow empty array for params?"
I wrote the following code.
[code]
A request with following params succeeds
`{ items: [{ id: 1, enabled: true }, { id: 2, enabled: false }] }`

But fails with following.
`{ items: [] }`

I changed the code to
[code]

But, all requests failed then.

I want to allow `{ items: [] }` params. Is there any way to do it?

Thanks.

[2016-04-23 21:17] dblock commented on #1370
If you're POSTing JSON, I believe this just works. Care to share the code that does the POSTing?

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-04-23 21:17] #1370 closed

[2016-04-24 11:42] dblock commented on #1302
@onemanstartup I'd like to close this, thanks @guavabot. Reopen with details of anything you cannot figure out.

[2016-04-24 11:42] #1302 closed

[2016-04-24 11:50] #1364 closed

[2016-04-24 11:53] dblock commented on #1342
I'm going to close this, it's beyond Grape's scope.

[2016-04-24 11:53] #1342 closed

[2016-04-24 11:54] dblock commented on #1344
Closing via #1357.

[2016-04-24 11:54] #1344 closed

[2016-04-25 08:36] pocman commented on #723
Hi,

I have a similar issue :
[code]
`"route": [{},{}]` is valid.
`"route":[{},{"calendar": [{"starts_at": "2016-05-02T09:00:00+00:00","ends_at":"2016-05-02T12:00:00+00:00"}]}]` returns
[code]

[2016-04-26 07:49] thedrow opened #1371 "Header validation DSL"
Currently there is no way to validate headers with Grape using the DSL.
It'd be useful to be able to specify that a header must be present or must be equal to something without coding it manually.
Providing a header validation DSL can help you say things like:

- The client should never ask to cache the request using Cache-Control
- The server only responds in UTF-8 charset.
- A custom header must

[2016-04-26 08:10] LeFnord commented on #1371
for grape-swagger we had a similar discussion …
one approach was, to define the header parameters for the request in the same manner as the other one, e.g.:
[code]

this way, it could be used the params validations, what did you think?
on the other side, the request params are consistent

[2016-04-26 09:24] micfan opened #1372 "Question: Register custom middleware for authentication"
I am trying to use Middleware::Auth::Base to add my own strategies by `Grape::Middleware::Auth::Strategies.add()`, but [this line](https://github.com/ruby-grape/grape/blob/master/lib/grape/middleware/auth/base.rb#L37) returned the rack response [400, foo, bar].

The two file like this:

[code]

[code]

Where is the error? Is there any demo or more detailed docs than this [README](register-custom-m

[2016-04-26 11:09] dblock commented on #1371
IMO we want `headers do` just like `params do` reusing the exact implementation of `params`.

[2016-04-26 11:14] dblock commented on #1372
Looks like an exception was raised inside the `call`, then handled. Maybe build a smaller project without the whole oauth thing that demonstrates the problem?

[2016-04-26 11:15] thedrow commented on #1371
@dblock Exactly what I was going to say

[2016-04-27 12:21] ka8725 opened #1376 "Speed up StackableValues"
I profiled our app that uses Grape and looks like the `StackableValues#[name]` ([this code](https://github.com/ruby-grape/grape/blob/master/lib/grape/util/stackable_values.rb#L14-L20)) takes most of the time. And it's good idea to improve its performance. So I tried to do changes like this:

[code]

It gives 2.5X performance but uses more memory. Here my benchmarks:

[code]

And the results:

[cod

[2016-04-27 12:31] ka8725 commented on #1376
Sorry, guys about misleading about memory. The memory consumption didn't changed with my code. So opened [pr](https://github.com/ruby-grape/grape/pull/1377).

[2016-04-27 12:54] #1376 closed

[2016-04-27 18:34] ipkes commented on #723
Hi @pocman! Can you confirm that if change type of `starts_at` and `ends_at` from `Time` to something else, `String` for example, error will disappear? I think this is not the same issue.

[2016-04-27 19:05] ipkes commented on #723
@dbclock for this issue I think we have conflict demands.
[For example](https://github.com/ruby-grape/grape/blob/master/spec/grape/validations_spec.rb#L641)
<pre>
      params do
        group :children, type: Array do
          requires :name
          group :parents, type: Array do
            requires :name
          end
        end
      end
      it 'errors when a parameter is not present' do

[2016-04-28 05:39] MeterSoft opened #1379 "Content type"
Hi, when client send content type application/x-www-form-urlencoded grape incorrect parse params, it should by xml. How i can forse parse all content type as xml or something like this?

in api
format :xml
default_format :xml

[2016-04-28 12:48] pocman commented on #723
@ipkes Yes, I changed type of starts_at and ends_at from Time to String and the error will disappeared !

[2016-04-28 13:14] dblock commented on #1379
That's by design. The fact that the API defaults to XML doesn't mean that you force it to think you have XML when the client tells it the data format is something else. This is just the default.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-04-28 13:14] #1379 closed

[2016-04-28 22:20] richddr commented on #726
is there any update on this issue?

[2016-04-29 00:38] richddr opened #1382 "Allow the VENDOR_VERSION_HEADER_REGEX to match on the HAL (hal+json) format"
I have an endpoint which will only respond to hal format (`application/hal+json`) as specified in [HAL's official page](http://stateless.co/hal_specification.html)

Given the following:
[code]
Example Request: `curl -H 'Accept: application/vnd.foo-v1+hal+json' http://www.foobar.com/api/foo`

In `/lib/grape/middleware/versioner/header.rb#`,  `an_accept_header_with_version_and_vendor_is_present?` re

[2016-04-29 16:49] dblock commented on #1382
Good digging. Would appreciate a PR!

[2016-05-01 06:41] phuongnd08 opened #1383 "include_missing should have been default to true?"
Could some one shed some light on why declared by default would return a hash with nil value on missing keys? Why is it desirable? For example, I am implementing a simple update action that collect params and then call `Model.update(declared(params))`. But by doing that, the missing field would override the the model attributes with nil. Shouldn't it just leave the model attributes intact?

By usi

[2016-05-02 11:03] dblock commented on #1383
It's entirely historical, that is the original implementation didn't carry the `include_missing` option, and we wanted to preserve backward compatibility. I don't think flipping it around is a great idea without renaming the method, since it will break most users silently.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-05-02 11:03] #1383 closed

[2016-05-02 11:07] dblock commented on #723
So looks like the `Time` problem was resolved by #1380, but the original issue was different, @justfalter re-raised https://github.com/ruby-grape/grape/pull/883 and that was fixed. The only thing left is https://github.com/ruby-grape/grape/pull/911 by @al2o3cr. If someone has time, I'd appreciate a rebased run of #911 to see what's failing and what's not.

[2016-05-04 11:18] one-more-alex opened #1385 "Default value in optional param validation"
Default value in optional param should not be respected in validation.

Lets see simple example where default is set for 'client' param.

params do
  optional :client, type: Integer, default: 20
  optional :filter_by_zone, type: Integer
  at_least_one_of :client, :filter_by_zone
end

This params set will be valid even if no params passed in request.

Reproduce:
Send web request without params

Act

[2016-05-04 15:34] glacier3 commented on #1334
Maybe use warden to attach current_user to fix this ?

[2016-05-04 22:07] dblock commented on #1385
I see your point, however I am sure you see how someone could argue the opposite.

1) Change this behavior and check whether it breaks any specs.
2) Discuss. If no specs are broken, then we could make the change and document it. And lets get other people's opinions.

[2016-05-05 05:58] TigerWolf opened #1387 "Grape route error"
After upgrading to 0.16.2 from 0.15.0 I get this error:

`Mustermann::CompileError - can't use the same capture name twice: "/(*:path)*path(.json)":`

I have looked at the UPGRADING document and it doesn't look like I am using any of the deprecated methods.

In my `routes.rb` file I am using: `mount Base => '/'`

Is there any more information I can provide to help debug this issue?

[2016-05-05 10:56] dblock commented on #1387
This is just a regex error in an API declaration, no? Do you have a route that looks like the one above in the error?

[2016-05-06 03:30] mkou opened #1388 "Nested params mixing"
I have a strange error, whenever I POST the parameters
[code]

[2016-05-06 13:33] dblock commented on #1388
Are you POSTing content-type JSON or doing this in a spec? This is not something you can post as a query string with curl for example.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-05-06 13:33] #1388 closed

[2016-05-06 13:39] #723 closed

[2016-05-06 13:39] dblock commented on #723
I believe https://github.com/ruby-grape/grape/commit/9a083581204a492ac7153cbd4d05e385f4a94793 closes this fully.

[2016-05-06 16:28] mkou commented on #1388
I created a test https://github.com/ruby-grape/grape/pull/1389 to show what my issue is

[2016-05-07 09:10] one-more-alex commented on #1385
I think, there are two terms we should distinguish here: 'default' and 'preset'.
I think now realized 'preset', not 'default' really.

Maybe opposite opinion is right... I do not insist.
As for my example, I removed default and making default value inside code. Which is not in line with proposed 'default' functionality.

If we want left code as is:
- forbid 'default' for required params;
- documen

[2016-05-08 00:18] dblock commented on #1302
Just want to make sure there's nothing to do in grape proper for that @guavabot.

[2016-05-09 14:23] dblock commented on #1385
I like the idea of `default` being renamed as `preset` and the "correct" default introduced. I'd love to hear what other people think though.

[2016-05-09 17:47] wleeper commented on #1309
With the change in #1037 now if you pass in

[code]

It wraps the resulting message formatted with Entities::Errors with error: { result of Entity Model }.

This is because the if statement is looking at .is_a(Hash) and apparently (unverified) the response from present method being compared to is_a(Hash) is not in fact a Hash, but most likely some Grape::Entity class.

[2016-05-10 15:48] eidge opened #1391 "Nested Param Helpers - using *:use* inside a Grape::API::Helper"
Hello guys,

I'm trying to reuse param definition in my helpers but the ```use :param``` method doesn't seem to work inside Grape::API::Helpers.

The use case is I have two different models that include a third model like this:

[code]

Unfortunately inside ```Dog``` grape complains that it cannot find params for **:animal**. I've tried extending and including the Animal module with no success.

A

[2016-05-11 13:05] raulpopadineti opened #1392 "Ability to stream entities"
Hi,

We'd like to build an API that is able to paginate entities and send them in chunks.

A really raw way of sending data in chunks would be:

[code]

With this approach I get the deprecation warning:

`[DEPRECATION] Argument as FileStreamer-like object is deprecated. Use path to file instead.`

because Grape assumes the response is a file.

Will you support streaming of a `Grape::Entity` or any

[2016-05-11 16:50] dblock commented on #1391
I will leave this open as a feature request. It's possible that the only thing missing is that `helpers` method, but generally the documentation tells you to declare reusable parameters inside a `helpers` block. I would go from there.

[2016-05-11 16:59] dblock commented on #1392
I think the deprecation is just for files. It's still supporting a pure streaming interface. You should look at the code a bit more in depth and see what's missing? Generally I don't see why we wouldn't want this, so I'll leave this open.

[2016-05-12 07:18] TigerWolf commented on #1387
It doesn't appear to be a regex error as it works with `0.15.0`. My routes:

[code]

[2016-05-12 07:25] TigerWolf commented on #1387
It appears that the commit that introduced this issue is: https://github.com/ruby-grape/grape/commit/9f4ba67d4aca90f04a65c5ff921b1687942eb99c

[2016-05-12 10:28] eidge commented on #1391
That makes sense. Our API is big enough to have the same params repeated in more than one endpoint though (think filters, embeddable models, etc..)

[2016-05-12 10:53] danieldraper opened #1395 "Extend `given` to check against the value"
It would be nice to allow a value to be specified on a `given` so that different parameters could be included for example:

[code]

[2016-05-12 11:09] dblock commented on #1387
Yes, the router was replaced, it's a lot of changes. I would look at the stack that gets there or try to build a spec that reproduces this problem to start.

[2016-05-12 11:09] dblock commented on #1395
I like it.

[2016-05-12 11:47] danieldraper commented on #1395
I'm happy to look into implementation, and pointers on accessing the value from https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/parameters.rb or should I be looking elsewhere?

[2016-05-12 14:46] glaucocustodio opened #1396 "Params with default values [feature request?]"
Hi folk, consider the following example:

[code]
Wouldn't be nice if we could write something like:

[code]
It would help keeping our code DRY.

What do you think?

[2016-05-12 15:43] rnubel commented on #1395
@danieldraper that section of code is executed right when your API loads, and is what defines the new parameter scope with a `dependent_on` value. You'll need to update that to save the `value` lambda for later reference, and update [ParamsScope#should_validate?](https://github.com/ruby-grape/grape/blob/7e6daeb0d86a476dbf9c15668aa53a1109e45532/lib/grape/validations/params_scope.rb#L41-42) to verif

[2016-05-12 20:48] holgersindbaek opened #1397 "Using Kong on Heroku with Grape"
Does anyone have experience running Kong (https://github.com/Mashape/kong) on Heroku with Grape? Is there anything I should be aware of when running Grape on top of Kong?

[2016-05-12 22:40] lfidnl commented on #1392
Hello. I guess, now `stream` method can stream only files. Maybe we should to do:
1. Add option `stream: true` to `file` method. This option will replace current `stream` method.
2. Rewrite `stream` method in such a way that it can receive object which respond to `each` method and streams it.

[2016-05-13 11:03] dblock commented on #1396
Does it not work because `current_user` is not defined in that scope? The lambda itself should be called on every request.

[2016-05-13 11:07] dblock commented on #1397
Don't know of any issues.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-05-13 11:07] #1397 closed

[2016-05-13 12:24] raulpopadineti commented on #1392
I've managed to stream JSON by polishing a bit on the `Streamer` class I added:

[code]

[2016-05-13 12:30] lfidnl commented on #1392
@raulpopadineti one question: is it works now with deprecation warning, or not?

[2016-05-13 12:33] raulpopadineti commented on #1392
@lfidnl it works with deprecation warning.

[2016-05-13 12:37] lfidnl commented on #1392
@raulpopadineti good, I think, @dblock should approve my suggestion and someone can create PR for fix this issue :)

[2016-05-13 12:43] glaucocustodio commented on #1396
The `@current_user` is set inside a helper method, like:

[code]

[2016-05-13 18:43] mmclead opened #1399 "Allow use of built in Grape Exceptions defined in /lib/grape/exceptions when rescue :all is set."
When rescue :all is set, all errors come back with a status of 500.   Since Grape already defines how to handle common Exceptions it would be nice to allow those built in ones to be handled as normal.

Here is PR that does it:  #1398

[2016-05-13 19:50] dblock commented on #1392
I think what you suggest is sensible, would like to see a PR.

[2016-05-13 19:51] dblock commented on #1396
Let me backup. The documentation says that this should work as you describe. So why doesn't it work? I mean you say "these don't work", but how do they not work? Do you get an error? Do the lambda methods not get called?

[2016-05-13 20:53] wleeper commented on #1350
This also affects the generation of error messages that use an Entity model for generating the output.  This is due to the fact that it is expecting the `present` method to generate a hash but now with 0.5.1 it generates an object.

[2016-05-16 11:27] dangnm opened #1400 "API version can't take an array of versions on 0.16.2"
This code works
[code]

This code doesn't work but it can work on 0.15.0

[code]

How can I solve this problem temporarily before some developers fix it?

[2016-05-16 13:35] dblock commented on #1400
Did this work before? I'd write a spec for it to start.

[2016-05-16 14:24] dangnm commented on #1400
No. I upgraded from 0.15.0 to 0.16.2 and it didn't work anymore. I had worked quite well on 0.15.0.
I'm not sure but I think "#1276: Replace rack-mount with new router " caused the problem.

[2016-05-16 19:48] raulpopadineti commented on #1392
@dblock to which solution are you referring?

[2016-05-16 20:13] glaucocustodio commented on #1396
`optional :seller_id, default: ->() { @current_user.id }` raises the following error: `undefined method "id" for nil:NilClass`

[2016-05-16 20:28] dblock commented on #1392
I meant what @lfidnl says. But you're all looking at code, I suggest trying something and PRing it.

[2016-05-16 20:31] dblock commented on #1396
@glaucocustodio You're incorrectly assuming that the scope of `@` variables inside that function is the same as in helpers. I don't believe that's true. You should dig deeper - are helper methods available? If they are, what scope to they execute in? Most applications pass shared context like this through `ENV` to avoid any thread-safety issues and such.

[2016-05-17 09:33] raydya commented on #1400
me too, version array does not work on 0.16.2

[2016-05-17 11:12] dblock commented on #1400
Can someone please start by writing and PRing a spec for this? And do try to fix it. If you get stuck we'll help out.

[2016-05-18 00:16] bobber205 opened #1401 ":any and "*path" Not Working"
The following isn't working when my route has a trailing parameter like this

put '/test/ilovetests/updatemylove/:id'

if I do a put to '/test/ilovetests/updatemylove/' the below code isn't hit.

[code]

I've tried loading this class in the array sent to Rack::Cascade.new at both the beginning and at the end (like you should and the example in the READme insists on) and it's not hit whenever I thr

[2016-05-18 10:51] dblock commented on #1401
The router was indeed replaced. Can you try to come up with a repro for this, a spec in the Grape project would be great.

[2016-05-18 12:22] glaucocustodio commented on #1396
Helpers method aren't available inside lambda. I think it would be nice if we could set default values using helpers or instance variables.

[2016-05-18 14:14] dblock commented on #1396
I agree, would love a PR.

[2016-05-18 16:39] bobber205 commented on #1401
Sure thing. I'll whip something up today.

[2016-05-18 21:46] alexaltair opened #1402 "`before` block called before valid route is checked for."
On version 0.16.2, I have the following configured;
[code]
[code]
A GET request to `foo/<foo-id>` will either respond with a 200 or a 400 as expected. A POST however will 500;
[code]
Because it's a throw, this is the *only* line of the stack trace. If I force a throw and send a GET request I *do* get a big stack trace, which means the throw is caught in that case. If I write a `post` block, I get

[2016-05-19 07:06] ciaoben opened #1403 "`format :json` does not seem to work as documented"
I want my API to accept only `application/json` as a Content-Type. Reading the docs it seems that this should do the work:

[code]

but my API still accept other Content-Types

[2016-05-20 11:09] dblock commented on #1402
I *think* this is by design, but I can see how it's unclear in https://github.com/ruby-grape/grape#before-and-after. I'd appreciate at least some specs that definitely answer this question if we don't have any, and a README update.

Does `before_validation` behave differently?

[2016-05-20 11:13] dblock commented on #1403
It's slightly more complicated, the doc says:

<img width="916" alt="screen shot 2016-05-20 at 7 12 40 am" src="https://cloud.githubusercontent.com/assets/542335/15426098/5077217a-1e5a-11e6-8833-3f156bfbe629.png">

What content-type are you sending that is not producing a 406? If it's none of the above, try turning this into a spec?

[2016-05-20 13:42] supermario commented on #1312
@shaqq a little old but might find this useful: http://madebymarket.com/blog/dev/ruby-web-benchmark-report.html

[2016-05-25 20:17] travisp opened #1406 "Grape re-loading instructions for rails don't work"
Since rails 4, ActionDispatch::Callbacks.to_prepare is only triggered when files change that it knows about. The only direct workaround is to set reload_classes_only_on_change = false, although there may be a better fix.

https://github.com/rails/rails/issues/7152

[2016-05-26 08:34] ciaoben commented on #1403
I will do it as soon as possibile

[2016-05-26 10:02] ciaoben commented on #1403
@dblock
I am having problem pushing my specs to the repo, I followed the steps of `CONTRIBUTING.md` but it gives me:

[code]

[2016-05-26 10:54] dblock commented on #1406
I believe the documentation explains how to deal with this, https://github.com/ruby-grape/grape#reloading-in-rails-applications. Please reopen if that doesn't work.

[2016-05-26 10:54] dblock commented on #1406
Oh I see, reopened.

[2016-05-26 10:57] dblock commented on #1403
You should make changes and push to your fork, not to this repo, [this](https://help.github.com/articles/fork-a-repo/) should be helpful.

[2016-05-26 11:12] ciaoben commented on #1403
Thanks, I have created the [PR](https://github.com/ruby-grape/grape/pull/1407), sorry but I had never done it.

[2016-05-26 15:21] dblock commented on #1403
This works by design, the documentation is correct. A JSON API does parse application/x-www-form-urlencoded date. I would be curious to see what a PR "fixing" this looks like, and would like to open it for discussion.

[2016-05-29 20:05] vanburg commented on #1278
[code]
That is really required feature (this is how I got here). Subscribing.

[2016-05-29 21:42] dblock commented on #1278
Thanks @vanburg, looking forward to some PRs!

[2016-06-01 17:02] MoonShining commented on #1334
@wxianfeng have you solved/figure out this issue? I want to use grape with puma in my project,but thread safe is a serious problem.

[2016-06-01 20:23] dblock commented on #1334
@MoonShining Just to be clear, we're using Grape successfully with Puma on a large scale production application just fine. There're some questions around thread safety that seem to indicate that there's potential for non-thread-safe behavior, but this issue is still open to make sure we aren't missing anything.

[2016-06-01 20:24] dblock commented on #1334
Re-reading this thread I am happy with @joeyAghion's answer and am going to close this.

[2016-06-01 20:24] #1334 closed

[2016-06-03 00:34] wolfemm opened #1410 "Null parameter invalid with `allow_blank: true` and `values: [...]`"
The following will not accept a null/blank value:

[code]

And using `values: ["watching, "considering", "skipping", nil]` fails with Grape::Exceptions::IncompatibleOptionValues.

Is this the intended behavior or a bug?

[2016-06-03 10:51] dblock commented on #1410
This is by design. The `allow_blank = true` option is a more deterministic way of allowing a `nil` value in `values`. They are synonymous and `nil` is not of type `String`.

I'll close this. Reopen if this doesn't make sense. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-06-03 10:51] #1410 closed

[2016-06-03 11:59] Strnadj opened #1411 "Response headers"
It's possible to set response.headers, for example you can do that in rails like this:

`response.headers['Last-Modified'] = ....`

but this cause fatal bug which kill the app ..

[2016-06-03 12:00] Strnadj commented on #1411
Oh my fault, i skip that part accidentally in doc :(

[2016-06-03 12:00] #1411 closed

[2016-06-06 17:30] nicholaspufal opened #1413 "API versioning strict mode not returning a 406 as expected"
I created a very simple endpoint to make it easier to spot this issue. Say I have the following API:

[code]

And the following tests:

[code]

What's happening is that for the first scenario it's returning a `404`.

After investigating a bit deeper the issue it seems like that `versioner/accept_version_header.rb` is doing the right job - I can see a 406 from there, however later in the process `G

[2016-06-06 20:53] nicholaspufal commented on #1413
After taking another look at the docs, this behavior is actually being mentioned:

Wouldn't the other way around make more sense? Make the default `cascade: false`?

[2016-06-07 12:03] atomless opened #1416 "Deeply nesting endpoints within multiple namespaces leads to large jumps in latency and cpu usage"
In my unit tests when I execute 10 simultaneous requests to a deeply nested endpoint of the form `':path_param1/namespaces1/:path_param2/namespace2/:path_param3/namespace3/namespace4/:path_param4'` it takes 60 seconds to complete and CPU consumed by Ruby peaks at over 90%.

If I flatten that endpoint out and have it at the top level instead and have it named `post ':path_param1/namespaces1/:path_p

[2016-06-07 20:57] dblock commented on #1413
It could make more sense, but I bet the reason is historical and I would vote not to change this behavior so that everybody doesn't have to suffer. If you agree I think we should close this?

[2016-06-07 23:54] Rosa commented on #1402
I'm seeing something kind of similar to this, but it's not the same problem. In my case, I was seeing a 500 error when using a wrong request method (for example, calling the `/:foo/:id` in the issue description with anything different from `GET`) due to this kind of `before` filter:

[code]

And `require_special_header!` is something like this:
[code]

This ends up raising `NoMethodError: undefine

[2016-06-08 00:00] Rosa commented on #1402
(In my particular case I'll likely move that kind of headers check to a `before_validation` filter, after reading again the README on those it looks definitely more correct. But I thought I would mention it just in case it helps 😃 )

[2016-06-08 08:50] atomless commented on #1416
Hi @dblock I've tried to recreate a simple example with a single deeply nested endpoint, it is slower than when flat but not to the extent that I am seeing with our full API where there are lots of endpoints deeply nested at different levels in a single file. I have double checked and there does seem to be an issue with routing code in Grape as the deeply nested version of our api completes all re

[2016-06-08 11:02] dblock commented on #1402
@Rosa maybe you're onto something, want to try writing a spec for this and seeing whether bringing in `env` is even possible?

I still would love better documentation on when these are called, it's not obvious that `before` is called even for non-matching requests.

[2016-06-08 11:04] #1400 closed

[2016-06-08 11:06] dblock commented on #1416
I think in order to get someone's attention who knows the router code well, like @namusyaka, you really need to reproduce this in a very small spec or project with a nice `benchmark do ...` around it.

[2016-06-08 13:52] urkle commented on #173
Using rack only helps if you ALWAYS want to apply an around filter..  But what if you only want it around certain resources then having this natively in grape is extremely helpful.

[2016-06-08 15:23] nicholaspufal commented on #1413
Yeah, I thought about the historical reasons as well.

Before closing it, could I make a small change to the docs?

I'm thinking about copying these lines from the **Header** explanation:

And use them as part of the **Accept-Version Header** docs - at the moment it only mentions that when using `strict: true` it will return a `406`.

[2016-06-08 16:13] dblock commented on #173
Looking forward to some pull requests!

[2016-06-08 16:14] dblock commented on #1413
Definitely propose a PR, thanks @nicholaspufal!

[2016-06-08 16:15] dblock commented on #1413
Closed via #1417.

[2016-06-08 16:15] #1413 closed

[2016-06-09 12:24] etehtsea opened #1418 "helpers behaviour inconsistency"
[code]

So helpers methods used in parent class are available in mounted endpoint and `params` obviously aren't. I find this behaviour a little  inconsistent.

[2016-06-09 14:44] dblock commented on #1418
These params don't just automatically carry onto endpoints, you have to `use :expand` in the endpoint's `params`. Does that work?

[2016-06-09 14:47] etehtsea commented on #1418
Haha, stupid me, sorry. Completely forgot about it, sorry.

[2016-06-09 14:51] dblock commented on #1418
Glad this helped. There're no stupid questions!

[2016-06-09 15:12] etehtsea commented on #1418
Hmmm, I recalled the issie. It don't seem to work:

[code]

[code]

[2016-06-09 15:24] etehtsea opened #1420 "helpers injection pollutes Grape::Middleware::Error"
[This](https://github.com/ruby-grape/grape/commit/951ae51cc0eccec6c5225c2aaf16f091829062dd) commit introduces very strange issues in our projects:

1. helpers are including to the middleware which is global to all code that use Grape. So if you have two helpers with the same name you are in trouble.

[code]
  Upsy daisy!

2. Historically in order to not copy pasting `format`/`helpers` and other to

[2016-06-09 17:26] dblock commented on #1418
This looks broken. I would turn it into a spec next.

[2016-06-09 17:27] dblock commented on #1420
Good hunting, this looks like a real problem.

[2016-06-09 17:28] namusyaka commented on #1420
Good point, thanks @etehtsea for reporting the issue!

[2016-06-10 03:37] dblock commented on #1420
Closed via https://github.com/ruby-grape/grape/pull/1421, @etehtsea would you try HEAD please?

[2016-06-10 03:37] #1420 closed

[2016-06-10 08:21] etehtsea commented on #1420
@dblock HEAD contains another breaking change :)
https://github.com/ruby-grape/grape/pull/1390/files#diff-8cadb40e9821fe1cd1d0fcf60e76b380R46

I'll try to apply this before this commit and check.

[2016-06-10 14:17] dblock commented on #1420
@etehtsea What are you seeing wrt breaking changes that you didn't expect? Are those described in UPGRADING?

[2016-06-11 13:16] namusyaka commented on #1085
Closed via #1422
Thanks for reporting the issue, and thanks @rnubel and @plukevdh for your efforts.
Please reopen this issue if you still have a problem.

[2016-06-11 13:16] #1085 closed

[2016-06-12 12:18] Rosa commented on #1402
I was going to add some spec and found out that there is already a spec that shows how `before` is called in the case of `MethodNotAllowed` [here](https://github.com/ruby-grape/grape/blob/master/spec/grape/api_spec.rb#L530). I could still add a case to show how `before_validation` is **not** invoked in that case. I'll also try to come up with some way of having `env` in `before` blocks.

[2016-06-13 18:55] akozhemiakin opened #1423 "Ability to fail fast on params validation"
Correct me if I'm wrong, but currently all validators will be executed even if some of them fails during the validation process. I believe this is the corresponding code chunk, showing the nature of this behavior:
[code]

I believe that it should be possible to instruct Grape to fail fast during the validation process.

One possible case: We need to validate that some string matches some pattern (

[2016-06-13 19:09] jnardone opened #1424 "What is expected before/after workflow for 405/Method not found?"
When in the workflow should a 405 be returned for the wrong method?  At what point with regards to the various handlers should the code exit and return?

Based on searches of various issues (including #1402) I would expect that the "before" handler would run, and that's it.

However, that does not seem to be the case.  It appears that "before", "before_validation", and "after_validation" are run b

[2016-06-13 20:24] jlfaber commented on #1424
I added some debug trace to the grape specs, and it looks like the `before` filter is actually getting called twice: once by the `method_not_allowed` method in `router.rb`, and then again as part of the endpoint evaluation in `endpoint.rb`.  For some reason, the side-effects (like header setting) of the latter call are not "sticking".  This also means the other two filters (`before_validation` and

[2016-06-14 09:01] etehtsea commented on #1420
The one that wasn't mention in README is [#1390](https://github.com/ruby-grape/grape/pull/1390/files#diff-dfd5eb9b919dedc0a2cee6430e0482d3R1077). It changes `#middleware` method output.

Two other are:
- `rescue_handlers` was moved from `.namespace_stackable` to `.namespace_reverse_stackable` (https://github.com/ruby-grape/grape/pull/1405)
- We've already have `declared_params` helper throughout c

[2016-06-14 09:09] giedriusr commented on #1145
Is this considered normal thing that params which are optional and not passed gets NULL value? For me it doesn't make sense.

[2016-06-14 11:54] dblock commented on #1423
I like this idea as long as we ensure the validation order.

[2016-06-14 11:57] dblock commented on #1424
This looks like a bug. Retry on HEAD and PR the spec that fails please (with `raise`).

[2016-06-14 12:01] dblock commented on #1420
Thanks. I think even for internals like these we should document them since at least someone relies on it. Would you like to PR some updates to UPGRADING @etehtsea?

[2016-06-14 12:03] dblock commented on #1145
@giedriusr I believe you're looking for `declared(params, include_missing: false)`.

[2016-06-14 12:06] giedriusr commented on #1145
Yes, I found out it a bit later. Thanks!

[2016-06-14 15:20] jlfaber commented on #1424
Added #1426 with two new (failing) specs that demonstrate how I think it _should_ work.  Specifically, in a 405 situation, I think that `before` should run exactly once and no other filters should run at all.

I feel bound to mention that this is not the way it apparently _used_ to work in 0.15.0.  As @jnardone noted above, in that release, the validation related filters apparently ran even on a 4

[2016-06-14 15:23] jnardone commented on #1424
Mostly - in both 0.15.0 and 0.16.2 the before, before_validation, and after_validation events are run before the 405 is returned.  However, in 0.16.2 some behavior of "before_validation" and "after_validation" don't take effect (at least, the "headers" command).   This makes things very confusing: which code should we expect to get called for the 405 handler, and what effects does that code actual

[2016-06-14 16:26] dblock commented on #1424
Thanks all, @namusyaka you might want to look at this if you have time. I'll queue this up too, but no promises. Pull requests accepted of course!

[2016-06-15 13:38] Arkanain commented on #1278
Hi guys. Any news about this issue? Because it's really uncomfortable to use(in case of last example) constructions like declared(params).merge(party_id: params.party_id) inside mounted class instead of regular declared(params).

[2016-06-15 14:46] Arkanain commented on #1278
you can close this issue because all needed changes is already in latest master.

[2016-06-15 16:30] dblock commented on #1278
How was it fixed? What was the PR?

[2016-06-15 16:33] dblock commented on #1278
Oh I see, this was resolved via https://github.com/ruby-grape/grape/pull/1422.

[2016-06-15 16:33] #1278 closed

[2016-06-15 16:33] dblock commented on #1278
@namusyaka you might want to double-check this issue in case I missed something

[2016-06-15 17:28] Arkanain commented on #1278
I check some specs on my project and I find out that this functionality work little bit wrong with `declared` when we have several `route_param` in one namespace.
For example we have:
[code]
In `Artist.find(declared(params))` code `declared(params)` should return us next hash { id: 1 }, but it return hash { id: 1, artist_id: nil }

[2016-06-15 18:18] dblock commented on #1278
@Arkanain Reopen a new issue please with hopefully a spec? Thanks.

[2016-06-15 18:33] jlfaber opened #1428 "OPTIONS method for namespaced GET does not call inner before filter"
When I use a namespace to define a GET method, and I add a before filter within the namespace block, that filter is called when GET executes, but is not called when OPTIONS executes.  This differs from the behavior when the GET and before filter are not within a namespace.  In that case, the before filter is called both for GET and OPTIONS.

I'll add a PR with a failing test spec to demonstrate th

[2016-06-15 18:43] namusyaka commented on #1278
@dblock Yeah, I'll be careful. Thanks.

@Arkanain Your case can be reproduced in my environment and it seems like a bug. I'm going to dig the problem before long.

[2016-06-15 19:10] dblock commented on #1428
Yep, looks like a bug.

[2016-06-16 08:54] Arkanain commented on #1278
@dblock I will create new issue little bit later.
@namusyaka I find out where we have problem! Problem is in options for `route_param`. where I use `route_param :id` without `type: Integer` everything is ok. Maybe it's because in sources, as I understand, route_param is a 'sugar' for structure like:
[code]
That's why when we have two `route_param` in one namespace we have this wrong behaviour.

[2016-06-16 11:38] dblock commented on #1278
We do document the first behavior is legal, but I bet `params` is not being properly reset with each new `namespace` declaration. Looks like a bug, thanks for opening it @Arkanain, please.

[2016-06-16 20:40] Arkanain commented on #1278
@dblock As I promise previously I create pull request with specs for issue about I told you. Also I find one more bug in `declared` behaviour. Everything is here - https://github.com/ruby-grape/grape/pull/1430

[2016-06-17 03:04] kenaniah opened #1431 "Grape::Endpoint proxy scope breaks OOP inheritance"
If my understanding is correct, when processing a request through grape, the request appears to be proxied using an anonymous instance of [`Grape::Endpoint`](https://github.com/ruby-grape/grape/blob/master/lib/grape/endpoint.rb#L17), which breaks common assumptions of class inheritance.

For example:
[code]

When called from outside of the context of a grape API request, `should_inherit` resolves

[2016-06-17 12:13] dblock commented on #1431
If you can make it work, we'd love a pull request! These classes act like singletons to avoid any state, that's something that was baked into grape a long, long time ago and I am pretty sure changing or fixing this has been attempted before.

[2016-06-18 15:17] pinewong commented on #636
I run into this problem too, at last, I use `prefix` method to solve it:
[code]
[code]
[code]
[code]
then, you can access http://localhost:3000/one/v1/hello

[2016-06-20 14:42] navnathkarche-tudip opened #1432 "How to handle exception in grape, if database connection is null or access denied."

[2016-06-20 14:58] dblock commented on #1432
You can let the error bubble up and it will be returned with details in the format your API is. Or use `rescue_from` for something more specific.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-06-20 14:58] #1432 closed

[2016-06-20 15:04] navnathkarche-tudip commented on #1432
ok

[2016-06-22 21:09] andrew13nguyen opened #1433 "When using `given` it does not actually check that it's required"
I have code similar to this:

[code]

When I post to "something" with no params, everything is valid, but I see that params has:

[code]

When I change the params block to this:

[code]

I get a validation error (button_text is empty). Am I using `given` incorrectly or is this a bug?

[2016-06-23 13:02] dblock commented on #1433
This doesn't seem right, you should write a spec next.

[2016-06-23 22:44] andrew13nguyen commented on #1433
Okay, so what I posted before was lacking and the tests passed. After tinkering around I got this to fail and maybe I'm using grape incorrectly, but I feel like this is a valid use case:

(Borrowing from https://github.com/ruby-grape/grape/blob/v0.16.2/spec/grape/validations/params_scope_spec.rb#L319-L343)
[code]

If I change `requires :c, type: String` to `requires :c` then it passes, but I would

[2016-06-25 08:26] dblock commented on #1433
Right, turn it into a failing PR?

[2016-06-30 16:35] mmclead commented on #1399
#1398 merged.  closing issue.

[2016-06-30 16:35] #1399 closed

[2016-07-04 08:57] renra opened #1434 "Error responses contain strange indexes"
Hello,

I have the following grape endpoint:

[code]

When I send the following data: `{"user":{"access_start": null},"filters":[{"id":{"equals":[1, 2]}}]}` and I inspect the error raised by grape(calling as_json on it), I sometimes get errors like this:

[code]

and sometimes like this:

[code]

I am not able to get a consistent behaviour, but the first way seems correct to me. Using grape 0.16.2

[2016-07-04 11:42] dblock commented on #1434
This should be reproducible. Are you sending correct content-type `application/json`?

[2016-07-04 13:04] Cabbit commented on #1392
For those interested that may use JSON API, i have took the ideas here and built a basic gem https://github.com/Cabbit/grape_json_api_streamer for grape that i'll expand upon as my projects get more complex.

[2016-07-04 14:55] dblock commented on #1392
@Cabbit contribute that to http://www.ruby-grape.org/projects/ pls.

[2016-07-04 20:42] avyy commented on #1350
Hi guys. Please take a look: ruby-grape/grape-entity#232
Grape specs are green now.

[2016-07-05 14:21] Extazystas opened #1435 "Files becomes a String"
Hello. I'm sending file to Grape API with this code:
[code]
I'm setting file for connection this way:
[code]
And it works because I can see this object in params before sending a request:
[code]
But on a client incoming params does not contain a File, its a plain string like that:
`"#<UploadIO:0x007f87ac578d58>"`

I tried to debug grape from `Endpoint#run` method but `@params` already has a String

[2016-07-05 23:19] davidmccoy opened #1436 "Param type Array always rejected as invalid"
I'm having a lot of trouble with params using the Array datatype with Grape 0.16.2. For example, this API param requirement:

[code]

with this input, an array of hashes:

```{ "swipes":  [ {user_id: 1, other_id: 5}, {user_id: 5, other_id: 2} ]  }```

produces this error:

```{"error":"swipes is invalid"}```

However, when I change the param datatype to a Hash, all of a sudden the exact same input

[2016-07-07 05:32] akeuk commented on #1131
@dblock What is your plan on this feature?

Thank you.

[2016-07-07 08:31] krazedkrish opened #1437 "Rails 5 compatibility"
Hi! Guys,

People are saying Grape is Great. I have been wanting to use grape for myself as well. I am just wondering if the latest version of grape is compatible with rails 5.

thanks,

PS: thanks for the wonderful gem. :+1:

[2016-07-07 13:17] pvmeerbe commented on #1434
I'm also experiencing this issue : an RSpec test file with multiple tests (happy and failure paths) throws in extra  indexes in error messages :

I was able to simulate the issue  when adding debug points, although the issue does not always appears for the same tests (so similar to the original reported the issue appears sometimes & sometimes not).

Grape params declaration :

        params do

[2016-07-07 13:41] pvmeerbe commented on #1434
seems to be caused by https://github.com/ruby-grape/grape/commit/cec42f246212dcf819969bb50d9913bc96fa1a58  which contains the following code

/lib/grape/validations/attributes_iterator.rb:17

    if resource_params.is_a?(Hash) && resource_params[attr_name].is_a?(Array)
              scope.index = index
    end

In one of my negative tests I provide an empty Array as data for the 'description' para

[2016-07-07 15:20] pvmeerbe commented on #1434
I had a look at the original pull request https://github.com/ruby-grape/grape/commit/cec42f246212dcf819969bb50d9913bc96fa1a58. IMHO this implementation is not correct/incomplete:
- as shown by this ticket unwanted side-effects can occur if global config is used/changed  (in this case the Grape::Validations::ParamsScope objects) to construct error messages  for specific validation actions

- detect

[2016-07-07 15:38] dblock commented on #1435
You might want to try the mailing list.

[2016-07-07 15:39] dblock commented on #1435
Since this has everything to do with Faraday and is unlikely a bug, closing.

[2016-07-07 15:39] #1435 closed

[2016-07-07 15:39] dblock commented on #1436
What content-type are you sending this as and from where? Usually that's the problem.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-07-07 15:39] #1436 closed

[2016-07-07 15:40] dblock commented on #1131
You mean fixing #1313 @akeuk ?

[2016-07-07 15:41] dblock commented on #1437
I'm turning this into a feature request to add Rails 5 into https://github.com/ruby-grape/grape/blob/master/Appraisals and make sure everything works. I don't see why it wouldn't, but you never know. Please feel free to contribute!

[2016-07-07 15:42] dblock commented on #1434
I think you should write a bunch of specs @pvmeerbe and try to implement fixes for the failures.

[2016-07-07 16:04] akeuk commented on #1131
@dblock Yes.

[2016-07-07 16:59] dblock commented on #1131
I am not working on it. Please contribute.

[2016-07-07 23:43] davidmccoy commented on #1436
In case anyone runs into this same problem, here's what is happening. Apparently a POST request with an array of JavaScript objects is not valid JSON. Therefore, input that is formatted similarly to my original will fail to pass Grape's Array (and JSON?) validations and result in that cryptic error message. The solution is to covert the array and the objects into strings and then pass that string

[2016-07-08 07:27] krazedkrish commented on #1437
:+1:

Thanks I am starting to grape with rails-5, I will try my best contributing to this community.

:smiley:

[2016-07-08 18:19] connorshea commented on #1437
Also interested in this ^_^

rack-mount would be the only blocker I know of, but since it's removed that won't be a problem.

[2016-07-08 18:31] dblock commented on #1437
It's like @namusyaka read the future :)

[2016-07-08 18:38] connorshea commented on #1437
@dblock This might be the only change that I can find that would effect grape: https://github.com/rails/rails/commit/adfab2dcf4003ca564d78d4425566dd2d9cd8b4f

Based on [the research I've done for upgrading GitLab](https://gitlab.com/gitlab-org/gitlab-ce/issues/14286#note_12833875).

[2016-07-11 05:11] krazedkrish commented on #1437
@connorshea your research has been a great help for me.

:smile_cat:

[2016-07-11 12:46] connorshea commented on #1437
@krazedkrish that was the hope :) Glad to hear it's useful to others!

[2016-07-12 17:59] ashkan18 opened #1438 "Modifying params in the endpoint will change the default"
When using `default` of a param, modifying the param within the request will change the default. Here is a spec for the issue:
[code]
For the first `get` in the spec, default is correct which is `-created_at` but on the second get, default sort param has changed to `created_at` because of `params[:sort].slice!(0)` in `get`.

Ideally we'd need to pass a `clone` of params, as an alternative we may n

[2016-07-12 19:05] dblock commented on #1438
I think we probably don't want to clone the default every time, which could be unnecessarily expensive for every request, but definitely freeze it.

[2016-07-12 19:05] dblock commented on #1437
So where's my PR?! ;)

[2016-07-14 13:53] jlfaber commented on #1438
@dblock If we freeze default, that might cause existing client code to suddenly start throwing RuntimeErrors (if they are mutating param values).  Admittedly, they're probably not getting the behavior they expect on subsequent calls after the default has been modified.  So there's already an error present.  But it seems to me that the best course **is** to clone the default when it is assigned to

[2016-07-14 13:55] dblock commented on #1438
I worry about unintentional performance overheads, but maybe I am worried about nothing. Either way I'll take a PR.

[2016-07-14 17:43] jlfaber opened #1440 "activesupport 5.0.0 breaks CI tests"
Seeing these errors on ruby versions below 2.2.2:

Looks like grape was picking up 4.2.6 prior to June 30 when 5.0.0 came out.

There's no version currently listed for activesupport in grape.gemspec.  Perhaps it should be changed to this?

`  s.add_runtime_dependency 'activesupport', '~> 4.2'`

[2016-07-14 21:28] jlfaber commented on #1440
Using ~> 4.2 didn't work since rails actually uses older versions of activesupport.  Trying again with < 5.0.0.

[2016-07-14 22:12] jlfaber commented on #1440
That seems to have fixed it.  I'll force-push a revision to add a CHANGELOG line and correct the commit message, then I think this is good to go.  (Assuming everyone is ok with holding off on taking activesupport 5.0.0 for now.)

[2016-07-15 12:52] dblock commented on #1440
Just bringing my comment from #1441, lets not restrict grape to AS 4.x, but fix the build by removing incompatible rubies.

[2016-07-15 22:37] jlfaber commented on #1440
Updated #1441 to remove pre-2.2.2 rubies and add explicit checks for 2.2.2 - 2.3.1

[2016-07-17 13:15] #1440 closed

[2016-07-19 14:55] leifg opened #1444 "env and @headers not available in before block when Method not allowed"
Suppose you do this:

[code]

In general this is possible.

However if you run into a method not allowed, not only will this block executed, it also sets `env` (and `@headers`) to `nil` and throws an error that is never caught and will expose the stacktrace to the caller.

I created an example project [here](https://github.com/leifg/grape-method-not-allowed).

[2016-07-19 15:01] leifg commented on #1444
Note: [this](https://github.com/ruby-grape/grape/blob/8d6503dd85b500792a58f14314e1d004cef9144e/lib/grape/router.rb#L141) runs the before filters in the Method not allowed context. I guess at this point `env` and `@headers` also should be initialized like it is done [in the endpoint](https://github.com/ruby-grape/grape/blob/8d6503dd85b500792a58f14314e1d004cef9144e/lib/grape/endpoint.rb#L221)

[2016-07-19 17:43] dblock commented on #1444
This looks legit, I would turn your demo into a spec and PR a fix. Thanks.

[2016-07-19 18:00] glaucocustodio opened #1445 "Release 0.17.0"
Can anyone make the 0.16.3 release please? Thank you.

[2016-07-19 18:03] glaucocustodio commented on #1395
@danieldraper can you check https://github.com/ruby-grape/grape/pull/1443 and close this issue please? Thanks.

[2016-07-19 20:42] leifg commented on #1444
opened the PR: https://github.com/ruby-grape/grape/pull/1446

[2016-07-20 13:16] #1444 closed

[2016-07-20 13:19] #1438 closed

[2016-07-20 13:20] dblock commented on #1438
This was fixed in https://github.com/ruby-grape/grape/commit/8b721447fa6a92aa42e4c99b1e32a38b12b96ea7.

[2016-07-20 13:25] ashkan18 commented on #1438
awesome! Thanks! 👍

[2016-07-20 16:15] atomless opened #1450 "undefined method `to_ary' for #<Grape::Router::Route:0x007fc379d7e490> in route.rb"
I'm trying to get to the bottom of a long delay in my ruby server starting up that has only recently been introduced by some change or other and when running the server with warnings and debugging to verbose I'm curious why I see pages and pages of this error outputted on server start

[code]

I looked in route.rb and there is no use of to_ary!

[2016-07-20 21:13] dblock opened #1451 "Helpers injected in rescue_from may conflict with middleware base methods"
[code]

In Grape 0.16.2 this passes.

In Grape 0.16.3 this fails with

[code]

[2016-07-20 21:20] dblock commented on #1451
This is caused by https://github.com/ruby-grape/grape/pull/1421, @namusyaka I think this is not a bug and by injecting `helpers` here we're doing the "right thing". Do let me know if you're thinking otherwise, I'll PR an UPGRADING text.

[2016-07-20 21:29] dblock commented on #1445
Ran HEAD on a large project, encountered #1451, see #1452. We're going to make next 0.17.0 because of this and other changes.

[2016-07-21 06:31] fogisland opened #1453 "Is http method PATCH not supported?"
Seems like an error with 405 ( method not allowed) will be returned.

I'm using the latest 0.16.2 version.

[2016-07-21 06:45] fogisland commented on #1453
Strange, I reinstalled grape to 0.16.2 and it works well with PATCH, maybe there`s something wrong with my own debug environment.

[2016-07-21 06:45] #1453 closed

[2016-07-21 17:40] dblock commented on #1450
Interesting. I would monkey-patch that code and see what's being called and why.

[2016-07-21 18:50] namusyaka commented on #1451
I also think this is not a bug. Sorry for the inconvenience.

[2016-07-21 18:52] namusyaka commented on #1450
Yeah I'd like to see repo for reproducing the issue

[2016-07-22 19:36] dblock commented on #1451
Closing with #1452 documenting this.

[2016-07-22 19:36] #1451 closed

[2016-07-26 14:07] glaucocustodio commented on #1437
I've opened a PR for Rails 5 compatibility (https://github.com/ruby-grape/grape/pull/1456). We have 2 tests failing. Does anybody have a clue?

[2016-07-27 08:45] ror-surgeon opened #1460 "`combine_namespaces': undefined method `endpoints' for Kids:Module (NoMethodError)"
i am make new file in kids.rb in api
class Kids< Grape::API
  resource :kids do
    desc 'Return all Kids & requires authentication'
    params do
      requires :email, type: String, desc: 'Admin Email'
      requires :password, type: String, desc: 'Admin Password'
    end
    get 'all' do
      Kid.all
    end
end
end

[2016-07-27 10:16] ror-surgeon commented on #1460
it is fixed , it has same name of project (kids) and kids class .

[2016-07-27 13:00] #1460 closed

[2016-07-27 13:42] pezholio opened #1461 "Post an array containing files"
I've got a Grape endpoint that accepts two objects, one a standard `Hash`, and the other an array of hashes. However, one of the objects in the array of hashes is a `File`, and Grape doesn't seem to like it, returning a `files is invalid` error. Here's my endpoint:

[code]

I assume that it's the `Array[JSON]` specification that's throwing it off, as I'm not actually posting JSON, but a multipart

[2016-07-27 13:56] Ogromny opened #1462 "Params Integer dont work"
[code]
[code]

return me an error
[code]

I can't figure where the probleme sits...

Thanks in advance, I'm French so sorry for my english

[2016-07-27 14:43] jlfaber commented on #1462
Looks like your syntax for accessing `declared` isn't quite right.  Try this instead:
[code]

[2016-07-27 17:01] gmassanek opened #1466 "Middleware called for incorrect versions"
When setting up api versions that fall back from newer to older, middlewares will be called twice. I believe its related to how `lib/grape/router.rb` tries the first matching endpoint it finds, then falls back to other matching endpoints if the first response is empty. Because the version is checked in middleware, it executes all the middleware above it before breaking because its the incorrect ve

[2016-07-27 20:27] Ogromny commented on #1462
Thanks ! Now it's working :)

[2016-07-27 20:27] #1462 closed

[2016-07-27 20:37] dblock commented on #1461
Interesting. I would write a spec reproducing this next.

[2016-07-27 20:41] dblock commented on #1424
Closed via https://github.com/ruby-grape/grape/pull/1465.

[2016-07-27 20:41] #1424 closed

[2016-07-28 08:41] pezholio commented on #1461
I think I've got it now - I can specify `Array` and nest inside the block, and it works fine :)

[2016-07-28 13:31] glaucocustodio commented on #1437
All tests are passing with Rails 5 now (https://travis-ci.org/ruby-grape/grape). I think we can close this issue now /cc @dblock @krazedkrish.

[2016-07-28 14:33] dblock commented on #1437
Yes, closing via https://github.com/ruby-grape/grape/pull/1464

[2016-07-28 14:33] #1437 closed

[2016-07-28 16:52] texpert opened #1467 "Validations performed on missing required params that are members of an optional parameter"
Like in such a case:
[code]

Tracked down to this string of code -https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/validators/base.rb#L39

[code]

I think either @required shouldn't be there (if attributes are present, the validation should be performed), or, otherwise, scope.optional parameter should be additionally analyzed.

[2016-07-28 18:30] dblock commented on #1461
What does that look like @pezholio?

[2016-07-28 19:31] pezholio commented on #1461
Something like this - seems to work perfectly! 😄 :

[code]

[2016-07-28 19:37] dblock commented on #1467
I *think* it makes sense, but  there be dragons. I would start by writing some specs for this.

[2016-07-28 19:39] dblock commented on #1461
Right, cause this is not an array of JSON objects, it's an array of params with these fields. So I think this works as expected, I'm closing this.

[2016-07-28 19:39] #1461 closed

[2016-07-28 21:43] dblock opened #1469 "Replace mustermann19 with mustermann-grape"
See https://github.com/sinatra/mustermann/issues/52.

/cc: @namusyaka

[2016-07-28 21:49] dblock commented on #1434
@renra Check out HEAD now that https://github.com/ruby-grape/grape/pull/1463 has been merged. Is this still a problem?

[2016-07-28 21:52] namusyaka commented on #1469
If we're going to drop the support for ruby-1.9, we can use `mustermann-grape`.

[2016-07-28 21:52] dblock commented on #1469
We haven't built with 1.9 for a long time, so definitely yes.

[2016-07-28 21:54] namusyaka commented on #1469
Okay, I'll test `mustermann-grape` in my environment and send a PR.

[2016-07-29 20:21] dblock commented on #1445
0.17.0 has been released

[2016-07-29 20:21] #1445 closed

[2016-07-29 20:29] dblock commented on #898
I believe this was fixed by https://github.com/ruby-grape/grape/pull/901, closing. Please reopen @kushkella if I misunderstood something.

[2016-07-29 20:29] #898 closed

[2016-07-29 20:47] alanjcfs opened #1471 "Bug report: Passing an array of string to params expecting an array of hash raises NoMethodError"
This is a bug report. I can probably fix it, but wanted to create an issue first.

In my API, I have declared something like the following:

    # class
    class Foo < Grape::API
      desc "Do foo"
      params do
        requires :foo, type: Array do
          optional :bar # Expects { "foo": [{ "bar": "baz" }] }
        end
      end
      post do
        puts declared(params)
      end
    en

[2016-07-29 20:51] dblock commented on #1471
Looks legit.

[2016-08-01 08:39] pezholio opened #1474 "`type: File` not validating in certain contexts"
I've got a couple of routes that accept file uploads, one that is passed in a create action and one that is passed in an update action. The create action works fine, but the update action fails validation:

The create action:

[code]

The update action

[code]

Here's a spec for the update action:

[code]

If I remove `type: File`, everything works as expected.

Any ideas?

[2016-08-01 08:44] pezholio commented on #1474
Wait. Hang on, I've just realised what the issue is. I have a method called `process_files` that gets called in a `before` filter that uploads the files to S3 and changes the `file` to a string containing the URL of the uploaded file (so I can pass it to Sidekiq). Is it therefore the case that validation happens _after_ the `before` filter? Is there anything I can do to push the validation further

[2016-08-01 12:22] dblock commented on #1474
You can move your code into an `after_validation` block.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-08-01 12:22] #1474 closed

[2016-08-04 16:50] texpert commented on #1467
Closing, because it is fixed in Grape 0.17

I wrote the spec, it is failing on Grape 0.16.2 - but discovered that in 0.17 the bug is fixed :)

`      context 'when using requires with a custom validator in an optional block' do
        before do
          subject.resource :items do
            params do
              requires :custom1, customvalidator: true
              optional :option, type: Ar

[2016-08-04 16:50] #1467 closed

[2016-08-05 18:27] mrloop opened #1475 "Rspec Integration Test with Grape and Rails 4.2.x"
**Issue:**
Your using grape, rails 4.2.x and rspec and you get an error about Array not responding to url_helpers

**Fix:**

[code]

[2016-08-05 23:17] dblock commented on #1475
What was the issue @mrloop ?

[2016-08-06 04:51] mrloop commented on #1475
There is an incompatibility with how ActionDispatch::Integration::Session 4.2 detects if a rails app is being run and testing Grape API with rspec integration tests, it doesn't effect 4.1 or 5.0. Above the work around. It's not something to be fixed in Grape and it's already fixed in Rails. The above report and workaround are to help anybody else you has this issue.

[2016-08-07 12:50] godfox2012 opened #1476 "When use given dsl, if follow block include requires :relate, type: String, values: %w(xxx yyy zzz) Will be reported to the wrong"
When use given dsl, if follow block include requires :relate, type: String, values: %w(xxx yyy zzz) Will be reported to the wrong

[code]
when base_id is null or blank or false, follow code will run validate and reported error: "relate does not have a valid value"
[code]
but if that no contain values attribute:

[code]
don't run validate and pass
why?

[2016-08-08 01:34] godfox2012 commented on #1476
I'm sorry, it's my fault. when relate is null will don't run validator, ralate is '' blank will run validator

[2016-08-08 01:34] #1476 closed

[2016-08-09 13:01] dblock commented on #1476
Right, glad you were able to sort it out!

[2016-08-11 11:44] pvmeerbe commented on #1434
I can confirm the reported issue does not occur anymore using  grape 0.17.0

[2016-08-11 17:05] dblock commented on #1434
Closing.

[2016-08-11 17:05] #1434 closed

[2016-08-19 15:26] jcope2013 commented on #1475
@mrloop thanks for the fix, it fixed my issue as well, did you end up including this code just in your spec_helper file/individual test files or a rails initializer?

[2016-08-19 15:35] mrloop commented on #1475
@jcope2013 it's in spec_helper file, in my case `api_spec_helper.rb` which is included in all the rspec integration tests exercising the grape api in my project.

[2016-08-19 15:37] jcope2013 commented on #1475
@mrloop thanks

[2016-09-05 07:58] azbshiri opened #1482 "Make allow_blank false when the type is defined"
Hey, we're working on a project and we have a lot of required parameters with their type defined but allow_blank is true by default so we should make allow_blank false for each one and that's bad (DRY). is there any option we can set to make it false when at least the type is defined or just for the requires method?

[2016-09-05 09:58] danieldraper opened #1483 "Parameter validation bug with nested arrays"
I think I may have found a bug. I'm trying to debug a reasonably complex set of params looks to be an issued with nested arrays causing the below stack trace. I've setup a barebones grape project to reproduce the following error.

https://github.com/danieldraper/ruby-grape-params

Should be able to get up and running by cloning the repo then running:

`bundle install`
`bundle exec puma`

There is

[2016-09-06 03:09] danieldraper commented on #1483
So just an update, still not sure what is going on however adding this begin/rescue (hackz) and running again I still get a number of `no implicit conversion of Symbol into Integer` however everything seems to work as expected. By works as expected I mean the nested arrays are parsed and persisted to the database and then correctly returned in the response.

Will keep digging, any advise please fe

[2016-09-06 06:33] intuxicated commented on #1482
+1

[2016-09-06 15:28] dblock commented on #1482
I would take a pull request that configures global defaults for various validators.

[2016-09-06 15:29] dblock commented on #1483
I would try Grape HEAD, then try to build a simple repro as a spec.

[2016-09-06 17:45] 2mferreira opened #1484 "Grape Truck Factor"
Dear **Grape** contributors,

I am Master's student investigating the importance of the idea of truck factors in Software Engineering.

As you know, [truck factor](https://en.wikipedia.org/wiki/Bus_factor) (aka bus factor) is defined as “the number of people on your team who have to be hit by a truck before the project is in serious trouble”.  By "serious trouble", we mean that it will very diffic

[2016-09-06 18:00] dblock commented on #1484
I'm one of the org maintainers, I'd say look at http://www.ruby-grape.org/team/, there're 4 people in the "core" team with their names. That said, if a bus were to fall on our heads I am sure other members of the community would pickup, Grape is a very popular project.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-09-06 18:00] #1484 closed

[2016-09-07 11:13] giedriusr commented on #1433
I've discovered the same thing as @andrew13nguyen. If you remove type: String then everything works. Is this a bug?

[2016-09-07 12:26] dblock commented on #1483
Yes.

Someone will take a look, but you can get there a lot faster by narrowing down the problem and maybe even fixing it. I would write a spec, make sure it reproduces the issue, then start taking parameters out of the long list to find out which one causes this.

[2016-09-07 12:27] dblock commented on #1433
It sounds like a bug to me.

[2016-09-07 12:54] danieldraper commented on #1483
Thanks @dblock will see how we go. I have a very evil solution in my fork that allows things to work and progress at the moment. From what I can see the following is occurring:

The `def params(params)` method has a line `if params.is_a?(Array)` which works fine until you have an array inside an array. The params goes from an array of objects to an array of arrays of objects. In my example the iss

[2016-09-07 13:14] jonmchan opened #1485 "Values NOT allowed Validator?"
the ```values``` validator is great for defining values for the parameter that you are allowed to have. I would like to define values that are NOT allowed for the parameter and to return an error if the value passed matches a value on the list. Is there any way to this currently? If not, I don't mind submitting a PR for this.

```values_not_allowed:```, ```exclusions```, or ```disallowed_values```

[2016-09-07 16:00] dblock commented on #1485
Maybe `except: [ ... ]` as an extension to the current values would be cleaner? Please do PR!

[2016-09-07 16:02] dblock commented on #1485
Related, I would want to support regular expressions in `values` as opposed to `regexp: ` that we do today.

[2016-09-07 16:03] namusyaka commented on #1428
I'm going to fix it in a few days. Thanks for the report.

[2016-09-10 17:27] tibbon opened #1487 "Organization with blocks of methods"
Is there a simple way, to organize the methods with blocks for code folding, organization, etc?

What I'm thinking of using a short version of the example in the README, but wrapping methods and blocks in `group` blocks:

[code]

I'm finding the only way I can get this right now is to use Ruby's open classes, and then having a separate definition for each one. It feels weird for `desc` and `params

[2016-09-12 16:01] jonmchan opened #1489 "Changelog is Off With Latest Merge"
I don't think 1470 got into the last release, but it was merged as such because it was an older PR:

* [#1470](https://github.com/ruby-grape/grape/pull/1470): Drop support for ruby-2.0 - [@namusyaka](https://github.com/namusyaka).

[2016-09-12 16:10] namusyaka commented on #1489
Yep, this wrong place will be fixed by [this pull request](https://github.com/ruby-grape/grape/pull/1488)
Sorry for the inconvenience :(

[2016-09-12 16:10] #1489 closed

[2016-09-12 17:16] #1428 closed

[2016-09-13 22:03] connorshea commented on #1487
I'm also interested in this as it seems pretty messy to have these separated.

[2016-09-13 22:09] dblock commented on #1487
We've always thought of `desc` or `params` as "annotations". What would be a better syntax?

[2016-09-14 00:07] connorshea commented on #1487
See also: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/6330/diffs

You end up with things like this:

[code]

Without careful spacing it's not immediately obvious which descriptions/parameters are related to one another.

[2016-09-14 00:10] tibbon commented on #1487
@connorshea That's exactly my problem. I've got a pretty big codebase, and it gets messy like that quickly.

[2016-09-14 00:11] tibbon commented on #1487
To be clear, I don't want it to modify the path (like an additional `resources` block would do). I just want something that would wrap everything in a relatively meaningless block for organization, code folding, etc.

[2016-09-14 00:24] connorshea commented on #1487
Exactly the same for me, would be ideal to have a wrapper block to organize things together.

[2016-09-14 01:21] jason-uh commented on #1487
We have created a directory structure that avoids the big block mess and has worked quite well for us. We put each discrete endpoint in its own file and include that into a main API file (e.g. `api/v1/samples.rb`. See [this gist](https://gist.github.com/jason-uh/d8d1c3c207817047f4ac6b98f261ecc0) for a closer look.

The directory structure is something like the following. We currently have 14 categ

[2016-09-14 14:58] dblock commented on #1487
Both @tibbon and @connorshea raise valid concerns. Also @connorshea should contribute to "who uses grape" at http://www.ruby-grape.org/users/ :)

I do like what @jason-uh is doing. I prefer `mount` to a block.

That said, I am open to a meaningless block that doesn't modify path, if we can find a good name for it. I suggest `endpoint do ...` Note that you can try it by just adding a method to `Gra

[2016-09-14 15:00] connorshea commented on #1487
@dblock we're already listed under Examples, should we do both? :)

[2016-09-14 15:00] namusyaka commented on #1401
@bobber205 Thanks for the report. Confirmed the problem. I'm going to fix it in a few days.

[2016-09-14 15:10] namusyaka commented on #1401
Mmm, the route cannot be recognized if correct version does not exist.
Should path be `'/v3.0/test/ilovetests/updatemylove/' `?
@dblock Thoughts?

[2016-09-14 15:11] dblock commented on #1487
It doesn't hurt thanks @connorshea! I wonder if we should combine examples and users or reference one to another.

[2016-09-14 15:15] dblock commented on #1401
So the question is whether `route :any` should apply to version 3.0 only or not, right?

I suppose this will work without code changes?

[code]

If that's the case I think this works as designed.

[2016-09-15 12:56] namusyaka commented on #1469
Closed via #1470

[2016-09-15 12:56] #1469 closed

[2016-09-15 13:23] dmitry opened #1491 "GraphQL to the RESTque"
Did anyone had an idea to implement GraphQL along with REST API?

Looks like when there are https://github.com/ruby-grape/grape-entity in the project, adding GraphQL could be done very easily.

Lets discuss future opportunities once GraphQL will be implemented within grape.

[2016-09-15 14:09] #1485 closed

[2016-09-15 14:16] jonmchan opened #1492 "Type Coercion With Lambda In Values?"
I'm trying to combine type coercion with lambda in values validation such as:

[code]

I get however this error:
[code]

Is there a way to use lambda for validation with type coercion? I know we can't validate beforehand that the lambda expression is going to be proper values... but I would still like the parameter passed to be casted into an Integer.

[2016-09-15 15:21] dblock commented on #1491
I definitely think a graphql implementation on top of Grape could be cool, even if it's tightly coupled. At @artsy we've been putting node.js middleware in front of multiple API services. Our implementation is https://github.com/artsy/metaphysics (not Ruby).

[2016-09-15 15:24] dblock commented on #1492
I think you should be able to. I say write a spec that reproduces what you want.

[2016-09-15 15:51] dmitry commented on #1491
@dblock as I understand from the first glance looking into the metaphysics source code it works in the following way: once graphql query goes to the server, it resolves data from REST API and responds back to graphql requester? So it never access the database directly.

[2016-09-15 16:02] dblock commented on #1491
Correct @dm1try, we front APIs with it. Also read http://artsy.github.io/blog/2016/06/19/graphql-for-mobile/.

[2016-09-15 23:28] jonmchan commented on #1492
Here is your failing tests:

[code]

https://github.com/jonmchan/grape/blob/lambda_values_and_coercion/spec/grape/validations/validators/values_spec.rb#L437

[2016-09-16 12:01] dblock commented on #1492
Thanks. Marked as confirmed bug. Now that you have a test you should try to fix it!

[2016-09-16 14:19] dblock opened #1494 "Hashie 3.4.5 re-defines Array type?"
[code]

[2016-09-16 15:47] jonmchan commented on #1492
Opensource projects.... how you so quickly suck me into contributing... ;-)

Anyways, it looks simple enough to fix. I'm going to make it so that if ```except``` or ```value``` is a proc, the api definition validation will be skipped.

[2016-09-16 17:51] dblock commented on #1492
We love you @jonmchan. Really.

[2016-09-20 21:09] jonmchan commented on #1492
#1493 fixes this.

[2016-09-20 21:09] #1492 closed

[2016-09-21 08:24] jondot opened #1496 "Inconsistent instrumentation semantics"
Hi,

I'd like to point out, and ask, what's the expected behavior when an exception is thrown in a Grape endpoint, towards instrumentation (via AS:N).

When I want to instrument Grape, I subscribe to this notification:

https://github.com/ruby-grape/grape/blob/master/lib/grape/endpoint.rb#L238

What I'm experiencing right now is that `endpoint.status` is always `200` (as opposed to `500` or `defau

[2016-09-21 11:35] dblock commented on #1496
It looks like a bug, would appreciate a spec that reproduces this to start.

[2016-09-21 11:40] avyy commented on #1350
@wleeper @przbadu can you check grape master specs with last grape-entity? Everything works fine for me. I think the issue is not actual anymore.

[2016-09-21 11:43] jondot commented on #1496
@dblock this will fail: https://github.com/jondot/vitals/blob/b0b3e38ab02e0ce575916d910fca72a6868bf625/spec/vitals/integrations/notifications/grape_spec.rb#L64

while this will not:

https://github.com/jondot/vitals/blob/b0b3e38ab02e0ce575916d910fca72a6868bf625/spec/vitals/integrations/notifications/grape_spec.rb#L73

[2016-09-21 12:04] dblock commented on #1496
Turn it into a spec, try to fix it.

[2016-09-21 14:15] jondot commented on #1496
I don't see any existing specs for AS::N that I can learn from in order to build a test in the existing Grape infra, however, tests in [vitals](https://github.com/jondot/vitals) would fail.
I'd prefer deprecating Grape support until we can find out if this is even a good use of the Grape AS::N  instrumentation feature (which is what I'm asking).
Should we even grab the status from endpoint at that

[2016-09-22 16:16] dblock commented on #1496
@jondot Are you talking about deprecating grape support in vitals? I can't speak to that.

In Grape the error handler sets status, it lives "outside" of the endpoint itself. So the answer I guess is "it depends on how an exception is being handled"?

[2016-09-23 15:03] r-a-o commented on #1352
This issue really bugs me sometimes. Is there no smart way to avoid this route confusion?
What if we check all the possible /strings first and then do the /:id match?

[2016-09-23 18:11] dblock commented on #1352
That would completely change the behavior of things, but I suppose a feature that lets you plug a custom router wouldn't be out of question.

[2016-09-29 18:43] krbs commented on #1483
hows the research going?

`
  desc 'Hunting bug'
  params do
    requires :arr_one, type: Array do
      requires :hash_one, type: Hash do
        requires :arr_two, type: Array do
          requires :hash_two, type: Hash do
            requires :something, type: String
          end
        end
      end
    end
  end
  post :bughunt do
    { message: 'ok' }
  end
`

curl -H "Content-type: applic

[2016-09-30 18:38] dblock commented on #1483
Someone please write a spec for this, @krbs sounds like you're close!

[2016-10-02 06:06] azbshiri opened #1500 "Expose API class to each HTTP method block via something like the described_class() method in rspec"
Hey, is it possible to access to the API class using a method to prevent to add namespace resolution operator to the beginning of the class?

#### Actual behavior
[code]

### Expected behavior
[code]

[2016-10-02 06:07] azbshiri opened #1501 "Expose API class to each HTTP method block via something like the described_class() method in rspec"
Hey, is it possible to access to the API class using a method to prevent from adding namespace resolution operator to the beginning of the class?

#### Actual behavior
[code]

### Expected behavior
[code]

[2016-10-03 18:29] dblock commented on #1500
Not currently. I'll label this is a feature request.

[2016-10-03 18:29] dblock commented on #1501
Duplicate of https://github.com/ruby-grape/grape/issues/1500.

[2016-10-03 18:29] #1501 closed

[2016-10-05 16:37] jlfaber opened #1502 "Please tag 0.18.0 for release"
Last tag was late July, and there have been a couple of fixes and improvements since then that I'm waiting on.
Thanks!

[2016-10-05 16:57] dblock commented on #1502
I plan to do this soon unless one of the other maintainers wants to beat me to this, please.

[2016-10-05 16:57] dblock commented on #1502
Maybe @namusyaka ? Also should we bump the version to major because we dropped old rubies support?

[2016-10-06 00:00] connorshea commented on #1502
@dblock you mean minor? Surely you wouldn't bump to 1.0.0 just for that?

[2016-10-06 05:07] namusyaka commented on #1502
@dblock @connorshea  I'm going to plan to bump version to `0.18.0`. Thoughts?

[2016-10-06 05:08] connorshea commented on #1502
Works for me :)

[2016-10-06 11:53] dblock commented on #1502
Yep I meant that, thanks @namusyaka!

[2016-10-06 12:24] namusyaka commented on #1502
@dblock I can release the version.  Let me know if you are busy.

[2016-10-06 17:40] dblock commented on #1502
@namusyaka That'd be great!

[2016-10-06 21:45] namusyaka commented on #1502
[Just released 0.18.0](https://groups.google.com/forum/?hl=ja#!topic/ruby-grape/10gG3aiPp_A).
@jlfaber Thanks for opening the issue.

[2016-10-06 21:45] #1502 closed

[2016-10-06 23:24] jlfaber commented on #1502
@namusyaka Thanks for the tag!

[2016-10-06 23:37] connorshea commented on #1487
@tibbon any progress/thoughts on what'd work best as a name for these blocks?

[2016-10-06 23:40] connorshea commented on #1487
I like the `group do` syntax, since `delete path/to/endpoint do` is kind of repetitive of an `endpoint` block.

Another solution might be to put the description and params inside the method block, though I can understand why you wouldn't (or couldn't?) want to do that.

[2016-10-06 23:42] connorshea commented on #1423
Is this resolved now?

[2016-10-07 06:18] ZJvandeWeg commented on #1487
On the GitLab-CE issue tracker we've [discussed this](https://gitlab.com/gitlab-org/gitlab-ce/issues/20572) too, as @connorshea mentioned. We were thinking about a block called `endpoint` but we'd love to have an official block, probably whatever its called :)

[2016-10-07 13:25] dgasper commented on #1423
Yes, should probably be closed.

[2016-10-07 18:27] jlfaber opened #1506 "Auto OPTIONS should not check params or call _validation hooks"
When I call OPTIONS on an endpoint that has only a GET method defined, the validation code for the GET ``params`` is being run, which can cause the OPTIONS call to fail unexpectedly.  When multiple methods are defined for the same endpoint, the last ```params``` block seems to be the one that is used.  So, for example, if the last defined method for that endpoint has no ```params``` block the OPTI

[2016-10-07 21:07] dblock commented on #1423
Closing via #1499.

[2016-10-07 21:07] #1423 closed

[2016-10-07 21:08] dblock commented on #1506
This looks like a legit problem @jlfaber.

[2016-10-10 10:07] atomless commented on #453
@dblock The solution outlined above succeeds for me ONLY if there's just the one period in the path segment. The correct route is hit, however, once there's more than a single period in the path segment the param is always trimmed up to just before the second one. For example, with :`some/end/point/with/this/segment/one.two.three.etc` the correct route is hit with by using :
[code]
but the param k

[2016-10-10 12:40] dblock commented on #453
Why don't you write this a spec and I'll try to help you fix it?

[2016-10-10 16:27] atomless commented on #453
[code]
The endpoint targeted by this is simply:
[code]
test1 passes and returns 'foo' and test2 is always a 404.

[2016-10-11 10:38] dgasper opened #1508 "Inconsistent validation messages"
When defining parameters in separate `requires`, the validation errors include errors for all defined params. For example the following returns `one is missing, two is missing`

[code]

In contrast, the following usage of a single `requires` for multiple params only returns `one is missing`.

[code]

I've tracked down where the validation is stopped to [this line](https://github.com/ruby-grape/gra

[2016-10-11 12:16] dblock commented on #1508
This looks like a bug. The two should be equivalent IMO.

[2016-10-11 13:34] dblock commented on #453
I tried it and it looks legit at the first look, complete code:

[code]

@atomless it would be helpful if you could turn this into a spec in Grape and PRed it.

[2016-10-11 13:50] atomless commented on #453
@dblock sorry - when you say "looks legit" do you mean you had the same 404 error. Or it all worked fine for you? If you're getting the same error then yes I'll figure out how to make the test into a spec. Thanks!

[2016-10-11 13:56] dblock commented on #453
I am getting the same error, so this looks like a legit bug or at least I didn't quickly find a workaround.

[2016-10-11 14:01] dblock commented on #453
Actually scratch that. The example above is missing `/api/v1` in the test. This passes:

[code]

[2016-10-11 15:25] atomless commented on #453
Aha, interesting.

With the requirements regex included I too see these test passing.

However, the odd thing is that when the endpoint has the star like so :
[code]
The key returned by `test2` is just `foo.bar` BUT when the endpoint uses the symbol like so:
[code]
THEN the key returned by `test2` is `foo.bar.baz` !

Another odd thing that may or may not be related - that I noticed while testing t

[2016-10-11 15:29] dblock commented on #453
I am not sure what `/*key` is supposed to match, I think the definition of `:key` comes from `params` anyway.

All that said I think everything works by design. Open a new issue if you don't agree.

[2016-10-11 15:36] atomless commented on #453
@dblock - it was your comment on [Jan 3, 2014](https://github.com/ruby-grape/grape/issues/453#issuecomment-31544963) above that I thought pointed the way to using a path in the endpoint with a star prefix? Not sure whether it all works as designed or not as I'm unsure of the difference between the two kinds of endpoints?

[2016-10-11 15:49] dblock commented on #453
I am not sure how that matches, @namusyaka should know a lot more about this

[2016-10-12 06:22] connorshea commented on #1402
I think I just struggled with this for the last few days while trying to figure out why a test had broken when everything else was working fine in an upgrade from 0.15.0 to 0.17.0 (0.16.x had a bug with `env` being unavailable in `before` blocks, so we had to skip it).

I [explain the problem here](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/6661#note_16718449).

Essentially we have an

[2016-10-12 06:27] connorshea commented on #1402
So based on the README with the order of `before`/`before_validations`/`validations`/`after_validations`/etc. this makes sense. However, this seems to be a breaking change from 0.15.0 that is not mentioned in the `UPGRADING.md` file and caused us quite a bit of headache.

[2016-10-12 06:42] connorshea commented on #1401
After fixing the problem I mention in #1402 by replacing a `before` call with `after_validation`, I'm also seeing this. Just my luck :)

Anything I can do to help this along?

[2016-10-12 21:04] dblock commented on #1402
@connorshea If something wasn't explained in UPGRADING PR that?

[2016-10-12 21:06] dblock commented on #1401
Well I think it's by design @connorshea - `route :any` should apply to version 3 in the example above if declared next to it. My workaround of putting it outside of a versioned API should fix your problem, no?

I'd like to close this actually, lets see what you say :)

[2016-10-13 22:17] connorshea commented on #1401
@dblock We have the following in our `lib/api/api.rb` file:

[code]

I guess I'm not clear on how we would place the `route :any` outside of this?

[2016-10-13 22:23] connorshea commented on #1401
Re-reading the thread, the original issues describes (and the one I'm running into) the problem as being that the API has the following code in it:

[code]

But when you have a route that is defined as `PUT '/test/ilovetests/updatemylove/:id'`, then have a spec where you `PUT '/test/ilovetests/updatemylove/'` (e.g. without an `:id` parameter) the spec recieves a different return value in 0.13.0 (a

[2016-10-14 12:14] dblock commented on #1401
Are you saying you're not getting that 404 there? can you write a spec to demonstrate? Ideally take the whole version thing out of it.

[2016-10-16 14:09] jarthod opened #1511 "Upgrade mustermann dependency ?"
I'm currently having trouble updating an app to Rails 5 because of this dependency, here's why:
- `rails 5` depends on `rack 2`
- `rack 2` requires `sinatra 2+`
- `sinatra 2` requires `mustermann 1`
- `grape 0.18` depends on `mustermann-grape 0.4` which depends on `mustermann 0.4`

So this is a deadlock and I can't bundle this. I tried to find `mustermann-grape` to see if we could upgrade the depe

[2016-10-17 04:58] namusyaka commented on #1511
@jarthod Thanks for yourt report! I'm going to investigate the problem in a few days.

[2016-10-17 15:47] jlfaber commented on #1506
@dblock @namusyaka I've added some commits to #1505 that change the behaviour when ```OPTIONS``` is called on a route that has not defined that method (and has not disabled it using ```do_not_route_options!```).  Specifically, only the ```before``` hook is called -- the remaining hooks and param validation are bypassed.  This matches the behaviour we see when a 405 RC is returned because the calle

[2016-10-17 19:11] dblock commented on #1511
I heard from @zzak that the conttrib stuff was a result of merging many gems? Maybe he can help shed some light on what's going on?

[2016-10-18 12:17] krbs commented on #1483
khm, got finally time for proper testproject with tests - https://github.com/krbs/grape_test

[2016-10-18 14:19] dblock commented on #1483
Ok, but what I want is a pull request into Grape that has failing tests, so we (you) can fix the bug easily.

[2016-10-19 14:10] krbs commented on #1483
pull request added with fix & test

[2016-10-21 15:37] dblock commented on #1483
Closed via https://github.com/ruby-grape/grape/pull/1512.

[2016-10-21 15:37] #1483 closed

[2016-10-21 20:26] dblock commented on #1511
I think we should use whatever is maintained.

[2016-10-22 07:48] namusyaka commented on #1511
Yes,  both `mustermann-contrib` and `mustermann-grape` can be maintained.
Btw I think `mustermann-grape` is hosted by me, so we can feel free to cut a release of the gem.

[2016-10-22 08:21] namusyaka commented on #1416
Well I'm very interested in this issue. However, I couldn't reproduce the issue in my locally.
Probably, the issue can be avoided by **precompiling** all your routes.
I think we can provide a way for precompiling all routes. @dblock Thoughts?

[2016-10-23 13:14] dblock commented on #1511
Sounds good. Maybe you want to move it into the Grape organization @namusyaka?

[2016-10-23 13:18] dblock commented on #1416
Yes. But we shouldn't be guessing and benchmarking CPU vs. memory vs. time more systematically and not trying to optimize for someone's specific scenario.

[2016-10-27 15:11] Razer6 opened #1513 "Grape DSL: Return different entities"
Consider an API endpoint which returns a different entity depending on the current user. Is it possible to specify those different return entities in Grape DSL? Something like the following?

[code]

[2016-10-28 06:49] dblock commented on #1513
Generally I don't recommend APIs that return two different things. But I think this should be possible - give it a try, if not it should be a feature request.

[2016-10-28 20:51] LeFnord commented on #1513
**short answer**: actual it isn't possible, and it isn't recommended
**longer answer**: it should _not_ be possible

why not?
have in mind what this means …
a logic would be implemented for this feature, ok
but this logic must also be handled on the consumer and documentation side,
cause it is common sense to expect one resource and changes,
which removes common behaviour are breaking changes,
mea

[2016-10-31 15:43] towanda commented on #1508
@dblock Could you please close this? It's fixed by https://github.com/ruby-grape/grape/pull/1510

[2016-10-31 15:44] towanda commented on #1494
@dblock this seems to be fixed by https://github.com/intridea/hashie/issues/367, could you please close this?

[2016-10-31 15:51] towanda commented on #1395
@dblock Could you close this, please?

[2016-10-31 15:57] towanda commented on #1433
@dblock Sorry I'm making your day, but It's a bit frustrating wasting time reading issues which are already solved. If I can help somehow with this tell me.

[2016-10-31 15:58] towanda commented on #1433
@dblock also this can be closed.

[2016-10-31 16:57] #1433 closed

[2016-11-01 11:10] dblock commented on #1508
Closed via #1510.

[2016-11-01 11:10] #1508 closed

[2016-11-01 11:12] dblock commented on #1494
That's just related, in Grape https://github.com/ruby-grape/grape/commit/0d645124da9157bf38703b1e8450b6125463b14e worked around this.

[2016-11-01 11:12] #1494 closed

[2016-11-01 11:13] dblock commented on #1395
Closing via #1443.

[2016-11-01 11:13] #1395 closed

[2016-11-01 17:03] khelll opened #1515 "error! method returns wrong content type "text/html" for 404 status code"
When I do:

`error!({message: 'no data'}, 404)` or even simple one `error!({}, 404)`

I always get `text/html` for content-type with the response:

`"<!DOCTYPE html>\n<html>\n<head>\n  <style type=\"text/css\">\n  body { text-align:center;font-family:helvetica,arial;font-size:22px;\n    color:#888;margin:20px}\n  #c {margin:0 auto;width:500px;text-align:left}\n  </style>\n</head>\n<body>\n  <h2>Si

[2016-11-01 18:52] dblock commented on #1515
Looking at the HTML I think this is caught by Sinatra. I would dig there next. Maybe try to build a quick repro? We could also use something similar on top of sinatra to https://github.com/ruby-grape/grape-on-rack and https://github.com/ruby-grape/grape-on-rails, so if you make a basic grape-on-sinatra implementation we can move it into the ruby-grape org and use it as a place to debug similar thi

[2016-11-03 11:44] namusyaka commented on #1511
Exactly. Mustermann will be continued to be used by us.
In other words, the gem is considered to be the most desirable that we can handle.

[2016-11-03 11:50] dblock commented on #1511
If you don't have org permissions move it to me and I'll move it to the org @namusyaka.

[2016-11-03 16:53] atomless opened #1516 "Validation with values range doesn't appear to be working"
I'm merely trying to specify a param to have a valid range between 1 and a million like so :
[code]
when calling the endpoint with a valid integer in that range I see this error:
[code]

[2016-11-03 16:59] dblock commented on #1516
Post a simple repro? Maybe a spec?

[2016-11-06 09:20] namusyaka commented on #1511
I extracted [mustermann-grape gem](https://github.com/ruby-grape/mustermann-grape), and [dropped the code base from Mustermann repository](https://github.com/sinatra/mustermann/pull/54).

[2016-11-09 14:07] nbulaj commented on #19
Also you could look at the [`grape_oauth2` gem](https://github.com/nbulaj/grape_oauth2). The main goals of this project are ORM independence (but there are predefined mixins for `ActiveRecord` and `Sequel` and API documentation for any other ORM or PORO objects) and maximum customization. The gem is currently under development (and everybody could help with it), but it's already implements the nex

[2016-11-09 16:23] dblock commented on #19
@nbulaj You should add it to http://www.ruby-grape.org/projects/ please

[2016-11-11 23:31] thiagohdeplima opened #1519 "Bug with OPTIONS method and Grape 0.18.0 ?"
I start a new project today.

This project have the following routes:

[code]

Occurs which in grape 0.18.0, when the app receive an request with `OPTIONS` method, the response is the following:

[code]

In other project, I use version 0.14.0. Downgrading this project from 0.18.0 to same version, without any other change, the `OPTIONS` method start working, as bellow:

[code]

I test with others g

[2016-11-12 14:15] dblock commented on #1519
I am pretty sure this is a duplicate of https://github.com/ruby-grape/grape/pull/1505, already fixed on HEAD, give it a try to confirm?

[2016-11-12 14:15] #1519 closed

[2016-11-14 11:50] nbulaj commented on #1516
@atomless you forget to specify the type of the param. Your bug simply fixes by adding the `type` option:

[code]

[2016-11-14 12:42] dblock commented on #1516
I'm going to rename this to a feature request to infer types. With most values it should be possible.

[2016-11-14 12:43] dblock commented on #1516
Thanks @nbulaj for digging it up!

[2016-11-14 20:15] connorshea commented on #1401
Just tested this again on GitLab and it looks like it's fixed on master, presumably by #1517?

[2016-11-14 21:20] connorshea commented on #1402
I started on the UPGRADING.md PR, but after thinking on it and testing for a bit it seems that this wasn't the source of the problem I was having (though I don't fully understand why `after_validations` fixes it for 0.17.0 and 0.18.0 while `before` works again with current master), so I won't open it.

This is the section I was going to add, but I'm pretty sure it's inaccurate:

------------

####

[2016-11-15 13:06] dblock commented on #1401
That's correct @connorshea. Closing this.

[2016-11-15 13:06] #1401 closed

[2016-11-15 13:08] dblock opened #1521 "Release 0.18.1"

[2016-11-15 13:10] dblock commented on #1402
You should focus on master only. Explain what "valid" and "invalid" means by providing working examples and try to PR it. We can discuss it there.

Opened https://github.com/ruby-grape/grape/issues/1521 for release, add your +1.

[2016-11-15 18:09] connorshea commented on #1402
Thank you @dblock!

[2016-11-16 08:31] nykma opened #1522 "Array => Hash => Empty array is lost when parsing params"
Given an API:
[code]
And a test:
[code]
The result is `[{ "test" => "123" }]`.

If I describe this param in detail:
[code]
It will raise a exception of `data[0][children] not found`.
When I change `requires :children` into `optional :children`, no exception is raised, but `children` still disappear.

Both of them behaviors as expected when `children` is not empty. And both of them behaviors the sa

[2016-11-16 13:16] dblock commented on #1522
Empty arrays with a non-JSON type are tricky. There's no such thing, it nulls out the value I believe.

The JSON type posting as you provide is a red herring. You should declare `data` as `Array`, but POST with a JSON content-type, then it will work as you expect.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for more questions.

[2016-11-16 13:16] #1522 closed

[2016-11-16 15:23] zzak commented on #1511
Sounds good to me, let me know if you need anything from me.

Thanks

[2016-11-17 04:28] nykma commented on #1522
Thank you! `post_body.to_json` and `header 'CONTENT_TYPE', 'application/json'` resolved this problem. Seems like it only affects test environment.

[2016-11-17 22:20] stevendaniels commented on #1059
Recently encountered a similar issue. Is this issue related to the fact that `Grape::Middleware::Base#call` returns an instance of `Rack::Response` instead of an array?

In ActiveRecord 4.2.x's Rack middleware, it does this:
[code]

 Specifically, `response[2]` fails because `Rack::Response#[]` is an alias for `Rack::Response.get_header` and `2` does not have a `#downcase` method!

+ https://githu

[2016-11-17 23:29] tibbon commented on #1487
`endpoint` sounds ok to me, but naming is hard :)

[2016-11-18 13:59] dblock commented on #1059
Yes @stevendaniels. We went back and forth on this and somewhere decided that we should continue returning a `Rack::Response`. Maybe Grape's should implement `[]`? I am not sure what the right thing to do is.

[2016-11-18 17:46] atomless opened #1523 "Optional param of type integer throws error when not defined"
When you define an integer type param like so:
[code]
Then an endpoint using that is requested without a value for that param, this error is thrown:
[code]
You can avoid this error if you set it to have a default value like so:
[code]
but even so, seems like a bug ?

[2016-11-18 18:35] dblock commented on #1523
Looks like a bug.

[2016-11-21 16:07] Taoshi opened #1524 "requires :travellers, type: Array[String] - message": "travellers is invalid"
I have
`params do
                requires :travellers, type: Array[String], desc: 'Your travellers keys.'
end
`
and get from url such params ` :travellers=>{"ADT"=>"1", "CHD"=>"2"}`

Why i have got `message": "travellers is invalid`?

[2016-11-21 16:54] dblock commented on #1524
Because travellers is not an array in your example, it's a hash?

[2016-11-21 16:54] dblock commented on #1524
I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2016-11-21 16:54] #1524 closed

[2016-11-23 20:32] shaneog commented on #1511
Also stuck due to the same upgrade. Would be great to use the new gem and release. Is there anything I can do to help?

[2016-11-24 13:51] tony612 commented on #382
👍  I just got the same bug :(

[2016-11-24 18:17] nbulaj commented on #1523
Hi @atomless. Could you please provide more info about the bug? Full stacktrace for example.

I try to reproduce it, but does not get an error (Grape 0.18) - only `nil` if parameter was not set and actual value in other cases.

[code]

[2016-11-24 18:20] nbulaj commented on #1515
Hi @khelll. It is definitely the problem of Sinatra gem, not Grape. So take a look one again at your routes and rescuers. Without some code gist it is hard to understand what is going on.

[2016-11-24 18:23] nbulaj commented on #1500
Hi @azbshiri. Why do you need to call class-methods of your API class ? What is the behavior? And why you can't write something like `self.class.do_something` ?
Seems to be unnecessary for me..

[2016-11-28 11:52] lumean opened #1527 "unknown validator: is_array"
Hi,
I'm not sure if the issue is in the right place here. If not, please point me to the correct repository to open the issue there  (grape-entity,  grape-swagger, grape-swagger/entity, ....)

Here is my problem - code attached  [repro_api.txt](https://github.com/ruby-grape/grape/files/616127/repro_api.txt) (use it as config.ru).

As soon as I switch from
[code]
to
[code]
I get an error. I want to

[2016-11-28 12:39] pigghost opened #1528 "Grape logger invalid"
in  lib/grape/dsl/logger.rb,  we can see:

[code]

Here is a problem, we can not set logger by  Grape::API.logger = xxx, instead, we should call Grape::API.logger(xxx).

Seems something wrong with the attribute writter 'logger=' ?

[2016-11-28 13:04] pigghost opened #1529 "grape 'array' type not compatible with swagger ?"
here is my code:
[code]
below is the result using 'grape-swagger' and swagger-ui:

[code]

obviously, it's not correct. Seems a bug?

[2016-11-28 14:31] dblock commented on #1527
Do you think you can build a spec that reproduces? I think this belongs in the grape-swagger.

[2016-11-28 14:34] dblock commented on #1528
Did you try setting this on your own API class that derives from Grape::API?

[2016-11-28 14:34] dblock commented on #1529
This belongs in grape-swagger, you can open an issue there.

[2016-11-28 14:34] #1529 closed

[2016-11-29 02:30] pigghost commented on #1528
I have tried to set logger in my own API, and failed too.

[2016-11-29 17:02] lumean commented on #1527
could you point me to some example code or a guide how write specs for grape(-swagger)? Then I think we close this issue and I'll open a new one in grape-swagger

[2016-11-30 14:06] dblock commented on #1527
Start by closing this and opening one in grape-swagger. For specs there're many examples in the spec folder, I don't have much better advice, but there're a lot of people to help if you can try to get started!

[2016-12-01 19:20] jonmchan opened #1530 "Param from Escaped Unicode in application/json Request Body Not Properly Parsed"
Grape ruby has inconsistent behavior when using the ```params``` tag to parse JSON escaped unicode data.

https://github.com/jonmchan/grape-test/blob/master/app/controllers/api/v1/test.rb
[code]

When I write a test, it properly escapes the unicode character from ```\u000a``` to a ```\n``` character.

[code]

However, when I try to actually hit the server using rails server, I get the following:

[2016-12-04 15:02] dblock commented on #1530
I didn't dig through this, but is this because the charset ends up being different? See https://github.com/ruby-grape/grape/issues/467 this could be related.

[2016-12-05 00:44] connorshea commented on #1521
I just want to note that I'm running grape master on GitLab and our test suite passes: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/6661

[2016-12-05 01:34] namusyaka commented on #1521
Good news!

[2016-12-05 18:06] birla22v commented on #241
I'm sorry to comment on this closed issue but I'm running into the same issue that @calfzhou had. Was there a solution discussed for it?

Thank you!

[2016-12-06 03:17] Davidzhu001 opened #1533 "`load_missing_constant': Unable to autoload constant Projects"
```/usr/local/rvm/gems/ruby-2.2.3/gems/activesupport-4.2.6/lib/active_support/dependencies.rb:495:in `load_missing_constant': Unable to autoload constant Projects, expected /home/rails/taskhub/app/api/v1/projects.rb to define it (LoadError)```
[code]

[code]

[code]

[2016-12-06 03:18] Davidzhu001 commented on #1533
It works fine on development, but it doesn't work on production

[2016-12-06 03:36] tony612 commented on #1523
I have this problem too..

[2016-12-06 09:05] hantuzun opened #1534 "format :json is not scoped to one API, it affects other APIs"
We have two endpoints, one accepts `application/json` content-type, the other accepts `text/plain`. They live together. However, when `format :json` is included in one of our API's the other one is effected as well.

Consider the example below:
[code]

In this case, `POST /v1/users` returns `{"error":"The requested content-type 'text/plain' is not supported."}`. When `format :json` is removed, it

[2016-12-06 11:41] dm1try commented on #1523
Seems it's related to https://github.com/ruby-grape/grape/pull/1512 and fixed in master.

[2016-12-06 14:34] dblock commented on #1533
Isn't the error fairly self-explanatory? If you want to auto-load things the directory structure should match what autoload expects.

[2016-12-06 14:35] dblock commented on #1533
I don't believe this is a Grape bug, I'll close, but please don't hesitate to reopen if you feel otherwise.

Maybe use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for further questions.

[2016-12-06 14:35] #1533 closed

[2016-12-06 14:36] dblock commented on #1534
Something is fishy. Try to build a spec in Grape for this?

[2016-12-06 14:37] dblock commented on #1523
@atomless @tony612 Can you please check against HEAD?

[2016-12-06 14:59] dm1try commented on #1534
@dblock the behavior above is expected because [`Rack::Cascade`catches only the responses with 404/405](https://github.com/rack/rack/blob/1-6-stable/lib/rack/cascade.rb#L11) status code but the grape middleware formatter returns the [response with 406 status code](https://github.com/ruby-grape/grape/blob/master/lib/grape/middleware/formatter.rb#L117)(when explicit `json` format is provided but the

[2016-12-06 15:20] Davidzhu001 commented on #1533
this class works, but not my projects class.

However, My projects class works on my development, it throw errors on the server site.

[code]

[2016-12-06 15:31] dblock commented on #1533
Order of load in production is probably different causing the error.

[2016-12-06 15:37] Davidzhu001 commented on #1533
@dblock , thanks. Find the problem! I think.

Maybe my class Name Projects is conflict to rails naming methods.
And if I rename it to Project, it will cause problem with my grape class.

So I changed it to ProjectData.
It works now.

[2016-12-06 20:39] jonmchan commented on #1530
User error. \ is interpreted as an escape character even in single quote ruby text. The behavior is consistent. Please close this issue, github won't let me.

[2016-12-06 21:06] #1530 closed

[2016-12-07 03:20] tony612 commented on #1523
@dblock It works for HEAD!

[2016-12-07 11:32] hantuzun commented on #1534
Thanks!

@dblock; I experienced that with grape 0.10.1.

I achieved what I wanted by swapping the endpoints in cascade constructor array like: `run Rack::Cascade.new [BAPI, API]`.

What's the best practice for serving two sets of methods that accepts different content-types?

[2016-12-07 16:43] dblock commented on #1523
Thanks @tony612. Closing.

[2016-12-07 16:43] #1523 closed

[2016-12-07 16:43] dblock commented on #1534
0.10.0 is really old, we're on 0.18.0, just want to make sure we're not fixing something that's fixed long time ago

[2016-12-09 22:37] migmartri commented on #1527
I am running into exactly this issue. Did you happen to open the new issue in grape-swagger?

[2016-12-10 12:13] hantuzun commented on #1534
Oh, I don't know why bundler installed that. Thanks for the notice!

I'll try to reproduce the error on the latest release.

[2016-12-14 13:28] lumean commented on #1527
no not yet, however I found a workaround for my case. Instead of using the params block I now use params within the description block. E.g.
[code]

[2016-12-15 05:14] connorshea commented on #1521
Dang it, #1532 caused about 80 test failures 😬

[2016-12-15 14:07] dblock commented on #1521
@connorshea Are they trivial or is this something we should be changing or highlighting better?

[2016-12-15 18:13] migmartri commented on #1527
Hi,

I think that I figured it out.

The problem happens when we instantiate a grapper instance using the `.documentations` method.

And this is because `params Entity::Accounts.documentation` what it does is interpolating all the attributes of the entity with the `documentation:` hash flatten as options.

So for example:

[code]

[code]

actually translates to

[code]

So, this requires that ever

[2016-12-15 20:23] connorshea commented on #1521
@dblock relatively trivial, just the 400 => 402 change.

[2016-12-16 21:35] CharlesP opened #1535 "Parameter maximum value"
When adding a parameter (i.e. per_page), is there a way to set the maximum value?

The cleanest (only) way I've found so far is to pass the entire array of possible options:
`optional :per_page, values: [*1..100], default: 10, type: Integer`

Is there a better way to achieve this?

[2016-12-19 00:34] dblock commented on #1535
I'll label this as a feature request to support `min` and `max`, obviously there be dragons for non enumerable types ;)

[2016-12-19 00:38] dblock commented on #1521
Released as 0.19.0.

[2016-12-19 00:38] #1521 closed

[2016-12-19 00:45] namusyaka commented on #1521
Thanks!

[2016-12-19 13:00] thomas-peyric opened #1537 "the use of methode .zero? in lib/grape/middleware/*.rb generate errors"
This morning I update the grape gem (0.18.0 to 0.19.0) and after that all my API don't work.

After some test I found that error comes from last commit on `lib/grape/middleware/versioner/path.rb` file

https://github.com/ruby-grape/grape/commit/1f8809fad26af4382a9ceb2250b9b07b6f58f6a6#diff-22ee51f406faebc9ea629d8f8ef111e3

if i change line
`if prefix && path.index(prefix).zero?`
by
`if prefix && p

[2016-12-19 13:14] dblock commented on #1537
Sorry about that. Can you please dig up where we're getting the definition of `.zero?` from? Would like a PR that fixes that of course.

[2016-12-19 15:47] thomas-peyric commented on #1537
presence of `.zero?` is in 2 files who had been commited 15 days ago.
the commit hash is `1f8809fad26af4382a9ceb2250b9b07b6f58f6a6`

[2016-12-19 15:48] dblock commented on #1537
I mean where we get it from when it works, ie. ActiveSupport or something like that.

What I really want is a spec that reproduces this problem in Grape, then a fix and full understanding of why we cannot use `.zero?` here.

[2016-12-19 18:21] dblock commented on #1537
Write a spec in grape that reproduces this next.

[2016-12-19 23:49] connorshea commented on #1521
Thanks! :D

[2016-12-23 02:17] GrayJoy opened #1539 "2 level block in DSL execute multi times"
I wanna protect my API with some ip_whitelist in settings.
Basic logic is, checking remote ip first, authorized ip get response properly, while unauthorized ip should get http code 408 and some error.

my code is like this
[code]
when i access `http://lvh.me:3000/api/v1/monitors/cloud_platform` in browser
my log is like this, `monitoring` method got executed several times somehow

[code]

while th

[2016-12-23 03:09] #1539 closed

[2016-12-23 03:11] GrayJoy commented on #1539
I try this on a very simple project, and I don't get into this situation

maybe it's not about grape itself

[2016-12-23 12:47] dblock commented on #1539
Unlikely that it's grape itself.

[2016-12-27 05:24] connorshea opened #1542 "Ruby 2.4 compatibility"
The codebase/test suite can't be updated trivially to convert all uses of Fixnum to Integer because in some cases it breaks on older versions and in other cases breaks on 2.4.

See #1541 for what I mean.

[2016-12-27 09:39] namusyaka commented on #1542
Yeah, I'm going to do this. Thanks for the reporting!

[2016-12-30 16:22] namusyaka commented on #1542
Closed via https://github.com/ruby-grape/grape/pull/1543

[2016-12-30 16:22] #1542 closed

[2017-01-04 16:07] JanStevens opened #1549 "Revert #1532 set default 204 for deletes"
This MR: https://github.com/ruby-grape/grape/pull/1532 is plain wrong.

204 is only when there is NO CONTENT meaning I explicitly as a developer set `body false`. I now have to go through all my delete calls and explicitly set status 200, which makes no sense.

For example returning the deleted object is quite common, now we don't follow the spec because by default (even when there is body!) we re

[2017-01-04 17:04] dblock commented on #1549
@LeFnord @namusyaka ^^^ thoughts?

[2017-01-04 17:04] dblock commented on #1549
Also @urkle

[2017-01-04 17:05] JanStevens commented on #1549
Or at least we should evaluate if a body is returned and then return 200 else 204.

Less magic, more explicitness, happy devs 👍

[2017-01-04 17:10] dblock commented on #1549
@JanStevens you could help by PRing your suggestion on empty body, I would support that

[2017-01-04 17:10] dblock commented on #1537
Fixed via https://github.com/ruby-grape/grape/pull/1548.

[2017-01-04 17:10] #1537 closed

[2017-01-04 18:11] jthornec commented on #1549
This just bit me too. We're using Grape with `grape-roar` something like this:

[code]

After updating Grape, our API `DELETE` endpoints started returning `#<Model:0x00000000>` instead of the expected `{ "model": "json" }` because the new 204 status code is causing the [formatter to be skipped](https://github.com/ruby-grape/grape/blob/master/lib/grape/middleware/formatter.rb#L25-L26).

This behavi

[2017-01-04 18:12] JanStevens commented on #1549
@jthornec That would be awesome pretty swamped with elixir atm

[2017-01-04 18:13] dblock commented on #1549
The formatter being skipped is a bigger deal than I thought, thanks for bringing it up @jthornec :(

[2017-01-04 19:22] LeFnord commented on #1549
sorry for the trouble :( … but @JanStevens, this change isn't wrong, it is only a modern interpretation of possibilities, means responding the deleted entity of a resource makes not much sense IMHO, cause the API consumer always has it … and we should reduce traffic 😉

I'm totally support your suggestion

and think this would be the best solution for all

btw, we should think about a re-ordering o

[2017-01-04 19:57] JanStevens commented on #1549
@LeFnord I still don't get why this change was needed, a `body false` at the end would result in exactly the same and the behaviour would be more explicit on your end. Everyone else wouldn't suddenly be surprised by the fact nothing is returned on delete (or even worse nothing is formatted).

Well on that point, if you have [HATEOAS](https://en.wikipedia.org/wiki/HATEOAS) API endpoint then you wil

[2017-01-04 20:06] jthornec commented on #1549
Would it make more sense to choose the default status based on whether or not there's content, rather than the request type?

I don't think delete is special in this case, it's also possible to write a post endpoint that returns nothing. For example, the [the HTTP/1.1 specification](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) paragraph 9.5 says:

[2017-01-04 20:07] JanStevens commented on #1549
@jthornec I was already commenting about that on your MR!

[2017-01-04 20:18] jthornec commented on #1549
Yeah... I was thinking about that right after I submitted it.

I think this is confusing because the HTTP codes themselves aren't super consistent: 200 vs 204 indicates content vs no content, but 200 vs 201 indicates existing entity vs new entity, which are (IMO) separate concerns. So we might choose 201 based on the request type (since a POST implies that we're creating something new), but I don'

[2017-01-04 20:21] JanStevens commented on #1549
@jthornec hence my suggestion for a helper and leave out the black magic. It is really client and implementation specific, a post that returns nothing could as well be 204. Yet again I can think of reasons to keep it 201 (just for the sake of consistency).

[2017-01-04 20:34] jthornec commented on #1549
Hmm, yeah.

Googling around, it seems that using 204 for delete specifically is becoming a 'best practice', which (I suspect) is why it's implemented the way it is in #1532 and why it isn't applied to empty posts as well.

@dblock @LeFnord can you take a look at this? I have a PR above but I'm not sure how we should proceed.

[2017-01-04 20:55] dblock commented on #1549
Lets bring this conversation into #1550.

[2017-01-05 16:10] Crystark opened #1551 "Boolean type not working as expected"
Hi,

I'm having trouble using the Boolean type with proper boolean values.

What I initially wanted to do:
[code]

Always returns `active is invalid` should I send `{  "active": true }` or `{  "active": false }`

What i had to do is actually add `coerce_with` using the identity lambda...

[code]

Did I miss something here ?
I'm using version `0.18`

[2017-01-05 16:27] dblock commented on #1551
`Boolean` is actually `Virtus::Boolean` if I am not mistaken. Either way try to write a spec for this, you obviously shouldn't need to coerce a boolean.

[2017-01-05 23:01] nicooga commented on #1226
Hi there, is this code merged yet? I'm having trouble defining params for an API endpoint that supports 2 levels of `accepts_nested_attributes_for`.

A car_listing has a car, which has many images. Given `car_listing.type === x` I want to require some other params.

[code]
Also, withing a nested namespace I don't think I can require more things on a nested attribute, even if given worked like desc

[2017-01-06 10:54] vanburg commented on #1059
In case you're using ``otr-activerecord`` (formerly known as ``grape-activerecord``) and don't have time to find a workaround, just make sure you call
[code]
inside ``config.ru`` not in ``Grape::API`` subclass

[2017-01-06 12:40] dblock commented on #1226
https://github.com/ruby-grape/grape/pull/1225 has been merged. The rest is a feature request.

[2017-01-07 15:13] dblock commented on #1549
Closing via https://github.com/ruby-grape/grape/pull/1550.

[2017-01-07 15:13] #1549 closed

[2017-01-09 10:05] zhulik opened #1552 "Ruby 2.4 support, ::Fixnum is deprecated"
Hi!
I just updated ruby in my project to 2.4.0, and now i see many deprecation warnings while running tests
[code]

[2017-01-09 10:06] zhulik commented on #1552
Sorry, I found closed issue with the same message

[2017-01-09 10:06] #1552 closed

[2017-01-10 09:03] ryancheung opened #1553 "How to test specific version?"
I tried something like this:

[code]

This does not work. It always goes to the default version v1.
rails version: 4.2.1
Grape version 0.13.1

[2017-01-10 09:28] ryancheung commented on #1553
Fixed with `header 'Accept-Version', 'v1_7'`

[2017-01-10 09:28] #1553 closed

[2017-01-12 03:37] 0x01f7 commented on #1450
solution:

[code]

ref:

* [Implement `to_ary` to avoid calls to method_missing](https://github.com/bundler/bundler/pull/1274)
* [TIL: It's OK to return nil from to_ary](https://tenderlovemaking.com/2011/06/28/til-its-ok-to-return-nil-from-to_ary.html)

[2017-01-12 10:52] guillaume-g opened #1554 "Access headers in middlewares"
Hi,

I am new to Grape and I have read the docs and README, but I can't figure out how to access headers in the **before** method.

I have a class Grape::Middleware::Base with a method before and I didn't find how to access the incoming headers...

Thank in advance !

[2017-01-12 12:53] dblock commented on #1450
But who's calling this @0x01f7? Why is this being called at all?

[2017-01-12 12:56] dblock commented on #1554
Grape::Middleware::Base imports `'grape/dsl/headers'` so you should be able to do `header` and `headers`. What am I missing?

[2017-01-12 12:58] guillaume-g commented on #1554
I can use header, but the headers hash is empty. If I look at it in the **before** method it's empty, but in the API Call it's full.

[2017-01-12 13:06] dblock commented on #1554
Headers come from https://github.com/ruby-grape/grape/blob/220c345dff9602e431ac780abcb98dbb24293395/lib/grape/request.rb, so I would try to debug what's going on here. Env is definitely present in middleware so I don't see why headers wouldn't be available in `before`.

If you can, write a test for this first in Grape?

[2017-01-12 13:11] guillaume-g commented on #1554
Sure, I keep you up to date !

[2017-01-12 14:06] 0x01f7 commented on #1450
Gemfile:

[code]

----

config.ru:

[code]

----

command line:

[code]

----

backtrace:

[code]

[2017-01-12 16:57] dblock commented on #1450
Can you try to turn this into a spec in Grape, without grape-swagger? Assuming that it's not monkey-patching anything, we have code that is available but not called in Grape proper via `routes`.

[2017-01-13 05:12] 0x01f7 commented on #1450
* It has been fixed in v0.19.0 by introducing `Grape::Router::Route#respond_to_missing?`.
* Use `rubocop`, and enable [Style/MethodMissing](https://github.com/bbatsov/ruby-style-guide#no-method-missing) to avoid it.

[2017-01-13 13:02] dblock commented on #1450
Thanks @0x01f7. Closing. Reopen if you think there's something else to do. If we're not catching this with Rubocop please PR.

[2017-01-13 13:02] #1450 closed

[2017-01-14 14:44] dblock commented on #1260
Bump @arempe93.

[2017-01-14 14:45] dblock commented on #1418
Closed via https://github.com/ruby-grape/grape/issues/1420, @etehtsea lmk if I missed anything.

[2017-01-14 14:45] #1418 closed

[2017-01-14 14:45] dblock commented on #1350
Closing.

[2017-01-14 14:45] #1350 closed

[2017-01-14 14:48] dblock commented on #1174
@ka8725 Do you think you can check this again (coming from #1151) and maybe PR some UPGRADING note?

[2017-01-14 14:49] dblock commented on #1309
What do we want to do with this? @fredwu?

[2017-01-14 14:50] dblock commented on #1037
I believe this is resolved via #1216 and some left-overs in #1309. Closing. Please reopen or add comments to #1309.

[2017-01-14 14:50] #1037 closed

[2017-01-14 14:51] dblock commented on #726
There's a spec in https://github.com/ruby-grape/grape/pull/877 and no fix. Someone please contribute.

[2017-01-14 14:51] dblock commented on #646
Bump @p-originate, want to PR a documentation update? Maybe @dmitry?

[2017-01-15 21:34] #646 closed

[2017-01-17 01:07] ka8725 commented on #1174
I checked it and can confirm that it works now. Created PR - https://github.com/ruby-grape/grape/pull/1557

[2017-01-17 10:49] dblock commented on #1174
Closing, thanks.

[2017-01-17 10:49] #1174 closed

[2017-01-18 01:44] Morred commented on #726
Ah, I wrote that spec, forever ago. Will have a look when I get a bit of free time this week!

[2017-01-26 07:13] brucehsu opened #1560 "Rack::Test::Methods insanely slow after 0.17 (StackableValues related)"
We're using `Rack::Test::Methods` in our test suite. Recently an update to Grape 0.19.1 from 0.15 dramatically slows down our test suite.

An example which took **_1.8_** seconds to run now requires **_73.72_** seconds to finish.

After tracing commits, we narrowed down this performance issue to a single commit in Grape v0.17 `44bcd5490a1935cc0f74557afe2351e0e085343`:

[code]

After reverting this

[2017-01-26 18:01] vypah opened #1563 "Reusable named params"
The documentation states the following

[code]

which you can find here as well https://github.com/ruby-grape/grape#helpers

But the issue is `params` method does not accept any argument. I get an error at `params :pagination` which states `Found 1 extra argument(s). Requires 0`.

I am using version `0.17.0`

[2017-01-26 19:38] dblock commented on #1563
Are you sure your shared `params` is inside `helpers`?

[2017-01-27 09:50] vypah commented on #1563
@dblock unfortunately yes. Here is what my code looks like

[code]

I encounter the error at `params :address_params`. Seems like params is not allowed to accept an argument.

[2017-01-27 12:28] dblock commented on #1563
We have a ton of tests for this, like [here](https://github.com/ruby-grape/grape/blob/220c345dff9602e431ac780abcb98dbb24293395/spec/grape/api/shared_helpers_spec.rb#L8). Maybe you're using an older version of Grape? Put up a project or try to write a spec in grape with that?

[2017-01-27 18:10] #1563 closed

[2017-01-27 23:08] dblock commented on #1563
@vypah You closed this? What was the issue?

[2017-01-27 23:58] vypah commented on #1563
@dblock The problem has nothing to do with grape itself but it was rather a rubymine interpreter problem which is still complaining but the code works totally fine. Thanks for your time anyways.

[2017-01-31 12:53] dblock commented on #1560
Closed via https://github.com/ruby-grape/grape/pull/1561.

[2017-01-31 12:53] #1560 closed

[2017-01-31 14:18] milgner commented on #1475
@mrloop I just encountered this with Rails 5.0.1. Do you happen to know which version contains the fix? Looking at the current `master`, it still seems to be [unchanged](https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/testing/integration.rb#L331)?

[2017-01-31 19:30] mrloop commented on #1475
Ha! I didn't spot that @milgner and not using Rails 5 with Grape. So it's the same issue but you'll need to patch `create_session` for rails 5 instead in `initialize`, I'm sure @dblock would appreciate a PR to fix the issue for both 4.2 and 5 :stuck_out_tongue_winking_eye:

[2017-01-31 21:05] milgner commented on #1475
Alright, I will prepare a patch. Already created a workaround, it's straightforward to fix.

[2017-01-31 23:37] korobochek commented on #1515
Hi, it looks like this is not a Sinatra issue. I have been byebugging exactly the same problem, at it looks like the issue originates here: https://github.com/ruby-grape/grape/blob/152fa4045af039a736dedb046be3a01d19af904a/lib/grape/middleware/base.rb#L69.

If you are not explicitly overwriting `Grape::Env::API_FORMAT` anywhere, it will be set to `:txt`. In this case, if in your api config you have

[2017-02-01 12:50] namusyaka commented on #1511
Sorry fory the late reply. I've just released [v1.0.0.beta2](https://rubygems.org/gems/mustermann-grape/versions/1.0.0.beta2).

I'm going to close this issue, but if you still have the problem, please let me know.
Thanks!

[2017-02-01 12:50] #1511 closed

[2017-02-01 13:06] namusyaka commented on #1482
@azbshiri @intuxicated Could you confirm [this pull request](https://github.com/ruby-grape/grape/pull/1507)?

[2017-02-01 13:15] namusyaka commented on #1260
Fixed in https://github.com/ruby-grape/grape/commit/9f4ba67d4aca90f04a65c5ff921b1687942eb99c.  I've just confirmed that.