[2017-02-01 13:15] #1260 closed

[2017-02-01 13:19] namusyaka commented on #34
Is this problem still going on? Looks to be solved.

[2017-02-01 13:27] namusyaka commented on #636
Confirmed this.

[2017-02-01 15:27] dblock commented on #1515
Closing this, a repro would be a start if you need help @khelll.

[2017-02-01 15:27] #1515 closed

[2017-02-01 16:37] jlfaber commented on #1535
#1568 added a new feature to the ValuesValidator that allows a Proc to be supplied for anonymous custom validations.  Using this, your example above might look like this.
[code]
I should note that the ValuesValidator already accepted Ranges, so you also could have done this.
[code]
For both your original example and my Range alternative, the validator will call `include?` on the passed value.  And

[2017-02-01 17:27] azbshiri commented on #1482
I really appreciate your great work. I think it does the job 💯

[2017-02-02 06:40] namusyaka commented on #1482
Thanks for confirming the issue. Closed.

[2017-02-02 06:40] #1482 closed

[2017-02-03 21:17] ckorhonen opened #1571 "Access params when coercing"
Encountered this use-case today and feel like it would make for a nice enhancement to the coercion functionality to be able to access the params from my coercion method.

I have an API endpoint which accepts an address (street, city, state, zip) however the city and state parameters are optional. In most countries you can derive both from the zip/postal code, so I'd like to be able to do something

[2017-02-04 15:51] dblock commented on #1535
Should we close this?

[2017-02-04 15:55] dblock commented on #1571
I think it's borderline business logic, maybe belongs in the API, but I can see why you want this. Would be interested in seeing a PR.

[2017-02-05 01:20] #636 closed

[2017-02-06 13:51] CharlesP commented on #1535
@jlfaber Thanks, that's a big help.

@dblock Yes, this looks like a valid workflow for this.

[2017-02-06 13:51] #1535 closed

[2017-02-09 11:06] brlo commented on #551
If you use:

[code]

It will broke `(declared(params, include_missing: false)`.
For path `/api/A` all is fine, but for `/api/B` you'll get empty Mash.

[2017-02-09 17:32] dopykuh opened #1572 "Invalid rack response."
Please see here https://github.com/puma/puma/issues/1208

[2017-02-09 17:36] namusyaka commented on #1572
@dopykuh Could you provide a failing project as github repository?

[2017-02-09 17:48] russellsilva commented on #1511
Thanks @namusyaka for the `mustermann-grape` update. Does that update alone fix this issue though? Grape itself [still depends on mustermann-grape 0.4.0|https://github.com/ruby-grape/grape/blob/master/grape.gemspec#L16]. Does that need to be changed to resolve the original dependency deadlock described by @jarthod?

[2017-02-09 17:53] namusyaka commented on #1511
@russellsilva I'm going to cut new release mustermann-grape-1.0.0 after releasing official mustermann-1.0.0, and then we will release new grape.

To avoid dependency dead lock, you can use [this branch](https://github.com/ruby-grape/grape/tree/upgrade-mustermann) by adding following line to your Gemfile.

[code]

[2017-02-09 18:27] dopykuh commented on #1572
Its not as easy to reproduce, it could also possibly depend on nginx proxy params.
[code]

[2017-02-09 19:22] dopykuh commented on #1572
This 2 lines will produce my exception https://github.com/ruby-grape/grape/commit/dab3c095a7470fdf8b9dff4475fe451a04d7b7a0#diff-e9e8424a5238d48301e313d8fe285697

[2017-02-09 19:30] dblock commented on #1572
I wouldn't be so sure that this is a grape bug. It looks like the response is a hash that is not being formatted into a string. Which content type is here? What is the response from the `DELETE` (implemented by the user)?

[2017-02-09 19:36] dopykuh commented on #1572
**Request on v.18.0**
[code]
**Request on v.19.0**
[code]

[2017-02-09 19:40] dopykuh commented on #1572
The issue could also been appeared earlier, but it looks like an grape bug. You only setup a default right now, but response_body shouldn't be served as hash or not?

[2017-02-09 21:21] dblock commented on #1572
This is a little more complicated. In 0.19.0 we made the server return 204 on a DELETE, then in 0.19.1 we fixed https://github.com/ruby-grape/grape/pull/1550 to return 200 when there's no content. That's ultimately what's causing this, but it's not necessarily a bug.

So what you need to find out is why isn't your JSON formatter invoked on a DELETE. I would definitely try explicitly 0.19.1, then H

[2017-02-09 21:29] dopykuh commented on #1572
Ok, i'll check this tomorrow. I also tested head and 019.1, but how is it possible that the formatters are completly skipped, it would be nice if a fallback will raise or log a warning or sth. else. I'll try to find out where it comes from, i am able to reproduce them within my environment. ;)

[2017-02-09 21:35] dblock commented on #1572
I am just speculating from the top of my head. Build a simple repro, maybe even a spec.

[2017-02-09 21:45] dopykuh commented on #1572
I am unable to reproduce it out of my app environments. Currently i don't know why...
Alternativly i switch my job to gardener. ;)

[2017-02-09 22:05] dblock commented on #1572
![](http://i.giphy.com/3o6ZsSyqveeSZcmJuo.gif)

[2017-02-10 08:37] LeFnord commented on #1572
Hi @dopykuh … how did you achieve this behavior?

HTTP/1.1 201 Created

you make a DELETE request, but your response assumes, you made a POST request

for further investigating, I suggest to `pry` into a rescue from all block →
[code]
to catch the errors and see what is really happened

@dblock one minor correction, in 0.19.0 status 204 was introduced as default for delete requests with an empty b

[2017-02-10 09:11] dopykuh commented on #1572
@LeFnord sorry, wrong output posted.
[code]

[2017-02-10 09:14] dopykuh commented on #1572
@LeFnord its also not possible to rescue there because the exception will be raised within puma response handler due to unformatted response. Grape possibly skips the formatters so the impact is only visible later.

[2017-02-10 09:16] dopykuh commented on #1572
The exception doesn't occur by manually setting `status 200`

[2017-02-10 09:22] dopykuh commented on #1572
https://github.com/ruby-grape/grape/compare/v0.19.0...v0.19.1#diff-e9e8424a5238d48301e313d8fe285697R133

[2017-02-10 10:16] keenahn commented on #1102
Hi, sorry to bring up a necro thread. Is there any progress on this issue, perhaps in someone else's fork?

It's pretty annoying to just call e.g. `AlphaNumeric` to force it to autoload. This also violates my linting rules in rubocop (no void context).

[2017-02-10 15:11] dblock commented on #1572
You narrowed down the problem, 204 means no content, so you should not have content with a 204. Now find how this happens.

[2017-02-10 15:12] dblock commented on #1102
No progress AFAIK

[2017-02-10 20:08] dopykuh commented on #1572
@dblock I'll take a look at monday. Could you give some tips, or do you have any ideas where the issue possibly come from? I don't know anything about your framework structure and debugging large dsl's are  not as easy. :D

[2017-02-10 20:10] dblock commented on #1572
I don't think I have much more useful info to add ;( Let us know what you find! If you put a repro up obviously it would be helpful.

[2017-02-10 20:12] dopykuh commented on #1572
I tried, but i am unable to reproduce them. Don't know why ...

[2017-02-11 17:26] guillaume-g opened #1573 "Match all request on resources"
Hi,

I was wondering if there was a way to match all incoming request for a specific route ?

[code]

I want to be able to get the first variable called **service** then **path** should be able to match everything else like :

- blablabla
- blablablabla/blablablabla/blablablbla
- blablablabla/blablablabla?query=toto

So I could hit this route using the URL ** http://localhost:40117/api/v1/search/u

[2017-02-13 01:47] dblock commented on #1573
To make `:path` optional, you need to include it in parenthesis.

To include slashes, you need to change `requirements`, see https://github.com/ruby-grape/grape#routes.

Here's a quick test:

[code]

[code]

[2017-02-13 01:47] #1573 closed

[2017-02-13 01:47] dblock commented on #1573
I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-02-14 22:12] thogg4 opened #1574 "should i see nil values for nested declared params?"
I have an endpoint that needs either a nested address or an address line:

[code]

If no params are passed in, i get this in `declared`:

[code]

I would expect this (with `include_missing` set to true):

[code]

Am I doing something wrong, or is this how it should work?

[2017-02-14 23:11] dblock commented on #1574
I think the default here is to treat `address` as an array (for historical and backward compatibility reasons), does adding `optional :address, type: Hash do ...` change this?

[2017-02-14 23:12] thogg4 commented on #1574
@dblock im sorry i forgot to add the `type`
I have been using `type: Hash`, but getting the same result.

[2017-02-14 23:14] thogg4 commented on #1574
@dblock it would break backward compatibility, but would you have any interest in another option (similar to `include_missing`), that would add this?

[2017-02-14 23:20] dblock commented on #1574
It seems to me that with `type: Hash` this is a bug. But I didn't investigate. Maybe start by writing a test for this - and see if there's already a test in this vein.

[2017-02-15 16:10] thogg4 commented on #1574
It looks like this may be intended based on this commit:
https://github.com/ruby-grape/grape/commit/f60e58eec0d9cf56ddab5bd078f7a0436a71650d

[2017-02-15 16:12] thogg4 commented on #1574
From what I can tell `declared` doesn't take the `type` that is set in the `params` block into account at all.

[2017-02-16 11:41] sureshprasanna70 opened #1576 "Grape::Exceptions::UnknownParameter (unknown parameter: {:params1=>#<Proc:0x007f852ea80128@base.rb:52 (lambda)>}):"
[code]
While this api is being called I'm getting Unknown Parameter error.

[2017-02-16 16:09] dblock commented on #1576
Appreciate a failing spec in this repo, please.

[2017-02-16 17:11] sureshprasanna70 commented on #1576
@dblock How do I do that?

[2017-02-16 17:43] sureshprasanna70 opened #1577 "Boolean validation ignores values"
[code]
When this API is called with params1 value as false should return an exception. But grape doesn't returns exception and the API  is successfully executed.

[2017-02-16 22:12] LeFnord commented on #1577
@sureshprasanna70 … what for exception did you expect?

[2017-02-17 02:18] dblock commented on #1576
Check out code in spec as well as CONTRIBUTING.md.

[2017-02-17 20:01] dblock commented on #1574
Closed via https://github.com/ruby-grape/grape/pull/1575.

[2017-02-17 20:01] #1574 closed

[2017-02-19 19:01] eproulx-petalmd opened #1578 "DELETE endpoint returned value not formatted and results in 204"
Hi,

Grape `0.19.1`

The return value of a DELETE endpoint is not considered has `@body.present?`. Therefore, the response isn't formatted has expected and it returns a 204. Is it normal ?

The following spec fails :

[code]
Thanks

[2017-02-19 21:32] #1578 closed

[2017-02-19 21:32] dblock commented on #1572
Fixed in https://github.com/ruby-grape/grape/pull/1579.

[2017-02-19 21:32] #1572 closed

[2017-02-20 03:32] pynixwang commented on #1371
maybe we also need
`body Entity`

to simplify json schema form client.

[2017-02-20 11:35] sureshprasanna70 commented on #1577
@LeFnord The exception I had expected was "params1 has invalid value"

[2017-02-20 14:13] LeFnord commented on #1577
Hi @sureshprasanna70 … you are submitting a value for the param `params1`, with value `false`, so no exception is raised as expected, for this data type, it should only be raised, if the parameter is missing.

[2017-02-20 14:27] LeFnord commented on #1577
@dblock suggest to close it

[2017-02-20 15:06] dblock commented on #1371
@pynixwang Your example should be

[code]

Body is read into `params` as long as content-type is JSON or form or such.

[2017-02-20 15:13] milgner opened #1580 "Making Hashie class configurable"
Grape currently hard-codes the use of `Hashie::Mash`. However this can lead to problems with certain parameter names. Sometimes though this is the preferred behaviour. To make use of Hashies built-in `disable_warnings` functionality, it would be great if the base class would be configurable.

One could even think about making Hashie completely optional and returning a regular `Hash`, seeing as how

[2017-02-20 15:20] dblock commented on #1580
This has been discussed in https://github.com/ruby-grape/grape/pull/1514 and https://github.com/ruby-grape/grape/pull/1448. I think you summarize the work well, so I'll leave this open as a top level issue.

Would definitely take a PR in those lines!

[2017-02-20 15:27] pynixwang commented on #1371
@dblock  swagger-doc show as formData, I want a Model Scheme. and I want just accept json not form...

[2017-02-20 16:03] dblock commented on #1371
Swagger is a whole other issue, but you cannot have it both ways - call something a `user`and expect the DSL to ignore it. You can however move the declarations out of the `params` part, and then `use` that.

[2017-02-21 03:31] pynixwang commented on #1371
make a body DSL like
`body :user`

and do not merge hash into params, just put into prams so we can reference like `params[user]`

or new reference `body[:user]` or just `body` or something like `object` and `collection`  for array.

[2017-02-21 12:50] sureshprasanna70 commented on #1577
@LeFnord This doesn't address the issue. Let me explain the exception I was expecting. If the value passed for the said params doesn't matches anyone of the values in the `values` option array then grape is expected to throw an error. In this case, when ` params1 `  of the type `Boolean` is passed with `false` as value, grape should be throwing ` params1 is invalid, params1 does not have a valid v

[2017-02-21 13:48] dblock commented on #1371
@pynixwang Feel free to enable this with a pull request.

[2017-02-21 13:49] dblock commented on #1577
Oh I missed the `values` part. That does look like a bug, @sureshprasanna70 maybe try to write a spec. I'll reopen.

[2017-02-21 16:41] LeFnord commented on #1577
ah yeah, that makes sense, sorry overlooked the `values` part

[2017-02-22 03:42] pynixwang commented on #1371
@dblock I 'm trying.

[2017-02-22 18:46] travisp opened #1581 "Support custom enumerable types and coercion, or arrays of custom type"
Imagine I wanted to specify the following parameter:
[code]

Where GroupParamList includes Enumerable. This works fine, until we coerce the values as above.

In `validate_value_coercion`, grape handles Arrays, but not enumerable types:
[code]

As a result, grape tries to check if the enumerated type inside GroupParamList is the same as GroupParamList, which doesn't work.

Alternately, it would be

[2017-02-24 23:07] thogg4 opened #1582 "warnings when running tests"
I imagine I am missing a config option or something, but I can't figure out why I am seeing these errors when running tests using `Rack::Test` against a grape app:

[code]

Anyone have any idea about how to get rid of these?

[2017-02-25 14:29] dblock commented on #1582
These are actual things we should fix in Grape.

[2017-02-25 15:54] dblock commented on #1580
You might want to read http://code.dblock.org/2017/02/24/the-demonic-possession-of-hashie-mash.html.

[2017-02-27 20:32] tjwp opened #1584 "unspecified params in nested hashes are now present with include_missing=false"
This behavior seems to have changed with: https://github.com/ruby-grape/grape/pull/1575

Here is a test case that demonstrates the change in behavior before and after commit 7a56fe9ae5875fb2735223b532037cdd7bf38440:

https://github.com/salsify/grape/compare/master...salsify:nested-include-missing-test-case

After the change above the test case fails with:

[code]

I.e. additional keys get included

[2017-02-27 22:20] dblock commented on #1584
Looks like another bug, @tjwp since you have a spec maybe try a fix?

[2017-02-27 22:26] thogg4 commented on #1584
@tjwp Nice catch and thanks for the test. It looks like I missed some stuff when refactoring `declared` here is a pull request:
https://github.com/ruby-grape/grape/pull/1585

Let me know if that doesn't solve your problem.

[2017-02-28 15:49] tjwp commented on #1584
@thogg4 Commented on the PR, but this fixed the issue for me. Thanks for the quick fix!

[2017-03-01 07:31] MohdAnas opened #1586 "Not able to update record using strong paramters."
I am trying to update the record. Please find below the code

`

	  def subscription_params
        ActionController::Parameters.new(declared(params, include_missing: false)).permit(:resource_id,
                                      :status, :expiry_date, :purchase_date, :plan_id, :number_of_seats,
                                      :max_number_of_seats, :is_in_trial, :trial_end_time, :dealcod

[2017-03-01 13:52] dblock commented on #1586
The strong parameters section in https://github.com/ruby-grape/grape#rails should answer all the questions.

[2017-03-01 13:52] #1586 closed

[2017-03-02 06:47] csoreff commented on #407
Still behaving like this for me...format and default_format are :json yet this same exact thing is still happening without Content-Type.

[code]

results in:

[code]

[2017-03-02 14:03] #1584 closed

[2017-03-02 16:55] dblock commented on #407
Try to (re)write a spec like this @csoreff and PR it? Maybe with a fix?

[2017-03-03 06:11] csoreff commented on #407
The test doesn't handle when content type isn't supplied at all, it's given as a blank string:

[code]

When I remove that content type and post without it, it breaks without even making it to #read_rack_input.

These are both false in #read_body_input so it returns here:

[code]

[2017-03-03 12:33] dblock commented on #407
You should reopen this as a new issue.

[2017-03-03 12:44] dblock commented on #407
Re-reading this, POST with a default content type is not a thing for Rack, it won't parse input as you can see. However, Grape could apply `default_format` to the parser IMO, so JSON should work without a content-type I think.

[2017-03-05 11:45] csoreff commented on #407
Grape can't apply default_format because it doesn't even make it to the point where it does so.

[2017-03-05 14:00] dblock commented on #407
@csoreff We could make it get there, right? ;)

[2017-03-05 14:05] csoreff commented on #407
Oh haha yea, I suppose I read that wrong.  :P

[2017-03-05 14:16] csoreff opened #1587 "default_format not applied if content-type not supplied"
format and default_format are set to :json yet when content-type is not supplied it doesn't parse correctly:

[code]

results in:

[code]

The test doesn't handle when content type isn't supplied at all, it's given as a blank string:

[code]

When I remove that content type and post without it, it breaks without even making it to #read_rack_input and test fails.

These are both false in #read_body

[2017-03-06 17:59] railsfactory-bhaskararao opened #1588 "Can't create ActiveRecord Object"
[code]

[code]

[2017-03-07 16:16] dblock commented on #1588
You have nested `locations`, and `create!` doesn't take a hash for anything nested like this, I suspect you need to pass it actual location objects, which you'll have to create separately.

[2017-03-07 16:16] #1588 closed

[2017-03-08 17:02] tuttiq commented on #1551
I just experienced the same problem when using `type: Boolean`, any value is considered invalid.
My workaround was to use the default coercion method, changing `type` for `coerce` in the param declaration.

[code]

Then it works with any value that can be coerced into a `Boolean`, like `{flag: true}`, `{flag: 'true'}`, `{flag: 1}`, `{flag: '1'}`.

[2017-03-08 17:14] LeFnord commented on #1551
try to use `Virtus::Attribute::Boolean` instead, see: https://github.com/ruby-grape/grape/issues/1115

[2017-03-08 18:28] dblock commented on #1551
We alias `Boolean` to that in https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/validators/coerce.rb#L3.

[2017-03-09 10:43] inclooder commented on #726
Hi, I'd like contribute if no one else is working on that.

[2017-03-09 19:10] inclooder commented on #1332
@jellybob @dblock
I don't know if this change is possible. There is distinction between `type` and `types` for a purpose. We can have a field with multiple types or a collection with variant type. This behavior is described here

It would be impossible to guess whether we want a collection or multiple types when we merge those concepts into single keyword. Am I correct?

One way to achieve that is

[2017-03-09 23:41] fr33z3 commented on #1554
So, how it is going guys? I have the same problem.

[2017-03-10 08:46] tamilrahman opened #1591 "no implicit conversion of true into String error in Delete end ponits"
I just created the method for `delete` end point and it expects a response in string.. Other than string it show 500 internal error no implicit conversion of true into String.

it shows error

[2017-03-10 09:42] inclooder commented on #173
Hi, I am going to give it a try.

[2017-03-10 10:35] tamilrahman commented on #1591
Just I checked the update log and found solution from this link [https://github.com/ruby-grape/grape/blob/master/UPGRADING.md](https://github.com/ruby-grape/grape/blob/master/UPGRADING.md)

[2017-03-10 10:35] #1591 closed

[2017-03-10 12:54] loicginoux opened #1592 "validators and instance variables: weird behaviour"
Hi, I am posting this here in case someone already had this case. I think there is a bug
I am using:
- grape (0.16.2)
- ruby 1.9.3
- rails 3.2.22.1

With the following code

[code]

I have a request `GET /alerts/:alert_id`

I call it once for a user A having an alert with id 1
`curl -X GET "http://api.my_site.dev/v3/alerts/1?token=d1071245ed8dc94dfa336f629e1e23cf2671b21f82d5e41714c514401027"`

It

[2017-03-10 12:55] dblock commented on #1332
Am I misreading this when I say that `type: <multiple things>` is simply not supported and should error?

[2017-03-10 12:55] dblock commented on #1554
@fr33z3 Waiting for your help!

[2017-03-10 12:56] dblock commented on #1591
@tamilrahman What did you have to do specifically (for the next person with this problem)?

[2017-03-10 12:59] dblock commented on #1592
Good debugging! I feel that validator instance variables should definitely not carry across requests, so I would think this is a bug. It would be helpful to start with a spec, probably something that remembers `@valid` and fails on a second request.

[2017-03-10 17:33] #726 closed

[2017-03-10 17:34] dblock commented on #726
Please try HEAD from https://github.com/ruby-grape/grape/pull/1589, thanks @inclooder!

[2017-03-14 08:59] xiaohui-zhangxh commented on #628
Yes, @rolandjitsu is right, warden captures `401` and throw :warden, to disable this feature, config warden:
[code]

[2017-03-14 12:57] fr33z3 opened #1595 "I want to pass params to route and handle them in custom Formatter"
Hello guys, Is that possible to pass params to route like.
[code]

and handle them in formatter call
[code]

Can you please help me with that? How can I archive that stuff?

[2017-03-15 00:10] dblock commented on #1595
The formatters have access to env, so I think `env[Grape::Env::GRAPE_REQUEST]` may have the actual request which has `params`.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-03-15 00:10] #1595 closed

[2017-03-16 10:06] dim commented on #1496
I would like to resurrect this issue.

@dblock I understand the reasoning, but shouldn't we then have and additional instrumentation middleware which sits outside of https://github.com/ruby-grape/grape/blob/3959a01f/lib/grape/endpoint.rb#L281. At the moment, there is absolutely no way to monitor the actual status returned by the server

[2017-03-16 11:44] dblock commented on #1496
I suppose the answer to _having a way to monitor the actual status returned by the server_ is yes. So I would take a PR for that.

[2017-03-21 00:56] nicooga opened #1596 "Returns array for hash parameter when not present"
Using grape 0.19.1, also hapening in 0.19.0.

## Whats happening
Given I declared a parameter key with type `Hash` and the parameter was not included when calling the controller, I't returns an empty array for that key.

## Expected behavior
It should return an empty hash, or `nil`, or perhaps not include the key in the parsed output.

## Extended Explanation
Given this parameters:

[code]

... wh

[2017-03-21 05:05] namusyaka commented on #1596
You should pass raw `params` into the `#declared` helper, and your `params` declaration should be surrounded by `group :user, type: Hash`.

[2017-03-21 05:33] namusyaka opened #1598 "Grape 1.0.0"
@dblock I'd like to start moving toward 1.0.0.

[2017-03-21 05:35] nicooga commented on #1596
Thanks for the quick response @namusyaka, using `group` solves the issue. As a result I get the `location_attributes` key with a value of `"location_attributes"=>{"city"=>nil, "district"=>nil, "street"=>nil, "street_number"=>nil, "notes"=>nil}`. I still need that `default: {}` to make this work, otherwise I get an empty array.

By the way, I was using `required :user, type: Hash do ...`  before, w

[2017-03-21 11:45] dblock commented on #1598
As much as I enjoy 0.x, I'm with you!

[2017-03-21 11:46] dblock commented on #1598
Things like https://github.com/ruby-grape/grape/pull/1594 could definitely justify a major version bump.

[2017-03-21 12:30] namusyaka commented on #1598
Yes, the Hashie replacement is big feature. I think that it could justify the major version, too.
However, 1.0.0 must be released as our first stable version. Therefore, I would like to release the version several times (e.g. rc1, rc2).

[2017-03-21 14:09] vypah opened #1599 "Grape dependent"

[2017-03-21 17:03] dblock commented on #1598
I like your suggestion @namusyaka, go for it.

[2017-03-21 17:04] dblock commented on #1599
Did you try this?

[2017-03-21 17:11] vypah commented on #1599
@dblock yes. it just bails out with Grape Exception of `Unknown Parameter`

[2017-03-21 17:35] dblock commented on #1599
I labeled this as feature request, contributions welcome!

[2017-03-21 18:51] vypah commented on #1599
@dblock After having an initial look at the source, I agree that this is more like a feature request as the given method is not suppose to handle this.

[code]

Especially this `dependent_on` param passed to `new_lateral_scope` totally kills this scenario as there is no dependent param in this case. What I would suggest is to have a separate implementation for this and not make this a part of `giv

[2017-03-21 18:59] dblock commented on #1599
I think you should try it and we can see what it looks like!

[2017-03-21 19:32] squarebracket opened #1600 "Dependent parameters with specific values don't support Arrays"
With params like this:

[code]

grape has an exception. It's because of this code in `lib/grape/validations/params_scope.rb`:

[code]

Since parameters is an array here, and not a hash, it can't do `[]` since it wants an integer. This code needs to be amended to support arrays. From what I've been able to figure out on the code, the `try(:[])` method should be applied to every item in the array `p

[2017-03-21 22:17] rnubel commented on #1600
I think you're right; the use case of `type: Array` seems to just be an oversight. This test reproduces your error:

[code]

I'm taking a quick look into a fix while on the train; I'll update if I find anything.

[2017-03-21 22:42] rnubel commented on #1600
This technically fixes it, but is a bit rough: https://github.com/ruby-grape/grape/compare/ruby-grape:master...rnubel:fix/given-within-array-param I will revisit tomorrow and make a PR, or you can run with it if you see a better path.

[2017-03-21 23:07] squarebracket commented on #1600
It appears that I am running into two problems with the current master branch:
1. Using arrays with `given`, which your patch does seem to solve
2. Using multiple `given` conditions with an array.

There is a spec test starting at line 500 that has
[code]

[2017-03-22 20:28] drujensen opened #1601 "escaping all responses even if I declare it safe"
I'm trying to return javascript content, but it seems everything get's escaped even if I say its `html_safe`
[code]

Is there a way to return straight html or in this case javascript?

[2017-03-22 21:02] drujensen commented on #1601
never mind, found the solution by setting the api.format to binary:
[code]

[2017-03-22 21:02] #1601 closed

[2017-03-23 00:49] nicooga opened #1602 "Parameter dependecy using `given` does not work with nested arrays and custom block"
## What's happening
Given I declared some rules to be dependent on other param using `given parameter: -> v { v }` and I did it inside a nested array param, it raises error.

## Expected behavior
It should apply the rules.

## Extended Explanation
Given this params:

[code]
When I call the controller with this params:

[code]
It fails with:

[code]

[This is the source from grape where it fails](h

[2017-03-23 03:23] squarebracket commented on #1600
I wasn't able to figure out how the pieces fit together. Can someone with more familiarity with the innards explain the call flow? From what I gather, `should_validate?` decides whether or not to apply `@dependent_on` to the current `parameters`. So, I guess at some point during the logic, what should be happening is that `parameters` should be _just one_ of the hashes, one of the `@dependent_on`

[2017-03-24 17:10] tanduong commented on #1391
Hi guys, do we have progress on this one?

[2017-03-25 13:49] dblock commented on #1391
Maybe you can help @tanduong?

[2017-03-27 21:26] jlfaber opened #1603 "Feature Request: disallow undeclared params"
I know I can use `declared` to filter out undeclared params, but there are some times when I'd prefer to fail explicitly.  One example might be to help an API user who misspells the name of an optional parameter.  As currently implemented validation will succeed, but I'd much rather have it fail to clue in the user that something is amiss.

[2017-03-28 11:47] dblock commented on #1603
This is a duplicate of https://github.com/ruby-grape/grape/issues/810. Would love a PR for this, it has been a long outstanding request.

[2017-03-28 11:47] #1603 closed

[2017-04-03 08:29] brlo opened #1604 "allow_blank for values"
Hello.
Option `allow_blank` ignores when using option `values` like this:

[code]

This request:
`GET /test_method_name?test_param_name=`

returning error:
`{"error":"invalid_params","message":"test_param_name does not have a valid value"}, status: 400`

grape (0.17.0)

workaround: `values: ['A', 'B', '']`

[2017-04-03 11:54] dblock commented on #1604
First, you should try with the latest Grape, there have been a lot of fixes around `allow_blank`. Then write a spec that reproduces this here, please? Maybe even a fix?

[2017-04-03 11:56] brlo commented on #1604
ok. i'll do.

[2017-04-04 19:33] jlfaber commented on #1288
I just tried this spec on both the current HEAD and v0.19.1 and it passes with no problem.

[2017-04-04 20:18] dblock commented on #1288
Closing, @mmkhmk if you can reproduce on HEAD please PR a failing spec.

[2017-04-05 07:58] zhangliwen commented on #173
I need the round filters. It is exist?

[2017-04-05 09:15] inclooder commented on #173
Hi @zhangliwen. My implementation of around filters is still in the early state. I need to invest more time but it's not possible in this week.

[2017-04-06 01:15] zhangliwen commented on #173
@inclooder I see. I tried to use Middleware to achieve, thanks

[2017-04-06 21:58] oswaldoferreira opened #1608 "Reuse `at_least_one_of` and related on multiple named param blocks"
Let's say one would like to "inherit" a declared `at_least_one_of` set of params on the main `params` block of an endpoint:

[code]

In that case, I'd expect a "merge" between both, generating something like a `at_least_one_of :x, :y` at the end.

My current practical use case involves much more params, and endpoints, that's why creating multiple constants and manually merging them would not be a

[2017-04-07 11:57] dblock commented on #1608
This makes a lot of sense, will take a PR along those lines.

[2017-04-07 17:38] dhulihan opened #1609 "Reject non-declared params"
It would be nice if grape could reject a non-declared param. Something along the lines of:

[code]

If we specify `age`, it is rejected since because it has not been declared.

[code]

[2017-04-07 17:46] dhulihan commented on #1609
Here's my hacky solution for the time being:

[code]

[2017-04-07 21:34] dblock commented on #1609
This is a dup, sSee issues #810, #1603, and previous PR #1158. There's a new PR being attempted for this in https://github.com/ruby-grape/grape/pull/1606, you should check it out, seems like a cleaner solution than what you propose here.

[2017-04-07 21:34] #1609 closed

[2017-04-07 22:28] dhulihan commented on #1609
K, thx. sry about the dup.

[2017-04-08 13:30] dblock commented on #1609
No worries @dhulihan!

[2017-04-10 14:16] fangzhu19880123 opened #1611 "Body yielded non-string value"
<pre>
delete ':id' do
  @pop.destroy
end
</pre>
when i use delete method and is not set the body, the default status is 204, the body is empty, but response_object is true. then it will return
<pre>
response_object = file || [body || response_object]
</pre>
then the method after of Middleware::Formatter will return response_object
<pre>
if Rack::Utils::STATUS_WITH_NO_ENTITY_BODY.include?(status)

[2017-04-10 15:13] dblock commented on #1611
Is this any different on HEAD? See https://github.com/ruby-grape/grape/pull/1579.

[2017-04-10 16:38] jlfaber commented on #1611
If that `destroy` call is being made on a `Sequel::Model` object then it's going to return the object itself. Since that's the last statement in the block, that's what being used as the response object.  Adding a `body false` should give you the 204/empty body you're looking for.

[2017-04-10 18:04] eproulx-petalmd opened #1612 "Release 0.19.2"
Hello,

When are you planning to release the 0.19.2 version ?

Thanks

[2017-04-10 18:39] dblock commented on #1612
@namusyaka is the mustermann upgrade preventing us from cutting a 0.19.2, ie. is it a breaking change?

[2017-04-11 01:25] namusyaka commented on #1612
I think it has no problem.
So we can cut the 0.19.2 release before releasing 1.0.0, but big features should be included in the 1.0.0.

[2017-04-11 02:26] fangzhu19880123 commented on #1611
I know, but i think it should be
<pre>
        # When the body is empty, response_object is present, set response_object to body
        @body ||= response_object

        # The Body commonly is an Array of Strings, the application instance itself, or a File-like object.
        response_object = file || body
</pre>

[2017-04-11 03:24] fangzhu19880123 commented on #1611
Maybe it's my version has a problem, I have a look

[2017-04-11 03:29] fangzhu19880123 commented on #1611
When will release the new tag

[2017-04-11 05:25] etehtsea opened #1613 "Broken middleware behaviour for reused endpoints"
[code]

[code]

**Expected behaviour:**
Middleware would run in endpoint mounted to `/p/e`.
**Actual behaviour:**
Middleware don't get executed at all.

If I comment out `/n/e` mapping:

[code]

[code]

**Expected behaviour:**
Middleware would run in endpoint mounted to `/p/e`.
**Actual behaviour:**
Middleware is affecting mapping where it should not get executed.

[2017-04-11 12:15] dblock commented on #1612
@namusyaka Got a moment to do it? I can take care of it today if you're swamped otherwise.

[2017-04-11 12:16] dblock commented on #1611
@fangzhu19880123 Sounds like this solved your problem? I'm going to close this.

See #1612 for release date/discussion.

[2017-04-11 12:16] #1611 closed

[2017-04-11 15:00] eproulx-petalmd commented on #1612
Thanks!

[2017-04-11 16:00] namusyaka commented on #1612
@dblock I'm planning to release current master branch as 0.19.2.
Any other changes that you would like to add?

[2017-04-11 16:03] namusyaka commented on #1598
I have just created [the 1.0.0 milestore](https://github.com/ruby-grape/grape/milestone/1).

[2017-04-11 19:01] dblock commented on #1612
No go for it!

[2017-04-12 03:42] dblock opened #1614 "Add mutually_exclusive groups."
Some APIs have mutually exclusive groups.

[code]

This gets out of control with a third mutually exclusive combination of options. We might want to write something like this.

[code]

[2017-04-12 05:38] namusyaka commented on #1612
Just released [0.19.2](https://rubygems.org/gems/grape/versions/0.19.2), posted an [announcement](https://groups.google.com/forum/#!topic/ruby-grape/HPJriXVWT2I).
Thank you for all of your contributions.

[2017-04-12 05:38] #1612 closed

[2017-04-12 11:52] dblock commented on #1613
You should turn this into a spec next, looks like a bug.

[2017-04-14 16:16] jlfaber opened #1616 "Split except into a separate validator and allow both to accept either check or list Procs"
I'm not in love with the complexity of the `values:` validator (even though I contributed to some of it!)  I think it would be cleaner to split out the `except:` functionality into its own separate top-level validator.  In addition, I'd like for `values:` to take two different kinds of Proc -- the first, with an arity of zero, would simply return a dynamically calculated list of valid (or excluded

[2017-04-14 16:36] jlfaber commented on #1616
I'm not in love with the complexity of the `values:` validator (even though I contributed to some of it!)  I think it would be cleaner to split out the `except:` functionality into its own separate top-level validator.  In addition, I'd like for `values:` to take two different kinds of Proc -- the first, with an arity of zero, would simply return a dynamically calculated list of valid (or excluded

[2017-04-14 17:27] dblock commented on #1580
Closing via #1610. Please give HEAD a try.

[2017-04-14 17:27] #1580 closed

[2017-04-15 04:58] kevinelliott commented on #1178
What is the status of this? Has there been any progress on this validator issue (specifically with `:uuid`) in the last 2 years?

[2017-04-15 12:59] flanger001 opened #1617 "Helpers are not being inherited from parent classes"
Suppose I have a `Base` class with some basic stuff I want to include in every endpoint:
[code]

I have a `Root` class which inherits from `Base`, where I mount my `Users` endpoint:
[code]

The `Users` endpoint also inherits from `Base`:
[code]

And here's the `Show`:
[code]

I would expect that the `use` statement in the `Show` endpoint would work because I expect that my `:user_params` helper is

[2017-04-15 14:21] dblock commented on #1178
@kevinelliott Doesn't look like it, feel free to PR.

[2017-04-15 14:27] dblock commented on #1616
This looks great to me. It could also make it into 1.0 easily if you need to make it a breaking change.

[2017-04-15 14:29] dblock commented on #1617
I think `helpers` should be inherited, so feel free to fix this.

[2017-04-15 19:17] flanger001 commented on #1617
@dblock Cool, thanks for the confirmation. I don't know offhand how I'd go about fixing it, but I will try.

[2017-04-15 20:50] dblock commented on #1617
Begin by writing a failing spec!

[2017-04-15 21:44] flanger001 commented on #1617
Of course! I just meant I don't know what I will have to touch after said spec is written. 😄

[2017-04-21 20:10] jnardone opened #1619 "Route param information not being propagated to mounted APIs"
When mounting an API within a route_param, the attributes of the route param are not propagating downward in the route.params property.

Attaching a failing test.

This seems to touch on #1177 as to what the documented behavior should be for `mount`.  I would expect type information etc. to propagate down.

Note this has downstream effects; when we use grape-swagger and look at the documentation f

[2017-04-25 13:50] jlfaber commented on #1616
I think we might want to use a different name for the new validator.  There's already an `except:` option on param lines so this might be confusing.
[code]
Perhaps `exclude:`, `forbid:`, `except_values:`, or some other option would be better?

@dblock Thoughts?

[2017-04-25 21:36] dblock commented on #1616
I think `except_values:` would be consistent with `except`.

[2017-04-25 21:37] dblock commented on #1598
How do we feel about actually cutting a 1.0?

[2017-04-27 17:31] ekampp commented on #369
I just ran into this problem today. Some of the `instance_eval` solutions solved it for me, but it seems like a hack, and something that grape should be able to handle without having to loop around the regular mounting.

[2017-04-28 08:02] namusyaka commented on #1598
@dblock I'd like to merge other pull requests waiting for review if possible.
I'm going to confirm the PRs in a few days.

[2017-04-28 12:36] dblock commented on #369
@ekampp Add your details?

[2017-04-29 08:57] ekampp commented on #369
@dblock updated my comment above to include my code.

[2017-05-02 16:35] subvertallchris opened #1624 "Custom formatters, multiple actions"
I am caching the JSON representation of a Grape::Entity. It looks like this:

[code]

If I remove the custom formatter, it will `to_json` my already-formatted string, which is obviously no good. I don't mind doing this but other actions in this controller are trying to use my custom formatter, which keeps them from being returned correctly.

Is there a way to cache/return the JSON without using a

[2017-05-02 17:31] dblock commented on #1624
Maybe cache the `as_json` output? Or roll out a slightly different formatter, ours is:

[code]

[2017-05-02 17:32] dblock commented on #1624
I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-05-02 17:32] #1624 closed

[2017-05-03 14:21] namusyaka commented on #1598
I really sorry, I'm unlikely to be able to work for a while because I have lost my physical condition.
I would like to entrust you release v1.0.0.

[2017-05-03 15:14] dblock commented on #1598
Feel better @namusyaka!

[2017-05-04 21:33] timothysu commented on #1600
+1

The branch linked does not actually fix the issue, modifying your test following set of tests fails because it seems that the array of hashes are being flattened into one hash.  It thinks `[ { foo: 'a' }, { bar: 'b', baz: 'c' } ]` is valid despite `bar` not being in the same hash as `foo`.  It should be validating on each individual within the array.

[code]

[2017-05-04 23:54] jlfaber commented on #1600
Don't have time to test this theory out right now, but I ran into a similar issue earlier and it turned out that the flattening behavior was being caused by the test code and not the server code.  IIRC get calls were using URL query parameters and had some unexpected flattening behavior with arrays.  I solved it by forcing the test code to post/put a JSON payload instead which preserved the desire

[2017-05-05 04:18] rnubel commented on #1600
@timothysu actually, the problem you're seeing is just a testing issue, due to two things (both come down to the fact that standard HTTP url-encoded parameters can't represent a list of hashes properly). First, even when using JSON, GET requests cannot send a body, so url-encoded is the only option; so the only way to demonstrate it is with a request like so:

[code]

This test passes on the branc

[2017-05-05 05:17] chiwenchen opened #1626 "present multiple entities at once"
Hi, I am trying to present two different type of entities in one API response, something like this
[code]
and I am expecting this will generate the following structure
[code]
is there any way to achieve this approach?

[2017-05-05 09:14] ClaudioCarmeli opened #1627 "variable scope in Grape versioned-controller"
Hello,
I have been using Grape to build an API within an already-existing Rails project.
I have been dealing with an error that I do not understand and I wonder if somebody could draw some light on this as it could be a bug but I am not sure.

My colleague and I were tasked with creating 4 end-points for this API:
* `/packages`
* `/packages/:id`
* `/options`
* `/options/:id`

This is what my colle

[2017-05-05 11:32] dblock commented on #1600
@rnubel is correct, I'm going to close this.

[2017-05-05 11:32] #1600 closed

[2017-05-05 11:34] dblock commented on #1626
This is more of an entity question than a grape question, you can do this by creating a parent entity and using `expose ... with: ...`.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-05-05 11:34] #1626 closed

[2017-05-05 11:38] dblock commented on #1627
What's the stack for that error? I think you're overwriting an `@options` that is set somewhere in Grape. The endpoints should be isolated and anything you do inside of them shouldn't affect anything else obviously, so lets call it a bug. It would be helpful if you could write a test for it.

To fix your issue, don't set `@options`, but a local var `options`. The only reason to set instance variab

[2017-05-05 11:43] ClaudioCarmeli commented on #1627
@dblock thank you! We'll remove all instance variables from the Grape controllers then! I am at work now, but I'd be happy to write a test for it later this weekend. Yes.. looks like a 'leaked' variable.

[2017-05-05 11:59] ClaudioCarmeli commented on #1627
@dblock mmm... it appears that I need to keep the `@` as my `.rabl` views are not able to access any local variable from some other method (as I should have expected)

[2017-05-05 14:11] dblock commented on #1627
You should be passing the data into the rabl formatter in some other way.

[2017-05-05 23:03] daniel-archer-hs opened #1628 "Dependent Params (given) with different value matching"
It seems I'm running into an issue where if I have multiple `given` blocks testing the same parameter, the value validation for those dependent parameters is conflicting. Here's my example:

[code]

(Pardon the falsified info)

[2017-05-06 05:32] rnubel commented on #1628
Can you explain what error you're seeing? [This test](https://github.com/ruby-grape/grape/blob/c6446079f89f0973ee60814c6101bb29b15fb02d/spec/grape/validations/params_scope_spec.rb#L490) looks to me to be doing what you describe.

[2017-05-09 11:35] terry90 commented on #1582
Someone working on it ? What is the cause of all this ?

[2017-05-09 14:02] zx1986 commented on #1436
![screen shot 2017-05-09 at 21 59 31](https://cloud.githubusercontent.com/assets/118997/25854539/f01f6786-3502-11e7-8fe5-f9fcde1aa610.png)

Why I keep getting invalid here?
How should I play with the Swagger UI with array inputs?

[code]

[2017-05-09 14:49] arempe93 commented on #1596
I encountered this issue today also on grape v0.17.0. If I hit the following api only supplying `body`:

[code]

I would expect `metadata` to be `nil` so it would be filtered out of the changed attributes using `Hash#compact`. It being an `Array` is extra weird

[2017-05-09 15:03] arempe93 commented on #1596
Just encountered another strange thing testing it, if I pass metadata as explicitly `null`, ie to clear it, such as this in rspec:

[code]

Then the value in `declared(params)` is `{ :metadata => nil }`, which is also very weird and unexpected.

So key not present = `[]` and present but explicitly `nil` = a hash of declared subparams all set to `nil`.

[2017-05-09 20:22] dblock commented on #1582
Crickets, so no, nobody is working on these. And they are uninitialized scoped variables, we assume they are `nil`.

[2017-05-10 16:20] askl56 opened #1630 "Creating an array of objects"
Hey all,

What's the easiest way of creating an array of objects using grape, so for example,

[code]

If I wanted to create an array of communities, then what would be the correct way of doing that within grape?

[2017-05-11 11:18] chaitanya4b3 commented on #1217
Run your existing server:

curl http://192.xx.xx.xx:xxxx/upload/?formatjson={\"id\"}:
This will display all the JSON arrays in that string.

[2017-05-12 10:23] tabz24 opened #1633 "Grape route error"
I am trying to my file with the namespace and route param, but the namespace and the route params are adding twice.
`Mustermann::CompileError: can't use the same capture name twice: "/api/:version/users/:user_id/users/:user_id/activity(.:format)"`

`root.rb`

[code]

Grape version `0.19.2`

[2017-05-12 10:37] #1633 closed

[2017-05-12 10:41] saubi1993 commented on #1387
make sure all child mounted apis are inherited by parent grape api instead of Grape::API. For Ex

` class Root < Grape::API
      mount Base
   end

   class Base < Root
   end
`

[2017-05-12 10:58] tabz24 commented on #1633
The problem was from my end. I was inheriting from `Grape::API` at the both the places, in my base class and in my root class where i mounted my base class

[2017-05-12 11:52] dblock commented on #1630
That's a bit of an open question. Is `Community` an ActiveRecord class? A Mongoid object?

Generally this isn't great API design because if creating the 3rd community fails you're now stuck in a partial state.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-05-12 11:52] #1630 closed

[2017-05-16 03:19] Aryk opened #1634 "Should #helpers be class_eval-ing the passed in mod?"
[code]

`mod` could be `new_mod` which means it is having methods injected into it. If you assign something like `helpers Some::Poor::ExternalModule` it now will get methods included into it from the block due to the `mod.class_eval(&block)`.

Is that correct? This doesn't seem like a side-effect we would want.

[2017-05-16 11:42] dblock commented on #1634
That definitely sounds reasonable. Try writing a test for this and hopefully a fix.

[2017-05-21 03:16] ericproulx opened #1636 "Optional nested array not validated"
Branch: `master`
Works under version : `0.13.0`

Hard to explain so here are 2 specs that should pass but the last one is failing :

[code]

The `nested_array` is optional but when there's at least one element in the parent array that doesn't have it, all other elements with a `nested_array` aren't validated

I'll try to figure it out.

Thanks

[2017-05-22 09:16] CikeyPlanet opened #1637 "uninitialized constant Grape::Extensions"
I got  `NameError "uninitialized constant Grape::Extensions"`
when I add the line below in `params` block
`build_with Grape::Extensions::Hash::ParamBuilder`.

I check the Grape version and it's the lastest one.

[2017-05-22 10:30] #1637 closed

[2017-05-22 11:33] dblock commented on #1637
For the next person, what was your problem @CikeyPlanet?

[2017-05-22 15:28] CikeyPlanet commented on #1637
I want to use the feature `build_with Grape::Extensions::Hash::ParamBuilder` and get an error.
Then I realized that the feature will be released in v1.0.0 not v0.19.2.

[2017-05-24 04:00] CikeyPlanet opened #1639 "Can't mount same API in nested path"
**I tried `mount` method and seems if I mount same class, only the last one will be valid.**

A simple example, it's not production ready codes:

If I have models `House`, `Room` and `Alarm`.
* A house can have many rooms and many alarms.
* A room belongs to a house and can have many alarms.
* An alarm can belongs to a house or a room.

I create API::AlarmAPI to CRUD alarms or one alarm(omit the c

[2017-05-24 19:53] dblock commented on #1639
This is a duplicate of https://github.com/ruby-grape/grape/issues/570 I am afraid. Nobody was able to implement a solution for that, maybe you will!

[2017-05-24 19:53] #1639 closed

[2017-06-01 19:24] ktimothy opened #1640 "Possible bug with validation of JSON parameters"
I have an API with 2 endpoints: one works with single json object and second can receive a batch of json objects of the same structure. I did not want to describe all of the parameters of endpoints twice, so I ended up with using shared params.

The minimal API code is:
[code]

And here either one of /test or /test_batch works. I request with `curl`:
[code]
`/test_single` returns `"OK"` while `/te

[2017-06-02 07:20] karhatsu opened #1641 "given and declared do not work together"
I have the following params definition:

[code]

The foo_params are used in this post:

[code]

Now when I call POST /foos with `{type: 'Bar', {foo: {a: 'letter A'}}}`, I get the following output:

[code]

If I remove the latter `given` definition (`val == 'Baz'`), it prints:

[code]

[2017-06-02 07:26] karhatsu commented on #1641
I am using 0.19.2.

[2017-06-02 08:12] karhatsu opened #1642 "declared transforms empty array to hash"
I am using 0.19.2 and I have the following endpoint:

[code]

When I call it with

[code]

I get this output:

[code]

In other words, for some reason the empty `arr` array has become a hash containing `arr`'s required fields.

[2017-06-05 12:23] dblock commented on #1640
Aren't you forgetting to tell it what content type it is? Otherwise it sends the data as `application/x-www-form-urlencoded`, does adding `-H "Content-Type: application/json` to the command line fix it?

[2017-06-05 12:25] dblock commented on #1641
Try to turn this into a spec, could be a bug.

[2017-06-05 12:26] dblock commented on #1642
How do you call it? Are you posting JSON with the correct content-type?

[2017-06-05 20:03] ktimothy commented on #1640
If I add the header, I get an error `{"error":"internal error"}`. Log says `ERROR Grape::Exceptions::InvalidMessageBody `, and I do even understand why: it expected me to send parameters as json `{"obj":{"foo":"bar"}}`, while I send (`obj={"foo":"bar"}`).

Well, now it is pretty clear to me that I am doing things wrong. Thanks for your help =)

[2017-06-05 20:03] #1640 closed

[2017-06-06 05:34] aoyama-val opened #1643 "Hashie warning "You are setting a key that conflicts with a built-in method""
Hashie 3.5.5
Grape 0.19.2

To reproduce:

[code]

Log:

[code]

`Hashie::Mash` has built-in `update` method. It's conflicting with my parameter name. Similarly, you would see the warning when you used any of `Hashie::Mash`'s 280+ methods. Is there any workaround about this? Or at least, some caveat to avoid these parameter names should be written in the README.

[2017-06-06 06:35] karhatsu commented on #1642
Yes, it's application/json.

[2017-06-06 13:11] dblock commented on #1643
In 1.0 we're no longer using `Hashie::Mash` by default, so I think the problem would go away. However this is worth documenting since it's still available. Care to PR?

[2017-06-06 13:11] dblock commented on #1642
Try to build a spec for this next.

[2017-06-06 16:08] aoyama-val commented on #1643
Thanks for info. To stop using `Hashie::Mash` sounds like a good idea. However, it would be better to leave fixing the docs to someone else, because I'm not good at writing. English is not my native language...

[2017-06-06 19:11] dblock commented on #1643
Try it! We'll correct your English (English is my 3rd language too :))

[2017-06-07 22:03] HEIDEMAN opened #1644 "Ruby Grape POSTGRESQL stored procedure"
Trying to execute a POSTGRESQL stored procedure/function in Ruby Grape API Package. I have the function getactivesites() in my server which returns the site name.

server code:
BEGIN

    RETURN QUERY SELECT "SITE_ID",
    		"SITE_NAME"
    	FROM public.sites WHERE "ACTIVE_FLAG" = true
		ORDER BY "SITE_NAME" ASC ;

END;

ruby code:
  resource :getsites do

    desc “Get Active Sites“
    get do

[2017-06-08 15:54] dblock commented on #1644
This seems to be outside of scope of Grape, your problem is something with PG, don't think we can help you here.

[2017-06-08 15:54] #1644 closed

[2017-06-09 20:20] ktimothy commented on #1577
It currenly throws an exception, if you try to define values for `Boolean` type:

[code]

[2017-06-12 16:38] dblock commented on #1602
Closing via https://github.com/ruby-grape/grape/pull/1625

[2017-06-12 16:38] #1602 closed

[2017-06-12 16:38] dblock commented on #1577
@ktimothy try to contribute a spec, maybe even a fix?

[2017-06-12 20:46] #1582 closed

[2017-06-16 10:24] ktimothy commented on #1577
@dblock I found a bug in virtus, even suggested a fix, but it doesn't look like they will ever merge it and release new version of gem: last virtus release was over 2 years ago.

[2017-06-16 14:52] dblock commented on #1577
It looks like there're recent commits, so I wouldn't be so sure.

[2017-06-17 12:04] karhatsu commented on #1642
Unfortunately I'm not able to write a failing test for this. I tried both with master and v0.19.2.

[2017-06-18 09:28] karhatsu commented on #1641
I wrote a test for this but didn't get to the problem I mentioned above. Instead I'm getting 400 due missing second param that should not be required IMO. The failing test can be found here: https://github.com/karhatsu/grape/commit/51af2325cb29964d35e1d22414fcdae2717b1eae. Can you see what's wrong with my test?

[2017-06-20 16:00] dblock commented on #1641
Don't see anything wrong from the top of my head. Start by adding some code to see what's being parsed out of the JSON parser?

[2017-06-22 05:31] anakinj commented on #1592
I think this was fixed in the PR #1649 . Maybe you @loicginoux could verify with the latest master?

[2017-06-22 08:05] loicginoux commented on #1592
ok, I'll try and let you know

[2017-06-22 14:31] dblock commented on #1592
I am going to call this fixed and close it, reopen if that's not the case.

[2017-06-22 14:31] #1592 closed

[2017-07-02 11:03] ktimothy opened #1651 "Feature request: run one validator from another"
I am trying to build a validator for array e. g.
[code]

But there is a length validator (described in docs), so it's definitely a good idea to reuse it like that:
[code]

[2017-07-02 15:16] dblock commented on #1651
Isn't that how validators are applied anyway, ie. sequentially?

[2017-07-03 19:58] dblock commented on #1551
Closing via more tests in https://github.com/ruby-grape/grape/pull/1650.

[2017-07-03 19:58] #1551 closed

[2017-07-03 20:03] #1598 closed

[2017-07-03 20:03] dblock commented on #1598
I've released 1.0.

[2017-07-04 01:36] namusyaka commented on #1598
Thank you!

[2017-07-05 12:35] ktimothy opened #1653 "ArgumentError: coerce_with disallowed for type: JSON"
If I want, for instance, use `Oj` library to parse `JSON`, `grape` does not allow me to do so.
[code]
What are the reasons for that? Maybe we can allow custom coercions for `JSON`?

[2017-07-05 12:37] ktimothy commented on #1651
Looks like it's not.

[2017-07-05 13:13] ktimothy opened #1654 "Set fail_fast to true by default"
I would like to set this option to `true` for my entire API. Before I create a PR with such an ability, I would like to discuss it. In my opinion, when a parameter is considered invalid, there is no sense in running another validators, because:
1) request will not be processed normally anyway
2) we spent time and cpu on useless validation

So, I think we should change behavior of validation to sto

[2017-07-05 19:12] dblock commented on #1653
Probably just not implemented, I'll leave this open as a feature request, please feel free to contribute.

Grape < 1.0 uses multi_json, so just adding `Oj` makes use of that everywhere. I think for > 1.0 that's the strategy you want to take, and it's fully supported, see https://github.com/ruby-grape/grape#json-and-xml-processors.

[2017-07-05 19:13] dblock commented on #1654
It makes it really hard to debug, because you have to do a lot more trial and error with an API that fails for the "next reason" and because suddenly the order of validators matters for the error you get.

I do think this feature would be useful globally.

[2017-07-05 20:20] ktimothy commented on #1654
Well, there should be an API documentation (e. g. swagger), which describes what kinds of parameters are expected. And ok, I will try to write something tomorrow =)

[2017-07-05 20:23] ktimothy commented on #1653
Well, `Oj` was probably not the best example. I'll try to implement it tomorrow unless anything crashes =)

[2017-07-06 03:54] koushinrin commented on #1178
😢 Run into this bug(?) using grape in rails.
Still not fixed.

[2017-07-06 06:57] PranowTest commented on #39
is there any way to scope the filter like before do till some extent, not for all the post/get requests?

[2017-07-06 16:37] dblock commented on #39
Yes, see https://github.com/ruby-grape/grape#before-and-after.

[2017-07-11 17:19] dblock opened #1656 "Upgrade to rack-test 0.7.0"
Newer versions of rack-test pass empty arrays. Needs some spec work. See #1655.

[2017-07-12 20:48] jnardone commented on #1387
@dblock is @saubi1993's comment preceding this accurate?  should mounted APIs inherit from their parent class vs. Grape::API?  I have never seen this documented elsewhere and am skeptical it has any practical benefit.  If it does, it would be good to call this out explicilty (and loudly) in the documentation.

[2017-07-13 16:25] jnardone opened #1659 "regression: parameters bound by `given` always applied/checked when nested"
This is a regression from 0.19.2 -> 1.0.0

Consider a declaration like:

[code]

The parameters for "inner1" / "inner2" should only be applied when the `given` block matches, but in the nested case (like above) the parameter validations are always applied even if they do not match the `given` criteria.

For example, doing a request where `a` is `x`, you will get a 400 with `inner2[bar] is missing,

[2017-07-13 17:27] dblock commented on #1387
I think I agree with you @jnardone, @saubi1993 care to clarify?

[2017-07-13 22:04] rnubel commented on #1659
Thanks for the great write-up! #1661 should resolve this, and has some explanation as to why it regressed.

[2017-07-14 10:31] saubi1993 commented on #1387
I was having an issue, where routes were repeating twice i.e. if route path was like /api/v1/users/1/latest, rake routes was generating /api/v1/users/1/users/1/latest and before callback was executing twice before API was even executed. Doing Above resolved the issue @dblock

[2017-07-14 12:56] dblock commented on #1659
Closed via https://github.com/ruby-grape/grape/pull/1661

[2017-07-14 12:56] #1659 closed

[2017-07-17 18:36] mach-kernel commented on #1614
@dblock I wanna grab this, but to clarify, `mutually_exclusive` should work on groups, individual parameters, and then maybe even a group vs. one parameter?

[2017-07-17 19:14] dblock commented on #1614
Sounds about right @mach-kernel.

[2017-07-18 08:31] ramkumar-kr opened #1662 "Sending a single element in an array using XML format fails with the request being invalid"
Hi,

I have an API which accepts requests using XML. It accepts an array of products. However for a case where there is only one product in the array, validation errors occur.
Sample request -
`curl -X POST \
  http://localhost:3000/v1/products \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/xml' \
  -d '<?xml version="1.0" encoding="UTF-8" ?>
<admin>
	<product>
		<id>1</id>
		<

[2017-07-18 13:17] dblock commented on #1662
In your example you send a single product, it cannot guess that it's an array, but maybe you're right and it should infer and coerce it it because of what's in the `params` block. I say write a spec for this next and lets see if we can implement/fix this.

[2017-07-20 09:21] fanantoxa opened #1663 "warning: circular require considered harmful and few other warnings"
When I'm turning on warnings for rspec I'm getting error from Grape all the time:
[code]

And also:
[code]

[2017-07-20 11:28] dblock commented on #1663
Warnings issues are #1582. The circular require I haven't seen, please PR fix(es)

[2017-07-20 14:25] toupeira commented on #570
Ran into this issue as well while working on GitLab, they have quite an extensive API and I saw two approaches for this so far:

- [using an `.each` loop](https://gitlab.com/gitlab-org/gitlab-ce/blob/0b837ec364d7c116816d47dbfe629722eece3026/lib/api/subscriptions.rb)
- [using `ActiveSupport::Concern`](https://gitlab.com/gitlab-org/gitlab-ce/blob/0b837ec364d7c116816d47dbfe629722eece3026/lib/api/time

[2017-07-21 15:10] dblock opened #1664 "Release v.Next (1.0.1)"

[2017-07-21 16:48] pablonahuelgomez commented on #1617
@flanger001 @dblock gentlemen, I can take a look to this one if you don't mind

[2017-07-21 16:53] dblock commented on #1617
Please @pablonahuelgomez !

[2017-07-22 21:48] flanger001 commented on #1617
That would be awesome @pablonahuelgomez - I imagine this has something to do with load order, but I'm not sure how to go about fixing it.

[2017-07-23 01:32] pablonahuelgomez commented on #1617
@flanger001 @dblock please see #1665, it performs helpers  inheritance.

[2017-07-24 16:47] #1617 closed

[2017-07-25 00:01] PAMulligan opened #1666 "Undefined method 'to_prepare' for ActionDispatch::Callbacks:Class (NoMethodError)"
Using Rails 5.1.2, Ruby 2.4.0p0

I have an existing app, attempting to add a Grape API on top of it to call it from another app. Following the documentation, I put the following code in app/api/wlp/api.rb:

    module WLP
        class API < Grape::API
            version 'v1', using: :header, vendor: 'Washington Listing Pros'
            format :json
            prefix :api

            resource

[2017-07-25 11:28] dblock commented on #1666
Call stack?

[2017-07-25 20:18] orta commented on #1491
There's been some great discussion on the GitLab issues about a graphql-grape gem: https://gitlab.com/gitlab-org/gitlab-ce/issues/22753#note_32230765

[2017-07-25 23:47] PAMulligan commented on #1666
Sorry, here ya go:

from /home/paul/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/activesupport-5.1.2/lib/active_support/dependencies.rb:286:in `load'
	from /home/paul/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/activesupport-5.1.2/lib/active_support/dependencies.rb:286:in `block in load'
	from /home/paul/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/activesupport-5.1.2/lib/active_support/dep

[2017-07-26 01:42] dblock commented on #1666
Sigh, so much going on here. If you put a project up on github that reproduces this I can take a look.

[2017-07-26 01:47] PAMulligan commented on #1666
I added you as a collaborator.

[2017-07-26 20:25] dblock commented on #1666
@rnubel PR a into @PAMulligan's project? Can I close this?

[2017-07-26 20:27] PAMulligan commented on #1666
I'm at work at the moment, haven't been able to confirm the fix, but if you're certain this is the answer, close away and I'll reopen if it's still an issue.

[2017-07-26 20:56] adamjgrant opened #1668 ""Raw" responses still contain quotes"
According to [this](https://github.com/ruby-grape/grape#sending-raw-or-no-data), you should be able to return a raw response, without "s with

[code]

However, in practice, this still returns

[code]

Notice the quotes.

Other users experiencing this problem [here](https://stackoverflow.com/a/30092671/393243)

[2017-07-27 13:05] dblock commented on #1668
You just need to make sure you have a formatter for `:txt`. There's an example [here](https://github.com/ruby-grape/grape-on-rack/blob/master/api/content_type.rb) and a [spec](https://github.com/ruby-grape/grape-on-rack/blob/master/spec/api/content_type_spec.rb#L10).

[2017-07-27 13:05] #1668 closed

[2017-07-29 19:03] mopperwhite opened #1669 "NoMethodError(undefined method `bad_request?')"
As an example: [config.ru](https://gist.github.com/mopperwhite/9bdf6dafe60a5810d15271a764c55ef2)

Once an error is raised in API (in the code above, it's an " undefined method `session' " error), I can only get the following exception in the response:

without any information related to the original error.

[2017-07-31 02:55] gtournie opened #1670 "Can't use a Proc with values"
On my project, this code:
[code]
throws an `ArgumentError (wrong number of arguments (0 for 1))`
If I remove the `values` option, everything is ok.
Seems like the proc doesn't like the arg.

I use grape 1.0.0

[2017-07-31 21:14] dblock commented on #1669
What's the stack? Why do you think it's a problem with the Grape API?

There's a lot going on in this API, a database, some session code, etc. Strip it down or write it as a spec in this project.

[2017-07-31 21:16] dblock commented on #1670
This should work, can you turn it into a spec in the grape repo, please?

[2017-07-31 21:18] dblock commented on #1670
Looks related to @jlfaber's https://github.com/ruby-grape/grape/issues/1616

[2017-08-01 08:58] lloeki commented on #1663
Had it in `0.19.4`, and reproduced it in `1.0.0` too on blank rails project with just grape added:

[code]

[2017-08-01 09:21] lloeki commented on #1663
Quick additional note: going from `0.19.2` to `1.0.0` the following disappeared and only the circular reference warning remains.

[code]

[2017-08-01 20:52] jlfaber commented on #1670
This should work. It was both implemented and spec'd. I tried adding your exact param spec in the UT code under both 1.0.0 and HEAD (Ruby 2.4.1) and it works fine for me.  Can you pass on which ruby version you're using, and at least a portion of the stack trace you're seeing?

I do notice that the validator does not rescue RuntimeErrors raised within the lambda literal.  So, in your example, send

[2017-08-02 12:27] veejar opened #1671 "Problem with starting Rails project after fixing syntax error in Grape API files"
Simple project example:
https://github.com/veejar/grape-syntax-problem

When [Grape API file](https://github.com/veejar/grape-syntax-problem/blob/master/app/api/test/api.rb) has Syntax Error I see such errors in browser:
1. SyntaxError (after 1st page reload)
2. Routing Error, No route matches [GET] "/api/v1/test" (after 2nd and next page reload)

Errors are clear.

After fixing Syntax Error in [G

[2017-08-02 16:28] lloeki opened #1672 "Grape is slow to initialize"
While profiling the initialisation phase of our app I stumbled upon a sizeable chunk due to Grape.

![screen shot 2017-08-02 at 13 48 23](https://user-images.githubusercontent.com/75445/28882555-db0a2cb4-77ab-11e7-9b02-8f25804c0c2f.png)

It seems most of the time is spent within [`Grape::Endpoint#generate_api_method`](https://github.com/ruby-grape/grape/blob/12af441979edb83c8e52fb79a084379b70cc981

[2017-08-02 21:57] glaucocustodio opened #1673 "Param alias"
Hi folks, given the following api:

[code]

Do you think the following api would be nice? (alias `as:`)

[code]

[2017-08-03 14:27] dblock commented on #1671
Similar to #358 #1406, others?

[2017-08-03 14:28] dblock commented on #1672
Looks legit, would love a PR to fix this and a benchmark in https://github.com/ruby-grape/grape/tree/master/benchmark

[2017-08-03 14:29] dblock commented on #1673
I think that would be valuable.

[2017-08-03 15:41] douglascamata commented on #794
For noise purposes, this issue could be closed as it was fixed in #1390.

[2017-08-03 16:08] dblock commented on #794
Closing, thanks @douglascamata.

[2017-08-03 16:08] #794 closed

[2017-08-03 16:41] adamjgrant commented on #1668
That worked. Thank you @dblock

[2017-08-03 22:30] dblock commented on #794
Closing, thanks @douglascamata.

[2017-08-04 14:18] glaucocustodio commented on #1673
Do you think the first suggestion is better than the below one @dblock?

[code]
I just implemented this one `requires :email_address, allow_blank: false, as: :email` but I'm not sure which is better.

[2017-08-04 17:21] dblock commented on #1673
I think that if the model takes `:email` and the API takes `:email_address` you're trying to rename the API's `:email_address` into `:email`, so I think `as:` means "rename what's required into the value of `:as`, aka the second suggestion. Otherwise it feels backwards.

[2017-08-05 15:34] glaucocustodio commented on #1673
Do you think `requires :email_address, as: :email` would lead to mistakes given that in Grape Entity we would do `expose :email, as: email_address` to expose the key as email_address.

[2017-08-05 16:21] dblock commented on #1673
I mean it's what renaming is about ;)

[2017-08-07 01:54] mopperwhite commented on #1669
@dblock Here is the stack:

It only happened on the requests handled by the Grape part (API).

Actually, what directly cause this exception is that Moneta does not define a "session" method for Grape. So there should have be an exception of "undefined method `session'", which also appears in the terminal. But  after the exception of "session", another exception(undefined method `bad_request?') is

[2017-08-09 14:24] jnardone commented on #1664
Would love a tag here.  We're broken and stuck on pre-1.0...

[2017-08-09 15:46] dblock commented on #1669
I think you understand what's going on, turn it into a basic minimal project or spec (eg. https://github.com/ruby-grape/grape-on-rack).

[2017-08-09 15:49] #1673 closed

[2017-08-10 15:51] ramkumar-kr commented on #1662
Hi,
Sorry for the late reply.
I have created a Spec and have sent a [pull request](https://github.com/ruby-grape/grape/pull/1675) for it.

[2017-08-19 19:36] dmitry commented on #1491
Established: https://gitlab.com/gitlab-org/gitlab-ce/issues/34754

[2017-08-20 10:00] hwaterke commented on #1642
I am having the same issue after updating Grape to the latest version.

[code]

When sending something without the `locations` key (as it is optional), the array is transformed into a Hash.

Sending
[code]
Works fine

But sending:
[code]

Results in the following `declared(params)`:
[code]

[2017-08-22 18:26] nicholasserra commented on #1670
Had the same issue. Bumped from grape 0.19.2 to 1.0.0 and now it works. I was using the example in the README:

[code]

[2017-08-22 18:42] nicholasserra opened #1676 "Params of incorrect type are still processed by values: condition"
Apologies if this is a dupe or if it turns out i'm doing something wrong :)

Reporting an odd behavior with types and values conditions.

Example: optional param that has to be a positive integer
[code]

If I pass a string to this param I would expect to get back a `page is invalid` error, as the type is Integer. If you omit the `values` condition, this works.

But in my example, it seems the `val

[2017-08-22 20:41] dblock commented on #1670
I'm going to close this.

[2017-08-22 20:41] #1670 closed

[2017-08-22 20:42] dblock commented on #1676
There's clearly some order, in this case you're always getting the "raw" value, not a coerced one, so I think the "right" way here would be to rewrite `-> (v) { v.is_a?(Numeric) && v.positive? }`, no?

I'll close this, but feel free to reopen if you feel strongly otherwise and describe what you think should happen here.

[2017-08-22 20:42] #1676 closed

[2017-08-24 14:02] jonhue opened #1677 "How to rescue params error"
I have customized error messages for a bunch of errors:

[code]

How can I customize the error if param validations failed?

[2017-08-24 14:34] dblock commented on #1677
[code]

There's an example [here](https://github.com/ruby-grape/grape/blob/220c345dff9602e431ac780abcb98dbb24293395/spec/grape/exceptions/validation_errors_spec.rb#L55).

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-08-24 14:34] #1677 closed

[2017-08-24 15:02] nicholasserra commented on #1670
This resurfaced for me somehow. Tried bumping to ruby 2.4.1 and still seeing it.

[2017-08-24 15:22] jlfaber commented on #1616
With #1616 merged, I think this can be closed.

[2017-08-24 15:22] #1616 closed

[2017-08-24 17:58] jonhue commented on #1677
@dblock GGroups is somehow not picking up my post, so please excuse this follow-up question.

In my API I am using ActionController::HttpAuthentication::Basic for authentication.
How do I include that module. I've tried a bunch of ways, on of which was:

[code]

[2017-08-24 19:15] dblock commented on #1677
@jonhue Your post was sitting in moderation queue, it gets approved in time.

Grape is not designed to work with ActionController extensions, but with standard Rack middleware. Also, Grape has built-in support for basic auth, see https://github.com/ruby-grape/grape#basic-and-digest-auth or https://mikecoutermarsh.com/grape-http-basic-authentication/.

[2017-08-28 20:18] jeradphelps commented on #1642
I experienced this issue when attempting to upgrade to 19.2 as well.  It looks like there's some spec detailing this functionality for hashes but not for arrays.

This looks to have changed here: https://github.com/ruby-grape/grape/pull/1575.  There's some brief discussion [in this ticket](https://github.com/ruby-grape/grape/issues/1574).  From the sounds of it, the expectation is that we'd keep t

[2017-08-28 20:34] dblock commented on #1642
Spec looks legit, PR with a fix? ;)

[2017-08-29 12:40] hakunin commented on #747
Whats the state of this?
I'd like to return response from `before` as well.

[2017-08-29 18:25] dblock commented on #747
No progress as you can see @hakunin.

[2017-08-31 09:41] incubus commented on #1669
@mopperwhite, have you fixed this error?

[2017-09-04 03:17] blackst0ne commented on #1487
Hi @dblock
Is there any progress? :slightly_smiling_face:
Is there anything I can do to help get this issue done? :slightly_smiling_face:

[2017-09-05 04:00] dblock commented on #1487
Feel free to implement and PR something, @blackst0ne.

[2017-09-08 17:27] dblock commented on #1403
https://github.com/rack/rack/blob/b0818268fd9f4026a1b0fb205cc1060ee38a23cc/lib/rack/request.rb#L334

[2017-09-08 19:48] jnardone commented on #1664
Thanks @dblock

[2017-09-12 23:20] astorije commented on #1226
Hi, if I understand this issue correctly, I am hitting this case.

The goal is to have a `namespace` param down the nested body only required if a top-level `type` param is set to a specific value. So this is what I'm trying:

[code]

On Grape 1.0.1, I'm getting: `Grape::Exceptions::UnknownParameter: unknown parameter: type`. Could you confirm this is the same thing?
If so, is there any workaround

[2017-09-15 19:11] astorije opened #1681 "`default` value gets used when `given` block evaluates to `false`"
So, given this hypothetical scenario (using `grape` v1.0.1):

[code]

I get the following when `foo` is `:a`, as expected:

[code]

However, when `foo` is `:b`, this seems unexpected:

[code]

Reason why I was surprised by this is that the parameters contract says that the default value of `:my_default` is only relevant when `foo` is `a`. Instead, I should be getting the following:

[code]

Is thi

[2017-09-15 19:26] rnubel commented on #1681
Looks like a bug to me. Default-value population is probably not looking at the `given` constraints.

[2017-09-18 08:51] kmhosny opened #1682 "Version Mounting sees the last mounted version only"
Hi,

im trying to mount 3 different versions of API into my app, i followed the guideline but there seems to be an odd behavior, only the last mounted version gets accepted, the other versions throws invalid header version error, i tried to debug in grape's code of Header class i found that the versions array is only the last mounted version only.
it's a Rails project and my files are as below:
1-

[2017-09-20 10:45] jpmedforth commented on #1682
:+1:

getting a similar issues. We have `v1` endpoints.

[code]

We also have an non versioned ping endpoints `API::Ping` . I mount them like:

[code]

However the routes show my ping endpoints with a version.

[2017-09-20 11:07] mehlah commented on #1682
It seems to be breaking only starting from 1.0.1. Works fine for us on 1.0.0

Code to it's bare minimum:

[code]

[2017-09-20 11:41] dblock commented on #1682
Please PR a failing spec, hopefully with a fix.

[2017-09-20 13:15] kmhosny commented on #1682
@dblock what i noticed is, since im mounting the same APIs - same path - with different header versions then i run rake grape:routes only 1 version of the APIs mounted gets registered.

[2017-09-20 13:41] dblock commented on #1682
Is this a dup of #570 ?

[2017-09-21 04:31] mopperwhite commented on #1669
@incubus Not yet. I could only read error messages using terminals.

[2017-09-21 13:25] kmhosny commented on #1682
After reading the thread, yes it is.

[2017-09-21 17:20] dblock commented on #1682
Closing as dup, please move any relevant info to #570.

[2017-09-21 17:20] #1682 closed

[2017-09-21 17:56] kmhosny commented on #570
the only way i found to allow for the same API path to be mounted under different header versions was
`version 'v2', 'v3', using: :header, vendor: 'X'`
but this means i had to rely on helpers a lot to differentiate between the headers specially that v3 enables oauth2 so i had to do it instead of have a separate class with separate helpers.

[2017-09-24 19:40] synth commented on #39
If anyone else comes here, I was having trouble getting callbacks to work in a base grape class that mounted others. The solution for me was to make sure the before/after callbacks are called before the mounting of the other classes are called.

Here's ours:
[code]

[2017-09-26 08:52] tonobo opened #1683 "Stacklevel to deep error"
Heyho guys,

we're experienced an issue since the new `1.0.1` release.

The line where is issue happend.
[code]

Trace:
[code]
Gem diff:
[code]

[2017-09-26 09:05] tonobo commented on #1683
The issue possibly introduced here -> https://github.com/ruby-grape/grape/compare/v1.0.0...v1.0.1#diff-1e79b22ac5b0ad79f2de0534749082e6

[2017-09-26 12:44] dblock commented on #1683
Care to spec it, maybe a fix?

[2017-09-26 12:52] tonobo commented on #1683
This will basically reproduce it.

[code]

[code]

[2017-09-27 21:40] lal-s opened #1684 "inherit HTTP Codes definitions in sub resources"
Is it possible to inherit definitions of the  HTTP Codes declared through `failure` in sub resources?

Example:

[code]

Is it possible to inherit the definitions 400 and 404 provided in `Thing` into `SubThing` in any way?

Thank you

[2017-09-28 07:51] tonobo commented on #1683
Any updates?

[2017-09-28 14:45] dm0reau commented on #1683
Hi,

I've handled a similar problem, with a parent "Base" class mounting each other like this:

[code]

I've resolved it with a mounted "Root" class like this:

[code]

Hoping it will help.

[2017-09-28 16:37] dblock commented on #1683
@tonobo What kind of update are you looking for?

[2017-09-28 16:40] dblock commented on #1684
Not automatically I believe, that would be a side effect that's really hard to discover from within `SubThing` by just looking at its code. You can always declare that array elsewhere and reuse it?

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-09-28 16:40] #1684 closed

[2017-09-28 20:24] timothysu opened #1685 "JSON support is still not first class"
First class JSON support is confusing, as some valid JSON is not supported due to the current implementation expecting the parsed result to either be a `Hash` or `Array[Hash]`, while the output of `JSON.parse` could be `String`, `Integer`, or mixed type arrays.

The initial thought would be to have JSON targeting all valid JSON, while being able to take modifiers to limit the possible valid output

[2017-09-29 14:10] ericproulx commented on #1636
The problem was inserted with this commit: https://github.com/ruby-grape/grape/commit/9a083581204a492ac7153cbd4d05e385f4a94793#diff-edc185e941279b3909ef50156ef72cd5

It doesn't validate requires field in optional field. For instance, that test should return a 400 instead of a 200 because `options` is missing the field `name` which is required by definition

[code]

[2017-09-29 14:17] ericproulx commented on #1636
I'll do a PR for fixing that.

[2017-09-29 19:04] tonobo commented on #1683
Isn't it a bug? It hast been appeared in 1.0.1. Will it fixed?

[2017-09-29 19:07] dblock commented on #1683
Looks like a bug. Will gladly take a fix in a pull request from you, thanks.

[2017-09-29 19:12] tonobo commented on #1683
Ok, i'll take a look at it on monday

[2017-10-04 19:49] bdube opened #1687 "ActionDispatch::Callbacks.to_prepare was removed"
README.md mentions using ActionDispatch::Callbacks.to_prepare to deal with reloading in Rails. It looks like it was removed here: [3f2b7d60](https://github.com/rails/rails/commit/3f2b7d60a52ffb2ad2d4fcf889c06b631db1946b#diff-1c13a97300266bc1689b138c5d3bb95f)

Looks like ActionDispatch::Reloader or ActiveSupport::Reloader might be the replacement?

[2017-10-05 01:05] dblock commented on #1687
Makes sense, would appreciate a PR fixing the docs.

[2017-10-05 07:41] ramkumar-kr commented on #1090
Hi @dblock ,

Doesn't rubygems already do the publishing part?
Link - [http://www.rubydoc.info/gems/grape/1.0.1](http://www.rubydoc.info/gems/grape/1.0.1)

[2017-10-05 09:01] seaify commented on #932
still not solved?

[2017-10-05 13:49] dblock commented on #1090
Yeah this issue is very old. Care to PR any changes to README and we can close this @ramkumar-kr?

[2017-10-05 13:51] dblock commented on #932
@seaify This is still labeled bug?, maybe PR a spec that reproduces the problem?

[2017-10-05 17:42] ramkumar-kr commented on #1090
https://github.com/ruby-grape/grape/pull/1688

[2017-10-06 00:53] bdube commented on #1687
Done #1690

[2017-10-06 02:00] dblock commented on #1687
Closed via https://github.com/ruby-grape/grape/pull/1690

[2017-10-06 02:00] #1687 closed

[2017-10-07 14:38] #1090 closed

[2017-10-10 15:04] peterwillcn commented on #1683
I get similar issue
grape-1.0.1/lib/grape/util/stackable_values.rb:18:in `[]': stack level too deep (SystemStackError)

[2017-10-11 18:03] BaneOfSerenity opened #1693 "Array of hashes not failing correctly when array is empty"
grape: 1.0.1
ruby: 2.4.2

When you have:
[code]
And semver_constraint custom validator looks like
[code]
When you call into the api_endpoint with `params: { paired_values: [] }` grape ends up calling `validate_param!` with attr_name being `:semver` and params being `""`, so this throws the exception `TypeError: no implicit conversion of Symbol into Integer`. Because these values are required shoul

[2017-10-12 17:39] dblock commented on #1693
I encourage you to write a spec for this and maybe a fix?

[2017-10-13 07:22] jeyraof commented on #1683
any updates?
I encountered same problem.

[2017-10-17 11:39] Marvalero opened #1694 "Good practices"
Is there a list of good practices for Grape?

for example, I think it is better to use declared(params) instead of params as params doesn't remove unvalidated params.

I'm opening this as I would like to add some rubocop cops to check developers are following good practices. Example:

[code]

[2017-10-17 14:15] dblock commented on #1694
There're lots of learnings but no "best practices" AFAIK. If you make a Rubocop extension it can become a good place to implement these, I'll leave this as a feature request.

[2017-10-20 12:35] Smeedy commented on #1662
We also bumped into this one the other day. This is due to the XML parsing of the arrays using the default ActiveSupport::XmlMini. We noticed that Nokogiri handles the XML arrays correctly using some test XML on the irb.

So the less intrusive solution is using MultiXML and Nokogiri as the parser in the project and not rewrite the params in the _before_ hook.

So the use of an initializer like
`re

[2017-10-20 14:22] dblock commented on #1662
@Smeedy Do you think you can turn the spec linked above into a passing one and add some documentation and PR the thing?

[2017-10-24 06:14] stevelacey opened #1695 "Access response_object/block.call return in after filter"
I am attempting to implement API versioning ala Stripe (https://stripe.com/blog/api-versioning).

I currently have a working prototype that hooks into Grape before/after hooks – but to modify the response I have to reparse and regenerate the JSON from `response.body` – when obviously I would prefer to hook in earlier and muck with the hash before it's jsonified.

I see in https://github.com/ruby-g

[2017-10-24 12:32] dblock commented on #1695
I don't see an immediate reason why you shouldn't have access to the response body in `after`, feel free to PR.

[2017-10-24 13:06] stevelacey commented on #1695
@dblock I am not entirely sure how it'd work if I simply move that line up – I can probably edit the `@body` hash by reference but that seems weird

Am I right in assuming that others are mostly using these hooks for injecting headers and stuff? Is request/response manipulation more significant than that a case you want to support? I intend to adjust params going in and json coming out.

[2017-10-24 18:57] dblock commented on #1695
I think you should definitely be able to modify the response body on the way out other than in a middleware, so please PR something with tests, etc.

[2017-10-25 00:49] msroot opened #1696 "Graphql like implementation and food for thought"
In Grape Entity there is the `only` method that lets you declare what attributes you want in your response
This is hardcoded by the endpoint and it is not configured by the client.

[code]
What if the client asks what attributes he needs in his response?
Pass the attributes you need in your response as parameters  and get back only what you need so you have an `graphql like` support with the minim

[2017-10-26 09:58] stevelacey opened #1697 "Support different incoming to outgoing content-type"
I am attempting to upgrade to v1 and have been banging my head against problems caused by #1589

We do some JSON Merge Patch – prior to #1589 that was as simple as:

[code]

Now I have to do some of this

[code]

And this works, but now the API serves out `Content-Type: application/merge-patch+json` – but it should still be `application/json`, the  request was partial but the response is full.

I

[2017-10-26 14:23] dblock commented on #1697
Just to rephrase the problem, given an incoming content type you want a different outgoing content type. Generally that seems pretty simple, you declare a formatter for the outgoing content type then set the content type inside that `if`. Is that not working? Care to try and produce a spec that shows what you're trying to accomplish and we can simplify it and possibly add some code to avoid the bo

[2017-10-26 14:57] stevelacey commented on #1695
Also, any suggestions how to get at `params`? A use-case I intend to support is renaming params coming in to the system. Maybe I want Rack middleware rather than Grape..

[2017-10-26 17:27] dblock commented on #1695
Params can be modified in `before` AFAIK.

[2017-10-27 04:04] stevelacey commented on #1695
@dblock only `env` is available... and I'm not sure how to pull params out of that and/or put them back in a meaningful way – do I need a pass through params builder?

[2017-10-27 11:17] stevelacey opened #1698 "Root option documentation"
Maybe I am missing the point... but I don't understand how, why or when the `root` option works – I am putting it in all sorts of places, on `get/post`, on `namespaces/resources`, on `CollectionSerializer` constructs... and it is never doing what I expect.

I am expecting `root: 'user'` to change output from:

[code]

to

[code]

or at the very least to do that on collections given that's what it

[2017-10-27 11:20] #1698 closed

[2017-10-27 11:20] stevelacey commented on #1698
Wrong repo oops :v:

[2017-10-27 13:49] dblock commented on #1695
Is this already run? https://github.com/ruby-grape/grape/blob/91c6c78ae3d3f3ffabaf57ffc4dc35ab7cfc7b5f/lib/grape/middleware/globals.rb

[2017-10-27 15:03] stevelacey commented on #1695
Right but does modifying though achieve anything?
On Fri, 27 Oct 2017 at 20:49, Daniel Doubrovkine (dB.) @dblockdotorg <
notifications@github.com> wrote:

[2017-10-27 16:55] dblock commented on #1695
I am not sure. Try to build specs for what you're trying to achieve and I can see if I have time to help.

[2017-10-28 12:33] stevelacey commented on #1695
@dblock global doesn't appear to have run, should it have?

[2017-10-28 13:59] dblock commented on #1695
Don't know, most of this was refactored in the last 3-4 versions of Grape and i haven't touched much code. Sorry i can't be more helpful.

[2017-10-29 09:38] vinceve opened #1699 "Mounting the same api multiple times doesn't work properly"
When you're in the case that you want a nested resource in your API and the same resource also as a separate resource, the mounting only executes the last configuration in line.

example: (root: /)

[code]

and in StuffApi: (/stuff/)

[code]

In this example the post API will only be mounted on /posts and not on /stuff/:stuff_id/posts . If I comment out the mount in the root, it works in the neste

[2017-10-30 14:05] dblock commented on #1699
I believe this is a dup of https://github.com/ruby-grape/grape/issues/570, would love a fix.

[2017-10-30 14:05] #1699 closed

[2017-11-06 10:53] cbilgili commented on #1683
I encountered same problem, just commented out route mounting for a while to step over it.

[2017-11-08 08:33] ardias opened #1703 "Block multipart/form-data like other content-types"
Hi,
Before explaining my issue, please take into account I'm fairly new to Ruby and Grape.

So, I'm trying to modify an ' legacy'  api that is using Grape, and our security team mentioned that accepting 'multipart/form-data' is a potential security risk due to CSRF. I've been reading about this and I've seen thar Ruby supposedly already prevents those kinds of attacks, but nevertheless it seems th

[2017-11-08 15:02] ardias commented on #1703
Hi @dblock ,
i'm really new to ruby/grape. I can try, but can't promise you any timeframe.

The PR you mention has some conflicts, so  the idea would be to basically copy that PR and add some more specs?

[2017-11-08 18:55] dblock commented on #1703
Yes, but we also need to understand what's going on in the underlying infrastructure in terms of parsing.

[2017-11-09 06:08] jkreitzman opened #1704 "Ugh, sorry. Mistype."

[2017-11-09 06:10] #1704 closed

[2017-11-09 23:12] pinkynrg opened #1708 "Share desc and type across Grape and GrapeEntity"
What I'm trying to do it to re-use type and description across grape and grape-entity.

In the documentation I read the following:

This allows me to use field description and field type from the documentation defined in the Grape Entity.
Whenever I define an API that requires only 1 field of the ones defined in the Grape Entity, I need to do something like the following (which I find kind of dirt

[2017-11-10 08:22] ardias commented on #1703
Right, that's going to be a bit harder. Anyway, I'll see what i can do.

[2017-11-10 16:36] dblock commented on #1708
I don't think there's a better way today. What do you think you'd like to write (as a user)?

[2017-11-10 16:50] pinkynrg commented on #1708
The main reason why I would like to share type/description is because I'm using grape-swagger which gets the description both in the attributes of the entity, and the parameters defined for every API endpoint.

As mentioned above I don't like to use grade entity type/description as source of truth since it is in a hash used only for documentation and unfortunately I cannot get field's type/descrip

[2017-11-10 23:04] LeFnord commented on #1708
there is one other way, use the oparams key of the describe block …
[code]
without the params block, fowncase of it is, that with the all the parameter niceties (validation, etc.) of grape are lost

best thing IMHO would be, that parameters which are describe in the `desc` method/block would be handled in the same manner as which one definied in the params block

@dblock what did you think?

[2017-11-11 04:31] pinkynrg commented on #1708
Maybe what I requested above is a little to magical and to coupled to grape-swagger usage.
Another dreamy way of doing it would be something like:

[code]

documentation: V1::Entities::Host.documentation be used to populate the documentation of some_param, some_other_param.

I don't even know if this is possible using ruby though.

What do you guys think?

[2017-11-13 23:23] dblock commented on #1708
Reversing, and with a block it's possible, so `desc ... do` and `params documentation: ... do`

[2017-11-13 23:26] pinkynrg commented on #1708
Whenever I have time I will look into it and see what I can do

[2017-11-17 05:01] pinkynrg opened #1709 "Create endpoint dynamically"
I have the very basic CRUD endpoints that are repeated over and over across my resources.

Currently I do have a Rails generator that helps me generating my API endpoints more quickly.

The obvious downside is that whenever I make a change to the template I need to update a bunch of files.

Since there is a very clear pattern for some of my endpoints, I was wondering if there was a way to generate

[2017-11-17 13:30] pinkynrg commented on #1709
I dont think it can be done now. Maybe with something like shared Params it could be done? http://geoff.evason.name/2015/01/18/postgres-ssl-connection-has-been-closed-unexpectedly

[2017-11-17 14:41] dblock commented on #1709
Why doesn't this work? Did you try defining this method in your base API class and then using it everywhere else?

I like https://github.com/artsy/gris too, maybe something to inspire from?

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2017-11-17 14:41] #1709 closed

[2017-11-19 03:17] pablonahuelgomez commented on #1642
Gentlemen, I wrote the #1710 PR to solve this problem.

[2017-11-21 15:38] pinkynrg commented on #1709
I was able to create dynamically an endpoint as follows (make sure not to call the static method like post/delete/get - those are method already used by Grape::Api):
[code]

[2017-11-21 16:03] pinkynrg opened #1712 "Grape::API can't find shared subclass"
Ruby is so magical that I need help from someone who knows a little better than I do.

Since I have a lot of crud basic endpoints repeated over and over I decided to automate their creations (see my final post in #1709 ).

For the sake of having some basic valid swagger documentation I automated also the creation of the Grape::Entities by adding some custom code to my ApplicationRecord (see github

[2017-11-21 19:58] dblock commented on #1712
Maybe it's just load order? Does adding a `require` explicitly fix your problem?

[2017-11-21 21:31] Jelkster opened #1713 "rescue_from :all not rescuing all exceptions"
According to the README, grape can rescue from all exceptions with the following:
[code]

I recently stumbled across a case where the wrong method accidentally raised a `NotImplementedError` and caused the web request to hang as a result.  I was surprised to see this because I had the `rescue_from :all` included in the API.  I suspected that maybe `NotImplementedError` was not a `StandardError` an

[2017-11-21 22:56] dblock commented on #1713
I think we definitely need to update the documentation first and possibly add a `rescue_from :exception` that will behave differently? Please contribute?

[2017-11-22 04:38] dblock commented on #1642
Closed via https://github.com/ruby-grape/grape/pull/1710.

[2017-11-22 04:38] #1642 closed

[2017-11-22 19:44] Jelkster commented on #1713
I'm willing to try and help.  Regarding the documentation, would you like me to remove the `NotImplementedError` example only, or do we also need to address each mention of `"...all exceptions..."`?

[2017-11-22 19:53] dblock commented on #1713
Whatever you think is appropriate, try something and we can look at it.

[2017-11-24 07:31] tabz24 opened #1715 "Validations not working for parameters 3 level deep"
Any type of validations are not working for the third_level, the parameters under the third level (id, quantity and groupid) can be null or can have any data types. And the parameters under the second_level works totally fine with all the validations.
[code]

In the above example, if send the below parameters they are getting accepted.
[code]

Required `id` is missing, `quantity` have some string

[2017-11-24 15:37] lonok commented on #1146
![x](https://user-images.githubusercontent.com/3224753/33216804-9cea5614-d11c-11e7-883f-29bd8d583b85.png)

[2017-11-26 02:40] dblock commented on #1715
You should turn this into a spec, please. We have a lot of tests with many levels, I am pretty sure.

[2017-11-28 22:26] tibbon commented on #528
I'm always getting 127.0.0.1 from `env["REMOTE_ADDR"]`. Maybe the way my load balancer is setup?

[2017-11-28 22:29] teamon commented on #528
@tibbon most probably you're right, https://easyengine.io/tutorials/nginx/forwarding-visitors-real-ip/ might help

[2017-12-01 15:40] dvandersluis commented on #570
I know this is a pretty old ticket that's been mostly dead for a while, but I'm wondering if there's any progress here or anyone knows how to make this work? I tried @lasseebert's `Mountable` class, but found that it only works one level deep (ie. V2 can "inherit" V1, but if I want V3 to inherit V2, it loses the endpoints from V1 unless I explicitly mount that in V3 too).

[2017-12-02 13:25] nhinze commented on #1712
I'm having something similar trying to upgrade from 0.19.2 to 1.0.1. It works fine with 1.0.0. See my SO question: https://stackoverflow.com/questions/47553944/grape-api-wont-mount-after-upgrade-constant-missing

[2017-12-04 02:29] saifis commented on #1683
Not sure if this is the same problem, but I had the same error, turns out several initial setup stuff has changed, like Base::API changing to Grape::API and several other namespace changes, it could be a straight out bug, I got it fixed up by looking over the setup area of the top page, hope it helps.

[2017-12-15 10:29] gencer opened #1717 "exactly_one_of is not functioning as expected and says missing"
**Definition:**
[code]
**header**:
[code]
**request body**:
[code]
or
[code]
**got**:
[code]

[2017-12-15 17:52] rnubel commented on #1717
Does removing `default: nil` for both params change the behavior?

[2017-12-15 18:03] gencer commented on #1717
Definitely, did! Also, error message now shows the correct message. (not for mutually)

Instead of default value, I set `allow_blank` and/or `regexp` for better data integrity.

[2017-12-16 07:49] b-boogaard opened #1718 "Alias breaks subsequent validations that refer to the pre-aliased params"
I wrote a test in the `param alias` context within `params_scope_spec.rb`  to demonstrate.

[code]

When running `bundle exec rake`

[code]

Where the aliased param is defined in regards to the validator referencing it also seems to matter. It looks like this is because the [AsValidator](https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/validators/as.rb#L10-L11) is doing the mu

[2017-12-17 04:10] dblock commented on #1717
Still a bug, right?

[2017-12-17 04:10] dblock commented on #1718
Seems legit, turn the spec into a PR?

[2017-12-17 15:15] b-boogaard commented on #1718
Sure, I'll put something together.

[2017-12-17 17:34] gencer commented on #1717
Yes. Default value can be useful. Exactly one of means one of them will be empty **or have a default value I gave.**

[2017-12-17 18:06] gencer opened #1719 "headers set before error! is missing on response"
Whenever I execute `error!()`, response does not contains my headers. In fact none of the headers like `X-Request-Id`. I presume this is due to calling a new `Request` instance and return that instead.

How do I make sure that my important headers are in every request that grape gave? Even in `Rails::API` I am able to hold headers on any error.

Of course, I could add my own Middleware. Is there a

[2017-12-17 19:22] dblock commented on #1717
Would appreciate a pull request even if it's just failing specs.

[2017-12-17 19:23] dblock commented on #1719
What are "your" headers? Anything you set with `header ...` should be there.

[2017-12-18 08:19] gencer commented on #1719
I have few headers that sent to user on every request in every action. I do not want to add them manually on each and every `error!` call. I already defined them on:

[code]

based on request type, user and others. These headers can be different on each request by user or type. So, I would expect grape to respect my `before`.

Problem is, before gets called but all headers set in before are gone.

[2017-12-18 11:05] gencer commented on #1717
Before I send a PR, lets make sure my steps are correct.

After I review the code, I found that, In fact `:default` should be dropped. In `exactly_one_of` we should **not use default**. Because, if we do that then we cannot know which parameter given by user or by default. Due to this grape simply tell us that they are mutually exclusive, in other mean it is **limited**.

So, I no longer thinks th

[2017-12-19 21:56] dblock commented on #1719
Does adding a header inside the API work?

[code]

If it does, I think `before` and `after` should work the same way and it would be a bug.

Care to write some specs?

[2017-12-19 21:58] dblock commented on #1717
Aha. If both values have a default it already violates `exactly_one_of`, but maybe if one of them has a default and you don't pass anything, then it should work?

[2017-12-20 03:58] zherr opened #1721 "Defining a catch-all after multiple versions of an endpoint hide endpoints after the first definition"
Given the following test:
[code]
For even more context, see: https://github.com/ruby-grape/grape/compare/master...zherr:multiple-endpoint-catchall

Before digging deeper into a fix I would like to gather feedback from contributors on whether this appears to be a bug, or if this behavior intentional.

Happy holidays!

[2017-12-20 07:51] gencer commented on #1717
Yes. To be clear;

Definition:
[code]

Request:
[code]

It will fail. Why? Because I only give `:folder` but I also give `default: nil` for `:tag` in definition too. `:tag` should **NOT exists** in params as a key. It should not have a value like nil or empty string. It should not exists in the first place.

I believe current behavior is the more efficient and correct behavior. We just need to tel

[2017-12-20 08:15] gencer commented on #1719
**Note**: If you want I can create an another branch with test in `spec/` folder.

**Expected**: Both requests should pass.
**Actual**: Second test will fail.

**error_header_spec.rb**:
[code]

[2017-12-20 15:21] dblock commented on #1721
It certainly smells like doing `version v1` then `version v2` to the same api class overrides the previous definition, so split them up and `mount` them and that should work better.

[This](http://code.dblock.org/2013/07/19/evolving-apis-using-grape-api-versioning.html) might be helpful.

[2017-12-20 15:22] dblock commented on #1717
Correct. A default of `nil` is still a default. Maybe rewrite the title of this issue to say something like the above scenario should not even load?

[2017-12-20 15:31] dblock commented on #1719
Just pull request the failing spec please. Reduce the code a bit, there's a bunch of unnecessary stuff like versioning. Extend the spec to all the scenarios for `before`, `after` and during the API so we can cover it all and make sure we fix it properly.

[2017-12-20 16:08] zherr commented on #1721
Our current implementation splits up the versions by module like so:
[code]
Given this implementation, when a request specifies `Accept-Version=v2` in the header, for example, the `V2` endpoint is not found. When the version is left unspecified, the `V1` endpoint is found just fine.

Unfortunately, if we switch the mount order here as the blog post suggests, we still run into the same issue if the

[2017-12-20 18:26] gencer commented on #1719
@dblock, How is it look like now? (As I am new to this rspec world :)) I would like to get confirm before proper pull request

[2017-12-20 18:41] dblock commented on #1721
I can confirm that this is a bug. I PRed the spec with mount in https://github.com/ruby-grape/grape/pull/1722 (but it should work without mount too). I wasn't able to fix it after digging a bit.

[2017-12-21 07:31] gencer commented on #1717
This has been clarified by adding a note. #1720.

[2017-12-21 22:55] dblock commented on #1721
Closed via https://github.com/ruby-grape/grape/pull/1722

[2017-12-21 22:55] #1721 closed

[2017-12-29 16:33] #1636 closed

[2018-01-01 18:22] dblock commented on #1713
Doc updated in https://github.com/ruby-grape/grape/pull/1725. What do we want to do about this issue?

[2018-01-02 01:16] jkowens commented on #1672
@lloeki could you see if the change I made in #1726 improves your app initialization time?

[2018-01-02 16:15] jkowens commented on #1669
This is actually a Sinatra issue. It extends `Rack::ShowExceptions` and sets the `TEMPLATE` constant in order to override the displayed exception.

https://github.com/sinatra/sinatra/blob/master/lib/sinatra/show_exceptions.rb#L365

The problem is that the template calls the `bad_request?` method that only exists in `Sinatra::ShowExceptions`, so any other Rack app like Grape will raise an error whe

[2018-01-03 15:37] antnruban commented on #1663
Hi!

Still getting this warning with `1.0.0` version. I've tested on empty `Rack` application.

[code]

`Rspec` trace:
[code]

Any ideas, guys?

[2018-01-03 19:31] dblock commented on #1663
We need a spec and a fix, please? Problem looks pretty straightforward with a circular require.

[2018-01-03 20:16] Jelkster commented on #1713
I think your `rescue_from :exception` proposal is good.  Want me to take a stab at that?

[2018-01-03 20:59] dblock commented on #1713
Yes please @Jelkster

[2018-01-04 04:15] incubus commented on #1669
@jkowens thanks!

[2018-01-04 18:54] #1672 closed

[2018-01-04 22:38] jkowens commented on #1683
I've put together PR #1727 that should resolve this issue, if any are able to take a look.

[2018-01-06 17:07] #1683 closed

[2018-01-08 21:10] zherr opened #1728 "Cut a release for v1.0.2"
There are a good set of improvement and bug fixes for this next release. Perhaps this is a good time to cut a new release.

[2018-01-10 22:05] dblock commented on #1728
This has been released.

[2018-01-10 22:05] #1728 closed

[2018-01-11 00:07] fr33z3 commented on #1719
I think i found a reason for that case.
That's all because of the Grape::Middleware::Error. The problem is here
[code]
on this stage there are no custom headers filled in. So the headers filled in before callbacks are not reachable.
I found a quick work around:
[code]
then
`insert_before Grape::Middleware::Error, Middlewares::SomeMiddleware`
But the whole concept of such error catching is wrong IM

[2018-01-12 19:44] liquid1982 commented on #1370
I have the same problem, and can't figure out what a possible solution could be. It just seems a buggy behaviour. I need to allow the user to publish an article, and optionally specify a section. I also need to accept an empty array, that will result in unpublishing the article from the specified domain.

The non-working code is the following:

[code]

But if I omit the `values` param, things work

[2018-01-12 21:40] dblock commented on #1370
What is the posting code? What content-type is it POSting @liquid1982 ?

[2018-01-12 23:32] liquid1982 commented on #1370
@dblock It is something like:

[code]

[2018-01-14 16:50] dblock commented on #1370
You should turn it into a spec @liquid1982 in this project.

[2018-01-17 17:28] Mateus-Resende opened #1730 "Unnamed top class Array Param"
Hi there,

I'm trying to setup a route that will be able to receive a post request with an array (valid json) without having to name it. For example if I do

`curl -XPOST -d '[{"foo": "baz"}, {"foo": "bar"}]' locahost:3000/foo`

I want to be able to access this array of data. Is there any way I can do it ?

[2018-01-17 22:30] dblock commented on #1730
It's an interesting problem.

Without naming the params we would be getting a body, but no automatic parsing.

[code]
With named params this parses automatically.

[code]

Now what would a declaration look like for an array here? I suppose `params` could become an `Array` type instead of a `Hash`?

[code]

This doesn't work yet, but I have a failing spec and some first level changes in https://git

[2018-01-18 02:20] jnardone commented on #1730
I was wondering if the top level param could be a special case, e.g. `params :nil, type: Array` or somesuch (this is actually not illegal at parse time, which probably falls into the "bug" category) - this keeps the DSL somewhat consistent, though wondering how hacky that truly feels.

[2018-01-18 03:18] dblock commented on #1730
I think `params: nil` feels very hacky and would rather not do that. I had tried that and definitely agree that the error message you get is unhelpful and you shouldn't be allowed to do that. Appreciate if you could open a separate issue for that, maybe even with a spec or a fix ;)

We always knew that `params` doesn't have to be a `Hash`, as you may see the underlying code supports nested arrays,

[2018-01-19 00:15] dm1try commented on #1730
we are not afraid :) but
endpoint `#params` helper returns POST/GET params + named route params
most of the endpoints have the route params (for example, `:id`)
so it much easier to treat root params as `Hash`

otherwise, an additional interface should be provided to separate those params^(it is not worth it as for me)
or an exception should be raised when an endpoint does include route params or

[2018-01-19 02:11] dblock commented on #1730
I spent an hour on this and concluded that there're too many assumptions around params being a hash, including in Rack proper. It's easy to add the body with `body` key for example and I think we could validate and coerce it.

But is something that wraps `body` the same way we wrap `params` crazy?

[code]

[2018-01-19 12:07] dm1try commented on #1730
while I have no strong feelings about this, `body` looks more applicable to me, at least such interface more consistent with the usage of endpoint `#params`

[2018-01-19 15:41] dblock commented on #1730
Cool thx @dm1try. The only caveat is that when body is a `Hash`, it gets [merged](https://github.com/ruby-grape/grape/blob/master/lib/grape/middleware/formatter.rb#L102) onto params since most people send query strings, forms, json, etc., indistinguishable from each-other. Just something to keep in mind when implementing, maybe that behavior is turned off when `body` is present?

Also, I am *not*

[2018-01-22 23:22] nawarm opened #1731 "declaring a json array as a param on post"
I am new to grape and trying to post a json array of objects like:

`[
 {
  "name": "name1",
  "source": "source",
  "description": "description1"
 },
 {
  "name": "name2",
  "source": "source",
  "description": "description2"
 }
]`
Since I need to declare all needed params in grape, I am having an issue declaring this array since it does not have a name I can reference it by. Is there a way to de

[2018-01-23 00:56] dblock commented on #1731
Looks like a dup of #1730, it has a pretty thorough explanation of your options and was turned in a feature request. I'll close this one. Hope that helps.

[2018-01-23 00:56] #1731 closed

[2018-01-23 14:17] nawarm commented on #1731
It does. Thanks a lot

[2018-01-24 16:44] pedrocaseiro opened #1732 "uninitialized constant Grape::Env rails5 upgrade"
After upgrading from to Rails 5, some of my tests randomly fail with the error down below. They don't always fail, its just that this error appears from time to time.

[code]

[2018-01-24 20:57] dm1try commented on #1732
I've looked at the initial implementation in #980 and did not find the trigger for "eager" loading.

the docs [say](http://api.rubyonrails.org/classes/ActiveSupport/Autoload.html#method-i-autoload) that we should explicitly call `.eager_load!`
or for Rails, we could use `eager_load_namespaces` config option as mentioned in the referenced article

@pedrocaseiro could you try to set
[code]
and repor

[2018-01-25 09:39] pedrocaseiro commented on #1732
I'll try and i'll give feedback as soon as possible. Since it just happens sometimes in random tests it's hard to know if it's fixed :(

[2018-01-29 09:17] thedarkside opened #1733 "Stubbing middleware for testing reasons"
Is there a way to do this? I am using a middleware for authorization [wine_bouncer](https://github.com/antek-drzewiecki/wine_bouncer) which uses [doorkeeper](https://github.com/doorkeeper-gem/doorkeeper) in a rails project with minitest tests.
If i'm not wrong i need to stub the doorkeeper_token in the grape endpoint context as i dont want to execute the authorization logic for every test again an

[2018-01-29 12:35] thedarkside commented on #1733
I've solved it like this:
[code]

[2018-01-29 12:35] #1733 closed

[2018-01-29 12:55] thedarkside opened #1734 "Middleware loggers unaware about rescue_from handlers"
As far as i digged in the code it seems that loggers realized as middleware are not aware of changes to exceptions made by rescue_from handlers.

I stumbled upon this as i saw log entries with a wrong statuscode in my application. I am catching an UnauthorizedException in a rescue_from block and setting the desired statuscode with `error! e, 401`. It works as expected but produces a 500 log entry.

[2018-01-29 21:58] dblock commented on #1734
Care to provide a more detailed example with some code maybe?

[2018-01-29 23:37] thedarkside commented on #1734
@dblock thank you for listening but i think i figured it out myself. I've inserted now the logger before Grape::Middleware::Error which handles the rescue_from blocks and then passes the exception with the right status code to the logger.

It was tricky to figure out the actual middleware stack. I just saw it in a stacktrace while debugging. It would be nice to have a convinient rake task which pr

[2018-01-30 11:23] mlzhuyi opened #1735 "Error args passed into I18n.t"
The following is an example of customed validator in README.
[code]
It send `@attrs`, an array of symbols, as its params value.<br>The params value would be passed into `Grape::Exceptions::Base#translate_attributes` or `Grape::Exceptions::Base#translate_attribute` method.<br> As a result, Every value of the :default option for `I18n.t` is a symbol. Is a `to_s` missing here?

[2018-01-30 14:43] thedarkside commented on #1734
The solution is already linked.
For loggers in general insert them like this `insert_before Grape::Middleware::Error,...` or `insert_after Rack::Head,...` instead of `use ...`
Maybe document it explicit in your readme?

[2018-01-30 14:43] #1734 closed

[2018-01-30 16:35] dblock commented on #1735
Possibly. Try to turn this into a spec in a PR?

[2018-01-30 16:36] dblock commented on #1734
Yes, please PR a change to README.

[2018-01-30 21:42] stanhu opened #1736 "Cache compiled API routes"
I noticed that it takes 5-6 seconds for our Grape API to compile all the routes (see GitLab issue https://gitlab.com/gitlab-org/gitlab-ce/issues/35208), which is especially painful in production whenever a unicorn worker is restarted. Since API routes generally don't change that much, I think there ought to be a way to load the routes from cached.

I filed https://github.com/sinatra/mustermann/iss

[2018-01-30 23:41] dblock commented on #1736
This is very interesting. I think we should be able to introduce a proper route cache pattern that can persist data in an arbitrary cache. From the developer perspective I would imagine being able to assign `Grape.routes.cache = Rails.cache` or throw in some gem called `grape-routes-cache`, for example, and make boot much faster automagically. Interested in attempts at PR!

[2018-01-30 23:42] dblock commented on #1736
@stanhu Care to write a benchmark + show us some profile info ala stuff in https://github.com/ruby-grape/grape/tree/master/benchmark?

[2018-01-30 23:55] stanhu commented on #1736
@dblock I'll take a look later.

For reference, here are the 1519 API patterns we have:

[patterns.txt](https://github.com/ruby-grape/grape/files/1679881/patterns.txt)

Here is the ruby-prof output of Grape initializing the API:

![grape](https://user-images.githubusercontent.com/963826/35597968-c059feea-05d5-11e8-933b-1f72bdd57089.png)

[2018-01-31 12:13] nonnenmacher commented on #1730
Stumble into the same issue today trying to implement `RFC 6902` (https://tools.ietf.org/html/rfc6902) *JavaScript Object Notation (JSON) Patch*.

The RFC describe a *PATCH* payload consisting of a stray *Array* or *operations*.

Found no way to express this with Grape (along the fact that Swagger generation, just *choke* on tries like
[code]

It could also be nice to have like in `Array[JSON]` su

[2018-01-31 13:07] Mateus-Resende commented on #1730
I will start working on that now, should have a working PR soon. I agree with @dblock that there are too many assumptions that `params` is a Hash. So what if the key to wrap the body could be declared by the user allowing the API to infer what's in the body? Something like:

[code]

And this would allow `[{foo: 1}, {foo: 2}]` to be parsed as `{foos: [{foo: 1}, {foo: 2}]}`. At the same time, we're

[2018-01-31 13:31] nonnenmacher commented on #1730
perhaps an addition to the DSL could be to add a `wrap` attributes, with sole role of 'rewrapping' the body as a `Hash` or `Array[Hash/JSON]` (Array[hash] would be nice).

 Then from that *named* 'rewrap' we could count on the fact that all *assumptions* and *validations* are based on a `Hash` like structure would hold again.

This also would help *swagger* generation as the way to have both an fo

[2018-01-31 15:10] dblock commented on #1730
Lets not go crazy, keep things simple and lets look at some code ;)

[2018-02-01 09:27] nonnenmacher commented on #1730
no crazy, no fun ;-)

[2018-02-01 15:50] dblock opened #1738 "Does Grape care about fast_jsonapi?"
People want to know what they need to do to enable https://github.com/Netflix/fast_jsonapi on their Grape projects. Or do they at all? Grape uses whatever JSON provider is available and maybe all the gains are in the object serialization part and not in pure json generation. Potentially this issue belongs in other presenter libraries.

https://medium.com/netflix-techblog/fast-json-api-serializatio

[2018-02-05 22:23] jessicamann opened #1739 "declared params include_missing: false sets keys to nil"
We have an endpoint with these specified params:

[code]

When I post to the endpoint with params: `{name: 'person'}`
`declared param includes_missing: false`, I get this:

[code]

But I expected this:

[code]

This is using grape 1.0.2

[2018-02-06 17:06] dblock commented on #1739
I think you wanted `include_missing`, not `includeS_missing` ;) Hope this helps.

[2018-02-06 17:06] #1739 closed

[2018-02-06 18:06] jessicamann commented on #1739
Ah, thanks!

[2018-02-06 23:35] jv-dan opened #1741 ""prefix" no longer looks at a trailing slash"
After recently upgrading to Grape 1.0.x, it seems that

`prefix 'api'`

gets a bit too greedy in which routes it intercepts.

When using something like

[code]

A route such as `domain/apiary` would have used the Rails router. Instead, that route is now intercepted with Grape.

[2018-02-07 03:13] jv-dan commented on #1741
This seems to stem from a change introduced in https://github.com/ruby-grape/grape/pull/1517/files#diff-1a2141f1143a454a12c8400e0dea79d4, which alters the default behavior of anchoring.

This differs from the documentation at https://github.com/ruby-grape/grape#anchoring

[2018-02-07 16:43] dblock commented on #1741
This looks legit, care to write some failing specs first?

[2018-02-12 15:57] simongareste opened #1742 "String route params not matched for email"
Hi,

We seem to have encountered a bug with the route system.

[code]

We try this with Swagger UI, which says that a command line equivalent would be :
curl -X GET --header 'Accept: application/json' 'http://127.0.0.1:9299/api/user/anything%40something.else

The thing is that we do not match the GET regex of the match? method of router.rb
Because of this, we continue and end up in the greedy_matc

[2018-02-13 21:47] jkowens commented on #1669
Sinatra 2.0.1.rc1 has been released and if all goes well 2.0.1 will be released this weekend. A fix for the described problem is included. I think it's safe to close this issue.

cc: @dblock

[2018-02-14 01:18] dblock commented on #1742
There's a lot going on in the regex. I suggest turning it into a minimal spec maybe next and we can try to help?

[2018-02-14 01:20] dblock commented on #1669
Does anyone have or wants to contribute an integration spec for this?

[2018-02-21 07:35] kenzo2013 opened #1743 "UPLOAD FILE: MISSING ATTRIBUTE PHOTO ON REQUEST"
Hello, my method to upload is:
https://puu.sh/zspVX/6eac6c8939.png
In the documentation of grape i am worry because instead of attribute 'photo' i see 'body' https://puu.sh/zsq1d/d3fb3b19ac.png
and response is  "error": "photo is missing" every time.

Please help...:(

[2018-02-21 19:11] EmCousin commented on #1738
I'm using Grape for many projects of mine. To answer this issue, I personally ended up enriching the [SerializableHash formatter](https://github.com/ruby-grape/grape/blob/master/lib/grape/formatter/serializable_hash.rb) by creating a custom formatter, available in [this gist](https://gist.github.com/EmCousin/9a648c0effc669c7e6d9a41b3f42b98e).

For a given object, if this object is a model instance

[2018-02-21 19:45] dblock commented on #1743
If you attach a file as body, it won't be called "photo". Generally turning a body into a named property isn't something Grape can do, so you can just read the body content in the API implementation and use it as the photo.

I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2018-02-21 19:45] #1743 closed

[2018-02-21 19:52] dblock commented on #1738
Very interesting @EmCousin. Do you think there's something here that can be turned into a generally useful PR into Grape?

[2018-02-21 20:53] EmCousin commented on #1738
@dblock I see three options.

- A PR is definitely possible if we want Grape to actively support `fast_jsonapi`. I guess it would be mostly a matter of managing dependencies afterwards
- If not a PR, a dedicated gem making the bridge between Grape and fast_jsonapi could be another interesiting option, like the gem [grape-jsonapi-resources](https://github.com/cdunn/grape-jsonapi-resources/). The de

[2018-02-28 12:28] EmCousin commented on #1738
@dblock I ended up creating a dedicated gem, available [here](https://github.com/EmCousin/grape_fast_jsonapi), At least dependencies management will be done in one place only!

This is my first gem, so I'm open to suggestions for improving it!

[2018-02-28 15:14] mtsmfm commented on #1713
Is it really documentation problem?
I think `rescue_from :all` should rescue all exceptions as before https://github.com/ruby-grape/grape/commit/f038ed5457cef803b0275e4ad7a99674e61e4394#diff-38c8cda4fd3b2789c88488c6e1e08d0eL28
because it looks unintentional change for me.

What do you think about replacing [this line](https://github.com/ruby-grape/grape/blob/18c9d4b7255e328f8d41cb78e386605689324f8

[2018-02-28 15:37] wagenet commented on #1041
@dblock ran across this again and I still believe that Grape's behavior here is incorrect.

[2018-02-28 15:41] wagenet commented on #1041
I'm virtually certain that the correct approach for streaming is to return a body (the third array element in the response) that handles the streaming. The response from `call` should always be a simple array.

[2018-02-28 15:45] wagenet opened #1744 "Some Grape Rack Middlewares incorrectly return a non-Array value"
From the Rack [SPEC](http://www.rubydoc.info/github/rack/rack/file/SPEC):

See #1041

[2018-02-28 15:57] Jelkster commented on #1713
That would make my life easier, as I'm currently in the process of implementing a separate `rescue_from :exception` option that does what you'd expect `:all` to do.

[2018-03-01 02:27] dblock commented on #1041
I am not sure what to do with this, I think you should raise a PR and we can look at the change?

[2018-03-01 02:28] dblock commented on #1713
I am willing to look at any PR, but this is a pretty major change and it will affect lots of people, so there be dragons.

[2018-03-01 12:23] mtsmfm commented on #1713
@Jelkster Can I send a PR which rescue truly all exceptions? Are you implementing now?

[2018-03-01 15:05] Jelkster commented on #1713
@mtsmfm go ahead and send it.

[2018-03-01 19:49] dblock commented on #1738
Good work. At the very least I would add it to https://github.com/ruby-grape/ruby-grape.github.io (with the other one you mention), please. I'll open issues in the gem itself.

[2018-03-02 17:02] wagenet commented on #1744
@dblock I'll pursue this further when I see how https://github.com/rack/rack/issues/1239 settles out.

[2018-03-07 13:12] thiagoramos23 opened #1746 "ActiveRecord::ConnectionAdapters::ConnectionManagement no longer exists"
I was trying to implement the approach that is in the docs by using the ConnectionManagement class but it does not exist anymore.

I am open this issue to open a PR to update the docs.

[2018-03-07 17:31] rajnish4unow commented on #1147
Great thanks for sharing this. I was trying to log on Success and Error so below implementation works for me.
[code]

[2018-03-08 18:28] jvortmann opened #1748 "Cut a release for v1.0.3"
There some bug fixes for next release @dblock .

It would be nice to have a monthly release for bug fixes at least.

[2018-03-09 20:47] dblock commented on #1748
I will try to get to it, but there're also many other maintainers that are reading this! :)

[2018-03-11 22:03] dblock commented on #1713
Rebase against https://github.com/ruby-grape/grape/pull/1749.

[2018-03-13 03:30] salasrod commented on #1663
I am still seeing this on 1.0.2

[2018-03-13 13:49] #1663 closed

[2018-03-13 15:25] arempe93 opened #1751 "`given` cannot be used within a `with` block"
Consider the following test case:

[code]

Loading this test case causes an error:

[code]

And printing the `@declared_params` in that scope results in `[]`

The following set of params also cause a similar error:

[code]

This appears to be a side-effect of `new_group_scope` in `ParamsScope`

[2018-03-13 15:38] arempe93 commented on #1751
Seems related to #1226

[2018-03-13 19:05] dblock commented on #1751
Looks like a dup of #1226 actually, no? Would appreciate a PR. I'll close this.

[2018-03-13 19:05] #1751 closed

[2018-03-15 14:57] fanantoxa commented on #1713
@dblock Hi. I have a similar issue.
I'm using `mandrill-api` gem and grape 1.0.2 doesn't handle exception inherited from `Exception` class.

I've tried to add
[code]
Any of this doesn't work.

I've update Gemfile to use last master commit and started partly work
So next is working now:
[code]
But
[code]
still doesn't care about exceptions like this.

I saw from docs that it handle `StandartExcepti

[2018-03-15 15:12] dblock commented on #1713
These mandrill errors should have been derived from `StandardError`, but yes this is the same problem. Still taking PRs, see discussion above.

[2018-03-15 15:13] fanantoxa commented on #1713
@dblock Got it. Thank you for fast response.

[2018-03-15 15:44] dm1try commented on #1713
`rescue_from Exception` should also work on master, feel free to provide a failing spec if it does not work

[2018-03-15 16:02] fanantoxa commented on #1713
@dm1try Yes, it is. It's still mandrill issue

[2018-03-19 19:41] arempe93 commented on #570
@dvandersluis not sure if you found a solution but I'll add mine since I came across this ticket.

I just used a "meta-programming" type approach

[code]

This creates the following routes

[code]

[2018-03-19 21:26] dvandersluis commented on #570
I played around with a bunch of different metaprogramming but never got a solution that worked 100%. I really hope grape could support this properly and encourage code reuse.

[2018-03-24 05:40] tlabeeuw commented on #1673
PS: this currently doesn't seem to work for nested params:
[code]
These above both fail.

[2018-03-24 11:59] dblock commented on #1673
@tlabeeuw Can you please see if this is still broken on HEAD? Maybe PR a spec?

[2018-03-27 02:17] stephancom commented on #645
I realize this is closed, but I wanted to share an issue I just ran into the hard way.
Apparently, `@body = nil` will cause errors if you're using Rack::Lint.

`ERROR -- : app error: Body yielded non-string value 204 (Rack::Lint::LintError)`

Reason being that, it would seem, the Rack spec does not precisely follow HTTP spec.  There is some dissent on the matter, as seen in a related issue (no con

[2018-03-27 15:35] milgner commented on #1288
I was just able to reproduce this with 1.0. See https://gist.github.com/milgner/d3c229c8dfd6670720403a92066f15f5 for a small, self-contained example. Find a zip of the full application with Gemfile etc at https://oc.illunis.net/index.php/s/ejXzHAYkCcojcCw

[2018-03-27 15:57] dblock commented on #645
My question in rack#472 remained unanswered btw.

[2018-03-27 16:02] dblock commented on #1288
@milgner Can you PR a failing spec from that example on HEAD?

[2018-03-27 16:03] dblock commented on #1288
I'll reopen for now.

[2018-03-27 16:13] milgner commented on #1288
I have a couple of free days coming up, so that shouldn't be a problem :smile:

[2018-03-27 17:50] stephancom commented on #645
@dblock oh, haha, I hadn't even noticed that was you.  Now I'm not sure if I'm right about this, turns out I had a bigger issue going on - has this been your experience, do I need to return `[]` or is `nil` actually OK?

[2018-03-27 19:00] dblock commented on #645
I guess the answer is "I am not sure"...

[2018-03-27 23:08] dm1try commented on #645
The issues mentioned above looks unrelated

first,

From the perspective of Grape user, you should use `''` because Grape [wraps body value in an array](https://github.com/ruby-grape/grape/blob/a68d36daeeab673444e984bd58dd50d798950f83/lib/grape/endpoint.rb#L272) that is needed to Rack. Moreover, from the perspective of Rack user, `nil` value should be converted to `''` implicitly by Grape as Rack

[2018-03-27 23:08] dm1try commented on #645
as for `405 Not Allowed`

I agree, the spec [says](https://tools.ietf.org/html/rfc7231#section-3.1.1.5)

   associated representation: either the representation enclosed in the
   message payload or the selected representation, as determined by the
   message semantics.

and [`405 Not Allowed`](https://tools.ietf.org/html/rfc7231#section-6.5.5)

   received in the request-line is known by the orig

[2018-03-27 23:31] stephancom commented on #645
In (some of) my case(s), returning an empty array or hash is the more appropriate than a string - it's a case where I was returning a nil body and a 204 where I might otherwise be returning a collection.  An empty collection would make sense there.

Other cases, yeah, I guess an empty string.  It still bothers me a little, I don't like that Rack insists on this, it's weird.

As for grape convertin

[2018-03-28 10:05] milgner commented on #1288
It looks like the problem might have been introduced in #1625, which changed the behaviour of `should_validate?`

[2018-04-02 20:35] dblock commented on #1344
https://github.com/newrelic/rpm/pull/282

[2018-04-16 15:11] hguerrerojaime commented on #1310
How about making the value required depending on the value of other parameter?

[2018-04-19 09:02] murbano83 commented on #1628
@rnubel in my case the same scenario if I pass `FRONT_CAMERA` on the type, validates both, the `FRONT_CAMERA` and `REAR_CAMERA` and has to be only `FRONT_CAMERA`

[2018-04-23 23:38] #1748 closed

[2018-04-23 23:38] dblock commented on #1748
Released 1.0.3.

[2018-04-26 21:22] dcrodman opened #1757 "Validation around error handler responses"
Hi, I ran into an interesting issue the other day when debugging an ugly response from Grape when sending a request with missing parameters to one of our endpoints.

Here's a stripped down version of the `V1::Endpoints::Base` definition:
[code]
You'll notice that the `error!` call was mistakenly placed on the first line instead of the last line and since `return` was omitted, this method will retu

[2018-05-01 10:45] MiralDesai commented on #1371
+1 I know this is old, but still feel it's relevant. We're half way there in that we can define headers to be re required or not inside the desc block [See here.](https://github.com/ruby-grape/grape#describing-methods) but it would also be nice to be able to validate date them with the `all_or_none_of, at_least_one_of `etc

[2018-05-12 01:43] rromanchuk commented on #1738
@EmCousin struggling to figure out how to tell grape to use a different serializer than the object type passed to render, is there way to specify the serializer to use?

`render @user, serializer: :custom_compact_user_serializer`

[2018-05-12 01:47] rromanchuk commented on #1738
Doesn't seem like there is any obvious way short of subclassing my object

looking here
https://github.com/EmCousin/grape_fast_jsonapi/blob/master/lib/grape_fast_jsonapi/formatter.rb#L40

[2018-05-12 03:32] rromanchuk commented on #1738
@EmCousin 👌 thanks, seems embarrassingly obvious now.

[2018-05-21 15:23] hoffm opened #1760 "Allow presentation of lists using heterogeneous entities (e.g. for STI data models)"
## Summary

Currently, when presenting multiple objects, Grape infers the entity it should use from the first member of the list ([ref](https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/inside_route.rb#L359-L364)). This behavior is problematic for use cases that present heterogeneous lists of objects, i.e. those that differ with respect the entity intended for their presentation. A com

[2018-05-21 21:44] arempe93 opened #1761 "Shared params don't get inherited like helper methods"
The following code does not work:

[code]

when ran, it gives this error:

[code]

However this will work:

[code]

and so will this:

[code]

So the methods in helpers are available to mounted apis, but not the shared params.

I want to give a try at allowing this to work, could someone give me a starting point who is familiar with helpers / namespace stackable settings?

[2018-05-22 20:37] dblock commented on #1760
I think it's a good idea, although I generally think that `present` should be simpler, rather than more complex. I wonder if we can make this behavior somehow either pluggable or maybe even move it out into custom classes where these decisions can be made, much like formatters and error formatters?

[2018-05-22 20:39] dblock commented on #1761
I would start by writing a spec. In terms of help with helpers and stackable things someone will surely jump in if you can get something going and still can't figure those out (it's pretty thick).

[2018-05-22 22:25] ctennis opened #1762 "Default formatter error can cause XSS rendering issue"
If you issue a request into an API endpoint with a format specified that is not handled, you get back a 406 error with message 'The requested format 'format' is not supported.'

The name of the specified format is rendered in the error message, which defaults as HTML.  You can easily craft a format value that gets passed in and renders as an XSS.  An example:

http://example.com/api/endpoint?forma

[2018-05-23 02:12] dblock commented on #1762
Looks legit. Would appreciate at least a spec, maybe a fix, please. We can just drop the actual value I think.

[2018-05-23 13:57] florrain commented on #1643
What are the recommendations to fix this warning message? Tried setting a nil logger but it doesn't seem to fix all cases.
[code]

[2018-05-23 15:44] ctennis commented on #1762
Happy to do so, but I'm not sure the best approach for fixing. The use of the format name in the script was done intentionally (#322 I believe).  Ideally we'd sanitize the output before displaying it as html, but we don't know it's going to be displayed as html. ActionSupport has a safebuffer that could be used for sanitizing the html text prior to rendering, but we don't want to do that if the te

[2018-06-06 13:32] dblock commented on #1762
Closed via #1763.

[2018-06-06 13:32] #1762 closed

[2018-06-07 02:06] emanoelxavier2 commented on #827
+1

[2018-06-11 08:42] jackcasey commented on #1431
I'll discuss 2 years later!

I find it really (_really_) hard to write DRY code in grape. I have a bunch of 'APIs' mounted alongside each other that all need the same helpers and same before and after blocks for logging, instrumentation, error handling etc and nothing works like it 'should' based on my (normal?) OOP assumptions. I don't even know if it's possible or not. Maybe I'm just being dense

[2018-06-12 13:13] dblock commented on #1760
I think you could try adding something like a API/class level `presenter Presenters::Root` and moving the current implementation into `::Root`, then implementing an array variant.

[2018-06-14 05:32] yeonhoyoon opened #1766 "Rails reloading instructions no longer required?"
Gem versions
Rails: `5.2.0`
Grape: `1.0.3`

In a blank state rails app created by `rails new`, API changes in grape seems to be picked up by rails without any modification in `application.rb` or creating initializer files to listen on callbacks.

I've put the files in correct directory, as per usual in rails, but nothing more.
Adding new apis and modifying existing apis is hot-reloaded without res

[2018-06-14 12:44] dblock commented on #1766
If that works, I say PR it. Thanks!

[2018-06-18 14:12] hoffm commented on #1760
@dblock When you refer to `Presenters::Root` are you thinking of a new class under the existing `Grape::Presenters` namespace or some new structure altogether?

[2018-06-18 18:58] dblock commented on #1760
No strong preferences on namespacing.

[2018-06-20 10:30] pynixwang commented on #750
problem with `Base`? when I change to another name, it works.

[2018-06-26 13:30] jasonl commented on #1475
Was this ever resolved? I'm seeing the same issue with Grape 1.0.3 and Rails 5.0.7 (yes, yes, I know)

[2018-07-03 02:07] wxianfeng commented on #1334
this issue is not Grape problem

at last i found `active_model_serializers` problem, am use not release code,  it's use class variables, not threadsafe !

`gem 'active_model_serializers', git: 'https://github.com/rails-api/active_model_serializers.git', ref: '2df8804'`

`active_model_serializers/lib/active_model/serializer.rb`

[code]

[2018-07-10 13:52] basjanssen opened #1768 "Returning an empty hash in a HTTP delete results in an exception"
After upgrading to Grape >= 0.19.1, the default status code for DELETE is now 204 instead of 200.
When returning a response which is not empty (for example `{'key'=>'value'}`, a 200 is returned with the correct response body.

When a non empty hash is returned on webrick (default development rails server) this goes well: the hash is returned. However, if an empty hash is provided `{}`, it results

[2018-07-10 15:10] basjanssen commented on #1768
When investigating in the grape code, I see that inside_route wil check for a value in the body using .present? This will return false if an empty hash is used. I'm not sure if this should be the case. Returning an empty json object is done returning `{}`. The body is clearly not empty: it returns a valid json object. However: the grape implementation would regard this as no content -> 204.

[2018-07-11 15:33] dblock commented on #1768
Interesting, I think this is a bug. Try writing a test for it, maybe a fix?

[2018-07-17 21:51] jereynolds opened #1769 "Params 'as' option fails within 'given' block"
The parameter alias `as` option is ignored when a parameter is declared inside a `given` block

[code]

When a route with this params declaration is triggered, `declared(params)` evaluates to:
`{ "vertex_label" => "MyLabel", "property" => "MyProperty" }`

I expect the `property` parameter to be aliased to `vertex_property` in declared params, but this does not happen

[2018-07-18 08:30] dblock commented on #1769
Looks legit, try writing a spec for it?

[2018-07-18 20:29] frank184 opened #1770 "Grape::Middleware::Versioner::Header breaks"
Upgrading to Grape >= 0.14.0 crashes our some of our requests.

[code]

The issue seems related to the Regex that captures the vendor within Middleware Versioner Headers.
Our application uses a Warden middleware, which is raising this exception.

`VENDOR_VERSION_HEADER_REGEX = /\Avnd\.([a-z0-9.\-_!#\$&\^]+?)(?:-([a-z0-9*.]+))?(?:\+([a-z0-9*\-.]+))?\z/`

The Middleware raises an exception caused by

[2018-07-19 12:15] dblock commented on #1770
Is this a bug in Grape though? I mean is that vendor string valid in which case do we need to fix it in the code?

[2018-07-19 13:19] frank184 commented on #1770
The vendor is valid, it's the lazy matching of Regex that prevented it from matching because of the format/extension with an underscore.

[2018-07-20 20:06] jereynolds commented on #1769
Added fix to the PR

[2018-07-23 11:02] dblock commented on #1769
Closing via https://github.com/ruby-grape/grape/pull/1771. Thanks @jereynolds!

[2018-07-23 11:02] #1769 closed

[2018-07-23 18:16] jereynolds commented on #1769
Do you know what the expected time until the fix is released is?

[2018-07-24 15:13] zauzaj opened #1772 "Can't set cookie via API endpoint"
Hi,

I have to set secure & http_only cookie from BE for master domain - `website.com` where those cookies will be also used by subdomains - `sub1.website.com`, `sub2.website.com` etc ...

I've tried with `cookies`, `headers['Set-Cookie]` but nothing works as expected. Is there any other way to do it via GrapeAPI ?

Any help would be appreciate.

Thanks

[2018-07-24 16:58] dblock opened #1773 "Release v. Next"
Coming from https://github.com/ruby-grape/grape/issues/1769#issuecomment-407152519

[2018-07-24 16:58] dblock commented on #1769
Nope, but there're a bunch of changes so I'll do a release when I get to it or another maintainer beats me to it, https://github.com/ruby-grape/grape/issues/1773.

[2018-07-24 23:06] basjanssen commented on #1768
I love to get some feedback. As a grape rookie, I hope I'm on the right track.

[2018-07-25 12:19] zauzaj commented on #1772
@dblock Do you have any opinion here pls ?

[2018-07-25 18:17] dblock commented on #1772
Can you please define "nothing works as expected". What are you seeing in terms of `set-cookie` line(s) emitted from the API and what do you expect to see?

[2018-07-26 17:40] zauzaj commented on #1772
@dblock Hi, seems that it was kind of wrongly configured. I'm still not sure why, but as we're dealing with subdomains, FE app had to include `withCredentials: true` or cookies wont be included in request. That's weird but that's how it is.

Anyway it works as expected now.

I have another question here, is there any way to spec cookies which are set from Grape endpoint. I see in gem there is no s

[2018-07-26 18:36] dblock commented on #1772
There're definitely specs for cookies, [here](https://github.com/ruby-grape/grape/blob/2dcef9af4dd483a1a3d56cbfd660056ed8e9fe42/spec/grape/endpoint_spec.rb#L157). We could always use more, feel free to PR.

With RSpec, `response.cookies` should be working AFAIK.

I'll close this since the original issue was resolved. Please try to use [the Grape mailing list](https://groups.google.com/forum/#!foru

[2018-07-26 18:36] #1772 closed

[2018-07-27 19:38] jeffclemens commented on #1766
FWIW, the only configuration I found to be necessary in Rails 5.1.2 is to `mount` in `config/routes.rb`.  The autoloader-related change to `application.rb` was not required.

[2018-07-31 20:03] brianweiner commented on #1766
FWIW I still experience:
`ArgumentError (A copy of API::V1::Defaults has been removed from the module tree but is still active!)`
when I make changes to a definition file without restarting the dev server.

Rails 5.1.7
grape 1.0.3

I mount in config/routes.rb like so `mount API::Base, at: '/'`

[2018-08-02 10:56] myxoh opened #1775 "Grape::Extensions::Hashie::Mash::ParamBuilder can't be set as a default globally in 1 place"
Context: I'm upgrading a massive rails 3.2 API to rails 4. I'm late to the party to realise that Grape changed the default param builder.

Problem: The proposed solution for backwards compatibility:
`include Grape::Extensions::Hashie::Mash::ParamBuilder` can't be applied globally as far as I could investigate.
The reason for concern is that we have over 200+ API endpoints, and I'd rather not have

[2018-08-04 17:03] dblock commented on #1773
Released 1.1.0. If other maintainers are reading this would be nice to see some initiative next time ;)

[2018-08-07 13:21] amrrbakry opened #1777 "Problem with GET request with encoded query params"
I'm having a problem with making a **_GET_** request with encoded query params. This is how my endpoint is set up to receive the params:
[code]
As you can see I'm expecting an _event_id_ param and another array of objects param _tickets_, and this is how the request URL looks like:

`http://localhost:3000/api/service_fees/calculate?eventId=2xy6rft69azlu2mtppnzb1xe6olzd3f0&tickets[]=%7B%22id%22:%22

[2018-08-07 21:35] thedarkside opened #1778 "Crash on enforce_avialable_locales without locale :en"
My rails app is configured this way:
[code]
The `enforce_available_locales` is set to `true` by default.

When hitting the grape api with an invalid request grape sets the locale to the [https://github.com/ruby-grape/grape/blob/master/lib/grape/exceptions/base.rb#L77](`FALLBACK_LOCALE`) which is `:en` and crashes due to `enforce_available_locales` being `true` like so:

[code]
In my opinion grape

[2018-08-08 01:34] dblock commented on #1777
I found https://github.com/ruby-grape/grape/issues/1028 which is very similar. Arrays of hashes is not something you can express in a query string AFAIK per HTTP spec. I'll close this as a dup of that, you should either way just POST JSON.

[2018-08-08 01:34] #1777 closed

[2018-08-08 01:36] dblock commented on #1778
You're probably right, try turning it into a spec next?

[2018-08-09 18:57] glaucocustodio opened #1779 "Content type validation"
Hey folks!

I just implemented a custom content type validator here and I wonder whether you think it is worth to add to grape, it seems legit to me given its short implementation.

The api looks like:

[code]

I would be happy to send a PR if so.

Thanks.

[2018-08-09 21:33] dblock commented on #1779
Definitely!

[2018-08-09 22:29] glaucocustodio commented on #1779
My first implementation was using `MIME::Types.type_for("file.ext").first.content_type` but I found out this method figures the content type out through the file extension, which is not much reliable (unless we check both content type and extension maybe). It would add a dependency to grape as well. Ex:

[code]

I ended up changing to use `file --mime -b file.ext`, but it seems not to work on Wind

[2018-08-10 12:01] dblock commented on #1779
As far as Grape is concerned what we want is to ensure that the request carries the right content-type in the headers, that's all. It's the parser's/consumer's job to ensure that the contents actually are plain text, CSV, etc.

[2018-08-13 14:27] ebouchut commented on #1614
Hi,

I would also be interested by such a feature.

Would the following be a workaround in the meantime?

To make sure we get:
- `widget_id`
- or `gadget_id` and `gadget_type`
- or none of them

[code]

If on the other end we need to get at least one of the following:
- `widget_id`
- `gadget_id` and `gadget_type`

[code]

[2018-08-13 18:53] glaucocustodio commented on #1779
Given

[code]

If I send a jpg file with the csv extension, I receive a mistaken content type (`type` key) from the browser like:

[code]

Even so, you think we should check just the `type` key?

[2018-08-13 21:51] dblock commented on #1779
I think the browser "sees" that this file is not a CSV by examining some local file system attribute, but the server can't without parsing the file. We can add validators for formats (parsers) of course, too.

[2018-08-22 07:55] coreystinson2 opened #1781 "Versioning ignores HTTP method, only matches on route name."
When defining the same routes under different versions, the version 2 routes are not matching on the http method - only by the route name.

[code]

[code]

[2018-08-22 07:59] coreystinson2 opened #1782 "Versioning ignores HTTP method, only matches on route name."
When defining the same routes under different versions, the version 2 routes are not matching on the http method, it appears that they're only looking at the name.

[code]

[code]

[2018-08-22 08:02] coreystinson2 commented on #1782
Added a third DELETE route under the version2 definition and now GET and POST verbs are matching to this. It appears to be matching only to the last-defined route ?

[code]

[2018-08-22 08:02] coreystinson2 commented on #1781
accidental duplicate.

[2018-08-22 08:02] #1781 closed

[2018-08-22 10:46] coreystinson2 commented on #1782
Sure, i'll take a look and see what I can find.
Is the default path strategy a more "preferred" method of achieving versioning with grape ?

[2018-08-22 12:14] dblock commented on #1782
I would say the HTTP way is `:header`, check out https://code.dblock.org/2013/07/19/evolving-apis-using-grape-api-versioning.html

[2018-08-23 12:06] darrellnash opened #1784 "Namespaces and routes with multiple requirement regex's aren't working"
I opened a PR with the test spec to demonstrate the issue: https://github.com/ruby-grape/grape/pull/1783 - but here's the same info to save you a click:

I believe there's a bug that was introduced sometime after Grape 0.13 (we were running a very old version). We have several nested namespaces the have requirements to allow for dots in the path parameter.

e.g. /:user_id/:attr_id, where both :use

[2018-08-26 11:59] myxoh commented on #1775
Thank you @dblock that's awesome!

[2018-08-27 08:09] dblock commented on #1775
reopening since it's still a valid feature

[2018-08-30 13:20] #1757 closed

[2018-09-06 12:09] yuryroot commented on #1238
@antek-drzewiecki please try to use something like following code:

[code]

[2018-09-12 16:37] ysv opened #1789 "is_array is not supported if we pass options as a block to `desc`"
Old style desc works well for me
[code]

But since passing it via hash is [deprecated](https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/desc.rb#L50) I've tried to pass it via block and it didn't work for me

[code]
same for this
[code]
How array response should be described in documentation using block ?

[2018-09-12 22:28] ysv commented on #1789
related to https://github.com/ruby-grape/grape-swagger/issues/705

[2018-09-14 23:45] darrellnash commented on #1784
Looks good to me.

[2018-09-14 23:45] #1784 closed

[2018-09-15 05:04] darren987469 commented on #1789
@ysv Do you mind I try it?

[2018-09-15 11:31] ysv commented on #1789
@darren987469 you are welcome

[2018-09-16 21:53] #1789 closed

[2018-09-19 18:07] ChrisCPO opened #1792 "request is nil in middleware on missing or incorrect content_type"
We have a Logger that extends from the Grape middleman base. This logger need to have access to the request from `env["api.request"]` in the `after` method, which when a http request is sent with no content_type defined `env["api.request"].request` is nil which raises an error.

The following is the middle man call trace. Our middleware is `API::Logger`.
[code]

My question is the request deleted

[2018-09-19 18:30] ChrisCPO commented on #1792
possibly related to #1587

[2018-09-20 20:14] dblock commented on #1792
I would say seems like a bug, and I would fix #1587 first because that one is a bit clearer

That said, try writing a spec for this? It will narrow down what's going on.

[2018-09-21 18:07] ChrisCPO commented on #1792
@dblock I have a failing spec for this. I will extract it out into new rails app.

[2018-09-21 23:08] dblock commented on #1792
PR the spec instead here

[2018-09-23 05:26] Morred commented on #1715
I added a spec for this case (https://github.com/ruby-grape/grape/pull/1793) and it seems that it's validating just fine in deeper levels of nested params.

[2018-09-23 13:09] dblock commented on #1715
@tabz24 Care to compare to what you have?

[2018-09-23 13:09] dblock commented on #1715
Thanks @Morred !

[2018-09-29 02:30] Morred commented on #1778
Hope it's ok to jump in here as there hasn't been a reply from the original reporter in a while.
I made a PR here https://github.com/ruby-grape/grape/pull/1796, the first commit confirms that indeed an exception is raised if available locales are enforced but don't contain :en. Second commit has a fix that checks if the available locales are enforced and fallback locale is available and if not, re

[2018-09-30 13:02] Kroid opened #1797 "Standalone params validation for custom methods?"
Hi. I searching gem for params validation. Not only for HTTP API but for the custom class methods. Grape's validations look great but available only for grape API code.

Maybe someone already extracted grape's validation in another stand-alone gem?

[2018-09-30 17:39] dblock commented on #1797
Grape validation is primarily implemented using [Virtus](https://github.com/solnic/virtus) plus some custom options like `except` or `mutually_exclusive`. I think you just want Virtus for class methods.

I'll close since it's not a Grape feature per-se. If you think something is extractable, go for it and we'd gladly adopt the dependency instead.

[2018-09-30 17:39] #1797 closed

[2018-10-09 04:00] Morred commented on #1778
@dblock Fixed via https://github.com/ruby-grape/grape/pull/1796, let's close?

[2018-10-10 12:50] apokyn opened #1798 "Can't rescue 415 Unsupported Media type error"
Hi.

I have an issue with the grape that I cannot rescue `415 Unsupported Media type error`. It does not appear in any `rescue_from` handlers, the reason for this is that this error is handled by grape with `throw`/ `catch` statements and logic for those different from `raise`/`rescue`.

I made a patch which catch thrown errors and than raises those thought grape base exception, like this:
[code]

[2018-10-11 11:55] dblock commented on #1798
Care to try and write a spec that demonstrates what you're trying to do? I think everything should be rescuable but maybe at different levels.

[2018-10-16 14:23] nickrivadeneira opened #1799 "Stacked versioning broken when not using `:path` version method"
Upgrading from `0.18.0` to `0.19.0` breaks our app when we use `:accept_version_header`, version arrays for fallbacks, and a catch-all. I wrote this series of tests (at bottom) to verify, and all non-path catch-all tests fail.

After extensive investigation, it looks like `:path` versioning works because it matches using the `@optimized_router` immediately based on the `/:version/:path` pattern. W

[2018-10-17 09:03] andreacfm opened #1800 "Unsupported nested given blocks"
Example:

[code]

This fails because the params :operator seems not defined when passed to the nested given block. Is this use case supported?

[2018-10-17 13:46] nickrivadeneira commented on #1799
@dblock Added in #1801

[2018-10-22 22:58] andreacfm commented on #1800
@dblock https://github.com/ruby-grape/grape/pull/1804

[2018-10-24 02:55] atshakil opened #1805 "Helpers are not accessible from inside `params` block"
Helpers can be accessed from `before` and request blocks (e.g. `get`, `post`). But, `params` block can not access helpers the same way.

In the following snippet, `params` block throws a `NoMethodError` for `process_query`.

[code]

Is there a way to access helpers from inside the `params` block?

[2018-10-24 12:42] dblock commented on #1805
Probably not right now, but we should support it. PRs welcome!

[2018-10-27 12:41] Asafb26 opened #1808 "Params 'as' option not accessible within 'given' block proc"
It seems like we cannot access to the value inside the proc for an alias param

[code]

[2018-10-28 23:02] darren987469 commented on #1805
You can define a class that implements `call` method and use that class in helper or in coerce_with.

[code]

More info, see [README](https://github.com/ruby-grape/grape#custom-types-and-coercions).

[2018-10-31 10:46] #1808 closed

[2018-11-01 14:48] #1800 closed

[2018-11-01 14:49] dblock commented on #1800
@andreacfm Try HEAD, https://github.com/ruby-grape/grape/pull/1811 fixes this.

[2018-11-01 14:49] dblock commented on #1681
@darren987469 another one? :)

[2018-11-01 14:50] dblock commented on #1641
@darren987469 another one? :)

[2018-11-01 22:29] darren987469 commented on #1681
No problem, I will try it. 😄

[2018-11-03 13:15] nanderss commented on #827
I was wondering if there's a solution to this?

[2018-11-05 02:55] darren987469 commented on #1681
@dblock close this?

[2018-11-07 10:07] prettyGoo opened #1814 ":as is skipped for nested params description"
[code]

When I try to specify params names using :as I get in my params object the "questions" key replaced with "questions_attributes" (which is expected behaviour), but the "answers" key remains "answers"

Not sure which version of grape I am using, but I guess it should be 1.1.0

[2018-11-07 12:41] #1681 closed

[2018-11-07 12:43] dblock commented on #1799
I think different versioning schemes may want to behave differently, path versioning may need to be inserted at a different time.

I do think you should attempt what you're proposing! We have lots of tests and eyes here, so we'll know what breaks :)

[2018-11-07 12:43] dblock commented on #1814
Looks like a bug to me, write a test against HEAD?

[2018-11-08 22:58] andreacfm opened #1815 "Autoloading issues after the introduction of Remountable API?"
The introduction of this commit https://github.com/ruby-grape/grape/commit/cf14fc79d0100b988fb0d5ccd9182e3135e9ae48 completely broke one of my api's.
I get any possible erro from `guess_for_anonymous` when autoloading modules to missing methods from included module.

My API is mounted as:

[code]

One of the error I get (undefined method paginate) from:

[code]

Is this expected and does exists an

[2018-11-09 01:11] dblock commented on #1815
Thanks for trying HEAD out @andreacfm, cc: @myxoh, related to #1803.

It would be helpful to get a spec that can reproduce this, let's fix it or document a workaround before release.

[2018-11-09 08:57] andreacfm commented on #1815
@dblock here a spec to show the failing in including modules.
https://github.com/ruby-grape/grape/pull/1816

[2018-11-09 16:28] dblock opened #1817 "Release 1.2.0"
Current blockers:

https://github.com/ruby-grape/grape/issues/1815, https://github.com/ruby-grape/grape/pull/1816

[2018-11-09 16:30] myxoh commented on #1815
Hi, I'm going to be looking at the issues caused by the PR now. Sorry, it's been a very heptic week for me

[2018-11-12 04:04] rromanchuk commented on #1815
I haven't spent any time investigation besides just reverting, just sharing what I know

[code]
in application.rb
`config.autoload_paths << "#{Rails.root}/lib"`

Location of module
`lib/slack_bot.rb`

Somewhere inside `Grape::API`

`include SlackBot`

[2018-11-12 10:08] myxoh commented on #1815
@rromanchuk I couldn't reproduce that on Rails 5.2. I'll try on 4.2. Perhaps you could answer a couple of questions for me?
Which Rails version are you using?
How are you loading the API?
Is the errors happening on load time or run time?

[2018-11-12 10:13] myxoh commented on #1815
@andreacfm I also was't able to reproduce autoloading issues adding `helpers V1Helpers` where `V1Helpers` is a module of helpers. It seemed to work just fine

[2018-11-12 10:36] myxoh commented on #1815
I couldn't reproduce on 4.2 either. It seems that my test case is not triggering the issue. I need more information to be able to help unfortunately

[2018-11-12 11:28] mcmegavolt opened #1819 "Define complex parameters"
Hi, folks!

Can somebody explain how to define complex parameters like this?

[code]

Note, that the **user_id**, **property_id**, **user_relation**, **property_relation** keys are dynamic here, so theese key names can be one of predefined in array constant.

Also, need to properly display it in swagger-ui.
Please, help!

[2018-11-12 12:46] dblock commented on #1819
[code]

I'll close this. Ask [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) if you're still having issues.

[2018-11-12 12:46] #1819 closed

[2018-11-12 13:00] andreacfm commented on #1815
@myxoh

* using Rails 4.2.10
* api is mounted as per docs in routes.rb ```mount ApiBase => '/'```
* error fires on load

I will try to reproduce the error I get with the helpers in a spec. I have already submitted the error I get using include.

[2018-11-12 13:02] andreacfm commented on #1815
@myxoh autoloading errors are scary. Are you sure that the ```remountable```  implementation worth the pain?

[2018-11-12 14:43] myxoh commented on #1815
If you can post a sample git repo, I can work from that. While they are scary, they are not un-solvable. I want to at least give it a go.
I do believe `remountable` is worth the trouble, and I couldn't think of any other implementation that would make this faster. This is a very core change to the way things work, so things were bound to be somewhat broken.
The alternative was my first choice, hav

[2018-11-12 15:05] andreacfm commented on #1815
@myxoh make sense. I will have something for you asap.

[2018-11-12 16:21] dblock commented on #1815
I agree, we definitely want remountable. Lets fix the bugs and move forward!

[2018-11-12 21:58] dmmcgee opened #1820 "Still having issues with helper inheritance"
I thought this was supposed to be fixed with #1665, but I am still having issues with it. I have a few classes inheriting from Grape::API and I want to avoid having to include the helpers in every endpoint class:

`require "#{Rails.root}/app/api/v2/helpers/authentication_helper.rb"

module API
	module V2

    class Base < Grape::API
			prefix 'v2'
      format :json

    end

    class Authenticat

[2018-11-12 23:31] andreacfm commented on #1815
@myxoh sorry but I could not find the time to put together a test app. I will try by tomorrow ... busy days ... you know :)

[2018-11-13 13:52] dblock commented on #1820
Try to turn this into a spec?

[2018-11-13 13:58] myxoh commented on #1815
Hi @rromanchuk . I've used your example as a basis for: https://github.com/myxoh/testing-grape
Could you try and make that project fail and raise a PR against it? Or anything that could help me get anything to fail

[2018-11-13 16:35] myxoh commented on #1815
Wait @rromanchuk is your issue happening on grape 1.1???
If that's the case I think you have a different one, very likely not even related to grape at all!

[2018-11-13 19:30] rromanchuk commented on #1815
@myxoh sorry, that was misleading, you should throw that information out, that's what is on production right now.  I only meant to share to give you context of potential troublesome gems. The issue started when i updated to the latest release against this github branch

[2018-11-13 22:41] andreacfm commented on #1815
@myxoh same for me. The issue appears when using a codebase that runs fine  with grape 1.1 on the last master.

[2018-11-19 02:16] myxoh commented on #1815
@andreacfm , @rromanchuk I'm still waiting on any code that replicates the issue: please 😄 ? I've linked to a blank project use `master` on grape and the autoloader which has no issues. And I've tried using `master` on a large project I'm working on, also without issues.
I'm not sure what I'm doing differently from you, I need any blank rails project (or a PR to my project), or some more informati

[2018-11-19 07:19] woshidan opened #1821 "Validation Error is not raised when optional Hash type parameter is received String type value and exactly_one_of be used"
Gem versions:

- Rack 2.0.6
- Grape 1.1.0

I defined the API as below and expected to return a 400 error when the memo parameter is String type value instead of a Hash type value, but 500 error returned.

[code]

Here is examples of test request and the responses.

### CASE 1

[code]

[code]

[code]

[code]

### CASE 2

[code]

[code]

### CASE 3

[code]

[code]

### CASE 4

[code]

[code]

Does a

[2018-11-19 13:35] dblock commented on #1821
Looks like a bug, you should turn it into a spec + fix.

[2018-11-20 04:50] rromanchuk commented on #1815
@myxoh I'll give this a go tomorrow

[2018-11-21 17:15] #1821 closed

[2018-11-21 17:16] dblock commented on #1821
Merged

[2018-11-23 10:41] myxoh commented on #1815
@rromanchuk, @andreacfm any luck?

[2018-11-23 12:06] myxoh commented on #1815
I finally was able to reproduce the issue by including the gem Kaminari Grape. Will try to solve it now

[2018-11-23 12:21] myxoh commented on #1815
Found the issue :smile:, creating a PR

[2018-11-23 12:35] myxoh commented on #1815
@dblock if you are happy with that change, let's merge it. Afterwards could @rromanchuk  and @andreacfm test on your projects?

Let's get this over the line :trophy:

[2018-11-23 14:43] dblock commented on #1815
Closed via https://github.com/ruby-grape/grape/pull/1823

Please give HEAD a try.

[2018-11-23 14:43] #1815 closed

[2018-11-23 15:21] myxoh commented on #1817
Pressumably, if we are happy that #1815 is fixed, we can now carry on with this

[2018-11-23 15:43] andreacfm commented on #1815
@dblock @myxoh I have a new error. In one of my code base I was injecting some helper class method reopening Grape::API.

[code]

The methods are not available anymore in my api classes that extend Grape::API. Is this an expected behaviour?

[2018-11-24 21:44] andreacfm commented on #1815
@myxoh works for me now. Thanks. Any idea of when this will be released?

[2018-11-26 14:02] dblock commented on #1817
@myxoh All yours! Go for it. Follow https://github.com/ruby-grape/grape/blob/master/RELEASING.md

[2018-11-26 15:23] myxoh commented on #1817
Release out!
If you have any issues place don't hesitate on tagging me.

[2018-11-26 15:23] #1817 closed

[2018-11-26 15:40] dblock commented on #1817
@myxoh I don't see anything pushed to master here (changelog, etc.) did you do it on your fork?

[2018-11-26 19:59] delner opened #1825 "Inheriting from Grape::API yields anonymous class"
With the release of version 1.2.0, the following class definition yields an anonymous class:

[code]

This breaks some code that depends on referencing `Foo` as a constant to return a well-known type, not an anonymous class. A common case would be calling `Foo.name` which previously returned `'Foo'` would now return `nil`.

A workaround for this, [as alluded to by the release notes](https://github

[2018-11-27 01:58] dblock commented on #1825
Good catch, I am not sure what the best way to fix it is, but let's make sure to make some specs, cc: @myxoh.

[2018-11-27 11:41] myxoh commented on #1825
Could you tell me which version of Ruby you are using?

On MRI Ruby 2.3.3

![image](https://user-images.githubusercontent.com/5561861/49079687-2f92af00-f239-11e8-9692-e48874b94506.png)

On MRI Ruby 2.5.1

![image](https://user-images.githubusercontent.com/5561861/49079737-55b84f00-f239-11e8-8ae6-2db07d728290.png)

So

[2018-11-27 16:29] delner commented on #1825
I was having trouble reliably replicating this the same way you did (irb), using Ruby 2.3.7. However, this "anonymous class with no name" problem can be replicated with the following Minitest, when working with the API class from an ActiveSupport notification:

[code]

![screenshot from 2018-11-27 11-25-06](https://user-images.githubusercontent.com/3237131/49095950-8303fd80-f237-11e8-90d9-fed80810

[2018-11-27 17:08] myxoh commented on #1825
Ok, yes. The problem you are talking about is that the MOUNTED app is anonymous. Which is intentional. as we are now mounting instances, rather than the class itself.

So: I shouldn't make the anonymous class respond to `name` with the name of the original class, because that'd generate all sorts of trouble, they are two different classes.

Without me changing anything, in your test you can do:

`

[2018-11-27 17:09] myxoh commented on #1825
(Related to the above ^)
The following code passes:

[code]

[2018-11-27 17:36] dblock commented on #1825
Should this anonymous class respond to `name` and provide something like `API Name#instance ID`?

[2018-11-27 17:47] myxoh commented on #1825
We could try, my concern is that is still an instance of the class `Class` where the keywoard `name` has a well defined meaning. Not sure what would be the side effects of it incorrectly identifying as `API Name`

I would be happy to provide alternative methods like `api_name`, and potentially giving the instance a name like you suggested (`ApiConstant::Instance_1`). Alternative, I guess, we could

[2018-11-27 17:51] dblock commented on #1825
Your call @myxoh if you want to try something. We could at least document in UPGRADING what one should do if they were using `Grape::API#name`?

[2018-11-27 17:52] dblock commented on #1825
@myxoh Check out the diff in https://github.com/DataDog/dd-trace-rb/pull/639/files - do you think that's the right way to do it?

[2018-11-27 17:57] delner commented on #1825
Previously we had actually did `to_s` instead of `name`. Maybe overriding the behavior of `to_s` is less invasive that overriding the class `name` function?

Also, using `base` seemed to work fine, so there is a way of working around the name issue I was having. (See the linked PR above.)

[2018-11-27 19:07] myxoh commented on #1825
I agree with overriding `to_s` in principle.
I'll create a PR in a bit that does this.

Regarding your diff @dblock , I think that's sensible. I wish I could think of something that could do without the if. Perhaps `to_s` if we override that works for both versions?

Finally, I'll create a note on the upgrading to reflect this

[2018-11-27 20:35] delner commented on #1825
A `to_s` override that would allow 1.1 and 1.2 to work with the same code would be awesome. Would like to avoid the `if` too.

[2018-11-27 22:55] myxoh commented on #1825
Apologize for the delay.
If you could please take a quick look at this PR: https://github.com/ruby-grape/grape/pull/1826

[2018-11-27 23:03] myxoh opened #1827 "Should we use the ISO 8601 date format on the changelog?"
I've realized on the prior release I've made a mistake as I use the British date format (DD/MM/YYYY) rather than the American one.
Should we use the ISO 8601 YYYY/MM/DD which is less prone to confusion?

(Really minor point here)

[2018-11-27 23:32] dblock commented on #1827
Yep, lets do ISO, it's clear every time :)

[2018-11-27 23:33] dblock commented on #1827
Also, if you feel really ambitious @myxoh, https://github.com/dblock/danger-changelog/issues/4

[2018-11-28 13:40] JaniJegoroff commented on #1825
@delner Thanks, there was something fishy going on with my tests after updating to `1.2.0` and just confirmed it's related to this issue.

[2018-11-28 16:48] myxoh commented on #1825
@dblock As soon as I can I'll release it

[2018-11-28 18:17] myxoh commented on #1825
Released

[2018-11-28 18:17] #1825 closed

[2018-11-28 19:15] delner commented on #1825
Thanks @myxoh and @dblock for the quick turnaround on this!

[2018-11-29 08:43] JaniJegoroff commented on #1825
Still some of my tests are failing after updating to `1.2.1`. When I make this change everything works again
[code]

[2018-11-29 09:11] myxoh commented on #1825
Could you please describe your issue in a little more detail?
I'm not sure what error you are seeing

[2018-11-29 09:45] JaniJegoroff commented on #1825
@myxoh I wish I could. I'm testing web application against local mock server that I implemented with `grape`. Unfortunately, I don't see errors from grape directly so it's not easy to say what's happening deep down. I have used several versions in the past before `1.2.0` successfully and I can see some tests failing in versions `1.2.0` and `1.2.1` only (tests are passing again if I modify code as

[2018-11-29 10:49] myxoh commented on #1825
@JaniJegoroff I'm not sure I can fix it without an example :cry: . When you do, could you please open a separate issue?

[2018-11-29 10:56] JaniJegoroff commented on #1825
@myxoh I fully understand and will create separate issue in due time.

[2018-11-29 13:35] #1827 closed

[2018-11-30 10:30] sos4nt opened #1829 "Inheriting from Grape::API breaks basic Ruby functionality"
Grape seems to be messing with build-in methods resulting in [self schizophrenia](https://en.wikipedia.org/wiki/Schizophrenia_(object-oriented_programming)) issues. Here are some examples: (using version 1.2.1)

[code]

Please fix this. Better yet, don't do this in the first place. Ruby's object model is complex enough by itself.

[2018-11-30 12:03] myxoh commented on #1829
OK, not sure whether this reflects a specific issue or is just a general comment.
Nevertheless it triggered me reinspecting the code around remounting, and it indeed was possible to make a less risky approach.

https://github.com/ruby-grape/grape/pull/1830
I've made all of these into specs and created a PR

[2018-11-30 12:06] myxoh commented on #1829
Overriding new is still something I need to do in order to preserver backwards compatibility with a new fundamentally different underyling implemention, but other than that, I was able to restore all other class methods

[2018-11-30 13:07] sos4nt commented on #1829
Somehow specific. On of our checks for a specific endpoint failed for no apparent reason after the 1.2 upgrade:

[code]

Investigating further lead to the aforementioned oddities.

If you are referring to _"Better yet, don't do this in the first place"_? That's more like an advice in general. I couldn't figure out what was going on with the object on hand. It somehow looked like a mixture of insta

[2018-11-30 14:13] dblock commented on #1829
I merged https://github.com/ruby-grape/grape/pull/1830.

[2018-11-30 14:15] dblock commented on #1829
Yes, but it wasn't as obvious to implement. Try to make a PR on top of what we have now @sos4nt along those lines. If you can get all the specs to pass you'll be my hero.

[2018-11-30 14:20] myxoh commented on #1829
As @dblock  said, I'm sure with a very large change it could be done. With a reasonably sized change, we couldn't figure out a better way.
Would love it if you could :smile:

[2018-11-30 16:40] sos4nt commented on #1829
I'm closing this for now, I'll open a PR _if_ I find a better solution. Thanks guys! 😄

[2018-11-30 16:40] #1829 closed

[2018-12-03 00:09] vanburg commented on #1250
+ looking for such feature too, in Rails it's easy as (Warden example):

[code]

[2018-12-06 10:53] ggwc82 opened #1834 "Autoloading dependencies with Grape as a stand-alone API?"
All my search efforts and reading of the documentation for Grape seems to indicate that autoloading is a feature provided when Grape is used in combination with another framework, such as Sinatra or Rails. I'm using Grape API as a stand alone application, and with many modules and classes I'm finding I have to explicitly define `require_relatives` throughtout my app.

My question is, does Grape pr

[2018-12-06 13:57] filipebarros opened #1835 "Memory usage bump after upgrading to the latest version"
After upgrading to the latest version I've noticed the memory consumption keeps going up so I created a dummy application to check if the same happened with the previous version:

[code]

Here's the memory usage with both `1.2.1` version and `1.1.0` at the start of the process and after 1000 and 10000 calls:

| | 1.2.1 - 1000 | 1.1.0 - 1000 | 1.2.1 - 10000 | 1.1.0 - 10000 |
| --- | --- | --- | ---

[2018-12-06 19:10] dblock commented on #1834
AFAIK Grape does not, but this could be a good development opportunity, I'll label this as a feature

[2018-12-06 19:11] dblock commented on #1835
Let's debug this more thoroughly?

Check out https://github.com/ruby-grape/grape/issues/665 where we debugged a memory leak successfully for next steps.

cc: @myxoh

[2018-12-06 20:15] nijikon commented on #1835
We are experiencing this as well, reverting to `1.1.0` fixed this issue for us.

[2018-12-06 20:40] myxoh commented on #1835
Interesting, I wouldn't have thought the changes I've implemented should have impacted the memory consumption other than ever so slightly at load time. I'll take a look into this somewhere between late today and early tomorrow

[2018-12-06 21:51] myxoh commented on #1835
oh wow. I think I've found the issue. This is unique to mounting the API directly on Rack I believe. `call` and `call!` are being called on the base instance, and hence continously added ot the `setup` of the application.
I already have a fix in place that passes all specs. I'll be creating a PR in a minute now.

Thanks for realizing this!

[2018-12-06 22:11] myxoh commented on #1835
As a colour note, on my local testing this fix puts the memory footprint of `1.2.2` in the same values as the `1.1.0` .

[2018-12-06 22:23] dblock commented on #1835
@nijikon @filipebarros Please do try the code from https://github.com/ruby-grape/grape/pull/1836 and confirm whether the problem is fixed?

[2018-12-07 00:31] myxoh commented on #1835
Also, benchmarking the time for 1,000 calls gives me similar results for both `1.1.0` and `master`

[2018-12-07 01:58] dblock commented on #1835
Good. I say cut a release.

[2018-12-07 10:46] filipebarros commented on #1835
Tested against `34610f56ef99dbc1d9bd1efd6fa564482020e7d2` and memory usage is steady around 29Mb for 10000 calls 👍

[2018-12-07 14:02] myxoh commented on #1835
OK, I'll close this issue and will open another one for the release of 1.2.2

[2018-12-07 14:02] #1835 closed

[2018-12-07 14:05] myxoh opened #1838 "Release of 1.2.2"
This issue is for the release of 1.2.2.
I'd very much to get this over the line: https://github.com/ruby-grape/grape/pull/1833 before that.
(I can't find any other PRs ready for merging for the release)

[2018-12-07 15:50] dblock commented on #1838
Since we're fixing a memory leak lets leave #1833 alone for now and cut a release to minimize any kind of risk for users.

[2018-12-07 15:54] myxoh commented on #1838
@dblock sure. Happy about that. I'll create the release as soon as I have some spare time

[2018-12-07 15:55] dblock commented on #1838
I'll cut one now, thank you.

[2018-12-07 15:58] dblock commented on #1838
And done.

[2018-12-07 15:58] #1838 closed

[2018-12-07 16:05] myxoh commented on #1838
Oh Ok. Thanks!

[2018-12-10 11:03] myxoh opened #1839 "Bundling failure on rails_edge.gemfile"
The CI is currently red on `rails_edge.gemfile` trying to resolve incompatibilities.

My current thoughts is that this is only due to coveralls. Need some more investigating to confirm

[2018-12-10 11:08] myxoh commented on #1839
NVM. Confirmed. it was coveralls, however I cannot find a maintained version of the gem. I'll leave this issue open for someone else to take over as I haven't worked with coveralls before.

[2018-12-10 15:21] JaniJegoroff commented on #1825
@myxoh Looks like release 1.2.2 resolves issues I had with 1.2.0/1.2.1 👍

[2018-12-10 20:33] dblock commented on #1839
Closed via #1840

[2018-12-10 20:33] #1839 closed

[2018-12-10 22:42] myxoh commented on #1775
I think this can be closed now. Apologise for the original confusion when creating this issue

[2018-12-10 22:42] #1775 closed

[2018-12-12 08:26] Nyangawa opened #1841 "File type validator not checking the type of :tempfile"
Consider following parameter declaration
[code]

Currently, the File validator is only validating the existence of key :tempfile
[code]

Rack will set `params[:file][:tempfile]` to a `TempFile` object and `params[:file][:filename]` to a `String` if the end user really uploads a file.

However, the value of `params[:file][:tempfile]` is easily controllable by sending a normal POST request
[code]

H

[2018-12-12 11:13] myxoh commented on #1250
In the codebase of an app I work on we do:
`APIRoot.call(env)`  where APIRoot is the endpoint in which everything is mounted. However, you can do this on every parent endpoint.

in our case
[code]

[code]

[2018-12-12 12:11] ggwc82 opened #1842 "Required params at the top level namespace, is this possible?"
My code is currently like this:

[code]

As both `child_one` and `child_two` routes require `token` and `id`, is it possible to move them up to the  `top_level` namespace? I tried the following but it doesn't seem to work:

[code]

[2018-12-12 18:38] cmavromoustakos opened #1843 "Error: uninitialized constant Hashie when including Grape::Extensions::Hashie::Mash::ParamBuilder"
I am trying to get the Hashie::Mash parameters to work and when I include the extension into my class it results in the error below.

[code]

[code]

[2018-12-12 18:45] cmavromoustakos commented on #1843
Adding the below to the file fixes the issue.

[code]

[2018-12-12 18:49] cmavromoustakos commented on #1843
Also trying to set it globally results in:

[code]

[2018-12-12 18:53] cmavromoustakos commented on #1843
Apologies, I did not realize this is not on 1.2.2. Oooph that was a waste of both of our times.

[2018-12-12 18:53] #1843 closed

[2018-12-12 21:53] shanempope commented on #1820
I went to upgrade today and before (in 1.0~) I had
[code]
And the helper would be picked up by all of the mounts, but now that doesn't seem to be the case. The sub-mounts can't seem to find the helpers. If this is just something I'm missing from the upgrade on my end that could help you. But maybe it just broke because of the change in how Grape mounts works with the new `Grape::API::instance`

[2018-12-13 00:02] myxoh commented on #1820
Have you upgraded to `1.2.2` ? Or are you in a prior version? (Can we open a new issue?)

[2018-12-13 03:16] dblock commented on #1841
This makes sense, appreciate a PR.

[2018-12-13 03:17] dblock commented on #1842
The params don't carry over `mount`. I think it should be possible, labelling as a feature request.

[2018-12-13 03:22] dblock commented on #1843
And assuming this works in 1.2.2 (HEAD) as expected?

[2018-12-13 03:30] Nyangawa commented on #1841
Sure, PR submitted

[2018-12-13 10:13] myxoh commented on #1842
Would implementing this not cause some potential breaking changes?
Generally I would have thought to use the `SharedParams` helper approach for these cases.

[2018-12-13 11:59] myxoh commented on #1820
On my test  - this seems to fail to load `Params :requires_toggle_prm not found!` on all versions. Not really sure what am I doing wrong?

[code]

[2018-12-13 16:10] dm1try commented on #1841
PR totally makes sense

but the code below is 😢
[code]
`File.read(Tempfile.new)`  is even [undocumented](https://ruby-doc.org/core-2.5.0/IO.html#method-c-read)

[2018-12-13 16:15] dm1try commented on #1834
Grape already depends on ActiveSupport, so maybe it can be used for this.
[code]

[2018-12-13 17:02] ggwc82 opened #1845 "Strict enforcement/requiring of a param from body only"
I'm currently using `params do..requires` within my namespaces for certain params and this is working fine.

However, for one param, I decided to move it to the body as JSON, as it would possibly breach the url character limit (of ~2000). However, when testing this, it seems theres no way to specify that this comes only from the body and not as a normal param.

Is there any way that I can strictly

[2018-12-13 18:01] nijikon commented on #1835
@dblock `1.2.2` works for us, thanks!

[2018-12-14 00:45] dblock commented on #1842
It would, so we would need to do this carefully. Note that `params` without a method following it right now is not useful at all, maybe we could be producting a warning in that case to start?

[2018-12-14 00:47] dblock commented on #1841
Closed via https://github.com/ruby-grape/grape/pull/1844.

[2018-12-14 00:47] #1841 closed

[2018-12-14 00:49] dblock commented on #1841
@dm1try I think the whole point is that it can be a `String` which would cause you to read a file on the system like `/etc/passwd` and better safe than sorry.

[2018-12-14 00:54] dblock commented on #1845
My first question would be "why would you want to do that"? The parameter parsing is pretty strict and well understood in general.

Parameters are automatically populated, and it depends on the content-type.

If you are POSTing JSON with a content-type of application/json, the body gets parsed and merged into params. There's no way to disable this behavior currently AFAIK and it is not something t

[2018-12-14 00:54] #1845 closed

[2018-12-14 12:59] glaucocustodio opened #1846 "Validator proposal: same_as"
Hi folks, I just added a custom validator (`same_as`) to my app and I would like to know whether it would be welcome to grape itself:

[code]

Thanks.

[2018-12-14 17:53] myxoh commented on #1846
Can you think of any other example in which it would be useful other that the `password` `password_confirmation`?
I've spent some time trying to think of alternative use cases and I'm having a hard time. If there aren't any it seems to be as a bit of an overkill to have a validator for just one use case, especially as there are plenty of libraries that handle this specific validation at the model

[2018-12-14 18:13] glaucocustodio commented on #1846
I can only think in confirmation cases like email and password. Anyway I would say it is worth to have common validators built-in like this one and some others like `length`. Those are very small, isolated (one file) and nice to have.

[2018-12-14 22:17] hyunskang opened #1847 "Missing nested optional array transformed into hash with declared method"
grape `v1.1.0`
ruby `v2.4.4`

API definition:
[code]

Request body:
[code]

Response body:
[code]

When nested array is missing from the request, `declared` transforms it into a Hash with `nil` values.
I would expect it to return `nil` or an empty array. It looks like there was an issue opened for it, but the specs written for it do not seem to be testing the issue. https://github.com/ruby-grape/g

[2018-12-14 23:13] wwahammy opened #1849 "AtLeastOneOfValidator doesn't provide the full name of attribute in errors"
Currently, AtLeastOneOfValidator only provides the minimal attribute name on a validation error. This is different from other validators where we use the full name. As an example, let's consider the following parameters:

[code]
If `address[needed_attr]` isn't set, the hash key for that attribute's errors is `address[needed_attr]`. On the other hand, the hash key for errors on `address[attr1]`  an

[2018-12-17 17:37] ChrisCPO opened #1851 "undefined method `insert'"
using rails-5.1.4
using grape-1.0.3

Documentation says I can
[code]

Yet when I have:
[code]

I'm getting:
[code]

[2018-12-17 20:03] dblock commented on #1851
This seems to have been added in 1.2.0, https://github.com/ruby-grape/grape/pull/1787

[2018-12-17 20:03] #1851 closed

[2018-12-17 20:58] glaucocustodio commented on #1846
I am closing because it was implemented on PR #1850.

[2018-12-17 20:58] #1846 closed

[2018-12-18 00:19] aceunreal commented on #1835
Thanks for the release 👍

[2018-12-20 18:53] FranklinYu opened #1853 "Mention Active Record helpers in README"
Like this:

[2019-01-07 17:14] cmavromoustakos commented on #1843
Yes, sorry just saw this. It does in fact work on head as expected.

[2019-01-10 10:37] myxoh opened #1854 "Release 1.2.3: 2019-01-14"
The next release (unless there's any objections) will be cut by next Monday (14th of January)

Please let me know if you have any reason against this

[2019-01-10 10:37] myxoh commented on #1854
Changelog:
[code]

[2019-01-10 16:04] leoarnold opened #1855 "Performance degradation after upgrading from v1.1.0 to v1.2.2"
After upgrading from grape v1.1.0 to v1.2.2 our app's performance decreased. Using New Relic, I was able to identify that the newer grape makes extensive use of `Proc#call`, thereby slowing down response times.

![screenshot_20190110_164752](https://user-images.githubusercontent.com/4201235/50980747-b9e95680-14f9-11e9-8550-28d5b81e79b4.png)

[2019-01-10 22:47] dblock commented on #1855
Do you have some actual duration numbers please?

[2019-01-11 10:17] myxoh commented on #1855
I think the issue may very well sit with NewRelic, we were facing a similar issue:
https://discuss.newrelic.com/t/not-enough-detail-only-proc-call-and-formatter-call/36946
They seem to have fixed it at some point (It stop measuring `proc#calls`), and it broke again (It started measuring `proc#calls` again)
In terms of actual numbers:
While testing this: https://github.com/ruby-grape/grape/issues/1

[2019-01-11 11:38] leoarnold commented on #1855
@myxoh Did not know that. Thank you for pointing that out.

@dblock Here are the numbers:

![screenshot_20190111_123134](https://user-images.githubusercontent.com/4201235/51031524-16518200-159d-11e9-8c39-9d87b0fce0f4.png)

I guess Grape belongs partially to purple "Middleware" and cyan "Ruby". I was running grape v1.2.2 between 4h and 6h PM-ish. Given the big spikes after 6PM, when we were back to

[2019-01-11 13:50] dblock commented on #1855
Thanks @leoarnold for bringing it up either way, I'll close this.

[2019-01-11 13:50] #1855 closed

[2019-01-16 17:59] myxoh commented on #1854
This is now done. Thanks everyone!

[2019-01-16 17:59] #1854 closed

[2019-01-28 20:17] micfan commented on #1372
need more report on this issue

[2019-01-28 20:17] #1372 closed

[2019-01-28 20:19] micfan commented on #1250
the `mount` is a good way the internal call, or we can use a middleware call self

[2019-01-28 20:19] #1250 closed

[2019-02-01 11:34] myxoh opened #1858 "Dynamic matching / static matching - expected behaviour"
Not sure whether to label this a bug or a feature request, but something that's annoyed me for a while is when trying to have an endpoint that matches dynamically except for specific keywords.

i.e.

`GET resource/:id`    => returns the resource
`GET resource/new` => returns a JSON scheuma of the issue

The issue on Grape (and I understand the why) is that if I define it this way:

[code]

Will be

[2019-02-01 12:51] Kukunin opened #1859 "JSON errors get escaped"
I have a simple API

[code]

When an `ActiveRecord::RecordNotFound` is raised, I expect my API returns `"{"error":"not_found"}` as JSON, but it retures `{&quot;error&quot;:&quot;not_found&quot;}`

It worked well in `1.0.3` version but broken in `1.1.0`

Is there any workaround for it?

It's related to #1763

[2019-02-01 15:15] dblock commented on #1858
We should document route matching and make sure we have tests for both, to start.

How do you think this should work?

[2019-02-01 15:16] dblock commented on #1858
I've personally been avoiding declaring two routes like this and `case` inside of it, but I can see the appeal here of wanting to say that a more specific route always matches first, for example.

[2019-02-01 15:20] dblock commented on #1859
What is the content-type returned in the error response @Kukunin? I am going to guess it's `text/plain`.

Your default format for when the content type is not specified is `json`, but your default format otherwise is not. Without testing, I would try either adding `format :json` or `default_error_formatter :json`. Does that make a difference?

[2019-02-01 15:44] myxoh commented on #1858
I'd have expect it to work the way you just said, matching happening first on the most specific param, and then on the wildcard matcher, regardless of order of declaration

[2019-02-02 04:04] dblock commented on #1858
I think it's not that easy, for example, `/foo/:id` vs. `/:id/foo` :)

[2019-02-04 10:37] myxoh commented on #1858
Well, I was thinking it should probably match the path from left to right. Hence if both `/foo/:id` and `/:id/foo` are defined and you call `/foo/foo` you will end up in `/foo/:id` => `:id => "foo"`.
It could also be done right to left, regardless, however (documented) way we go for, I think it's slightly better than just defaulting to which one we've defined first

[2019-02-04 17:17] marvinthepa opened #1860 "Validator fails if number is passed instead of object"
[code]

This happens for something like this:

[code]

and then POSTing something like this:

[code]

Setting `requires :bar`  (instead of optional) fixes this.

While it is arguable that allowing empty objects does not make too much sense, who knows what users might want?

The problem is here:

https://github.com/ruby-grape/grape/blob/2dcef9af4dd483a1a3d56cbfd660056ed8e9fe42/lib/grape/validations

[2019-02-04 18:04] dblock commented on #1858
I wouldn't be so sure. Matching "whichever matches first" is also a fine strategy.

Either way what this is saying is that the matching mechanism should probably be something I can choose.

[2019-02-04 18:04] dblock commented on #1860
Looks like a legit bug, please PR a fix.

[2019-02-04 21:39] AndrewRayCode commented on #358
I'm having the same problem in Rails 5. I have this in an initializer:

[code]

And in my engines routes.rb file I have, fairly vanilla:
[code]

When I first load the app the grape api works fine and the API result is returned. If i change smoething in api.rb it appears to auto-reload fine.

However, when I visit the _main_ application's routes, then it errors with:

The weird thing is that file d

[2019-02-06 18:24] Kukunin commented on #1859
You were right. The content-type was 'text/html'. Replacing `default_format :json` to `format :json` helped, and not everything is fine

[2019-02-06 22:55] dblock commented on #1859
Happy to help. Let's close this.

[2019-02-06 22:55] #1859 closed

[2019-02-07 00:48] griest024 opened #1861 "Params block only applies to immediately following endpoint"
The [README](https://github.com/ruby-grape/grape#namespace-validation-and-coercion) states:
[code]

Maybe this is working as expected but the docs are not super clear about to which endpoints the `params` block applies.

[code]

# Expected

### Request

`curl -X POST -H "Content-Type: application/json" localhost:9292/api/foo -d '{"test": "hi"}'`

### Response

`{"test":"hi"}`

### Request

`curl -

[2019-02-07 10:59] dm1try commented on #1861
AFAIK, this is how it works by default and this should be true for namespaces also: params block only applies to the immediately following namespace(to prevent ambiguity that mentioned above).

[code]

[2019-02-07 11:51] marvinthepa commented on #1860
I will try. Might take me some time to get around it, though.

[2019-02-07 11:54] marvinthepa opened #1862 ""required" validators do not trigger for empty objects"
[code]

and then POSTing something like this:

[code]

Does not trigger validation, although the required `:bar` is missing.

I will try to at least submit a breaking test, or even a pull request.

[2019-02-07 16:05] dblock commented on #1861
Confirmed by design. We can't have it both ways, so I think we'll leave it as is. Closing.

[2019-02-07 16:05] #1861 closed

[2019-02-07 16:07] dblock commented on #1862
Looks like a big indeed. I bet we check for the class of whatever is inside the array. There's probably some other bugs like this with other types inside the array you might want to write specs for.

[2019-02-08 14:28] myxoh commented on #1858
I might play with the config and write some specs in which you can choose the matching behaviour then when I get to it :+1:

[2019-02-10 23:52] prawana-perera commented on #570
This approach worked for me, if anyone is still looking how to do it.
`
namespace :namespace_1 do
        resource :my_resource do
       end
end

# some other place
namespace :namespace_2 do
        resource :my_resource do
       end
end

# or event
resource :my_resource do
end
`

And I get
[code]

[2019-02-15 13:09] nbulaj commented on #1347
Looks like this enhancement requires a lot of refactoring. Grape tied on `Axiom::Types` and `Virtus` coercion logic. It instantiates `Virtus::Attribute` objects, which I don't sure have `Dry::Types` equivalent. So to achieve success for this issue we need to completely refactor `Grape::Validations` module and it's ancestors.

[2019-02-15 14:10] solnic commented on #1347
[code]

👋 so I just wrote this, as a quick PoC. This uses dry-types under the hood for coercion.